<div class="resource-details">
  <DetailIconListItem @icon="person" @label="Naam" @class="resource-details--section-name">
    {{@model.printName}}
  </DetailIconListItem>

  <DetailIconListItem @icon="location on" @label="Adres" @class="resource-details--section-address">
    <div>{{@model.address1}}</div>
    <div>{{@model.address2}}</div>
    <div>{{@model.address3}}</div>
    <div>{{@model.postalCode}} {{@model.city}}</div>
  </DetailIconListItem>

  <DetailIconListItem @icon="mail outline" @label="E-mail" @class="resource-details--section-contact">
    <div><FmtEmail @value={{@model.email}} /></div>
    <div><FmtEmail @value={{@model.email2}} /></div>
  </DetailIconListItem>

  <DetailIconListItem @icon="phone" @label="Telefoon" @class="resource-details--section-telephone">
    {{#each @model.telephones as |tel|}}
      <div>
        {{tel.telephoneType.name}}:
        {{format-phone tel.country.telephonePrefix tel.area tel.number}}
        {{#if tel.memo}}({{tel.memo}}){{/if}}
      </div>
    {{/each}}
  </DetailIconListItem>
</div>