<div class="resource-details">
  <div class="layout-row layout-align-space-between-center">
    <h4><span class="small-text-fade">[{{model.number}}]</span> {{model.printName}}</h4>
    <div>
      {{#paper-button onClick=(action "toggleEdit") iconButton=true}}{{paper-icon "edit mode"}}{{/paper-button}}
      {{#paper-button onClick=onClose iconButton=true}}{{paper-icon "exit to app"}}{{/paper-button}}
    </div>
  </div>
  <div class="layout-row">
    <div class="left-column">
      <div class="resource-details--section resource-details--section-name layout-row">
        <div class="category-icon">{{#if model.isCompany}}{{paper-icon "business"}}{{else}}{{paper-icon "person"}}{{/if}}</div>
        <div>
          {{#if model.printInFront}}{{model.honorificPrefix.name}}{{/if}}
          {{model.prefix}} {{model.name}} {{model.suffix}}
          {{#if (not model.printInFront)}}{{model.honorificPrefix.name}}{{/if}}
        </div>
      </div>
      <div class="resource-details--section resource-details--section-address layout-row">
        <div class="category-icon">{{paper-icon "location on"}}</div>
        <div>
          <div>{{model.address1}}</div>
          <div>{{model.address2}}</div>
          <div>{{model.address3}}</div>
          <div>{{model.postalCode}} {{model.city}}</div>
          <div>{{model.country.name}}</div>
        </div>
      </div>
      <div class="resource-details--section resource-details--section-language layout-row">
        <div class="category-icon">{{paper-icon "language"}}</div>
        <div>
          <div>{{model.language.name}}</div>
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="resource-details--section resource-details--section-telephone layout-row">
        <div class="category-icon">{{paper-icon "phone"}}</div>
        <div>
          {{#each model.telephones as |tel|}}
            <div>
              {{tel.telephoneType.name}}:
              {{format-phone tel.country.telephonePrefix tel.area tel.number}}
              {{#if tel.memo}}({{tel.memo}}){{/if}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="resource-details--section resource-details--section-contact layout-row">
        <div class="category-icon">{{paper-icon "mail outline"}}</div>
        <div>
          <div>{{model.email}}</div>
          <div>{{model.email2}}</div>
          <div>{{model.url}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="resource-details--section resource-details--section-comment layout-row">
    <div class="category-icon">{{paper-icon "comment"}}</div>
    <div>
      <div>{{#if model.comment}}{{model.comment}}{{else}}Geen opmerkingen{{/if}}</div>
    </div>
  </div>
</div>