<div class="resource-details--section resource-details--section-name layout-row">
  <div class="category-icon">{{paper-icon "person"}}</div>
  <div>
    {{model.printName}}
  </div>
</div>
<div class="resource-details--section resource-details--section-address layout-row">
  <div class="category-icon">{{paper-icon "location on"}}</div>
  <div>
    <div>{{model.address1}}</div>
    <div>{{model.address2}}</div>
    <div>{{model.address3}}</div>
    <div>{{model.postalCode}} {{model.city}}</div>
  </div>
</div>
