{{#if model.requestId}}
  <div class="layout-row case--tabs">
    <div class="case--tabs--number">AD {{model.requestId}} {{visitor.initials}}</div>
    <div class="flex"></div>
  </div>
{{/if}}

<PaperTabs @selected={{currentRouteName}} @borderBottom={{true}} as |tabs|>
  {{#if model.requestId}}
    <tabs.tab @value="main.case.request.edit.index" @href={{href-to "main.case.request.edit.index" model.customerId model.requestId (query-params editMode=false)}}>
      Aanvraag
    </tabs.tab>
  {{/if}}
  {{#if model.offerId}}
    <tabs.tab @value="main.case.offer.edit.index" @href={{href-to "main.case.offer.edit.index" model.customerId model.offerId (query-params editMode=false)}}>
      Offerte
    </tabs.tab>
  {{/if}}
  {{#if model.orderId}}
    <tabs.tab @value="main.case.order.edit.index" @href={{href-to "main.case.order.edit.index" model.customerId model.orderId (query-params editMode=false)}}>
      Bestelling
    </tabs.tab>
    <tabs.tab @value="main.case.order.edit.deposit-invoices" @href={{href-to "main.case.order.edit.deposit-invoices" model.customerId model.orderId (query-params editMode=false)}}>
      Voorschotten
    </tabs.tab>
  {{/if}}
  {{#if model.invoiceId}}
    <tabs.tab @value="main.case.invoice.edit.index" @href={{href-to "main.case.invoice.edit.index" model.customerId model.invoiceId (query-params editMode=false)}}>
      Factuur
    </tabs.tab>
  {{/if}}
  {{#if canCreateNewOffer}}
    <tabs.tab @value="main.case.request.edit.offer" @onClick={{action "openNewOffer"}}>
      {{paper-icon "add box"}} <PaperTooltip>Maak offerte</PaperTooltip>
    </tabs.tab>
  {{/if}}
  {{#if canCreateNewOrder}}
    <tabs.tab @value="main.case.offer.edit.order" @onClick={{action "openNewOrder"}}>
      {{paper-icon "add box"}} <PaperTooltip>Maak bestelling</PaperTooltip>
    </tabs.tab>
  {{/if}}
  {{#if canCreateNewInvoice}}
    <tabs.tab @value="main.case.order.edit.invoice" @onClick={{action "openNewInvoice"}}>
      {{paper-icon "add box"}} <PaperTooltip>Maak factuur</PaperTooltip>
    </tabs.tab>
  {{/if}}
</PaperTabs>
