<div class="certificate-document-buttons layout-row layout-align-start-center">
  {{#if (or generateTemplate.isRunning upload.isRunning)}}
    <PaperProgressCircular @diameter={{20}} />
  {{else}}
    <div class="certificate--status">
      {{#if model.certificateReceived}}
        <span>
          <PaperIcon @class="success" @icon="done" @size={{32}} />
          <PaperTooltip>In orde</PaperTooltip>
        </span>
      {{else}}
        <span>
          <PaperIcon @class="error" @icon="error outline" @size={{28}} />
          <PaperTooltip>BTW-attest ontbreekt</PaperTooltip>
        </span>
      {{/if}}
    </div>

    <div class="certificate--buttons">
      <PaperButton @onClick={{perform generateTemplate}} @iconButton={{iconButton}} @raised={{not iconButton}} @primary={{not iconButton}}>
        {{#if iconButton}}
          {{paper-icon "restore page"}}
          <PaperTooltip>Maak nieuw attest</PaperTooltip>
        {{else}}
          Maak nieuw attest
        {{/if}}
      </PaperButton>

      {{#if model.certificateReceived}}
        <PaperButton @onClick={{action "download"}} @iconButton={{iconButton}} @raised={{not iconButton}} @primary={{not iconButton}}>
          {{#if iconButton}}
            {{paper-icon "find in page"}}
            <PaperTooltip>BTW-attest bekijken</PaperTooltip>
          {{else}}
            BTW-attest bekijken
          {{/if}}
        </PaperButton>
        <PaperButton @onClick={{action "delete"}} @iconButton={{iconButton}} @raised={{not iconButton}} @primary={{not iconButton}}>
          {{#if iconButton}}
            {{paper-icon "delete"}}
            <PaperTooltip>BTW-attest verwijderen</PaperTooltip>
          {{else}}
            BTW-attest verwijderen
          {{/if}}
        </PaperButton>
      {{else}}
        <FileUpload @name="certificates" @accept="application/pdf" @class="certificate-upload" @onfileadd={{perform upload}} as |queue|>
          {{#if hasUploadError}}
            {{paper-icon "error" primary=true}}
            <PaperTooltip>Bestand niet correct opgeladen</PaperTooltip>
          {{/if}}
          {{#if queue.files.length}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            {{#if iconButton}}
              <i class="material-icons md-18">cloud_upload</i>
              <PaperTooltip>BTW-attest opladen</PaperTooltip>
            {{else}}
              <span class="md-default-theme md-button md-primary md-raised">
                BTW-attest opladen
              </span>
            {{/if}}
          {{/if}}
        </FileUpload>
      {{/if}}
    </div>
  {{/if}}
</div>