<div class="certificate-document-buttons layout-row layout-align-start-center">
  {{#if (or this.generateTemplate.isRunning this.upload.isRunning)}}
    <PaperProgressCircular @diameter={{20}} />
  {{else}}
    <div class="certificate--status">
      {{#if this.model.certificateReceived}}
        <span>
          <PaperIcon @class="success" @icon="done" @size={{32}} />
          <PaperTooltip>In orde</PaperTooltip>
        </span>
      {{else}}
        <span>
          <PaperIcon @class="error" @icon="error outline" @size={{28}} />
          <PaperTooltip>BTW-attest ontbreekt</PaperTooltip>
        </span>
      {{/if}}
    </div>

    <div class="certificate--buttons">
      <PaperButton @onClick={{perform this.generateTemplate}} @iconButton={{this.iconButton}} @raised={{not this.iconButton}} @primary={{not this.iconButton}}>
        {{#if this.iconButton}}
          {{paper-icon "restore page"}}
          <PaperTooltip>Maak nieuw attest</PaperTooltip>
        {{else}}
          Maak nieuw attest
        {{/if}}
      </PaperButton>

      {{#if this.model.certificateReceived}}
        <PaperButton @onClick={{fn this.download}} @iconButton={{this.iconButton}} @raised={{not this.iconButton}} @primary={{not this.iconButton}}>
          {{#if this.iconButton}}
            {{paper-icon "find in page"}}
            <PaperTooltip>BTW-attest bekijken</PaperTooltip>
          {{else}}
            BTW-attest bekijken
          {{/if}}
        </PaperButton>
        <PaperButton @onClick={{fn this.delete}} @iconButton={{this.iconButton}} @raised={{not this.iconButton}} @primary={{not this.iconButton}}>
          {{#if this.iconButton}}
            {{paper-icon "delete"}}
            <PaperTooltip>BTW-attest verwijderen</PaperTooltip>
          {{else}}
            BTW-attest verwijderen
          {{/if}}
        </PaperButton>
      {{else}}
        <FileUpload @name="certificates" @accept="application/pdf" @class="certificate-upload" @onfileadd={{perform this.upload}} as |queue|>
          {{#if this.hasUploadError}}
            {{paper-icon "error" primary=true}}
            <PaperTooltip>Bestand niet correct opgeladen</PaperTooltip>
          {{/if}}
          {{#if queue.files.length}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            {{#if this.iconButton}}
              <i class="material-icons md-18">cloud_upload</i>
              <PaperTooltip>BTW-attest opladen</PaperTooltip>
            {{else}}
              <span class="md-default-theme md-button md-primary md-raised">
                BTW-attest opladen
              </span>
            {{/if}}
          {{/if}}
        </FileUpload>
      {{/if}}
    </div>
  {{/if}}
</div>