<div class="resource-details">
  <div class="layout-row layout-align-space-between-center">
    <h4><span class="small-text-fade">[{{this.model.number}}]</span> {{this.model.printName}}</h4>
    <div>
      <PaperButton @onClick={{action "toggleEdit"}} @iconButton={{true}}>{{paper-icon "edit mode"}}</PaperButton>
      <PaperButton @onClick={{this.onClose}} @iconButton={{true}}>{{paper-icon "exit to app"}}</PaperButton>
    </div>
  </div>
  <div class="layout-row">
    <div class="left-column">
      <div class="resource-details--section resource-details--section-name layout-row">
        <div class="category-icon">{{#if this.model.isCompany}}{{paper-icon "business"}}{{else}}{{paper-icon "person"}}{{/if}}</div>
        <div>
          {{#if this.model.printInFront}}{{this.model.honorificPrefix.name}}{{/if}}
          {{this.model.prefix}} {{this.model.name}} {{this.model.suffix}}
          {{#if (not this.model.printInFront)}}{{this.model.honorificPrefix.name}}{{/if}}
        </div>
      </div>
      <div class="resource-details--section resource-details--section-address layout-row">
        <div class="category-icon">{{paper-icon "location on"}}</div>
        <div>
          <div>{{this.model.address1}}</div>
          <div>{{this.model.address2}}</div>
          <div>{{this.model.address3}}</div>
          <div>{{this.model.postalCode}} {{this.model.city}}</div>
          <div>{{this.model.country.name}}</div>
        </div>
      </div>
      <div class="resource-details--section resource-details--section-language layout-row">
        <div class="category-icon">{{paper-icon "language"}}</div>
        <div>
          <div>{{this.model.language.name}}</div>
        </div>
      </div>
    </div>
    <div class="right-column">
      <div class="resource-details--section resource-details--section-telephone layout-row">
        <div class="category-icon">{{paper-icon "phone"}}</div>
        <div>
          {{#each this.model.telephones as |tel|}}
            <div>
              {{tel.telephoneType.name}}:
              {{format-phone tel.country.telephonePrefix tel.area tel.number}}
              {{#if tel.memo}}({{tel.memo}}){{/if}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="resource-details--section resource-details--section-contact layout-row">
        <div class="category-icon">{{paper-icon "mail outline"}}</div>
        <div>
          <div><FmtEmail @value={{this.model.email}} /></div>
          <div><FmtEmail @value={{this.model.email2}} /></div>
          <div>{{this.model.url}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="resource-details--section resource-details--section-comment layout-row">
    <div class="category-icon">{{paper-icon "comment"}}</div>
    <div>
      <div>{{#if this.model.comment}}{{this.model.comment}}{{else}}Geen opmerkingen{{/if}}</div>
    </div>
  </div>
</div>
