<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  {{paper-input label="Nummer" value=number onChange=(action "setFilter" "number")}}
  {{paper-input label="Naam" value=name onChange=(action "setFilter" "name")}}
  {{paper-input label="Adres" value=street onChange=(action "setFilter" "street")}}
  {{paper-input label="Postcode" value=postalCode onChange=(action "setFilter" "postalCode")}}
  {{paper-input label="Gemeente" value=city onChange=(action "setFilter" "city")}}
  {{#paper-button iconButton=true onClick=(action "resetFilters")}}{{paper-icon "close"}}{{/paper-button}}
</div>

{{#data-table content=(await contacts) isLoading=(is-pending contacts) noDataMessage="Geen contacten"
     page=page size=size sort=sort as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='number' currentSorting=sort label='Nr'}}
      <th>Aanspreking</th>
      {{th-sortable field='name' currentSorting=sort label='Naam'}}
      {{th-sortable field='address' currentSorting=sort label='Adres'}}
      {{th-sortable field='postal-code' currentSorting=sort label='Postcode'}}
      {{th-sortable field='city' currentSorting=sort label='Gemeente'}}
      <th>Land</th>
      <th>Email</th>
      <th>Taal</th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.number}}</td>
      <td>{{get (await row.honorificPrefix) 'name'}}</td>
      <td>{{row.printName}}</td>
      <td>{{row.address}}</td>
      <td>{{row.postalCode}}</td>
      <td>{{row.city}}</td>
      <td>{{get (await row.country) 'name'}}</td>
      <td>{{row.email}}</td>
      <td>{{get (await row.language) 'name'}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
