{{#data-table content=(await contacts) isLoading=(is-pending contacts) noDataMessage="Geen contacten"
     page=page size=size as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='number' currentSorting=sort label='Nummer'}}
      {{th-sortable field='name' currentSorting=sort label='Naam'}}
      <th>Adres</th>
      <th>Postcode</th>
      <th>Gemeente</th>
      {{th-sortable field='created' currentSorting=sort label='Aangemaakt'}}
      {{th-sortable field='updated' currentSorting=sort label='Bewerkt'}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.number}}</td>
      <td>{{row.printName}}</td>
      <td>{{row.address}}</td>
      <td>{{get (await row.postalCode) 'code'}}</td>
      <td>{{get (await row.postalCode) 'name'}}</td>
      <td>{{moment-format row.created}}</td>
      <td>{{moment-format row.updated}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
