<div class="resource-details">
  <div class="layout-row layout-xs-column">
    <div class="left-column">
      {{#detail-icon-list-item icon=(if model.isCompany "business" "home")
           label=(if model.isCompany "Bedrijf" "Naam")
           class="resource-details--section-name"}}
        <div>
          {{#if model.printInFront}}{{model.honorificPrefix.name}}{{/if}}
          {{model.prefix}} {{model.name}} {{model.suffix}}
          {{#if (not model.printInFront)}}{{model.honorificPrefix.name}}{{/if}}
        </div>
        <div>{{format-vat-number model.vatNumber}}</div>
      {{/detail-icon-list-item}}

      {{#detail-icon-list-item icon="location on" label="Adres" class="resource-details--section-address"}}
        <div>{{model.address1}}</div>
        <div>{{model.address2}}</div>
        <div>{{model.address3}}</div>
        <div>{{model.postalCode}} {{model.city}}</div>
        <div>{{model.country.name}}</div>
      {{/detail-icon-list-item}}

      {{#detail-icon-list-item icon="language" label="Taal" class="resource-details--section-language"}}
        {{model.language.name}}
      {{/detail-icon-list-item}}
    </div>

    <div class="right-column">
      {{#detail-icon-list-item icon="phone" label="Telefoon" class="resource-details--section-telephone"}}
        {{#each model.telephones as |tel|}}
          <div>
            {{tel.telephoneType.name}}:
            {{format-phone tel.country.telephonePrefix tel.area tel.number}}
            {{#if tel.memo}}({{tel.memo}}){{/if}}
          </div>
        {{/each}}
      {{/detail-icon-list-item}}

      {{#detail-icon-list-item icon="mail outline" label="E-mail" class="resource-details--section-contact"}}
        <div>{{model.email}}</div>
        <div>{{model.email2}}</div>
        <div>{{model.url}}</div>
      {{/detail-icon-list-item}}
    </div>
  </div>

  {{#detail-icon-list-item icon="label" label="Tags" class="resource-details--section-tags"}}
    {{join ", " (map-by "name" model.tags)}}
  {{/detail-icon-list-item}}

  {{#detail-icon-list-item icon="comment" label="Opmerking" class="resource-details--section-comment"}}
    {{#if model.comment}}<span class="html-body">{{model.comment}}</span>{{else}}Geen opmerkingen{{/if}}
  {{/detail-icon-list-item}}

  {{#detail-icon-list-item icon="assignment" label="Memo" class="resource-details--section-memo"}}
    <div {{action (toggle "memoExpanded" this)}}>
      {{#if model.memo}}
        {{#if memoExpanded}}
          Memo {{paper-icon "expand less"}}
        {{else}}
          Memo {{paper-icon "expand more"}}
        {{/if}}
        {{#liquid-if memoExpanded class="expand-more"}}
          <span class="html-body">{{model.memo}}</span>
        {{/liquid-if}}
      {{else}}
        Geen memo
      {{/if}}
    </div>
  {{/detail-icon-list-item}}

  <div class="resource-details--section resource-details--section-audit layout-row">
    Aangemaakt: {{moment-format model.created}}
  </div>
</div>
