{{yield (hash save=save remove=remove model=model)}}

{{#if remove.isRunning}}
  <div>
    {{paper-progress-linear}}
    <p>Aan het verwijderen...</p>
  </div>
{{else if (and (not model.id) model.isSavivg)}}
  <div>
    {{paper-progress-linear}}
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  <div class="layout-column">
    {{#if isScopeCustomer}}
      <div class="layout-row layout-xs-column layout-align-start-center">
        {{#paper-radio-group groupValue=model.isCompany onChange=(queue (action (mut model.isCompany)) (perform save)) class="layout-row" as |group|}}
          {{#group.radio value=false}}Particulier{{/group.radio}}
          {{#group.radio value=true}}Bedrijf{{/group.radio}}
        {{/paper-radio-group}}
        {{#if model.isCompany}}
          {{paper-input label="BTW nummer" value=model.vatNumber
              onChange=(action (mut model.vatNumber)) onBlur=(perform save)
              class="flex-50 spacer-left"
          }}
        {{/if}}
      </div>
    {{/if}}
    <h4>
      Geprinte naam: {{#if model.printInFront}}{{model.honorificPrefix.name}}{{/if}}
      {{#if model.printPrefix}}{{model.prefix}}{{/if}} {{model.name}} {{#if model.printSuffix}}{{model.suffix}}{{/if}}
      {{#if (not model.printInFront)}}{{model.honorificPrefix.name}}{{/if}}
    </h4>
    <div class="layout-row layout-xs-column">
      <div class="layout-column">
        {{honorific-prefix-select value=model.honorificPrefix language=model.language
            onSelectionChange=(queue (action (mut model.honorificPrefix)) (perform save))
            class="md-input-wrapper large no-spacer-bottom"}}
        {{paper-checkbox label="Vooraan" value=model.printInFront
            onChange=(queue (action (mut model.printInFront)) (perform save))}}
      </div>
      <div class="layout-column">
        {{paper-input label="Prefix" value=model.prefix
            onChange=(action (mut model.prefix)) onBlur=(perform save)
            class="small no-spacer-bottom"}}
        {{paper-checkbox label="Print" value=model.printPrefix
            onChange=(queue (action (mut model.printPrefix)) (perform save))}}
      </div>
      {{paper-input label="Naam" value=model.name
          onChange=(action (mut model.name)) onBlur=(perform save)
          class="large"}}
      <div class="layout-column">
        {{paper-input label="Suffix" value=model.suffix
            onChange=(action (mut model.suffix))  onBlur=(perform save)
            class="small no-spacer-bottom"}}
        {{paper-checkbox label="Print" value=model.printSuffix
            onChange=(queue (action (mut model.printSuffix)) (perform save))}}
      </div>
    </div>
  </div>

  <div class="layout-column">
    {{address-input address1=model.address1 address2=model.address2 address3=model.address3
        onBlur=(perform save)}}
    <div class="layout-row">
      {{postal-code-select postalCode=model.postalCode city=model.city
          onSelectionChange=(queue (action "setPostalCode") (perform save))
          class="md-input-wrapper xxlarge"}}
      {{country-select value=model.country
          onSelectionChange=(queue (action (mut model.country)) (perform save))
          class="md-input-wrapper"}}
      {{language-select value=model.language
          onSelectionChange=(queue (action (mut model.language)) (perform save))
          class="md-input-wrapper"}}
    </div>
  </div>

  <div class="layout-column">
    <div class="layout-row">
      <!-- telephone input -->
    </div>
    <div class="layout-row layout-xs-column">
      {{paper-input label="Email" value=model.email
          onChange=(action (mut model.email)) onBlur=(perform save)
          class="xlarge"}}
      {{paper-input label="Email 2" value=model.email2
          onChange=(action (mut model.email2)) onBlur=(perform save)
          class="xlarge"}}
      {{paper-input label="Website" value=model.url
          onChange=(action (mut model.url)) onBlur=(perform save)
          class="xlarge"}}
    </div>
  </div>

  <div class="layout-column">
    <div class="layout-row layout-xs-column">
      {{paper-input label="Opmerking (zichtbaar)" value=model.comment
          onChange=(action (mut model.comment)) onBlur=(perform save)
          textarea=true icon="comment" passThru=(hash rows=3) class="xxlarge"}}
      {{#if isScopeCustomer}}
        {{paper-input label="Memo (verborgen)" value=model.memo
            onChange=(action (mut model.memo)) onBlur=(perform save)
            textarea=true icon="assignment" passThru=(hash rows=3) class="xxlarge"}}
      {{/if}}
    </div>
  </div>

  <div class="layout-row layout-align-end">
    {{paper-button label="Verwijder" primary=true raised=true onClick=(perform remove)}}
    {{paper-button label="Klaar" primary=true raised=true onClick=onClose}}
  </div>
{{/if}}