<div class="resource-details">
  <div class="layout-row layout-xs-column">
    <div class="left-column">
      <DetailIconListItem @icon={{if this.model.isCompany "business" "person"}} @label={{if this.model.isCompany "Bedrijf" "Naam"}} @class="resource-details--section-name">
        <div>
          {{#if this.model.printInFront}}{{this.model.honorificPrefix.name}}{{/if}}
          {{this.model.prefix}} {{this.model.name}} {{this.model.suffix}}
          {{#if (not this.model.printInFront)}}{{this.model.honorificPrefix.name}}{{/if}}
        </div>
        <div>{{format-vat-number this.model.vatNumber}}</div>
      </DetailIconListItem>

      <DetailIconListItem @icon="location on" @label="Adres" @class="resource-details--section-address">
        <div>{{this.model.address1}}</div>
        <div>{{this.model.address2}}</div>
        <div>{{this.model.address3}}</div>
        <div>{{this.model.postalCode}} {{this.model.city}}</div>
        <div>{{this.model.country.name}}</div>
      </DetailIconListItem>

      <DetailIconListItem @icon="language" @label="Taal" @class="resource-details--section-language">
        {{this.model.language.name}}
      </DetailIconListItem>
    </div>

    <div class="right-column">
      <DetailIconListItem @icon="phone" @label="Telefoon" @class="resource-details--section-telephone">
        {{#each this.model.telephones as |tel|}}
          <div>
            {{tel.telephoneType.name}}:
            {{format-phone (get (await tel.country) 'telephonePrefix') tel.area tel.number}}
            {{#if tel.memo}}({{tel.memo}}){{/if}}
          </div>
        {{/each}}
      </DetailIconListItem>

      <DetailIconListItem @icon="mail outline" @label="E-mail" @class="resource-details--section-contact">
        <div><FmtEmail @value={{this.model.email}} /></div>
        <div><FmtEmail @value={{this.model.email2}} /></div>
        <div>{{this.model.url}}</div>
      </DetailIconListItem>
    </div>
  </div>

  <DetailIconListItem @icon="label" @label="Tags" @class="resource-details--section-tags">
    {{join ", " (map-by "name" this.model.tags)}}
  </DetailIconListItem>

  <DetailIconListItem @icon="comment" @label="Opmerking" @class="resource-details--section-comment">
    {{#if this.model.comment}}<span class="html-body">{{this.model.comment}}</span>{{else}}Geen opmerkingen{{/if}}
  </DetailIconListItem>

  <DetailIconListItem @icon="assignment" @label="Memo" @class="resource-details--section-memo">
    <div {{on "click" (toggle "memoExpanded" this)}}>
      {{#if this.model.memo}}
        {{#if this.memoExpanded}}
          Memo {{paper-icon "expand less"}}
        {{else}}
          Memo {{paper-icon "expand more"}}
        {{/if}}
        {{#liquid-if this.memoExpanded class="expand-more"}}
          <span class="html-body">{{this.model.memo}}</span>
        {{/liquid-if}}
      {{else}}
        Geen memo
      {{/if}}
    </div>
  </DetailIconListItem>

  <div class="resource-details--section resource-details--section-audit layout-row">
    Aangemaakt: {{moment-format this.model.created}}
  </div>
</div>
