<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    {{yield}}
    <SaveStatusIcon @model={{@model}} @task={{this.save}} />
  </div>
  <div>
    <PaperButton @onClick={{perform this.remove}} @iconButton={{true}} @disabled={{this.isDisabledDelete}}>
      {{paper-icon "delete"}}
      <PaperTooltip>Verwijderen</PaperTooltip>
    </PaperButton>
    <PaperButton @onClick={{fn this.close}} @iconButton={{true}}>
      {{paper-icon "exit to app"}}
      <PaperTooltip>Sluiten</PaperTooltip>
    </PaperButton>
  </div>
</div>

{{#if this.remove.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het verwijderen...</p>
  </div>
{{else if this.rollbackTree.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not @model.id) @model.isSavivg)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  <section class="layout-column">
    {{#if this.isScopeCustomer}}
      <div class="layout-row layout-xs-column layout-align-start-center">
        <PaperRadioGroup @groupValue={{@model.isCompany}} @onChange={{fn this.setIsCompany}} @class="layout-row" as |group|>
          <group.radio @value={{false}}>Particulier</group.radio>
          <group.radio @value={{true}}>Bedrijf</group.radio>
        </PaperRadioGroup>
        {{#if @model.isCompany}}
          <InputField::VatNumberInput @value={{@model.vatNumber}} @errors={{v-get @model "vatNumber" "messages"}} @onChange={{fn (mut @model.vatNumber)}} @onBlur={{perform this.save}}  @class="flex-50 spacer-left" />
        {{/if}}
      </div>
      {{#if this.isDuplicateVatNumber}}
        <DuplicateVatNumberWarning @customer={{@model}} />
      {{/if}}
    {{/if}}
    <h4>
      Geprinte naam: {{#if @model.printInFront}}{{@model.honorificPrefix.name}}{{/if}}
      {{#if @model.printPrefix}}{{@model.prefix}}{{/if}} {{@model.name}} {{#if @model.printSuffix}}{{@model.suffix}}{{/if}}
      {{#if (not @model.printInFront)}}{{@model.honorificPrefix.name}}{{/if}}
    </h4>
    <div class="layout-row layout-xs-column">
      <div class="layout-column u-rel-top-neg-normal">
        <InputField::HonorificPrefixSelect @value={{@model.honorificPrefix}} @language={{@model.language}} @onSelectionChange={{queue (fn (mut @model.honorificPrefix)) (perform this.save)}} @class="md-input-wrapper large no-spacer-bottom" />
        <PaperCheckbox @label="Vooraan" @value={{@model.printInFront}} @onChange={{queue (fn (mut @model.printInFront)) (perform this.save)}} />
      </div>
      <div class="layout-column">
        <PaperInput @label="Prefix" @value={{@model.prefix}} @onChange={{fn (mut @model.prefix)}} @onBlur={{perform this.save}} @class="small no-spacer-bottom" />
        <PaperCheckbox @label="Print" @value={{@model.printPrefix}} @onChange={{queue (fn (mut @model.printPrefix)) (perform this.save)}} />
      </div>
      <PaperInput @label="Naam" @value={{@model.name}} @onChange={{fn this.setName}} @onBlur={{perform this.save}} @class="large" />
      <div class="layout-column">
        <PaperInput @label="Suffix" @value={{@model.suffix}} @onChange={{fn (mut @model.suffix)}} @onBlur={{perform this.save}} @class="small no-spacer-bottom" />
        <PaperCheckbox @label="Print" @value={{@model.printSuffix}} @onChange={{queue (fn (mut @model.printSuffix)) (perform this.save)}} />
      </div>
    </div>
  </section>

  <h3>Adres</h3>
  <section class="layout-column">
    <InputField::AddressInput @address1={{@model.address1}} @address2={{@model.address2}} @address3={{@model.address3}} @onBlur={{queue (fn this.setAddress) (perform this.save)}} />
    <div class="layout-row">
      <InputField::PostalCodeSelect @postalCode={{@model.postalCode}} @city={{@model.city}} @titleize={{not this.isScopeCustomer}} @onSelectionChange={{queue (fn this.setPostalCode) (perform this.save)}} @class="md-input-wrapper xxxlarge" />
      <InputField::CountrySelect @value={{@model.country}} @onSelectionChange={{queue (fn (mut @model.country)) (perform this.save)}} @required="style" @errors={{v-get @model "country" "messages"}} @class="md-input-wrapper xlarge" />
      <InputField::LanguageSelect @value={{@model.language}} @onSelectionChange={{queue (fn (mut @model.language)) (perform this.save)}} @required="style" @errors={{v-get @model "language" "messages"}} @class="md-input-wrapper xlarge" />
    </div>
  </section>

  <section class="layout-row layout-xs-column">
    <PaperInput @label="Email" @value={{@model.email}} @errors={{v-get @model "email" "messages"}} @onChange={{fn (mut @model.email)}} @onBlur={{perform this.save}} @class="xxlarge" />
    <PaperInput @label="Email 2" @value={{@model.email2}} @errors={{v-get @model "email2" "messages"}} @onChange={{fn (mut @model.email2)}} @onBlur={{perform this.save}} @class="xxlarge" />
    <PaperInput @label="Website" @value={{@model.url}} @errors={{v-get @model "url" "messages"}} @onChange={{fn (mut @model.url)}} @onBlur={{perform this.save}} @class="xlarge" />
  </section>

  <h3>Telefoon</h3>
  <section class="layout-column">
    <TelephoneEditForm @model={{@model}} />
  </section>

  <section class="layout-row layout-xs-column">
    <PaperInput @label="Opmerking (zichtbaar)" @value={{@model.comment}} @onChange={{fn (mut @model.comment)}} @onBlur={{perform this.save}} @textarea={{true}} @icon="comment" @passThru={{hash rows=3}} @class="xxlarge" />
    {{#if this.isScopeCustomer}}
      <PaperInput @label="Memo (verborgen)" @value={{@model.memo}} @onChange={{fn (mut @model.memo)}} @onBlur={{perform this.save}} @textarea={{true}} @icon="assignment" @passThru={{hash rows=3}} @class="xxlarge" />
    {{/if}}
  </section>
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
