<div class="layout-row layout-align-space-between-center">
  <h2>Voorschotfacturen</h2>
  {{#paper-button primary=true fab=true raised=true mini=true onClick=(action "createNew") disabled=(or isDisabledEdit selected)}}
    {{paper-icon "add"}}
  {{/paper-button}}
</div>

{{#liquid-if editMode class="data-table-selection"}}
  <div class="layout-row layout-align-space-between-center">
    <div class="layout-row layout-align-start-center">
      <h2>Factuur {{format-invoice-number selected.number}}</h2>
      {{save-status-icon model=selected task=save}}
    </div>
    <div>
      {{#paper-button onClick=(action "closeEdit") iconButton=true}}
        {{paper-icon "exit to app"}}
        {{#paper-tooltip}}Sluiten{{/paper-tooltip}}
      {{/paper-button}}
    </div>
  </div>
  {{deposit-invoice-edit-form model=selected save=save}}
{{else}}
  <div class="layout-row layout-xs-column layout-align-space-between">
    <div class="case--left-panel case--deposit-invoice--entry flex-100 layout-column">
      {{#detail-list-item label="Totaal" displayRow=true}}
        {{#detail-list-subitem label="Netto"}}
          {{fmt-currency totalAmount}}
        {{/detail-list-subitem}}
        {{#detail-list-subitem label=(concat (get vatRate 'rate') "% BTW")}}
          {{fmt-currency (await totalVat)}}
        {{/detail-list-subitem}}
      {{/detail-list-item}}
    </div>
  </div>

  <table class="case--deposit-invoices-table">
    <thead>
      <th>Nummer</th>
      <th>Factuurdatum</th>
      <th>Vervaldatum</th>
      <th>Nettobedrag</th>
      <th>BTW</th>
      <th><!-- Edit/Delete --></th>
    </thead>
    <tbody>
      {{#each model as |invoice|}}
        <tr>
          <td>{{format-invoice-number invoice.number}}</td>
          <td>{{fmt-date invoice.invoiceDate}}</td>
          <td>{{fmt-date invoice.dueDate}}</td>
          <td>{{fmt-currency invoice.arithmeticAmount}}</td>
          <td>{{fmt-currency (await invoice.arithmeticVat)}}</td>
          <td>
            {{#unless isDisabledEdit}}
              {{#paper-button onClick=(action "openEdit" invoice) iconButton=true}}
                {{paper-icon "edit mode"}}
                {{#paper-tooltip}}Bewerken{{/paper-tooltip}}
              {{/paper-button}}
              {{#paper-button onClick=(action "remove" invoice) iconButton=true}}
                {{paper-icon "delete"}}
                {{#paper-tooltip}}Verwijderen{{/paper-tooltip}}
              {{/paper-button}}
              {{#paper-button onClick=(action "openInvoiceDocumentDialog" invoice) iconButton=true}}
                {{paper-icon "restore page"}}
                {{#paper-tooltip}}Voorschotfactuur maken{{/paper-tooltip}}
              {{/paper-button}}
            {{/unless}}
            {{#paper-button onClick=(action "downloadInvoiceDocument" invoice) iconButton=true}}
              {{paper-icon "find in page"}}
              {{#paper-tooltip}}Voorschotfactuur bekijken{{/paper-tooltip}}
            {{/paper-button}}
            {{#if invoice.certificateRequired}}
              <br>
              BTW attest:
              {{#if invoice.certificateReceived}}
                {{certificate-download-button invoice=invoice}}
                {{#paper-button onClick=(action "deleteCertificate" invoice) iconButton=true}}
                  {{paper-icon "delete"}}
                  {{#paper-tooltip}}BTW attest verwijderen{{/paper-tooltip}}
                {{/paper-button}}
              {{else}}
                {{#file-upload name="certificates" accept="application/pdf" class="certificate-upload"
                     onfileadd=(perform uploadCertificate invoice) as |queue|}}
                  {{#if invoice.hasCertificateUploadError}}
                    {{paper-icon "error" primary=true}}
                    {{#paper-tooltip}}Bestand niet correct opgeladen{{/paper-tooltip}}
                  {{/if}}
                  {{#if queue.files.length}}
                    {{paper-progress-circular diameter=25}}
                  {{else}}
                    <i class="material-icons md-18">cloud_upload</i>
                  {{/if}}
                {{/file-upload}}
              {{/if}}
            {{/if}}
          </td>
        </tr>
    {{else}}
        <tr><td colspan="6">Geen voorschotfacturen</td></tr>
      {{/each}}
    </tbody>
  </table>
{{/liquid-if}}

{{unsaved-changes-dialog show=showUnsavedChangesDialog onConfirm=(action "confirmCloseEdit")}}

{{#document-not-found-dialog show=showInvoiceDocumentNotFoundDialog}}
  <p>Er is nog geen voorschotfactuur aangemaakt.</p>
{{/document-not-found-dialog}}

{{invoice-document-dialog show=showInvoiceDocumentDialog model=selected save=save onClose=(action "closeInvoiceDocumentDialog")}}