<div class="layout-row layout-align-space-between-center">
  <h2>Voorschotten</h2>
  {{#paper-button primary=true fab=true raised=true mini=true onClick=(action "createNew") disabled=selected}}
    {{paper-icon "add"}}
  {{/paper-button}}
</div>

{{#if model}}
  {{#if (and depositRequired (not hasDeposits))}}
    {{warning-message message="Er is een voorschot gevraagd bij bestelling"}}
  {{else if (and (not depositRequired) hasDeposits)}}
    {{info-message message="Er is geen voorschot gevraagd bij bestelling"}}
  {{/if}}
{{/if}}

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--deposits--entry flex-100 layout-column">
    {{#detail-list-item label="Totaal"}}
      {{fmt-currency totalAmount}}
    {{/detail-list-item}}
  </div>
</div>

{{#liquid-if selected class="data-table-selection"}}
  <div class="layout-row layout-align-start-center case--deposits-form">
    {{deposit-edit-form model=selected save=save}}
    {{save-status-icon model=selected task=save}}
    {{#paper-button primary=true onClick=(action "closeEdit")}}Klaar{{/paper-button}}
  </div>
{{else}}
  <table class="case--deposits-table">
    <thead>
      <th>Datum</th>
      <th>Bedrag</th>
      <th>Bank</th>
      <th><!-- Edit/Delete --></th>
    </thead>
    <tbody>
      {{#each model as |deposit|}}
        <tr>
          <td>{{fmt-date deposit.paymentDate}}</td>
          <td>{{fmt-currency deposit.amount}}</td>
          <td>{{deposit.payment.name}}</td>
          <td>
            {{#paper-button onClick=(action "openEdit" deposit) iconButton=true}}
              {{paper-icon "edit mode"}}
              {{#paper-tooltip}}Bewerken{{/paper-tooltip}}
            {{/paper-button}}
            {{#paper-button onClick=(action "deleteDeposit" deposit) iconButton=true}}
              {{paper-icon "delete"}}
              {{#paper-tooltip}}Verwijderen{{/paper-tooltip}}
            {{/paper-button}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4">Geen voorschotten</td></tr>
      {{/each}}
    </tbody>
  </table>
{{/liquid-if}}

{{unsaved-changes-dialog show=showUnsavedChangesDialog onConfirm=(action "confirmCloseEdit")}}