<div class="layout-row layout-align-space-between-center">
  <h2>Voorschotfacturen</h2>
  {{#paper-button primary=true fab=true raised=true mini=true onClick=(action "createNew") disabled=(or isDisabledEdit selected)}}
    {{paper-icon "add"}}
    {{#paper-tooltip}}Maak nieuwe voorschotfactuur{{/paper-tooltip}}
  {{/paper-button}}
</div>

{{#liquid-if editMode class="data-table-selection"}}
  <div class="layout-row layout-align-space-between-center">
    <div class="layout-row layout-align-start-center">
      <h2>Factuur {{format-invoice-number selected.number}}</h2>
      {{save-status-icon model=selected task=save}}
    </div>
    <div>
      {{#paper-button onClick=(action "closeEdit") iconButton=true}}
        {{paper-icon "exit to app"}}
        {{#paper-tooltip}}Sluiten{{/paper-tooltip}}
      {{/paper-button}}
    </div>
  </div>
  {{deposit-invoice-edit-form model=selected save=save}}
{{else}}
  <div class="layout-row layout-xs-column layout-align-space-between">
    <div class="case--deposit-invoices--summary flex-100 layout-column">
      {{#detail-list-item label="Totaal" displayRow=true}}
        {{#detail-list-subitem label="Netto"}}
          {{fmt-currency totalAmount}}
        {{/detail-list-subitem}}
        {{#detail-list-subitem label=(concat (get vatRate 'rate') "% BTW")}}
          {{fmt-currency (await totalVat)}}
        {{/detail-list-subitem}}
      {{/detail-list-item}}
    </div>
  </div>

  {{#each model as |invoice|}}
    <div class="case--deposit-invoices--detail-panel">
      {{paper-divider}}
      <div class="layout-row layout-align-space-between-center">
        <h3>Voorschotfactuur {{format-invoice-number invoice.number}}</h3>
        <div>
          {{#if generateInvoiceDocument.isRunning}}
            {{paper-progress-circular diameter=18}}
          {{else}}
            {{#paper-button onClick=(action "downloadInvoiceDocument" invoice) iconButton=true}}
              {{paper-icon "find in page"}}
              {{#paper-tooltip}}Voorschotfactuur bekijken{{/paper-tooltip}}
            {{/paper-button}}
            {{#unless (or isDisabledEdit invoice.isBooked)}}
              {{#paper-button onClick=(perform generateInvoiceDocument invoice) iconButton=true}}
                {{paper-icon "restore page"}}
                {{#paper-tooltip}}Voorschotfactuur maken{{/paper-tooltip}}
              {{/paper-button}}
            {{/unless}}
          {{/if}}
          {{#unless (or isDisabledEdit invoice.isBooked)}}
            {{#paper-button onClick=(action "openEdit" invoice) iconButton=true}}
              {{paper-icon "edit mode"}}
              {{#paper-tooltip}}Bewerken{{/paper-tooltip}}
            {{/paper-button}}
            {{#paper-button onClick=(action "remove" invoice) iconButton=true}}
              {{paper-icon "delete"}}
              {{#paper-tooltip}}Verwijderen{{/paper-tooltip}}
            {{/paper-button}}
          {{/unless}}
          {{#if invoice.isBooked}}
            {{paper-icon "lock"}}
            {{#paper-tooltip}}Geboekt in boekhouding{{/paper-tooltip}}
          {{/if}}
        </div>
      </div>
      <div class="layout-row layout-xs-column layout-align-space-between">
        <div class="case--left-panel case--deposit-invoice--entry flex-100 layout-column">
          {{#detail-list-item label="Factuurdatum"}}
            {{fmt-date invoice.invoiceDate}}
          {{/detail-list-item}}
          {{#detail-list-item label="Vervaldag"}}
            {{fmt-date invoice.dueDate}}
          {{/detail-list-item}}
          {{#detail-list-item label="Geboekt"}}
            {{fmt-date invoice.bookingDate}}
          {{/detail-list-item}}
          {{#detail-list-item label="Betaald"}}
            {{fmt-date invoice.paymentDate}}
          {{/detail-list-item}}
          {{#detail-list-item label="Referentie"}}
            {{invoice.reference}}
          {{/detail-list-item}}
          {{#detail-list-item label="Opmerking"}}
            <span class="html-body">{{invoice.comment}}</span>
          {{/detail-list-item}}
        </div>
        <div class="case--right-panel flex-noshrink layout-column">
          {{#detail-list-item label="Nettobedrag"}}
            {{fmt-currency invoice.arithmeticAmount}}
          {{/detail-list-item}}
          {{#detail-list-item label="BTW"}}
            {{fmt-currency (await invoice.arithmeticVat)}}
          {{/detail-list-item}}
          {{#detail-list-item label="Betaalref."}}
            {{format-bank-reference invoice.bankReference}}
          {{/detail-list-item}}
          {{#if invoice.certificateRequired}}
            {{#detail-list-item label="BTW-attest" class="layout-align-start-center"}}
              {{certificate-document-buttons model=invoice}}
            {{/detail-list-item}}
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
{{/liquid-if}}

{{unsaved-changes-dialog show=showUnsavedChangesDialog onConfirm=(action "confirmCloseEdit")}}
