{{#if show}}
  {{#paper-dialog class="flex-50" onClose=(action "close") parent=".main-outlet" origin=".main-outlet" clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Voorschotten</h2><span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "close")}}{{paper-icon icon="close"}}{{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        {{#if selectedDeposit}}
          {{#if selectedDeposit.isNew}}
            <h2>Nieuw voorschot</h2>
          {{else}}
            <h2>Bewerk voorschot</h2>
          {{/if}}
          {{deposit-edit-form model=selectedDeposit save=saveDeposit}}
        {{else}}
          <div class="layout-row layout-align-end u-margin-bottom-small">
            {{#paper-button primary=true fab=true raised=true mini=true onClick=(action "createNewDeposit")}}
              {{paper-icon "add"}}
            {{/paper-button}}
          </div>
        {{/if}}
        <table>
          <thead>
            <th>Datum</th>
            <th>Bedrag</th>
            <th>Bank</th>
            <th><!-- Edit/Delete --></th>
          </thead>
          <tbody>
            {{#each model as |deposit|}}
              <tr>
                <td>{{fmt-date deposit.paymentDate}}</td>
                <td>{{fmt-currency deposit.amount}}</td>
                <td>{{deposit.payment.name}}</td>
                <td>
                  {{#paper-button onClick=(action "selectDeposit" deposit) iconButton=true}}
                    {{paper-icon "edit mode"}}
                  {{/paper-button}}
                  {{#paper-button onClick=(action "deleteDeposit" deposit) iconButton=true}}
                    {{paper-icon "delete"}}
                  {{/paper-button}}
                </td>
              </tr>
            {{else}}
              <tr><td colspan="4">Geen voorschotten</td></tr>
            {{/each}}
          </tbody>
        </table>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action "close")}}Sluit{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}

{{yield}}