<div class="layout-row layout-align-space-between-center">
  <h2>Voorschotten</h2>
  <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{fn this.createNew}} @disabled={{or @isDisabledEdit this.selected}}>
    {{paper-icon "add"}}
    <PaperTooltip>Voeg nieuw voorschot toe</PaperTooltip>
  </PaperButton>
</div>

{{#if @model}}
  {{#if (and @depositRequired (not this.hasDeposits))}}
    <WarningMessage @message="Er is een voorschot gevraagd bij bestelling" />
  {{else if (and (not @depositRequired) this.hasDeposits)}}
    <InfoMessage @message="Er is geen voorschot gevraagd bij bestelling" />
  {{/if}}
{{/if}}

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--deposits--entry flex-100 layout-column">
    <DetailListItem @label="Totaal">
      <FmtCurrency @value={{this.totalAmount}} />
    </DetailListItem>
  </div>
</div>

{{#liquid-if this.selected class="data-table-selection"}}
  <div class="layout-row layout-align-start-center case--deposits-form">
    <DepositEditForm @model={{this.selected}} @save={{this.save}} />
    <SaveStatusIcon @model={{this.selected}} @task={{this.save}} />
    <PaperButton @primary={{true}} @onClick={{fn this.closeEdit}}>Klaar</PaperButton>
  </div>
{{else}}
  <table class="case--deposits-table">
    <thead>
      <th>Datum</th>
      <th>Bedrag</th>
      <th>Bank</th>
      <th></th>
    </thead>
    <tbody>
      {{#each @model as |deposit|}}
        <tr>
          <td><FmtDate @value={{deposit.paymentDate}} /></td>
          <td><FmtCurrency @value={{deposit.amount}} /></td>
          <td>{{deposit.payment.name}}</td>
          <td>
            {{#unless @isDisabledEdit}}
              <PaperButton @onClick={{fn this.openEdit deposit}} @iconButton={{true}}>
                {{paper-icon "edit mode"}}
                <PaperTooltip>Bewerken</PaperTooltip>
              </PaperButton>
              <PaperButton @onClick={{fn this.deleteDeposit deposit}} @iconButton={{true}}>
                {{paper-icon "delete"}}
                <PaperTooltip>Verwijderen</PaperTooltip>
              </PaperButton>
            {{/unless}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4">Geen voorschotten</td></tr>
      {{/each}}
    </tbody>
  </table>
{{/liquid-if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
