<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{this.model.invoiceDateStr}} @type="date" @required="style" @errors={{v-get this.model "invoiceDate" "messages"}} @onChange={{queue (action (mut this.model.invoiceDateStr)) (perform this.save)}} @class="default" />
      <PaperInput @label="Bedrag (€)" @value={{this.baseAmountInput}} @required="style" @errors={{v-get this.model "baseAmount" "messages"}} @onChange={{action (mut this.baseAmountInput)}} @onBlur={{queue (action "formatDecimal" "baseAmount") (perform this.save)}} @class="small" />
    </div>
    <div class="layout-row">
    </div>
    <div class="layout-row">
      <PaperInput @label="Vervaldag" @value={{this.model.dueDateStr}} @type="date" @onChange={{queue (action (mut this.model.dueDateStr)) (perform this.save)}} @class="default" />
      <PaperInput @label="Betaald" @value={{this.model.paymentDateStr}} @type="date" @onChange={{queue (action (mut this.model.paymentDateStr)) (perform this.save)}} @class="default" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Referentie klant" @value={{this.model.reference}} @onChange={{action (mut this.model.reference)}} @onBlur={{perform this.save}} @class="xlarge" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{this.model.comment}} @onChange={{action (mut this.model.comment)}} @onBlur={{perform this.save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
  <section class="case--right-panel flex-noshrink layout-column">

  </section>
</div>

{{yield}}