<WarningMessage>
  <div class="layout-row layout-align-space-between-center">
    <div>
      {{paper-icon "error"}}
      Klant {{#if this.duplicate.printPrefix}}{{this.duplicate.prefix}}{{/if}} {{this.duplicate.name}} {{#if this.duplicate.printSuffix}}{{this.duplicate.suffix}} {{/if}}[{{this.duplicate.number}}] heeft dit BTW-nummer al.
    </div>
    <div>
      {{paper-icon "forward"}}
    </div>
    <PaperTooltip>Ga naar klant</PaperTooltip>
  </div>
</WarningMessage>
