{{#if show}}
  <PaperDialog @class="flex-50" @onClose={{action "close"}} @parent=".main-outlet" @origin=".main-outlet" @clickOutsideToClose={{true}}>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Extra's</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{action "close"}}><PaperIcon @icon="close" /></PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      {{#liquid-if selected class="data-table-selection"}}
        {{#if showUnsavedChangesWarning}}
          <p>Bent u zeker dat u deze pagina wil verlaten? Mogelijk zijn niet alle wijzigingen correct opgeslagen.</p>
        {{else}}
          <InvoiceSupplementEditForm @model={{selected}} @save={{save}} />
        {{/if}}
{{else}}
        <InvoiceSupplementsTable @model={{model.supplements}} @isDisabledEdit={{isDisabledEdit}} @onOpenEdit={{action "openEdit"}} @onDelete={{action "deleteSupplement"}} />
      {{/liquid-if}}
      {{#if model.isMasteredByAccess}}
        <p class="note-message">De factuur is aangemaakt in Access. De extra's kunnen hier niet aangepast worden.</p>
      {{/if}}
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row invoice-supplements--dialog--actions">
      <span class="flex"></span>
      {{#if showUnsavedChangesWarning}}
        <PaperButton @onClick={{action "cancelCloseEdit"}}>Terug</PaperButton>
        <PaperButton @onClick={{action "confirmCloseEdit"}}>Ga toch verder</PaperButton>
      {{else}}
        {{#if selected}}
          <SaveStatusIcon @model={{selected}} @task={{save}} />
          <PaperButton @class="close-edit-btn" @onClick={{action "closeEdit"}}>Klaar</PaperButton>
        {{else}}
          <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{action "createNew"}} @disabled={{isDisabledNew}}>
            {{paper-icon "add"}}
            <PaperTooltip>Voeg nieuwe extra toe</PaperTooltip>
          </PaperButton>
        {{/if}}
      {{/if}}
    </PaperDialogActions>
  </PaperDialog>
{{/if}}