<table class="invoice-calculation-table">
  <thead>
    <th></th>
    <th>Netto</th>
    <th>{{model.vatRate.rate}}% BTW</th>
  </thead>
  <tbody>
    <tr>
      <td>Basis</td>
      <td>{{fmt-currency model.baseAmount}}</td>
      <td>{{fmt-currency model.vat}}</td>
    </tr>
    <tr {{action "openExtrasDialog"}}>
      <td>Extra's {{paper-icon "info" size=18}}</td>
      <td>{{fmt-currency supplementsAmount}}</td>
      <td>{{fmt-currency supplementsVat}}</td>
    </tr>
    {{#link-to 'main.case.order.edit.deposit-invoices' model.order tagName='tr' class="clickable"}}
      <td>Voorschotfacturen</td>
      <td>{{fmt-currency depositInvoicesAmount}}</td>
      <td>{{fmt-currency depositInvoicesVat}}</td>
    {{/link-to}}
    <tr class="subtotal">
      <td>Subtotaal</td>
      <td>{{fmt-currency subtotalAmount}}</td>
      <td>{{fmt-currency subtotalVat}}</td>
    </tr>
    <tr>
      <td>Voorschot netto</td>
      <td>{{fmt-currency depositsAmount}}</td>
      <td></td>
    </tr>
    <tr class="total">
      <td colspan="2">Totaal te betalen</td>
      <td>{{fmt-currency grossTotalAmount}}</td>
    </tr>
  </tbody>
</table>

{{#if showExtrasDialog}}
  {{#paper-dialog class="flex-50" onClose=(action "closeExtrasDialog") parent=".main-outlet" origin=".main-outlet" clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Extra's</h2><span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "closeExtrasDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <table>
          <thead>
            <th>Aantal</th>
            <th>Omschrijving</th>
            <th>Nettobedrag</th>
          </thead>
          <tbody>
            {{#each model.supplements as |supplement|}}
              <tr>
                <td>{{supplement.nbOfPieces}}</td>
                <td>{{supplement.description}}</td>
                <td>{{fmt-currency supplement.amount}}</td>
              </tr>
            {{else}}
              <tr><td colspan="3">Geen extra's</td></tr>
            {{/each}}
          </tbody>
        </table>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action "closeExtrasDialog")}}Sluit{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}