<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <div>
      <h2>
        {{#if editMode}}Bewerk details{{else}}Overzicht{{/if}} factuur {{format-invoice-number model.number}}
      </h2>
    </div>
    {{#if editMode}}
      <SaveStatusIcon @model={{model}} @task={{save}} />
    {{/if}}
  </div>
  <div class="layout-row layout-align-start-center">
    {{#if editMode}}
      {{#if isEnabledDelete}}
        <PaperButton @onClick={{perform remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{action "closeEdit"}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      {{#if generateInvoiceDocument.isRunning}}
        <PaperProgressCircular @diameter={{18}} />
      {{else}}
        <PaperButton @onClick={{action "downloadInvoiceDocument"}} @iconButton={{true}}>
          {{paper-icon "find in page"}}
          <PaperTooltip>Factuur bekijken</PaperTooltip>
        </PaperButton>
        {{#unless isDisabledEdit}}
          <PaperButton @onClick={{perform generateInvoiceDocument}} @iconButton={{true}}>
            {{paper-icon "restore page"}}
            <PaperTooltip>Factuur maken</PaperTooltip>
          </PaperButton>
        {{/unless}}
      {{/if}}
      <PaperButton @onClick={{action "openEdit"}} @iconButton={{true}} @disabled={{isDisabledEdit}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
    {{/if}}
  </div>
</div>

{{#if model.isBooked}}
  <WarningMessage @message="Factuur reeds geboekt. Geen wijzigingen meer mogelijk." />
{{/if}}


{{#if editMode}}
  {{#if remove.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het verwijderen...</p>
    </div>
  {{else if rollbackTree.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not model.id) model.isSavivg)}}
    <div>
      <PaperProgressLinear />
      <p>Aan het aanmaken...</p>
    </div>
  {{else}}
    <InvoiceEditForm @model={{model}} @save={{save}} />
  {{/if}}
{{else}}
  <InvoiceDetailPanel @model={{model}} />
{{/if}}

{{#if model.isMasteredByAccess}}
  <div class="layout-row">
    <span class="flex"></span>
    <p class="note note--info">Beheerd in Access</p>
  </div>
{{/if}}

<UnsavedChangesDialog @show={{showUnsavedChangesDialog}} @onConfirm={{action "confirmCloseEdit"}} />
<MissingCertificateDialog @show={{showMissingCertificateDialog}} @model={{model}} @onClose={{perform generateInvoiceDocument}} />