<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <div>
      <h2>
        {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} factuur {{format-invoice-number @model.number}}
      </h2>
    </div>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div class="layout-row layout-align-start-center">
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      {{#if this.generateInvoiceDocument.isRunning}}
        <PaperProgressCircular @diameter={{18}} />
      {{else}}
        <PaperButton @onClick={{fn this.downloadInvoiceDocument}} @iconButton={{true}}>
          {{paper-icon "find in page"}}
          <PaperTooltip>Factuur bekijken</PaperTooltip>
        </PaperButton>
        {{#unless this.isDisabledEdit}}
          <PaperButton @onClick={{perform this.generateInvoiceDocument}} @iconButton={{true}}>
            {{paper-icon "restore page"}}
            <PaperTooltip>Factuur maken</PaperTooltip>
          </PaperButton>
        {{/unless}}
      {{/if}}
      <PaperButton @onClick={{fn this.openEdit}} @iconButton={{true}} @disabled={{this.isDisabledEdit}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
    {{/if}}
  </div>
</div>

{{#if @model.isBooked}}
  <WarningMessage @message="Factuur reeds geboekt. Geen wijzigingen meer mogelijk." />
{{/if}}


{{#if @editMode}}
  {{#if this.remove.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het verwijderen...</p>
    </div>
  {{else if this.rollbackTree.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not @model.id) @model.isSavivg)}}
    <div>
      <PaperProgressLinear />
      <p>Aan het aanmaken...</p>
    </div>
  {{else}}
    <InvoiceEditForm @model={{@model}} @save={{this.save}} />
  {{/if}}
{{else}}
  <InvoiceDetailPanel @model={{@model}} />
{{/if}}

{{#if @model.isMasteredByAccess}}
  <h2>Gefactureerde producten</h2>
  <p class="note-message">De factuur is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.</p>
{{else}}
  <div class="case--invoice--invoicelines layout-row layout-align-space-between-center">
    <h2>Gefactureerde producten</h2>
  </div>
  <div class="offer-document layout-column">
    <section><OfferlinesDetailPanel @model={{@model.invoicelines}} /></section>
  </div>
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
<MissingCertificateDialog @show={{this.showMissingCertificateDialog}} @model={{@model}} @onClose={{perform this.generateInvoiceDocument}} />