<div class="layout-row">
  <InputField::DecimalInput @label="Aantal" @value={{@model.nbOfPieces}} @errors={{v-get @model "nbOfPieces" "messages"}} @onChange={{queue (fn (mut @model.nbOfPieces)) (perform @save)}} @class="small" />
  <InputField::ProductUnitSelect @value={{@model.unit}} @errors={{v-get @model "unit" "messages"}} @onSelectionChange={{queue (fn (mut @model.unit)) (perform @save)}} @class="md-input-wrapper default u-rel-top-small" />
  <div>
    <InputField::DecimalInput @label="Netto totaal (€)" @value={{@model.amount}} @errors={{v-get @model "amount" "messages"}} @onChange={{queue (fn (mut @model.amount)) (perform @save)}} @class="default" />
  </div>
</div>
<div class="layout-row">
  <PaperInput @label="Beschrijving" @value={{@model.description}} @errors={{v-get @model "description" "messages"}} @onChange={{fn (mut @model.description)}} @onBlur={{perform @save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
</div>
