<table class="invoice-calculation-table">
  <thead>
    <th></th>
    <th>Netto</th>
    <th>{{this.model.vatRate.rate}}% BTW</th>
  </thead>
  <tbody>
    <tr>
      <td>Basis</td>
      <td>{{fmt-currency this.baseAmount}}</td>
      <td>{{#if this.baseAmount}}{{fmt-currency this.baseAmountVat}}{{/if}}</td>
    </tr>
    <tr {{on "click" this.openSupplementsDialog}}>
      <td>Extra's {{paper-icon "info" size=18}}</td>
      <td>{{fmt-currency this.supplementsAmount}}</td>
      <td>{{fmt-currency this.supplementsVat}}</td>
    </tr>
    {{#unless this.model.isIsolated}}
      <tr class="subtotal">
        <td>Totaal bestelling</td>
        <td>{{fmt-currency this.totalOrderAmount}}</td>
        <td>{{fmt-currency this.totalOrderVat}}</td>
      </tr>
      <LinkTo @route="main.case.order.edit.deposit-invoices" @model={{this.model.order}} @tagName="tr" class="clickable">
        <td>Voorschotfacturen {{paper-icon "info" size=18}}</td>
        <td>&minus; {{fmt-currency this.depositInvoicesAmount}}</td>
        <td>&minus; {{fmt-currency this.depositInvoicesVat}}</td>
      </LinkTo>
    {{/unless}}
    <tr class="subtotal">
      <td>Subtotaal</td>
      <td>{{fmt-currency this.totalNetAmount}}</td>
      <td>{{fmt-currency this.totalVat}}</td>
    </tr>
  </tbody>
</table>

<table class="invoice-calculation-table">
  <thead>
    <th></th>
    <th>Bruto</th>
  </thead>
  <tbody>
    <tr class="subtotal">
      <td>Totaal</td>
      <td>{{fmt-currency this.totalGrossAmount}}</td>
    </tr>
    <tr>
      <td>Betaalde voorschotten</td>
      <td>&minus; {{fmt-currency this.depositsAmount}}</td>
    </tr>
    <tr class="total">
      <td>Totaal te betalen</td>
      <td>{{fmt-currency this.totalToPay}}</td>
    </tr>
  </tbody>
</table>
<div>
</div>

<InvoiceSupplementsDialog @show={{this.showSupplementsDialog}} @model={{model}} />
