<table class="invoice-calculation-table">
  <thead>
    <th></th>
    <th>Netto</th>
    <th>{{model.vatRate.rate}}% BTW</th>
  </thead>
  <tbody>
    <tr>
      <td>Basis</td>
      <td>{{fmt-currency model.baseAmount}}</td>
      <td>{{fmt-currency baseAmountVat}}</td>
    </tr>
    <tr {{action "openSupplementsDialog"}}>
      <td>Extra's {{paper-icon "info" size=18}}</td>
      <td>{{fmt-currency supplementsAmount}}</td>
      <td>{{fmt-currency supplementsVat}}</td>
    </tr>
    {{#link-to 'main.case.order.edit.deposit-invoices' model.order tagName='tr' class="clickable"}}
      <td>Voorschotfacturen</td>
      <td>{{fmt-currency depositInvoicesAmount}}</td>
      <td>{{fmt-currency depositInvoicesVat}}</td>
    {{/link-to}}
    <tr class="subtotal">
      <td>Subtotaal</td>
      <td>{{fmt-currency subtotalAmount}}</td>
      <td>{{fmt-currency subtotalVat}}</td>
    </tr>
    <tr>
      <td>Voorschot netto</td>
      <td>{{fmt-currency depositsAmount}}</td>
      <td></td>
    </tr>
    <tr class="total">
      <td colspan="2">Totaal te betalen</td>
      <td>{{fmt-currency grossTotalAmount}}</td>
    </tr>
  </tbody>
</table>

{{invoice-supplements-dialog show=showSupplementsDialog model=model}}
