<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{this.model.invoiceDateStr}} @type="date" @required="style" @errors={{v-get this.model "invoiceDate" "messages"}} @onChange={{queue (action (mut this.model.invoiceDateStr)) (perform this.save)}} @class="default" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Vervaldag" @value={{this.model.dueDateStr}} @type="date" @onChange={{queue (action (mut this.model.dueDateStr)) (perform this.save)}} @class="default" />
      <PaperInput @label="Betaald" @value={{this.model.paymentDateStr}} @type="date" @onChange={{queue (action (mut this.model.paymentDateStr)) (perform this.save)}} @class="default" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Referentie klant" @value={{this.model.reference}} @onChange={{action (mut this.model.reference)}} @onBlur={{perform this.save}} @class="xlarge" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Opmerking (niet zichtbaar in document)" @value={{this.model.comment}} @onChange={{action (mut this.model.comment)}} @onBlur={{perform this.save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
  <section class="case--right-panel flex-noshrink layout-column">
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Creditnota" @value={{this.model.isCreditNote}} @onChange={{queue (action (mut this.model.isCreditNote)) (perform this.save)}} />
    </div>
    {{#if this.model.isIsolated}}
      <div class="layout-row">
        <InputField::VatRateSelect @value={{this.model.vatRate}} @required="style" @errors={{v-get this.model "vatRate" "messages"}} @onSelectionChange={{queue (action "setVatRate") (perform this.save)}} @class="md-input-wrapper large" />
      </div>
    {{/if}}
  </section>
</div>
<div>
  <label>Mededeling (zichtbaar onderaan in document)</label>
  <PellEditor @class="pell-editor invoice-outro" @value={{this.model.documentOutro}} @pellOptions={{this.pellOptions}} @onChange={{action (mut this.model.documentOutro)}} @focusOut={{perform this.save}} />
</div>

{{yield}}