<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      {{paper-input label="Datum" value=model.invoiceDateStr type="date"
          required="style" errors=(v-get model 'invoiceDate' 'messages')
          onChange=(queue (action (mut model.invoiceDateStr)) (perform save))
          class="default"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Vervaldag" value=model.dueDateStr type="date"
          onChange=(queue (action (mut model.dueDateStr)) (perform save))
          class="default"}}
      {{paper-input label="Betaald" value=model.paymentDateStr type="date"
          onChange=(queue (action (mut model.paymentDateStr)) (perform save))
          class="default"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Referentie klant" value=model.reference
          onChange=(action (mut model.reference)) onBlur=(perform save)
          class="xlarge"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Opmerking" value=model.comment
          onChange=(action (mut model.comment)) onBlur=(perform save)
          textarea=true passThru=(hash rows=3) class="xxlarge"}}
    </div>
  </section>
  <section class="case--right-panel flex-noshrink layout-column">
    <div class="layout-row layout-align-start-center">
      {{paper-checkbox label="Creditnota" value=model.isCreditNote
          onChange=(queue (action (mut model.isCreditNote)) (perform save))}}
    </div>
    <div class="layout-row">
      {{vat-rate-select value=model.vatRate
          required="style" errors=(v-get model 'vatRate' 'messages')
          onSelectionChange=(queue (action (mut model.vatRate)) (perform save))
          class="md-input-wrapper"}}
    </div>
    <div class="u-bold">BTW-attest</div>
    <div class="layout-row layout-align-start-center">
      {{paper-checkbox label="Nodig" value=model.certificateRequired
          onChange=(queue (action (mut model.certificateRequired)) (perform save))}}
      {{paper-checkbox label="Ontvangen" value=model.certificateReceived
          onChange=(queue (action (mut model.certificateReceived)) (perform save))}}
    </div>
  </section>
</div>

{{yield}}