<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--invoice--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{#detail-list-subitem label="Factuurdatum"}}
        {{fmt-date model.invoiceDate}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Vervaldag"}}
        {{fmt-date model.dueDate}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Geboekt"}}
        {{fmt-date model.bookingDate}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Betaald"}}
        {{fmt-date model.paymentDate}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Techniekers" click=(action "openWorkingHoursDialog") class="clickable"}}
      {{#if model.workingHours}}{{paper-icon "info" size=18}}{{else}}- {{paper-icon "add circle" size=18}}{{/if}}
    {{/detail-list-item}}
    {{#detail-list-item label="Referentie"}}
      {{model.reference}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.comment}}</span>
    {{/detail-list-item}}
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    {{#if model.certificateRequired}}
      {{#detail-list-item label="BTW-attest" class="layout-align-start-center"}}
        {{paper-icon (if model.certificateRequired "check_box" "check_box_outline_blank")}} Nodig
        {{paper-icon (if model.certificateReceived "check_box" "check_box_outline_blank")}} Ontvangen

        {{#if model.certificateReceived}}
          {{certificate-download-button invoice=model}}
          {{#paper-button onClick=(action "deleteCertificate") iconButton=true}}
            {{paper-icon "delete"}}
            {{#paper-tooltip}}BTW attest verwijderen{{/paper-tooltip}}
          {{/paper-button}}
        {{else}}
          {{#file-upload name="certificates" accept="application/pdf" class="certificate-upload"
               onfileadd=(perform uploadCertificate) as |queue|}}
            {{#if hasCertificateUploadError}}
              {{paper-icon "error" primary=true}}
              {{#paper-tooltip}}Bestand niet correct opgeladen{{/paper-tooltip}}
            {{/if}}
            {{#if queue.files.length}}
              {{paper-progress-circular diameter=25}}
            {{else}}
              <i class="material-icons md-18">cloud_upload</i>
            {{/if}}
          {{/file-upload}}
        {{/if}}
      {{/detail-list-item}}
    {{/if}}
    {{#unless model.isIsolated}}
      {{#detail-list-item label="Productiebon"}}
        {{paper-icon (if model.hasProductionTicket "check_box" "check_box_outline_blank")}}
        {{#if model.hasProductionTicket}}
          <span {{action "downloadProductionTicket"}}>
            {{paper-icon "find in page"}}
            {{#paper-tooltip}}Productiebon bekijken{{/paper-tooltip}}
          </span>
        {{/if}}
      {{/detail-list-item}}
    {{/unless}}
    {{#detail-list-item label="Creditnota"}}
      {{paper-icon (if model.isCreditNote "check_box" "check_box_outline_blank")}}
    {{/detail-list-item}}
  </div>
</div>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="flex-100 layout-column">
    {{#detail-list-item label="Bedrag"}}
      {{invoice-calculation-table model=model}}
    {{/detail-list-item}}
  </div>
</div>

{{working-hours-dialog show=showWorkingHoursDialog model=model}}

{{#document-not-found-dialog show=showProductionTicketNotFoundDialog}}
  <p>Er is nog geen productiebon opgeladen.</p>
{{/document-not-found-dialog}}
