<table>
  <thead>
    <th>Aantal</th>
    <th>Eenheid</th>
    <th>Omschrijving</th>
    <th>Netto totaal (&euro;)</th>
    {{#unless @isDisabledEdit}}
      <th></th>
    {{/unless}}
  </thead>
  <tbody>
    {{#each @model as |supplement|}}
      <tr>
        <td>{{supplement.nbOfPieces}}</td>
        <td>{{supplement.unit.name}}</td>
        <td>{{{supplement.description}}}</td>
        <td><FmtCurrency @value={{supplement.amount}} /></td>
        {{#unless @isDisabledEdit}}
          <td>
            <div class="layout-row">
              <PaperButton @onClick={{fn @onOpenEdit supplement}} @iconButton={{true}}>
                {{paper-icon "edit mode"}}
                <PaperTooltip>Bewerken</PaperTooltip>
              </PaperButton>
              <PaperButton @onClick={{fn @onDelete supplement}} @iconButton={{true}}>
                {{paper-icon "delete"}}
                <PaperTooltip>Verwijderen</PaperTooltip>
              </PaperButton>
            </div>
          </td>
        {{/unless}}
      </tr>
    {{else}}
      <tr><td colspan="5">Geen extra's</td></tr>
    {{/each}}
  </tbody>
</table>
