<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--invoice--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{#detail-list-subitem label="Factuurdatum"}}
        {{fmt-date model.invoiceDate}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Vervaldag"}}
        {{fmt-date model.dueDate}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Geboekt"}}
        {{fmt-date model.bookingDate}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Betaald"}}
        {{fmt-date model.paymentDate}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Techniekers" click=(action "openWorkingHoursDialog") class="clickable"}}
      {{#if model.workingHours}}{{paper-icon "info" size=18}}{{else}}- {{paper-icon "add circle" size=18}}{{/if}}
    {{/detail-list-item}}
    {{#detail-list-item label="Referentie"}}
      {{model.reference}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.comment}}</span>
    {{/detail-list-item}}
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    {{#detail-list-item label="BTW-attest"}}
      {{paper-checkbox label="Nodig" value=model.certificateRequired onChange=null}}
      {{paper-checkbox label="Ontvangen" value=model.certificateReceived disabled=(not model.certificateRequired) onChange=null}}
    {{/detail-list-item}}
    {{#unless model.isIsolated}}
      {{#detail-list-item label="Productiebon"}}
        {{paper-checkbox value=model.hasProductionTicket onChange=null}}
        {{#if model.hasProductionTicket}}
          <span {{action "downloadProductionTicket"}}>
            {{paper-icon "find in page"}}
            {{#paper-tooltip}}Bekijken{{/paper-tooltip}}
          </span>
        {{/if}}
      {{/detail-list-item}}
    {{/unless}}
    {{#detail-list-item label="Creditnota"}}
      {{paper-checkbox value=model.isCreditNote onChange=null}}
    {{/detail-list-item}}
  </div>
</div>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="flex-100 layout-column">
    {{#detail-list-item label="Bedrag"}}
      {{invoice-calculation-table model=model}}
    {{/detail-list-item}}
  </div>
</div>

{{working-hours-dialog show=showWorkingHoursDialog model=model}}
