<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--invoice--entry flex-100 layout-column">
    <DetailListItem @label="Datum">
      <DetailListSubitem @label="Factuurdatum">
        {{fmt-date this.model.invoiceDate}}
      </DetailListSubitem>
      <DetailListSubitem @label="Vervaldag">
        {{fmt-date this.model.dueDate}}
      </DetailListSubitem>
      <DetailListSubitem @label="Geboekt">
        {{fmt-date this.model.bookingDate}}
      </DetailListSubitem>
      <DetailListSubitem @label="Betaald">
        {{fmt-date this.model.paymentDate}}
      </DetailListSubitem>
    </DetailListItem>
    <DetailListItem @label="Techniekers" @click={{fn this.openWorkingHoursDialog}} @class="clickable">
      {{#if this.model.workingHours}}
        {{join ", " this.employeeFirstNames}} {{paper-icon "info" size=18}}
      {{else}}
        - {{paper-icon "add circle" size=18}}
      {{/if}}
    </DetailListItem>
    <DetailListItem @label="Referentie">
      {{this.model.reference}}
    </DetailListItem>
    <DetailListItem @label="Opmerking">
      <span class="html-body">{{this.model.comment}}</span>
    </DetailListItem>
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    {{#if this.model.certificateRequired}}
      <DetailListItem @label="BTW-attest" @class="layout-align-start-center">
        <CertificateDocumentButtons @model={{this.model}} />
      </DetailListItem>
    {{/if}}
    {{#unless this.model.isIsolated}}
      <DetailListItem @label="Productiebon">
        {{paper-icon (if this.model.hasProductionTicket "check_box" "check_box_outline_blank")}}
        {{#if this.model.hasProductionTicket}}
          <span {{on "click" this.downloadProductionTicket}} role="button">
            {{paper-icon "find in page"}}
            <PaperTooltip>Productiebon bekijken</PaperTooltip>
          </span>
        {{/if}}
      </DetailListItem>
    {{/unless}}
    <DetailListItem @label="Creditnota">
      {{paper-icon (if this.model.isCreditNote "check_box" "check_box_outline_blank")}}
    </DetailListItem>
    {{#unless this.model.isCreditNote}}
      <DetailListItem @label="Betaalref.">
        {{format-bank-reference this.model.bankReference}}
      </DetailListItem>
    {{/unless}}
  </div>
</div>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="flex-100 layout-column">
    <DetailListItem @label="Bedrag">
      <InvoiceCalculationTable @model={{this.model}} />
    </DetailListItem>
  </div>
</div>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="flex-100 layout-column">
    <DetailListItem @label="Mededeling">
      {{{this.model.documentOutro}}}
    </DetailListItem>
  </div>
</div>

<WorkingHoursDialog @show={{this.showWorkingHoursDialog}} @model={{this.model}} />

<DocumentNotFoundDialog @show={{this.showProductionTicketNotFoundDialog}}>
  <p>Er is nog geen productiebon opgeladen.</p>
</DocumentNotFoundDialog>
