{{#if @show}}
  <PaperDialog @class="flex-50 invoice-document-dialog" @onClose={{fn @close}} @clickOutsideToClose={{true}} @parent=".main-outlet" @origin=".main-outlet">
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>BTW-attest ontbreekt</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{fn @close}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <div class="panel--vat-certificate">
        <p>Deze factuur vereist een BTW-attest, maar er is nog geen attest opgeladen.</p>
        <div>
          <CertificateDocumentButtons @model={{@model}} @iconButton={{false}} />
        </div>
      </div>
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @onClick={{fn @close}}>Factuur maken</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}