<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--offer--entry flex-100 layout-column">
    <DetailListItem @label="Datum">
      <FmtDate @value={{@model.offerDate}} />
    </DetailListItem>
    {{#if @model.isMasteredByAccess}}
      <DetailListItem @label="Bedrag">
        <FmtCurrency @value={{@model.amount}} />
      </DetailListItem>
    {{/if}}
    <DetailListItem @label="BTW tarief">
      {{@model.vatRate.name}} BTW
    </DetailListItem>
    <DetailListItem @label="Bezoeker">
      {{@model.request.visitor}}
    </DetailListItem>
    <DetailListItem @label="Referentie">
      {{@model.reference}}
    </DetailListItem>
    <DetailListItem @label="Opmerking">
      <span class="html-body">{{@model.comment}}</span>
    </DetailListItem>
  </div>
  <VisitDetailPanel @model={{@model.request}} />
</div>

{{yield}}