<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>Offerte {{model.number}}</h2>
    {{#if editMode}}
      {{save-status-icon model=model task=save}}
    {{/if}}
  </div>
  <div>
    {{#if editMode}}
      {{#paper-button onClick=(action "closeEdit") iconButton=true}}
        {{paper-icon "close"}}
        {{#paper-tooltip}}Sluiten{{/paper-tooltip}}
      {{/paper-button}}
    {{else}}
      {{#paper-button onClick=(action "openEdit") iconButton=true disabled=isDisabledEdit}}
        {{paper-icon "edit mode"}}
        {{#paper-tooltip}}Aanpassen{{/paper-tooltip}}
      {{/paper-button}}
      {{#unless isDisabledEdit}}
        {{#paper-button onClick=(action "generateOfferDocument") iconButton=true}}
          {{paper-icon "description"}}
          {{#paper-tooltip}}Offerte maken{{/paper-tooltip}}
        {{/paper-button}}
        {{#paper-button onClick=(perform remove) iconButton=true}}
          {{paper-icon "delete"}}
          {{#paper-tooltip}}Verwijderen{{/paper-tooltip}}
        {{/paper-button}}
      {{/unless}}
    {{/if}}
  </div>
</div>

{{#if isDisabledEdit}}
  {{warning-message message="Reeds besteld. Geen wijzigingen meer mogelijk."}}
{{/if}}

{{#if editMode}}
  {{#if remove.isRunning}}
    <div>
      {{paper-progress-linear}}
      <p>Aan het verwijderen...</p>
    </div>
  {{else if rollbackTree.isRunning}}
    <div>
      {{paper-progress-linear}}
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not model.id) model.isSavivg)}}
    <div>
      {{paper-progress-linear}}
      <p>Aan het aanmaken...</p>
    </div>
  {{else}}
    {{offer-edit-form model=model save=save
        onContactChange=onContactChange onBuildingChange=onBuildingChange}}
  {{/if}}
{{else}}
  {{offer-detail-panel model=model}}
{{/if}}

<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>Inhoud</h2>
  </div>
  <div>
    {{#unless isDisabledEdit}}
      {{#paper-button primary=true fab=true mini=true raised=true onClick=(action "addOfferline")}}
        {{paper-icon "add"}}
        {{#paper-tooltip}}Lijn toevoegen{{/paper-tooltip}}
      {{/paper-button}}
    {{/unless}}
  </div>
</div>

{{#if editMode}}
  <div class="layout-column">
    {{#each model.offerlines as |offerline|}}
      {{offerline-edit-form model=offerline onDelete=(action "deleteOfferline")}}
    {{else}}
      <div class="link-action" {{action "addOfferline"}}>{{paper-icon "add"}} Lijn toevoegen</div>
    {{/each}}
  </div>
{{else}}
  {{offerlines-detail-panel model=model.offerlines}}
{{/if}}

{{unsaved-changes-dialog show=showUnsavedChangesDialog onConfirm=(action "confirmCloseEdit")}}
