<div>{{this.model.sequenceNumber}}</div>
<PellEditor @class="pell-editor offerline" @value={{this.model.description}} @pellOptions={{this.pellOptions}} @onChange={{fn (mut this.model.description)}} @focusOut={{perform this.save}} />
<div class="layout-column">
  <div class="layout-row layout-align-space-between-start">
    <SaveStatusIcon @model={{model}} @task={{this.save}} />
    <PaperButton @onClick={{fn this.delete}} @iconButton={{true}}>
      {{paper-icon "delete"}}
      <PaperTooltip>Lijn verwijderen</PaperTooltip>
    </PaperButton>
  </div>
  <PaperInput @label="Bedrag (€)" @value={{this.amountInput}} @errors={{v-get this.model "amount" "messages"}} @onChange={{fn (mut this.amountInput)}} @onBlur={{queue (fn this.formatDecimal "amount") (perform this.save)}} @class="default" @required="style" />
  <InputField::VatRateSelect @value={{this.model.vatRate}} @onSelectionChange={{queue (fn (mut this.model.vatRate)) (perform this.save)}} @class="md-input-wrapper large" @required="style" />
</div>
