<div>{{model.sequenceNumber}}</div>
{{pell-editor class="pell-editor" value=model.description pellOptions=pellOptions
    onChange=(action (mut model.description)) focusOut=(perform save)}}
{{paper-input label="Bedrag" value=amountInput
    errors=(v-get model 'amount' 'messages')
    onChange=(action (mut amountInput)) onBlur=(queue (action "formatDecimal" "amount") (perform save))
    class="small"}}
{{vat-rate-select value=model.vatRate
    onSelectionChange=(queue (action (mut model.vatRate)) (perform save))
    class="md-input-wrapper"}}
{{save-status-icon model=model task=save}}
{{#paper-button onClick=(action "delete") iconButton=true}}
  {{paper-icon "delete"}}
  {{#paper-tooltip}}Verwijderen{{/paper-tooltip}}
{{/paper-button}}
