<table class="offerlines-data-table">
  <thead>
    <th></th>
    <th>Beschrijving</th>
    <th>Bedrag</th>
    <th>BTW</th>
  </thead>
  <tbody>
    {{#each this.sortedOfferlines as |offerline|}}
      <tr class="{{if offerline.isOrdered "is-ordered"}}">
        <td>{{offerline.sequenceNumber}}</td>
        <td>{{{offerline.description}}}</td>
        <td><FmtCurrency @value={{offerline.amount}} /></td>
        <td>{{offerline.vatRate.rate}}%</td>
      </tr>
    {{else}}
      <tr><td colspan="4">Geen inhoud</td></tr>
    {{/each}}
  </tbody>
</table>
