<table class="offerlines-data-table">
  <thead>
    <th></th>
    <th>Beschrijving</th>
    <th>Bedrag</th>
    <th>BTW</th>
  </thead>
  <tbody>
    {{#each this.sortedLines as |line|}}
      <tr>
        <td>{{line.sequenceNumber}}</td>
        <td>{{{line.description}}}</td>
        <td><FmtCurrency @value={{line.amount}} /></td>
        <td>{{line.vatRate.rate}}%</td>
      </tr>
    {{else}}
      <tr><td colspan="4">Geen inhoud</td></tr>
    {{/each}}
  </tbody>
</table>
