<div>{{model.sequenceNumber}}</div>
<PellEditor @class="pell-editor offerline" @value={{model.description}} @pellOptions={{pellOptions}} @onChange={{action (mut model.description)}} @focusOut={{perform save}} />
<div class="layout-column">
  <div class="layout-row layout-align-space-between-start">
    <SaveStatusIcon @model={{model}} @task={{save}} />
    <PaperButton @onClick={{action "delete"}} @iconButton={{true}}>
      {{paper-icon "delete"}}
      <PaperTooltip>Lijn verwijderen</PaperTooltip>
    </PaperButton>
  </div>
  <PaperInput @label="Bedrag (€)" @value={{amountInput}} @errors={{v-get model "amount" "messages"}} @onChange={{action (mut amountInput)}} @onBlur={{queue (action "formatDecimal" "amount") (perform save)}} @class="default" @required="style" />
  <InputField::VatRateSelect @value={{model.vatRate}} @onSelectionChange={{queue (action (mut model.vatRate)) (perform save)}} @class="md-input-wrapper large" @required="style" />
</div>
