<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--offer--entry flex-100 layout-column">
    <DetailListItem @label="Datum">
      {{fmt-date this.model.offerDate}}
    </DetailListItem>
    {{#if this.model.isMasteredByAccess}}
      <DetailListItem @label="Bedrag">
        {{fmt-currency this.model.amount}}
      </DetailListItem>
    {{/if}}
    <DetailListItem @label="BTW tarief">
      {{this.model.vatRate.name}} BTW
    </DetailListItem>
    <DetailListItem @label="Bezoeker">
      {{this.model.request.visitor}}
    </DetailListItem>
    <DetailListItem @label="Referentie">
      {{this.model.reference}}
    </DetailListItem>
    <DetailListItem @label="Opmerking">
      <span class="html-body">{{this.model.comment}}</span>
    </DetailListItem>
  </div>
  <VisitDetailPanel @model={{this.model.request}} />
</div>

{{yield}}