<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--offer--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{fmt-date model.offerDate}}
    {{/detail-list-item}}
    {{#if model.isMasteredByAccess}}
      {{#detail-list-item label="Bedrag"}}
        {{fmt-currency model.amount}}
      {{/detail-list-item}}
    {{/if}}
    {{#detail-list-item label="BTW tarief"}}
      {{model.vatRate.name}} BTW
    {{/detail-list-item}}
    {{#detail-list-item label="Referentie"}}
      {{model.reference}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.request.comment}}</span>
    {{/detail-list-item}}
  </div>
  {{visit-detail-panel model=model.request.calendarEvent onSync=(action "reloadVisit")}}
</div>

{{yield}}