<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} offerte {{@model.number}}
    </h2>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div>
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      <PaperButton @onClick={{fn this.openEdit}} @iconButton={{true}} @disabled={{this.isDisabledEdit}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
    {{/if}}
  </div>
</div>

{{#if this.hasOrder}}
  <WarningMessage @message="Reeds besteld. Geen wijzigingen meer mogelijk." />
{{else if @model.isMasteredByAccess}}
  <WarningMessage @message="De offerte is aangemaakt in Access en kan hier niet gewijzigd worden." />
{{else if this.hasMixedVatRates}}
  <InfoMessage @message="De offerte bevat items met verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden." />
{{/if}}

{{#if this.remove.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het verwijderen...</p>
  </div>
{{else if this.rollbackTree.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not @model.id) @model.isSavivg)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  {{#if @editMode}}
    <OfferEditForm @model={{@model}} @save={{this.save}} />
  {{else}}
    <OfferDetailPanel @model={{@model}} />
  {{/if}}

  {{#if @model.isMasteredByAccess}}
    <h2>Offerte</h2>
    <p class="note-message">De offerte is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.</p>
  {{else}}
    <div class="layout-row layout-align-space-between-center">
      <h2>Offerte
        <span class="small-text-fade">[
          {{#if @editMode}}
            <Input @value={{@model.documentVersion}} @key-up={{fn (mut @model.documentVersion)}} @focus-out={{perform this.save}} class="xsmall" />
            <PaperTooltip>
              Pas het versienummer aan om een nieuwe versie van het document te maken; anders wordt het vorige document overschreven.
            </PaperTooltip>
          {{else}}
            {{@model.documentVersion}}
          {{/if}}
          ]
        </span>
      </h2>
      <div>
        {{#if this.generateOfferDocument.isRunning}}
          <PaperProgressCircular @diameter={{18}} />
        {{else}}
          {{#unless @editMode}}
            <PaperButton @onClick={{fn this.downloadOfferDocument}} @iconButton={{true}}>
              {{paper-icon "find in page"}}
              <PaperTooltip>Offerte bekijken</PaperTooltip>
            </PaperButton>
          {{/unless}}
          {{#unless this.isDisabledEdit}}
            <PaperButton @onClick={{perform this.generateOfferDocument}} @iconButton={{true}}>
              {{paper-icon "restore page"}}
              <PaperTooltip>Offerte maken</PaperTooltip>
            </PaperButton>
          {{/unless}}
        {{/if}}
      </div>
    </div>

    {{#if @editMode}}
      <div class="offer-document-form layout-column">
        <section>
          <label>Introductie</label>
          <RichTextArea @class="offer-intro" @value={{@model.documentIntro}} @onChange={{fn (mut @model.documentIntro)}} @focusOut={{perform this.save}} />
        </section>
        <section>
          <div class="layout-row layout-align-start-center">
            <label>Producten</label>
          </div>
          {{#each this.sortedOfferlines as |offerline|}}
            <OfferlineEditForm @model={{offerline}} @onDelete={{fn this.deleteOfferline}} />
          {{else}}
            <div class="note note--info">Nog geen producten toegevoegd. Klik <span class="link-action" {{on "click" this.addOfferline}} role="button">hier</span> om producten toe te voegen aan de offerte.</div>
          {{/each}}
          <div class="layout-row layout-align-end-center">
            <div class="link-action" {{on "click" this.addOfferline}} role="button">{{paper-icon "add"}} Lijn toevoegen</div>
          </div>
        </section>
        <section>
          <label>Voorwaarden</label>
          <RichTextArea @class="offer-outro" @value={{@model.documentOutro}} @onChange={{fn (mut @model.documentOutro)}} @focusOut={{perform this.save}} />
        </section>
      </div>
  {{else}}
      <div class="offer-document layout-column">
        <section>{{{@model.documentIntro}}}</section>
        <section><OfferlinesDetailPanel @model={{@model.offerlines}} /></section>
        <section>{{{@model.documentOutro}}}</section>
      </div>
    {{/if}}
  {{/if}}
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
