<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--offer--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{fmt-date model.offerDate}}
    {{/detail-list-item}}
    {{#detail-list-item label="Volgnummer"}}
      {{model.sequenceNumber}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bedrag"}}
      {{fmt-currency model.amount}} ({{model.vatRate.name}} BTW)
    {{/detail-list-item}}
    {{#detail-list-item label="Werkuren"}}
      {{fmt-decimal model.foreseenHours}} uur x
      <span class="{{if isNbOfPersonsWarning "warning-inline"}}">{{model.foreseenNbOfPersons}} man</span>
      = {{model.foreseenTotal}} uur
    {{/detail-list-item}}
    {{#detail-list-item label="Verzonden"}}
      {{model.submissionType.name}}
    {{/detail-list-item}}
    {{#detail-list-item label="Referentie"}}
      {{model.reference}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.comment}}</span>
    {{/detail-list-item}}
  </div>
  {{visit-detail-panel model=model.request.visit onSync=(action "reloadVisit")}}
</div>

{{yield}}