<table>
  <thead>
    <th></th>
    <th>Beschrijving</th>
    <th>Bedrag</th>
    <th>BTW</th>
  </thead>
  <tbody>
    {{#each model as |offerline|}}
      <tr>
        <td>{{offerline.sequenceNumber}}</td>
        <td>{{{offerline.description}}}</td>
        <td>{{fmt-currency offerline.amount}}</td>
        <td>{{offerline.vatRate.rate}}%</td>
      </tr>
    {{else}}
      <tr><td colspan="4">Geen inhoud</td></tr>
    {{/each}}
  </tbody>
</table>
