<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      {{paper-input label="Datum" value=model.offerDateStr type="date"
          required="style" errors=(v-get model 'offerDate' 'messages')
          onChange=(queue (action (mut model.offerDateStr)) (perform save))
          class="default"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Bedrag" value=amountInput
          errors=(v-get model 'amount' 'messages')
          onChange=(action (mut amountInput)) onBlur=(queue (action "formatDecimal" "amount") (perform save))
          class="small"}}
      {{vat-rate-select value=model.vatRate
          onSelectionChange=(queue (action (mut model.vatRate)) (perform save))
          class="md-input-wrapper"}}
    </div>
    <div class="layout-row layout-align-start-end">
      {{paper-input label="Werkuren" value=foreseenHoursInput
          errors=(v-get model 'foreseenHours' 'messages')
          onChange=(action (mut foreseenHoursInput)) onBlur=(queue (action "formatDecimal" "foreseenHours") (perform save))
          class="small"}}<span class="input-postfix"> uur x</span>
      {{paper-input label="Personen" value=foreseenNbOfPersonsInput
          errors=(v-get model 'foreseenNbOfPersons' 'messages')
          onChange=(action (mut model.foreseenNbOfPersonsInput)) onBlur=(queue (action "formatDecimal" "foreseenNbOfPersons") (perform save))
          class="small"}}<span class="input-postfix"> man = {{model.foreseenTotal}} uur</span>
    </div>
    <div class="layout-row">
      {{submission-type-select value=model.submissionType
          onSelectionChange=(queue (action (mut model.submissionType)) (perform save))
          class="md-input-wrapper"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Referentie" value=model.reference
          onChange=(action (mut model.reference)) onBlur=(perform save)
          class="xxlarge"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Opmerking" value=model.comment
          onChange=(action (mut model.comment)) onBlur=(perform save)
          textarea=true passThru=(hash rows=3) class="xxlarge"}}
    </div>
  </section>
  {{visit-detail-panel model=model.request.visit}}
</div>
