<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} bestelling {{@model.offerNumber}}
    </h2>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div>
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      <PaperButton @onClick={{fn this.openEdit}} @iconButton={{true}} @disabled={{this.isDisabledEdit}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
    {{/if}}
  </div>
</div>

{{#if this.hasInvoice}}
  <WarningMessage @message="Factuur reeds opgemaakt. Geen wijzigingen meer mogelijk." />
{{else if @model.isMasteredByAccess}}
  <WarningMessage @message="De bestelling is aangemaakt in Access en kan hier niet gewijzigd worden." />
{{/if}}

{{#if this.remove.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het verwijderen...</p>
  </div>
{{else if this.rollbackTree.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not @model.id) @model.isSavivg)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  {{#if @editMode}}
    <OrderEditForm @model={{@model}} @save={{this.save}} />
  {{else}}
    <OrderDetailPanel @model={{@model}} />
  {{/if}}

  {{#if @model.isMasteredByAccess}}
    <h2>Bestelde producten</h2>
    <p class="note-message">De bestelling is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.</p>
  {{else}}
    <div class="case--order--orderlines layout-row layout-align-space-between-center">
      <h2>Bestelde producten</h2>
      <div class="layout-column layout-align-center-end">
        <div class="layout-row layout-align-start-center">
          <span class="text-fade-dark u-margin-right-small">Orderbevestiging</span>
          <div class="layout-row document-buttons">
            {{#if this.generateOrderDocument.isRunning}}
              <PaperProgressCircular @diameter={{18}} />
            {{else}}
              <div {{on "click" this.downloadOrderDocument}} role="button">
                {{paper-icon "find in page"}}
                <PaperTooltip>Orderbevestiging bekijken</PaperTooltip>
              </div>
              {{#unless this.isDisabledEdit}}
                <div {{on "click" (perform this.generateOrderDocument)}} role="button">
                  {{paper-icon "restore page"}}
                  <PaperTooltip>Orderbevestiging maken</PaperTooltip>
                </div>
              {{/unless}}
            {{/if}}
          </div>
        </div>
        <div class="layout-row layout-align-start-center">
          <span class="text-fade-dark u-margin-right-small">Leveringsbon</span>
          <div class="layout-row document-buttons">
            {{#if this.generateDeliveryNote.isRunning}}
              <PaperProgressCircular @diameter={{18}} />
            {{else}}
              <div {{on "click" this.downloadDeliveryNote}} role="button">
                {{paper-icon "find in page"}}
                <PaperTooltip>Leveringsbon bekijken</PaperTooltip>
              </div>
              {{#unless this.isDisabledEdit}}
                <div {{on "click" (perform this.generateDeliveryNote)}} role="button">
                  {{paper-icon "restore page"}}
                  <PaperTooltip>Leveringsbon maken</PaperTooltip>
                </div>
              {{/unless}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="layout-row layout-xs-column layout-align-space-between">
      <div class="case--left-panel case--deposit-invoice--entry flex-100 layout-column">
        <DetailListItem @label="Totaal" @displayRow={{true}}>
          <DetailListSubitem @label="Netto">
            <FmtCurrency @value={{this.totalAmount}} />
          </DetailListSubitem>
          <DetailListSubitem @label={{concat (get (await @model.vatRate) "rate") "% BTW"}}>
            <FmtCurrency @value={{await this.totalVat}} />
          </DetailListSubitem>
        </DetailListItem>
      </div>
    </div>
    <div class="offer-document layout-column">
      <section><OfferlinesDetailPanel @model={{@model.invoicelines}} /></section>
    </div>
  {{/if}}
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
