<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--order--entry flex-100 layout-column">
    <DetailListItem @label="Datum">
      <DetailListSubitem @label="Bestelling">
        {{fmt-date this.model.orderDate}}
      </DetailListSubitem>
      <DetailListSubitem @label="Verwacht">
        {{fmt-date this.model.expectedDate}}
      </DetailListSubitem>
      <DetailListSubitem @label="Vereist">
        {{fmt-date this.model.requiredDate}}
      </DetailListSubitem>
    </DetailListItem>
    <DetailListItem @label="Bezoeker">
      {{this.model.offer.request.visitor}}
    </DetailListItem>
    <DetailListItem @label="Referentie">
      {{this.model.reference}}
    </DetailListItem>
    <DetailListItem @label="Werkuren">
      {{fmt-decimal this.model.scheduledHours}} uur x
      <span class="{{if this.isNbOfPersonsWarning "warning-inline"}}">{{this.model.scheduledNbOfPersons}} man</span>
      = {{this.model.scheduledTotal}} uur
    </DetailListItem>
    {{#if this.model.isMasteredByAccess}}
      <DetailListItem @label="Bedrag">
        {{fmt-currency this.model.amount}}
      </DetailListItem>
    {{/if}}
    <DetailListItem @label="BTW tarief">
      {{this.model.vatRate.name}} BTW
    </DetailListItem>
    <DetailListItem @label="Voorschotten">
      {{paper-icon (if this.model.depositRequired "check_box" "check_box_outline_blank")}} Nodig
      <DetailListSubitem @label="Bedrag" @click={{fn this.goToDepositInvoices}} @class="clickable">
        {{fmt-currency this.depositsAmount}} {{paper-icon "info" size=18}}
      </DetailListSubitem>
    </DetailListItem>
    <DetailListItem @label="Voorschot facturen">
      <DetailListSubitem @label="Bedrag" @click={{fn this.goToDepositInvoices}} @class="clickable">
        {{fmt-currency this.depositInvoicesAmount}} {{paper-icon "info" size=18}}
      </DetailListSubitem>
    </DetailListItem>
    <DetailListItem @label="Opmerking">
      <span class="html-body">{{this.model.comment}}</span>
    </DetailListItem>
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    <PlanningDetailPanel @model={{this.model}} />
    <DetailListItem @label="Uitvoering">
      <PaperRadioGroup @groupValue={{readonly this.model.execution}} @onChange={{null}} as |group|>
        <group.radio @value="installation">{{order-execution 'installation'}}</group.radio>
        <group.radio @value="delivery">{{order-execution 'delivery'}}</group.radio>
        <group.radio @value="pickup">{{order-execution 'pickup'}}</group.radio>
      </PaperRadioGroup>
    </DetailListItem>
    <DetailListItem @label="Productiebon">
      <div class="layout-row layout-align-start-center">
        <div>{{paper-icon (if this.model.hasProductionTicket "check_box" "check_box_outline_blank")}}</div>
        <ProductionTicketButtons @model={{this.model}} />
      </div>
    </DetailListItem>
    <DetailListItem @label="Product klaar">
      {{paper-icon (if this.model.isReady "check_box" "check_box_outline_blank")}}
    </DetailListItem>
    <DetailListItem @label="Afgesloten">
      {{paper-icon (if this.model.canceled "check_box" "check_box_outline_blank")}}
      {{#if this.model.canceled}}
        <DetailListSubitem @label="Reden">
          {{#if this.model.cancellationReason}}
            <span class="html-body">{{this.model.cancellationReason}}</span>
          {{else}}
            -
          {{/if}}
        </DetailListSubitem>
      {{/if}}
    </DetailListItem>
  </div>
</div>

{{yield}}

<DocumentNotFoundDialog @show={{this.showProductionTicketNotFoundDialog}}>
  <p>Er is nog geen productiebon opgeladen.</p>
</DocumentNotFoundDialog>
