<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{this.model.orderDateStr}} @type="date" @required="style" @errors={{v-get this.model "orderDate" "messages"}} @onChange={{queue (fn (mut this.model.orderDateStr)) (perform this.save)}} @class="default" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Verwacht" @value={{this.model.expectedDateStr}} @type="date" @onChange={{queue (fn (mut this.model.expectedDateStr)) (perform this.save)}} @class="default" />
      <PaperInput @label="Vereist" @value={{this.model.requiredDateStr}} @type="date" @onChange={{queue (fn (mut this.model.requiredDateStr)) (perform this.save)}} @class="default" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bezoeker" @value={{this.visitor}} @isOnRoad={{true}} @isTechnician={{true}} @onSelectionChange={{queue (fn this.setVisitor) (perform this.save)}} @class="md-input-wrapper large" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Referentie klant" @value={{this.model.reference}} @onChange={{fn (mut this.model.reference)}} @onBlur={{perform this.save}} @class="large" />
    </div>
    <div class="u-bold">Geplande uren</div>
    <div class="layout-row layout-align-start-end">
      <PaperInput @label="Werkuren" @value={{this.scheduledHoursInput}} @errors={{v-get this.model "scheduledHours" "messages"}} @onChange={{fn (mut this.scheduledHoursInput)}} @onBlur={{queue (fn this.formatDecimal "scheduledHours") (perform this.save)}} @class="small" /><span class="input-postfix"> uur x</span>
      <PaperInput @label="Personen" @value={{this.scheduledNbOfPersonsInput}} @errors={{v-get this.model "scheduledNbOfPersons" "messages"}} @onChange={{fn (mut this.scheduledNbOfPersonsInput)}} @onBlur={{queue (fn this.formatDecimal "scheduledNbOfPersons") (perform this.save)}} @class="small" /><span class="input-postfix"> man = {{this.model.scheduledTotal}} uur</span>
    </div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Voorschot nodig" @value={{this.model.depositRequired}} @onChange={{queue (fn (mut this.model.depositRequired)) (perform this.save)}} />
    </div>
  </section>
  <section class="case--right-panel flex-noshrink layout-column">
    <div class="u-bold">Uitvoering</div>
    <div class="note note--info">De planning in de agenda kan in een volgende stap ingevuld worden</div>
    <div class="layout-row">
      <PaperRadioGroup @groupValue={{readonly this.model.execution}} @onChange={{queue (fn this.setExecution) (perform this.save)}} as |group|>
        <group.radio @value="installation">{{order-execution 'installation'}}</group.radio>
        <group.radio @value="delivery">{{order-execution 'delivery'}}</group.radio>
        <group.radio @value="pickup">{{order-execution 'pickup'}}</group.radio>
      </PaperRadioGroup>
    </div>
    <div class="u-bold">Status</div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Productiebon" @value={{this.model.hasProductionTicket}} @onChange={{queue (fn (mut this.model.hasProductionTicket)) (perform this.save)}} />
      <ProductionTicketButtons @model={{this.model}} />
    </div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Product klaar" @value={{this.model.isReady}} @onChange={{queue (fn (mut this.model.isReady)) (perform this.save)}} />
    </div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Afgesloten" @value={{this.model.canceled}} @onChange={{queue (fn this.setCanceled) (perform this.save)}} />
    </div>
    {{#liquid-if this.model.canceled class="expand-more"}}
      <div class="layout-row">
        <PaperInput @label="Reden" @value={{this.model.cancellationReason}} @errors={{v-get this.model "cancellationReason" "messages"}} @onChange={{fn (mut this.model.cancellationReason)}} @onBlur={{perform this.save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
      </div>
    {{/liquid-if}}
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{this.model.comment}} @onChange={{fn (mut this.model.comment)}} @onBlur={{perform this.save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
</div>

<DocumentNotFoundDialog @show={{this.showProductionTicketNotFoundDialog}}>
  <p>Er is nog geen productiebon opgeladen.</p>
</DocumentNotFoundDialog>
