{{#if model.isPlanningMasteredByAccess}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning">
      <h3>{{paper-icon "event"}} Planning</h3>
      <div class="case--order--planning--description">
        {{#if model.planningDate}}{{fmt-date model.planningDate}}{{else}}Niet ingepland{{/if}}
      </div>
      <div class="layout-row layout-align-end note note--info">Beheerd door Access</div>
    </div>
  </div>
{{else}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning {{if isNotAvailableInCalendar "not-found"}}">
      <div class="layout-row layout-align-space-between-center">
        <h3>{{paper-icon "event"}} Planning</h3>
        {{#if editMode}}
          <div>
          <PaperButton @onClick={{action "remove"}} @iconButton={{true}}>
            {{paper-icon "delete"}}
            <PaperTooltip>Verwijderen</PaperTooltip>
          </PaperButton>
          <PaperButton @onClick={{perform planEvent}} @iconButton={{true}}>
            {{paper-icon "exit to app"}}
            <PaperTooltip>Sluiten</PaperTooltip>
          </PaperButton>
          </div>
        {{else}}
          <div>
            {{#if model.planningDate}}
              <PaperButton @iconButton={{true}} @onClick={{perform synchronize}}>
                {{paper-icon "sync"}}
                <PaperTooltip>Stuur wijzigingen naar agenda</PaperTooltip>
              </PaperButton>
            {{/if}}
            {{#unless isNotAvailableInCalendar}}
              <PaperButton @onClick={{action "openEdit"}} @iconButton={{true}} @disabled={{isDisabledEdit}}>
                {{paper-icon "edit mode"}}
                <PaperTooltip>Aanpassen</PaperTooltip>
              </PaperButton>
            {{/unless}}
          </div>
        {{/if}}
      </div>
      <div class="case--order--planning--description">
        {{#if editMode}}
          {{#if planEvent.isRunning}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            <PaperInput @label="Datum" @value={{inputDateStr}} @type="date" @onChange={{action (mut inputDateStr)}} @class="default" />
          {{/if}}
        {{else}}
          {{#if model.planningDate}}{{fmt-date model.planningDate}}{{else}}Niet ingepland{{/if}}
        {{/if}}
        <div class="col--subject">
          {{#if loadCalendarEvent.isRunning}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            {{calendarSubject}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{yield}}