{{#if model.isPlanningMasteredByAccess}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning">
      <h3>{{paper-icon "event"}} Planning</h3>
      <div class="case--order--planning--description">
        {{#if model.planningDate}}{{fmt-date model.planningDate}}{{else}}Niet ingepland{{/if}}
      </div>
      <div class="layout-row layout-align-end note note--info">Beheerd door Access</div>
    </div>
  </div>
{{else}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning">
      <div class="layout-row layout-align-space-between-center">
        <h3>{{paper-icon "event"}} Planning</h3>
        {{#if editMode}}
          <div>
          {{#paper-button onClick=(action "remove") iconButton=true}}
            {{paper-icon "delete"}}
            {{#paper-tooltip}}Verwijderen{{/paper-tooltip}}
          {{/paper-button}}
          {{#paper-button onClick=(perform planEvent) iconButton=true}}
            {{paper-icon "exit to app"}}
            {{#paper-tooltip}}Sluiten{{/paper-tooltip}}
          {{/paper-button}}
          </div>
        {{else}}
          <div>
            {{#paper-button iconButton=true onClick=(perform synchronize)}}
              {{paper-icon "sync"}}
              {{#paper-tooltip}}Stuur wijzigingen naar agenda{{/paper-tooltip}}
            {{/paper-button}}
            {{#paper-button onClick=(action "openEdit") iconButton=true disabled=isDisabledEdit}}
              {{paper-icon "edit mode"}}
              {{#paper-tooltip}}Aanpassen{{/paper-tooltip}}
            {{/paper-button}}
          </div>
        {{/if}}
      </div>
      <div class="case--order--planning--description">
        {{#if editMode}}
          {{#if planEvent.isRunning}}
            {{paper-progress-circular diameter=25}}
          {{else}}
            {{paper-input label="Datum" value=inputDateStr type="date"
                onChange=(action (mut inputDateStr)) class="default"}}
          {{/if}}
        {{else}}
          {{#if model.planningDate}}{{fmt-date model.planningDate}}{{else}}Niet ingepland{{/if}}
        {{/if}}
        <div class="col--subject">
          {{#if loadCalendarEvent.isRunning}}
            {{paper-progress-circular diameter=25}}
          {{else}}
            {{calendarSubject}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{yield}}