<div class="production-ticket-buttons layout-row layout-align-start-center">
  {{#if (or this.generateTemplate.isRunning this.upload.isRunning)}}
    <PaperProgressCircular @diameter={{20}} />
  {{else}}
    <div class="production-ticket--buttons">
      <PaperButton @onClick={{perform this.generateTemplate}} @iconButton={{true}}>
        {{paper-icon "restore page"}}
        <PaperTooltip>Maak nieuwe productiebon</PaperTooltip>
      </PaperButton>

      {{#if this.model.hasProductionTicket}}
        <PaperButton @onClick={{fn this.download}} @iconButton={{true}}>
          {{paper-icon "find in page"}}
          <PaperTooltip>Productiebon bekijken</PaperTooltip>
        </PaperButton>
        <PaperButton @onClick={{fn this.delete}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Productiebon verwijderen</PaperTooltip>
        </PaperButton>
      {{else}}
        <FileUpload @name={{this.fileUploadField}} @accept="application/pdf" @class="production-ticket-upload" @onfileadd={{perform this.upload}} as |queue|>
          {{#if this.hasUploadError}}
            {{paper-icon "error" primary=true}}
            <PaperTooltip>Bestand niet correct opgeladen</PaperTooltip>
          {{/if}}
          {{#if queue.files.length}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            <i class="material-icons md-18">cloud_upload</i>
            <PaperTooltip>Productiebon opladen</PaperTooltip>
          {{/if}}
        </FileUpload>
      {{/if}}
    </div>
  {{/if}}
</div>