<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--request--entry flex-100 layout-column">
    <DetailListItem @label="Datum">
      <FmtDate @value={{this.model.requestDate}} />
    </DetailListItem>
    <DetailListItem @label="Aanmelding">
      {{this.model.wayOfEntry.name}}
    </DetailListItem>
    <DetailListItem @label="Bediende">
      {{this.model.employee}}
    </DetailListItem>
    <DetailListItem @label="Bezoek nodig">
      {{paper-icon (if this.model.requiresVisit "check_box" "check_box_outline_blank")}}
    </DetailListItem>
    <DetailListItem @label="Bezoeker">
      {{this.model.visitor}}
    </DetailListItem>
    <DetailListItem @label="Opmerking">
      <span class="html-body">{{this.model.comment}}</span>
    </DetailListItem>
  </div>
  {{#if this.isLinkedToCustomer}}
    <VisitDetailPanel @model={{this.model}} />
  {{/if}}
</div>
