<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      {{#if editMode}}Bewerk details{{else}}Overzicht{{/if}} aanvraag {{model.id}} {{visitor.initials}}
    </h2>
    {{#if editMode}}
      <SaveStatusIcon @model={{model}} @task={{save}} />
    {{/if}}
  </div>
  <div>
    {{#if editMode}}
      {{#if isEnabledDelete}}
        <PaperButton @onClick={{perform remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{action "closeEdit"}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      <PaperButton @onClick={{action "openEdit"}} @iconButton={{true}} @disabled={{isDisabledEdit}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
      {{#if isLinkedToCustomer}}
        <PaperButton @onClick={{perform unlinkCustomer}} @iconButton={{true}} @disabled={{isDisabledUnlinkCustomer}}>
          {{paper-icon "link off"}}
          <PaperTooltip>Ontkoppel klant</PaperTooltip>
        </PaperButton>
        <PaperButton @onClick={{action "generateVisitReport"}} @iconButton={{true}}>
          {{paper-icon "description"}}
          <PaperTooltip>Bezoekrapport</PaperTooltip>
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{action "linkCustomer"}} @iconButton={{true}}>
          {{paper-icon "link"}}
          <PaperTooltip>Koppel klant</PaperTooltip>
        </PaperButton>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if isDisabledEdit}}
  <WarningMessage @message="Offerte reeds opgemaakt. Geen wijzigingen meer mogelijk." />
{{/if}}

{{#if editMode}}
  {{#if remove.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het verwijderen...</p>
    </div>
  {{else if rollbackTree.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not model.id) model.isSavivg)}}
    <div>
      <PaperProgressLinear />
      <p>Aan het aanmaken...</p>
    </div>
  {{else if unlinkCustomer.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aanvraag aan het loskoppelen van klant...</p>
    </div>
  {{else}}
    <RequestEditForm @model={{model}} @save={{save}} />
  {{/if}}
{{else}}
  <RequestDetailPanel @model={{model}} />
{{/if}}

<UnsavedChangesDialog @show={{showUnsavedChangesDialog}} @onConfirm={{action "confirmCloseEdit"}} />
