<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      {{paper-input label="Datum" value=model.requestDateStr type="date"
          required="style" errors=(v-get model 'requestDate' 'messages')
          onChange=(queue (action (mut model.requestDateStr)) (perform save))
          class="default"}}
    </div>
    <div class="layout-row">
      {{employee-select label="Bediende" value=employee
          onSelectionChange=(queue (action "setEmployee") (perform save))
          class="md-input-wrapper large"}}
      {{way-of-entry-select value=model.wayOfEntry
          onSelectionChange=(queue (action (mut model.wayOfEntry)) (perform save))
          class="md-input-wrapper default"}}
    </div>
    {{#if isLinkedToCustomer}}
      <div class="layout-row layout-align-start-center">
        {{paper-checkbox label="Bezoek nodig" value=model.requiresVisit
            disabled=hasVisitMasteredByAccess onChange=(action "setRequiresVisit")}}
      </div>
    {{/if}}
    <div class="layout-row">
      {{employee-select label="Bezoeker" value=visitor function='B'
          onSelectionChange=(queue (action "setVisitor") (perform save))
          class="md-input-wrapper large"}}
    </div>
    <div class="layout-row">
      {{paper-input label="Opmerking" value=model.comment
          onChange=(action (mut model.comment)) onBlur=(perform save)
          textarea=true passThru=(hash rows=3) class="xxlarge"}}
    </div>
  </section>
  {{#if isLinkedToCustomer}}
    {{#if hasVisitMasteredByAccess}}
      {{visit-detail-panel model=model.calendarEvent}}
    {{else if model.requiresVisit}}
      {{visit-edit-form model=model.calendarEvent save=saveCalendarEvent}}
    {{/if}}
  {{/if}}
</div>
