<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{this.model.requestDateStr}} @type="date" @required="style" @errors={{v-get this.model "requestDate" "messages"}} @onChange={{queue (action (mut this.model.requestDateStr)) (perform this.save)}} @class="default" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bediende" @value={{this.employee}} @isAdministrative={{true}} @onSelectionChange={{queue (action "setEmployee") (perform this.save)}} @class="md-input-wrapper large" />
      <InputField::WayOfEntrySelect @value={{this.model.wayOfEntry}} @onSelectionChange={{queue (action (mut this.model.wayOfEntry)) (perform this.save)}} @class="md-input-wrapper default" />
    </div>
    {{#if this.isLinkedToCustomer}}
      <div class="layout-row layout-align-start-center">
        <PaperCheckbox @label="Bezoek nodig" @value={{this.model.requiresVisit}} @disabled={{this.hasVisitMasteredByAccess}} @onChange={{action "setRequiresVisit"}} />
      </div>
    {{/if}}
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bezoeker" @value={{this.visitor}} @isOnRoad={{true}} @isTechnician={{true}} @onSelectionChange={{queue (action "setVisitor") (perform this.save)}} @class="md-input-wrapper large" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{this.model.comment}} @onChange={{action (mut this.model.comment)}} @onBlur={{perform this.save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
  {{#if this.isLinkedToCustomer}}
    {{#if this.hasVisitMasteredByAccess}}
      <VisitDetailPanel @model={{model}} />
    {{else if this.model.requiresVisit}}
      <VisitEditForm @model={{this.model.calendarEvent}} @save={{this.saveCalendarEvent}} />
    {{/if}}
  {{/if}}
</div>
