<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{model.requestDateStr}} @type="date" @required="style" @errors={{v-get model "requestDate" "messages"}} @onChange={{queue (action (mut model.requestDateStr)) (perform save)}} @class="default" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bediende" @value={{employee}} @isAdministrative={{true}} @onSelectionChange={{queue (action "setEmployee") (perform save)}} @class="md-input-wrapper large" />
      <InputField::WayOfEntrySelect @value={{model.wayOfEntry}} @onSelectionChange={{queue (action (mut model.wayOfEntry)) (perform save)}} @class="md-input-wrapper default" />
    </div>
    {{#if isLinkedToCustomer}}
      <div class="layout-row layout-align-start-center">
        <PaperCheckbox @label="Bezoek nodig" @value={{model.requiresVisit}} @disabled={{hasVisitMasteredByAccess}} @onChange={{action "setRequiresVisit"}} />
      </div>
    {{/if}}
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bezoeker" @value={{visitor}} @isOnRoad={{true}} @isTechnician={{true}} @onSelectionChange={{queue (action "setVisitor") (perform save)}} @class="md-input-wrapper large" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{model.comment}} @onChange={{action (mut model.comment)}} @onBlur={{perform save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
  {{#if isLinkedToCustomer}}
    {{#if hasVisitMasteredByAccess}}
      <VisitDetailPanel @model={{model}} />
    {{else if model.requiresVisit}}
      <VisitEditForm @model={{model.calendarEvent}} @save={{saveCalendarEvent}} />
    {{/if}}
  {{/if}}
</div>
