<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--request--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{fmt-date model.requestDate}}
    {{/detail-list-item}}
    {{#detail-list-item label="Aanmelding"}}
      {{model.wayOfEntry.name}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bediende"}}
      {{model.employee}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bezoek nodig"}}
      {{paper-checkbox value=model.requiresVisit onChange=null}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.comment}}</span>
    {{/detail-list-item}}
  </div>
  {{#if isLinkedToCustomer}}
    {{visit-detail-panel model=model.visit onSync=(action "reloadVisit")}}
  {{/if}}
</div>
