<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  {{paper-input label="Nummer" value=number onChange=(action "setFilter" "number") class="small"}}
  {{paper-input label="Gebouw" value=name onChange=(action "setFilter" "name")}}
  {{paper-input label="Adres" value=street onChange=(action "setFilter" "street") class="large"}}
  {{paper-input label="Postcode" value=postalCode onChange=(action "setFilter" "postalCode") class="small"}}
  {{paper-input label="Gemeente" value=city onChange=(action "setFilter" "city")}}
  {{#paper-button iconButton=true onClick=(action "resetFilters")}}
    {{paper-icon "close"}}
    {{#paper-tooltip}}Verwijder filters{{/paper-tooltip}}
  {{/paper-button}}
</div>

{{#data-table content=requests isLoading=(not search.isIdle) noDataMessage="Geen aanvragen"
     onClickRow=(action "clickRow") page=page size=size sort=sort as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='number' currentSorting=sort label='Nr'}}
      {{th-sortable field='request-date' currentSorting=sort label='Datum'}}
      <th>Gebouw</th>
      <th>Adres</th>
      <th>Postcode</th>
      <th>Gemeente</th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.id}}</td>
      <td>{{fmt-date row.requestDate}}</td>
      <td>{{row.building.printName}}</td>
      <td>{{row.building.address1}}</td>
      <td>{{row.building.postalCode}}</td>
      <td>{{row.building.city}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}

<div class="layout-row layout-align-end">
  {{#paper-button primary=true fab=true raised=true mini=true onClick=(action "openNewRequest")}}
    {{paper-icon "add"}}
    {{#paper-tooltip}}Maak nieuwe aanvraag{{/paper-tooltip}}
  {{/paper-button}}
</div>

{{yield}}