<span class="save-status">
  {{#if @task.isRunning}}
    {{paper-icon "sync" class="running"}}
    <PaperTooltip>Aan het opslaan</PaperTooltip>
  {{else}}
    {{#if @model.validations.isInvalid}}
      {{paper-icon "error outline" class="error"}}
      <PaperTooltip>Ongeldig</PaperTooltip>
    {{else if (or @model.isError @task.last.isError)}}
      {{paper-icon "error outline" class="error"}}
      <PaperTooltip>Fout bij opslaan</PaperTooltip>
    {{else}}
      {{paper-icon "check circle outline" class="success"}}
      <PaperTooltip>Opgeslagen</PaperTooltip>
    {{/if}}
  {{/if}}
</span>