<td onclick={{perform this.remove}} role="button">
  {{paper-icon "delete"}}
</td>
<td>
  <InputField::TelephoneTypeSelect @value={{this.model.telephoneType}} @onSelectionChange={{queue (fn (mut this.model.telephoneType)) (perform this.save)}} @errors={{v-get this.model "telephoneType" "messages"}} @class="md-input-wrapper small" />
</td>
<td>
  <InputField::TelephonePrefixSelect @value={{this.model.country}} @onSelectionChange={{queue (fn (mut this.model.country)) (perform this.save)}} @errors={{v-get this.model "country" "messages"}} @class="md-input-wrapper small" />
</td>
<td>
  <PaperInput @value={{this.model.area}} @onChange={{fn this.setArea}} @onBlur={{perform this.save}} @errors={{v-get this.model "area" "messages"}} @required="style" @class="xsmall" />
</td>
<td>
  <PaperInput @value={{this.formattedNumber}} @onChange={{fn this.setNumber}} @onBlur={{perform this.save}} @errors={{union (v-get this.model "number" "messages") this.errorMessages}} @required="style" @class="small" />
</td>
<td>
  <PaperInput @value={{this.model.memo}} @onChange={{fn (mut this.model.memo)}} @onBlur={{perform this.save}} @class="large" />
</td>
<td>
  <SaveStatusIcon @model={{this.model}} @task={{this.save}} />
</td>
