<table class="telephone-edit-table">
  <thead>
    <th></th>
    <th>Type</th>
    <th>Land</th>
    <th>Zone</th>
    <th>Nummer</th>
    <th>Memo</th>
  </thead>
  <tbody>
    {{#if this.initCopiedTelephones.isRunning}}
      <tr><td colspan="6">Aan het laden...</td></tr>
    {{else}}
      {{#each this.sortedTelephones as |telephone|}}
        <tr>
          <td onclick={{perform this.removeTelephone telephone}} role="button">
            {{paper-icon "delete"}}
            <PaperTooltip>Verwijder nummer</PaperTooltip>
          </td>
          <td>{{telephone.telephoneType.name}}</td>
          <td>{{telephone.country.telephonePrefix}}</td>
          <td>{{telephone.area}}</td>
          <td>{{format-phone-number telephone.number}}</td>
          <td>{{telephone.memo}}</td>
        </tr>
      {{else}}
        {{#unless this.newTelephone}}
          <tr><td colspan="6">Geen telefoonnummers</td></tr>
        {{/unless}}
      {{/each}}
    {{/if}}
    {{#if this.newTelephone}}
      <TelephoneEditFormLine @model={{this.newTelephone}} @save={{this.updateNewTelephone}} @remove={{this.removeNewTelephone}} @errorMessages={{this.errorMessages}} />
    {{/if}}
  </tbody>
</table>
<div class="layout-row layout-align-end-center">
  <PaperButton @primary={{true}} @fab={{true}} @mini={{true}} @raised={{true}} @disabled={{this.isDisabledCreateNew}} @onClick={{perform this.createNewTelephone}}>
    {{paper-icon "add"}}
    <PaperTooltip>Voeg nieuw nummer toe</PaperTooltip>
  </PaperButton>
</div>
