<table class="telephone-edit-table">
  <thead>
    <th><!-- Buttons --></th>
    <th>Type</th>
    <th>Land</th>
    <th>Zone</th>
    <th>Nummer</th>
    <th>Memo</th>
  </thead>
  <tbody>
    {{#if (is-pending model.telephones)}}
      <tr><td colspan="6">Aan het laden...</td></tr>
    {{else}}
      {{#each (sort-by "order" "id" displayTelephones) as |telephone|}}
        <tr>
          <td onclick={{perform removeTelephone telephone}}>
            {{paper-icon "delete"}}
            <PaperTooltip>Verwijder nummer</PaperTooltip>
          </td>
          <td>{{telephone.telephoneType.name}}</td>
          <td>{{telephone.country.telephonePrefix}}</td>
          <td>{{telephone.area}}</td>
          <td>{{format-phone-number telephone.number}}</td>
          <td>{{telephone.memo}}</td>
        </tr>
      {{else}}
        {{#unless newTelephone}}
          <tr><td colspan="6">Geen telefoonnummers</td></tr>
        {{/unless}}
      {{/each}}
    {{/if}}
    {{#if newTelephone}}
      <TelephoneEditFormLine @model={{newTelephone}} @save={{updateNewTelephone}} @remove={{removeNewTelephone}} @errorMessages={{errorMessages}} />
    {{/if}}
  </tbody>
</table>
<div class="layout-row layout-align-end-center">
  <PaperButton @primary={{true}} @fab={{true}} @mini={{true}} @raised={{true}} @disabled={{isDisabledCreateNew}} @onClick={{perform createNewTelephone}}>
    {{paper-icon "add"}}
    <PaperTooltip>Voeg nieuw nummer toe</PaperTooltip>
  </PaperButton>
</div>
