{{#if this.show}}
  <PaperDialog @class="flex-50" @onClose={{fn this.cancelClose}} @clickOutsideToClose={{true}} @parent=".main-outlet" @origin=".main-outlet">
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Opgelet</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{fn this.cancelClose}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <p>Bent u zeker dat u deze pagina wil verlaten? Mogelijk zijn niet alle wijzigingen correct opgeslagen.</p>
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @onClick={{fn this.cancelClose}}>Terug</PaperButton>
      <PaperButton @onClick={{fn this.confirmClose}}>Ga toch verder</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}