{{#if (is-pending model)}}
  {{paper-progress-circular}}
{{else if model}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--request--visit">
      <div class="layout-row layout-align-space-between-center">
        <h3>{{paper-icon "event"}} Bezoek</h3>
        {{#if (not model.isMasteredByAccess)}}
          {{#paper-button iconButton=true onClick=onSync}}{{paper-icon "sync"}}{{/paper-button}}
        {{/if}}
      </div>
      {{#detail-list-item label="Datum"}}
        {{fmt-date model.visitDate}}
      {{/detail-list-item}}
      {{#detail-list-item label="Bezoeker"}}
        {{model.visitor}}
      {{/detail-list-item}}
      {{#detail-list-item label="Agenda"}}
        {{model.calendarSubject}}
      {{/detail-list-item}}
      {{#if model.isMasteredByAccess}}
        <div class="layout-row layout-align-end note note--info">Beheerd door Access</div>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="case--right-panel case--request--visit flex-noshrink layout-column">
    <h3>{{paper-icon "event"}} Geen bezoek gepland</h3>
  </div>
{{/if}}
{{yield}}