{{#if this.loadCalendarEvent.isRunning}}
  <div class="case--right-panel case--request--visit skeleton flex-noshrink layout-column layout-align-center-center">
    <PaperProgressCircular @diameter={{25}} />
  </div>
{{else}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--request--visit {{if this.isNotAvailableInCalendar "not-found"}}">
      {{#if @model.calendarEvent}}
        <div class="layout-row layout-align-space-between-center">
          <h3>{{paper-icon "event"}} Bezoek</h3>
          {{#if (not @model.calendarEvent.isMasteredByAccess)}}
            <PaperButton @iconButton={{true}} @onClick={{perform this.synchronize}}>
              {{paper-icon "sync"}}
              <PaperTooltip>Stuur wijzigingen naar agenda</PaperTooltip>
            </PaperButton>
          {{/if}}
        </div>
        <div class="case--request--visit--description">
          <DetailListItem @label="Datum">
            <FmtDate @value={{@model.calendarEvent.visitDate}} />
          </DetailListItem>
          <DetailListItem @label="Agenda">
            {{#if this.isNotAvailableInCalendar}}
              Niet gevonden
            {{else}}
              {{@model.calendarEvent.calendarSubject}}
            {{/if}}
          </DetailListItem>
          {{#if @model.calendarEvent.isMasteredByAccess}}
            <div class="layout-row layout-align-end note note--info">Beheerd door Access</div>
          {{/if}}
        </div>
      {{else}}
        <h3>{{paper-icon "event"}} Geen bezoek gepland</h3>
      {{/if}}
    </div>
  </div>
{{/if}}
{{yield}}