{{#if this.show}}
  <PaperDialog @class="flex-50" @onClose={{fn this.close}} @parent=".main-outlet" @origin=".main-outlet" @clickOutsideToClose={{true}}>
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Werkuren</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{fn this.close}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <div class="layout-row layout-align-start-center">
        <PaperInput @label="Datum" @value={{this.newWorkingHour.dateStr}} @type="date" @required="style" @errors={{v-get this.newWorkingHour "date" "messages"}} @onChange={{fn (mut this.newWorkingHour.dateStr)}} @class="default" />
        <InputField::EmployeeSelect @label="Technieker" @value={{this.newWorkingHour.employee}} @isTechnician={{true}} @isOnRoad={{true}} @isAdministrative={{true}} @optionSort={{array "functionSort:desc"}} @required="style" @errors={{v-get this.newWorkingHour "employee" "messages"}} @onSelectionChange={{fn (mut this.newWorkingHour.employee)}} @class="md-input-wrapper large u-rel-top-xxsmall" />
        {{#if this.save.isRunning}}
          <PaperProgressCircular @diameter={{18}} />
        {{else}}
          <PaperButton @label="Toevoegen" @primary={{true}} @onClick={{perform this.save}} />
        {{/if}}
      </div>

      <table>
        <thead>
          <th>Datum</th>
          <th>Technieker</th>
          <th><!-- Delete --></th>
        </thead>
        <tbody>
          {{#each this.sortedWorkingHours as |workingHour|}}
            <tr>
              <td>{{fmt-date workingHour.date}}</td>
              <td>{{workingHour.employee.firstName}}</td>
              <td>
                <PaperButton @onClick={{fn this.remove workingHour}} @iconButton={{true}}>
                  {{paper-icon "delete"}}
                  <PaperTooltip>Verwijderen</PaperTooltip>
                </PaperButton>
              </td>
            </tr>
          {{else}}
            <tr><td colspan="3">Geen werkuren</td></tr>
          {{/each}}
        </tbody>
      </table>
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @onClick={{fn this.close}}>Sluit</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}