<div class="layout-row layout-align-space-between-center">
  <h1>
    Exports naar boekhouding
    <span class="note-fade">Genereer een export voor de boekhouding van facturen die nog niet geboekt zijn.</span>
  </h1>
</div>

<AccountancyExportForm @onExport={{perform this.onExport}} />

<h2 {{action (toggle "isInvoicesExpanded" this)}}>
  Bekijk facturen
  {{#if this.isInvoicesExpanded}}
    {{paper-icon "expand_less"}}
  {{else}}
    {{paper-icon "expand_more"}}
    <span class="note-fade">Klik om een overzicht van de facturen te bekijken.</span>
  {{/if}}
</h2>
{{#liquid-if this.isInvoicesExpanded class="expand-more"}}
  <InvoicesTable @size={{50}} />
{{/liquid-if}}

<div class="u-spacer-large"></div>

<h2 {{action (toggle "isHistoryExpanded" this)}}>
  Export historiek
  {{#if this.isHistoryExpanded}}
    {{paper-icon "expand_less"}}
  {{else}}
    {{paper-icon "expand_more"}}
    <span class="note-fade">Klik om een historiek van de exports te bekijken.</span>
  {{/if}}
</h2>
{{#liquid-if this.isHistoryExpanded class="expand-more"}}
  <DataTable @content={{model}} @isLoading={{this.isLoadingModel}} @noDataMessage="Geen resultaten" @sort={{this.sort}} @page={{this.page}} @size={{this.size}} as |t|>
    <t.content as |c|>
      <c.header>
        <ThSortable @field="date" @currentSorting={{this.sort}} @label="Datum export" />
        <th>Van</th>
        <th>Tot</th>
        <th>Test</th>
      </c.header>
      <c.body as |row|>
        <td>{{fmt-date row.date}}</td>
        <td>
          {{#if row.fromNumber}}
            {{format-invoice-number row.fromNumber}}
          {{else}}
            {{fmt-date row.fromDate}}
          {{/if}}
        </td>
        <td>
          {{#if row.untilNumber}}
            {{format-invoice-number row.untilNumber}}
          {{else}}
            {{fmt-date row.untilDate}}
          {{/if}}
        </td>
        <td>
          {{#if row.isDryRun}}
            {{paper-icon "done"}}
          {{/if}}
        </td>
      </c.body>
    </t.content>
  </DataTable>
{{/liquid-if}}
