{{#if this.loadCalendarEvent.isRunning}}
  <div class="case--right-panel case--request--visit skeleton flex-noshrink layout-column layout-align-center-center">
    <PaperProgressCircular @diameter={{25}} />
  </div>
{{else}}
  <div class="relative p-4 bg-gray-100 rounded-lg
    {{if this.isNotAvailableInCalendar "border-2 border-dashed border-red-500" }}">
    {{#if this.isNotAvailableInCalendar}}
      <div class="absolute -bottom-3 -right-3 rounded shadow px-2 py-1 bg-red-600 text-white text-sm">
        Niet gevonden in de agenda
      </div>
    {{/if}}
    {{#if this.calendarEvent}}
      <div class="space-y-3">
        <div class="flex justify-between items-center">
          <div class="flex flex-row items-center">
            <div class="flex-none">
              <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </div>
            <h3 class="ml-3 text-lg font-bold text-gray-700">
              Bezoek
            </h3>
          </div>
          <div>
            {{#unless this.calendarEvent.isMasteredByAccess}}
              <button type="button"
                onClick={{this.synchronize}}
                class="text-gray-500 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                </svg>
              </button>
            {{/unless}}
          </div>
        </div>
        <dl class="-ml-12 text-sm">
          <DetailListItem @label="Datum">
            <FmtDate @value={{this.calendarEvent.visitDate}} />
          </DetailListItem>
          <DetailListItem @label="Agenda">
            {{#if this.isNotAvailableInCalendar}}
              Niet gevonden
            {{else}}
              {{this.calendarEvent.calendarSubject}}
            {{/if}}
          </DetailListItem>
        </dl>
        {{#if this.calendarEvent.isMasteredByAccess}}
          <div class="text-xs text-gray-400 italic text-right">
            Beheerd door Access
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="space-y-3">
        <div class="flex justify-between items-center">
          <div class="flex flex-row items-center">
            <div class="flex-none">
              <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </div>
            <h3 class="ml-3 text-lg font-bold text-gray-700">
              Bezoek
            </h3>
          </div>
        </div>
        <div class="pl-8 italic text-gray-400">
          Geen bezoek gepland
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}
