{{#each (take this.visibleNbOfItems (sort-by "telephoneType.code:desc" "position" @model)) as |tel|}}
  <div>
    <span class="text-xs uppercase tracking-wider text-gray-400">
      {{tel.telephoneType.code}}
    </span>
    {{format-phone tel.country.telephonePrefix tel.value}}
    {{#if tel.note}}
      <span class="text-gray-400">({{tel.note}})</span>
    {{/if}}
  </div>
{{/each}}

{{#if this.isCollapsible}}
  <Rlv::Button
    @label={{if this.isCollapsed "Toon meer" "Toon minder"}}
    @skin="secondary-link"
    @size="small"
    {{on "click" this.toggleCollapse}} />
{{/if}}
