<tr class="h-14">
  {{#if this.editMode}}
    <td class="px-3 text-sm text-gray-500">
      <InputField::TelephoneTypeSelect
        @value={{@model.telephoneType}}
        @onSelectionChange={{queue (fn (mut @model.telephoneType)) (perform @saveTask @model)}}
        class="w-16" />
    </td>
    <td class="px-3 text-sm text-gray-500">
      <InputField::TelephonePrefixSelect
        @value={{@model.country}}
        @onSelectionChange={{queue (fn (mut @model.country)) (perform @saveTask @model)}}
        class="w-24" />
    </td>
    <td class="px-3 text-sm text-gray-500">
      <input
        type="text"
        value={{this.formattedValue}}
        class="mt-1 w-36 focus:ring-red-200 focus:border-red-200 block sm:text-sm border-gray-300 rounded-md"
        {{on "input" this.setValue}}
        {{on "focusout" (perform @saveTask @model)}} />
    </td>
    <td class="px-3 text-sm text-gray-500">
      <Input
        @type="text"
        @value={{@model.note}}
        class="mt-1 w-full focus:ring-red-200 focus:border-red-200 block sm:text-sm border-gray-300 rounded-md"
        {{on "focusout" (perform @saveTask @model)}} />
    </td>
    <td class="w-20 px-3 align-middle">
      <div class="flex items-center justify-end space-x-1">
        <Util::SaveStatus
          @model={{@model}}
          @task={{@saveTask}} />
        <span class="pt-1">
          <Rlv::Button
            @label="Sluiten"
            @hideText={{true}}
            @icon="logout-box-r-line"
            @skin="secondary-naked"
            @size="large"
            class="p-0"
            {{on "click" this.closeEdit}} />
        </span>
      </div>
    </td>
  {{else}}
    <td class="w-16 px-3 py-4 text-sm text-gray-500 text-center">
      {{@model.telephoneType.code}}
    </td>
    <td class="w-24 px-3 py-4 text-sm text-gray-500 text-right">
      {{@model.country.telephonePrefix}}
    </td>
    <td class="w-36 px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
      {{format-phone-number @model.value}}
    </td>
    <td class="px-3 py-4 text-sm text-gray-500">
      {{@model.note}}
    </td>
    <td class="w-20 px-3 py-4 text-right text-sm font-medium">
      <Rlv::Button
        @label="Verwijder"
        @hideText={{true}}
        @icon="delete-bin-line"
        @skin="secondary-naked"
        @size="large"
        class="p-0"
        {{on "click" @onDelete}} />
      <Rlv::Button
        @label="Bewerk"
        @hideText={{true}}
        @icon="pencil-line"
        @skin="secondary-naked"
        @size="large"
        class="p-0"
        {{on "click" this.openEdit}} />
    </td>
  {{/if}}
</tr>
