<tr class="h-14">
  {{#if this.editMode}}
    <td class="px-3 text-sm text-gray-500">
      <InputField::TelephoneTypeSelect
        @value={{@model.telephoneType}}
        @onSelectionChange={{queue (fn (mut @model.telephoneType)) (perform @saveTask @model)}}
        class="w-16" />
    </td>
    <td class="px-3 text-sm text-gray-500">
      <InputField::TelephonePrefixSelect
        @value={{@model.country}}
        @onSelectionChange={{queue (fn (mut @model.country)) (perform @saveTask @model)}}
        class="w-24" />
    </td>
    <td class="px-3 text-sm text-gray-500">
      <input
        type="text"
        value={{this.formattedValue}}
        class="mt-1 w-36 focus:ring-red-200 focus:border-red-200 block sm:text-sm border-gray-300 rounded-md"
        {{on "input" this.setValue}}
        {{on "focusout" (perform @saveTask @model)}} />
    </td>
    <td class="px-3 text-sm text-gray-500">
      <Input
        @type="text"
        @value={{@model.note}}
        class="mt-1 w-full focus:ring-red-200 focus:border-red-200 block sm:text-sm border-gray-300 rounded-md"
        {{on "focusout" (perform @saveTask @model)}} />
    </td>
    <td class="w-20 px-3 align-middle">
      <div class="flex items-center justify-end space-x-1">
        <Util::SaveStatus
          @model={{@model}}
          @task={{@saveTask}} />
        <span class="pt-1">
          <button type="button"
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
            {{on "click" this.closeEdit}}>
            {{svg-jar "heroicons-md-logout" class="h-5 w-5"}}
          </button>
        </span>
      </div>
    </td>
  {{else}}
    <td class="w-16 px-3 py-4 text-sm text-gray-500 text-center">
      {{@model.telephoneType.code}}
    </td>
    <td class="w-24 px-3 py-4 text-sm text-gray-500 text-right">
      {{@model.country.telephonePrefix}}
    </td>
    <td class="w-36 px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
      {{format-phone-number @model.value}}
    </td>
    <td class="px-3 py-4 text-sm text-gray-500">
      {{@model.note}}
    </td>
    <td class="w-20 px-3 py-4 text-right text-sm font-medium">
      <button type="button"
        class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
        {{on "click" @onDelete}}>
        {{svg-jar "heroicons-md-trash" class="h-5 w-5"}}
      </button>
      <button type="button"
        class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
        {{on "click" this.openEdit}}>
        {{svg-jar "heroicons-md-pencil" class="h-5 w-5"}}
      </button>
    </td>
  {{/if}}
</tr>
