{{#if @label}}
  <label for="calendar-period-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selected}}
    @searchEnabled={{true}}
    @searchField="name"
    @onChange={{this.changeSelection}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    @disabled={{@disabled}}
    as |option select|
  >
    {{highlight-substr option.name select.lastSearchedText}}
  </PowerSelect>
</div>
