<div class="relative flex items-start" ...attributes>
  <div class="flex flex-grow-0 items-center h-5">
    <input
      id={{@id}}
      type="checkbox"
      checked={{this.checkedValue}}
      class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded"
      {{on "input" this.toggleValue}}>
  </div>
  {{#if @label}}
    <div class="ml-3 text-sm">
      <label for={{@id}} class="font-medium text-gray-700">{{@label}}</label>
    </div>
  {{/if}}
</div>
