{{#if @label}}
  <label for="contact-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes
  class={{if this.loadData.isRunning "animate-pulse"}}
  {{did-update (perform this.loadData) @customer}}>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selectedOption}}
    @searchEnabled={{true}}
    @searchField="searchName"
    @onChange={{this.selectOption}}
    @noMatchesMessage="Geen resultaten"
    @renderInPlace={{true}}
    @allowClear={{true}}
    @disabled={{or this.loadData.isRunning @disabled}}
    as |option select|
  >
    {{highlight-substr option.searchName select.lastSearchedText}}
  </PowerSelect>
</div>
