{{#if @label}}
  <label for="employee-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  {{#if @multiple}}
    <PowerSelectMultiple
      @placeholder={{this.placeholder}}
      @searchPlaceholder="Typ om te zoeken"
      @options={{this.options}}
      @selected={{@value}}
      @searchEnabled={{true}}
      @searchField="firstName"
      @onChange={{@onSelectionChange}}
      @noMatchesMessage="Geen resultaten"
      @allowClear={{this.allowClear}}
      as |option select|>
      {{highlight-substr option.firstName select.lastSearchedText}}
    </PowerSelectMultiple>
  {{else}}
    <PowerSelect
      @placeholder={{this.placeholder}}
      @searchPlaceholder="Typ om te zoeken"
      @options={{this.options}}
      @selected={{@value}}
      @searchEnabled={{true}}
      @searchField="firstName"
      @onChange={{@onSelectionChange}}
      @noMatchesMessage="Geen resultaten"
      @allowClear={{this.allowClear}}
      as |option select|>
      {{highlight-substr option.firstName select.lastSearchedText}}
    </PowerSelect>
  {{/if}}
</div>