{{#if @label}}
  <label for="employee-type-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @options={{this.sortedOptions}}
    @selected={{@value}}
    @searchEnabled={{false}}
    @onChange={{@onSelectionChange}}
    @allowClear={{false}}
    @disabled={{@disabled}}
    as |option|
  >
    {{option.label}}
  </PowerSelect>
</div>