{{#if @label}}
  <label for="honorific-prefix-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selectedOption}}
    @searchEnabled={{true}}
    @searchField="label"
    @onChange={{this.selectOption}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    @disabled={{or @disabled this.loadData.isRunning}}
    as |option select|
  >
    {{highlight-substr option.label select.lastSearchedText}}
  </PowerSelect>
</div>
