{{#if @label}}
  <label for="employee-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{@label}}
    @selected={{this.value}}
    @onChange={{fn this.selectValue}}
    @options={{this.options}}
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @searchPlaceholder="Typ om te zoeken"
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    @afterOptionsComponent={{component "input-field/postal-code-select/create-new"
                               onCreate=(fn (mut this.showCreateModal) true)}}
    as |option select|>
    {{#if this.titleize}}
      {{highlight-substr (titleize-extended (lowercase option.search)) select.lastSearchedText}}
    {{else}}
      {{highlight-substr option.search select.lastSearchedText}}
    {{/if}}
  </PowerSelect>
</div>

{{#if this.showCreateModal}}
  <PaperDialog @class="flex-50" @onClose={{fn (mut this.showCreateModal) false}} @clickOutsideToClose={{true}} @parent=".main-outlet" @origin=".main-outlet">
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Nieuwe postcode</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{fn (mut this.showCreateModal) false}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <div class="layout-row">
        <PaperInput @label="Postcode" @value={{this.newCode}} @onChange={{fn (mut this.newCode)}} @class="small" />
        <PaperInput @label="Gemeente" @value={{this.newCity}} @onChange={{fn (mut this.newCity)}} @class="large" />
      </div>
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      {{#if this.isAddOptionDisabled}}
        <PaperButton @onClick={{null}} @disabled={{this.isAddOptionDisabled}}>
          Voeg toe
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{fn this.addOption}}>
          Voeg toe
        </PaperButton>
      {{/if}}
    </PaperDialogActions>
  </PaperDialog>
{{/if}}
