{{#if @label}}
  <label for="employee-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{@label}}
    @selected={{this.value}}
    @onChange={{this.selectValue}}
    @options={{this.options}}
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @searchPlaceholder="Typ om te zoeken"
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    @afterOptionsComponent={{component "input-field/postal-code-select/create-new"
                               onCreate=this.openCreateNewModal}}
    as |option select|>
    {{#if this.titleize}}
      {{highlight-substr (titleize-extended (lowercase option.search)) select.lastSearchedText}}
    {{else}}
      {{highlight-substr option.search select.lastSearchedText}}
    {{/if}}
  </PowerSelect>
</div>

{{#if this.showCreateModal}}
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      {{#if this.showModalContent}}
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          {{css-transition
              enterClass="opacity-0"
              enterActiveClass="ease-out duration-300"
              enterToClass="opacity-100"
              leaveClass="opacity-100"
              leaveActiveClass="ease-in duration-200"
              leaveToClass="opacity-0"}}
          aria-hidden="true"></div>
      {{/if}}

      {{!-- This element is to trick the browser into centering the modal contents. --}}
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      {{#if this.showModalContent}}
        <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full sm:p-6"
          {{css-transition
              enterClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              enterActiveClass="ease-out duration-300"
              enterToClass="opacity-100 translate-y-0 sm:scale-100"
              leaveClass="opacity-100 translate-y-0 sm:scale-100"
              leaveActiveClass="ease-in duration-200"
              leaveToClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"}}>
          <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
            <button type="button"
              onClick={{this.closeCreateNewModal}}
          class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              <span class="sr-only">Close</span>
              {{svg-jar "heroicons-md-x" class="h-6 w-6"}}
            </button>
          </div>
          <div class="space-y-4">
            <div class="flex justify-between items-start">
              <div class="space-y-2">
                <h2 class="text-2xl font-bold font-display text-gray-900">
                  Nieuwe postcode toevoegen
                </h2>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-4 items-start">
              <div>
                <label for="postal-code" class="block text-sm font-medium text-gray-700">
                  Postcode
                </label>
                <Input
                  id="postal-code"
                  @type="text"
                  @value={{this.newCode}}
                  class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
              </div>
              <div class="col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700">
                  Gemeente
                </label>
                <Input
                  id="city"
                  @type="text"
                  @value={{this.newCity}}
                  class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
              </div>
              <div class="sm:mt-6">
                {{#if this.isAddOptionDisabled}}
                  <button type="button" disabled
                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-700 bg-gray-100">
                    Toevoegen
                  </button>
                {{else}}
                  <button type="button"
                    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    onClick={{this.addOption}}>
                    Toevoegen
                  </button>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}
