{{#if @label}}
  <label for="employee-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{@label}}
    @selected={{this.value}}
    @onChange={{this.selectValue}}
    @options={{this.options}}
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @searchPlaceholder="Typ om te zoeken"
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    @afterOptionsComponent={{component "input-field/postal-code-select/create-new"
                               onCreate=this.openCreateNewModal}}
    as |option select|>
    {{#if this.titleize}}
      {{highlight-substr (titleize-extended (lowercase option.search)) select.lastSearchedText}}
    {{else}}
      {{highlight-substr option.search select.lastSearchedText}}
    {{/if}}
  </PowerSelect>
</div>

{{#if this.showCreateModal}}
  <Rlv::Modal @width="sm:max-w-4xl sm:w-full" @onClose={{this.closeCreateNewModal}}>
    <:body>
    <div class="space-y-4">
      <div class="flex justify-between items-start">
        <div class="space-y-2">
          <h2 class="text-2xl font-bold font-display text-gray-900">
            Nieuwe postcode toevoegen
          </h2>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-4 items-start">
        <div>
          <label for="postal-code" class="block text-sm font-medium text-gray-700">
            Postcode
          </label>
          <Input
            id="postal-code"
            @type="text"
            @value={{this.newCode}}
            class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="col-span-2">
          <label for="city" class="block text-sm font-medium text-gray-700">
            Gemeente
          </label>
          <Input
            id="city"
            @type="text"
            @value={{this.newCity}}
            class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="sm:mt-6">
          {{#if this.isAddOptionDisabled}}
            <button type="button" disabled
              class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-700 bg-gray-100">
              Toevoegen
            </button>
          {{else}}
            <button type="button"
              class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
              {{on "click" this.addOption}}>
              Toevoegen
            </button>
          {{/if}}
        </div>
      </div>
    </div>
    </:body>
  </Rlv::Modal>
{{/if}}
