{{#if @label}}
  <label for="employee-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{@label}}
    @selected={{this.value}}
    @onChange={{this.selectValue}}
    @options={{this.options}}
    @searchEnabled={{true}}
    @search={{perform this.search}}
    @searchPlaceholder="Typ om te zoeken"
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    @disabled={{@disabled}}
    @afterOptionsComponent={{component "input-field/postal-code-select/create-new"
                               onCreate=this.openCreateNewModal}}
    as |option select|>
    {{#if this.titleize}}
      {{highlight-substr (titleize-extended (lowercase option.search)) select.lastSearchedText}}
    {{else}}
      {{highlight-substr option.search select.lastSearchedText}}
    {{/if}}
  </PowerSelect>
</div>

{{#if this.showCreateModal}}
  <Rlv::Modal
    @title="Nieuwe postcode toevoegen"
    @width="sm:max-w-4xl sm:w-full"
    @onClose={{this.closeCreateNewModal}}>
    <:body>
    <div class="space-y-4">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-4 items-start">
        <div>
          <label for="postal-code" class="block text-sm font-medium text-gray-700">
            Postcode
          </label>
          <Input
            id="postal-code"
            @type="text"
            @value={{this.newCode}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="col-span-2">
          <label for="city" class="block text-sm font-medium text-gray-700">
            Gemeente
          </label>
          <Input
            id="city"
            @type="text"
            @value={{this.newCity}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="sm:mt-6">
          <Rlv::Button
            @label="Toevoegen"
            @disabled={{this.isAddOptionDisabled}}
            @skin="muted"
            {{on "click" this.addOption}} />
        </div>
      </div>
    </div>
    </:body>
  </Rlv::Modal>
{{/if}}
