{{#if @label}}
  <label for="telephone-type-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div class="mt-1" ...attributes>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @options={{this.options}}
    @selected={{@value}}
    @searchEnabled={{false}}
    @onChange={{@onSelectionChange}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}} as |option|>
    {{option.name}}
  </PowerSelect>
</div>
