{{#if @label}}
  <label for="vat-rate-select" class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div ...attributes>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{@value}}
    @searchEnabled={{true}}
    @searchField="name"
    @onChange={{@onSelectionChange}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{this.allowClear}}
    as |option select|
  >
    {{highlight-substr option.name select.lastSearchedText}}
  </PowerSelect>
</div>
