<div>
  {{#if @label}}
    <label for={{this.elementId}} class="block text-sm font-medium text-gray-700">
      {{@label}}
    </label>
  {{/if}}
  <div class="mt-1 relative rounded-md shadow-sm">
    <input
      id={{this.elementId}}
      type="text"
      value={{this.formattedValue}}
      class="block w-full pr-10 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md {{if @showDuplicateVatError "border-red-300 text-red-900 placeholder-red-300"}}"
      aria-invalid={{@showDuplicateVatError}}
      aria-describedby="vat-number-error"
      {{on "change" this.updateValue}}
      {{on "focusout" @onBlur}}
      ...attributes />
    {{#if @showDuplicateVatError}}
      <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
        {{svg-jar "heroicons-md-solid-exclamation-circle" class="h-5 w-5 text-red-500"}}
      </div>
    {{/if}}
  </div>
</div>
{{#if @showDuplicateVatError}}
  <InputField::VatNumberInput::DuplicateError @customer={{@customer}} />
{{/if}}