{{#if this.isProcessing}}
  {{svg-jar "loading-circle" class="animate-spin h-4 text-gray-500"}}
{{else}}
  <div class="flex items-center">
    <div>
      <Util::DisplayCheckbox @value={{this.case.hasProductionTicket}} />
    </div>
    <Rlv::ActionMenu class="ml-3" as |Menu|>
      <Menu.Item
        @label="Maak nieuwe productiebon"
        @onClick={{perform this.generateTemplate}} />
      {{#if this.case.hasProductionTicket}}
        <Menu.Item
          @label="Bekijk productiebon"
          @onClick={{this.downloadProductionTicket}} />
        <Menu.Item
          @label="Verwijder productiebon"
          @onClick={{perform this.deleteProductionTicket}} />
      {{else}}
        <FileUpload
          @name={{this.uploadFieldName}}
          @accept="application/pdf"
          class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
          @onFileAdd={{queue Menu.Close (perform this.uploadProductionTicket)}}
          as |queue|>
          {{#if queue.files.length}}
            {{svg-jar "loading-circle" class="animate-spin h-4"}}
          {{else}}
            Laad productiebon op
          {{/if}}
        </FileUpload>
      {{/if}}
    </Rlv::ActionMenu>
  </div>
{{/if}}
