{{#if this.isProcessing}}
  {{svg-jar "loading-circle" class="animate-spin h-4 text-gray-500"}}
{{else}}
  <div class="flex items-center">
    <div>
      <Util::DisplayCheckbox @value={{this.case.hasProductionTicket}} />
    </div>
    <Rlv::ActionMenu class="ml-3" as |Menu|>
      <Menu.Item
        @label="Maak nieuwe productiebon"
        @onClick={{perform this.generateTemplate}} />
      {{#if this.case.hasProductionTicket}}
        <Menu.Item
          @label="Bekijk productiebon"
          @onClick={{this.downloadProductionTicket}} />
        <Menu.Item
          @label="Verwijder productiebon"
          @onClick={{perform this.deleteProductionTicket}} />
      {{else}}
        {{#let (file-queue
             name=this.uploadFieldName
             onFileAdded=(queue Menu.Close (perform this.uploadProductionTicket))) as |queue|}}
          <label
            for={{this.uploadFieldName}}
            role="button"
            class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900">
            {{#if (or queue.files.length this.uploadProductionTicket.isRunning)}}
              {{svg-jar "loading-circle" class="animate-spin h-4"}}
            {{else}}
              Laad productiebon op
            {{/if}}
          </label>
          <input
            type="file"
            id={{this.uploadFieldName}}
            accept="application/pdf"
            hidden
            {{queue.selectFile}}>
        {{/let}}
      {{/if}}
    </Rlv::ActionMenu>
  </div>
{{/if}}
