<div>
  <div class="layout-row layout-align-space-between-center">
    <h2>Interventies bij bestelling</h2>
    <div class="layout-row layout-align-end">
      {{#unless this.createNew.isRunning}}
        <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{perform this.createNew}}>
          {{paper-icon "add"}}
          <PaperTooltip>Maak nieuwe interventie voor bestelling</PaperTooltip>
        </PaperButton>
      {{/unless}}
    </div>
  </div>
  {{#if this.createNew.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Nieuwe interventie voor bestelling aan het maken...</p>
    </div>
  {{else}}
    <Order::Interventions::Table @order={{@order}} />
  {{/if}}
</div>