{{#each this.sortedDepositInvoices as |invoice|}}
  <DepositInvoice::ListItem
    @model={{invoice}}
    @isDisabledEdit={{@isDisabledEdit}}
    @edit={{@edit}}
    @remove={{@remove}}
    @credit={{@credit}}
  />
{{else}}
  <p>Geen voorschotfacturen</p>
{{/each}}