<div class="grid border {{if this.showUnsavedWarning "border-red-500 border-2 border-dashed" "border-gray-200"}} rounded">
  <div class="bg-gray-200 rounded-t px-4 py-2 flex justify-between items-center">
    <div class="grow-0 flex-auto flex space-x-2">
      {{#if @model.position}}
        <div class="text-gray-500 font-semibold">
          {{@model.position}}
        </div>
      {{/if}}
      {{#if @model.isSupplement}}
        <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-50 text-gray-800 uppercase tracking-wide">
          Extra
        </span>
      {{/if}}
    </div>
    <div class="pl-4 space-x-1 flex flex-col sm:flex-row justify-end items-end sm:items-baseline">
      {{#if this.editPriceMode}}
        <div>
          <InputField::DecimalInput
            @value={{@model.amount}}
            @leading="&euro;"
            @onChange={{queue (fn (mut @model.amount)) (perform @saveTask @model)}}
            class="block w-32 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
        </div>
        <div class="ml-1 text-sm text-gray-900 font-semibold">
          + {{@model.vatRate.rate}}% btw
        </div>
      {{else}}
        <div class="text-sm text-gray-900 font-semibold">
          <Fmt::Currency @value={{@model.amount}} />
        </div>
        <div class="ml-1 text-sm text-gray-900 font-semibold">
          + {{@model.vatRate.rate}}% btw
        </div>
      {{/if}}
    </div>
  </div>
  {{#if this.editMode}}
    <div class="relative" ...attributes>
      {{#if this.editDescriptionMode}}
        <InputField::RichTextArea
          @value={{@model.description}}
          @class="w-full text-sm"
          @textAreaHeight="h-full min-h-48"
          @onChange={{fn (mut @model.description)}}
          @focusOut={{perform @saveTask @model}} />
      {{else}}
        <div class="text-sm text-gray-900">
          {{{@model.description}}}
        </div>
      {{/if}}
      <div class="absolute bottom-0 right-0 px-4 py-2">
        <Util::SaveStatus @model={{@model}} @task={{@saveTask}} />
        {{#if this.editPriceMode}}
          <Rlv::Button
            @label="Verwijder"
            @hideText={{true}}
            @icon="delete-bin-line"
            @skin="secondary-naked"
            @size="large"
            class="p-0"
            {{on "click" @onDelete}} />
        {{/if}}
        <Rlv::Button
          @label="Sluiten"
          @hideText={{true}}
          @icon="logout-box-r-line"
          @skin="secondary-naked"
          @size="large"
          class="p-0"
          {{on "click" this.closeEdit}} />
      </div>
    </div>
  {{else}}
    <div class="px-4 py-4" ...attributes>
      <div class="flex flex-row justify-between">
        <div class="text-sm text-gray-900 prose max-w-none">
          {{{@model.description}}}
        </div>
        {{#unless this.isDisabledEdit}}
          <div class="grow-0 flex-auto flex items-end">
            <Rlv::Button
              @label="Bewerk"
              @hideText={{true}}
              @icon="pencil-line"
              @skin="secondary-naked"
              @size="large"
              class="p-0"
              {{on "click" this.openEdit}} />
          </div>
        {{/unless}}
      </div>
    </div>
  {{/if}}
</div>
