<div class="pt-4 pb-6 px-4 sm:px-6">
  <div class="flex justify-between items-center">
    <div class="sm:flex sm:items-center">
      <div class="flex items-center">
        {{svg-jar "search-line" class="shrink-0 mr-2 h-4 w-4 text-gray-500 fill-current"}}
        <h4 class="text-gray-700 text-sm uppercase tracking-wide">
          Zoeken
        </h4>
      </div>
      {{#if @resultCount}}
        <div class="ml-6 sm:ml-2 text-gray-500 text-xs">
          (<span class="font-medium">{{@resultCount}}</span> resultaten gevonden)
        </div>
      {{/if}}
    </div>
    <div>
      <Rlv::Button
        @label="Wis alle filters"
        @icon="filter-line"
        @skin="secondary-link"
        {{on "click" this.resetFilters}} />
    </div>
  </div>
  <div class="mt-4 grid sm:grid-cols-12 gap-4">
    <div class="sm:col-span-2 lg:col-span-1">
      <Filter::TextInput
        @label="AD nr."
        @value={{this.filter.requestNumber}}
        @onInput={{perform this.debounceFilter "requestNumber"}} />
    </div>
    <div class="sm:col-span-2">
      <Filter::TextInput
        @label="Bezoeker"
        @value={{this.filter.visitor}}
        @onInput={{perform this.debounceFilter "visitor"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-2">
      <Filter::TextInput
        @label="Referentie"
        @value={{this.filter.reference}}
        @onInput={{perform this.debounceFilter "reference"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="space-y-4 sm:col-span-12 md:col-span-6 sm:flex sm:gap-4 sm:space-y-0">
      <div>
        <InputField::FilterFlag
          @label="Reeds besteld"
          @value={{this.filter.hasOrder}}
          @onChange={{fn this.setFilter "hasOrder"}} />
      </div>
      <div>
        <InputField::FilterFlag @label="Afgesloten"
          @value={{this.filter.isCancelled}}
          @onChange={{fn this.setFilter "isCancelled"}} />
      </div>
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <Filter::TextInput
        @label="Naam"
        @value={{this.filter.name}}
        @onInput={{perform this.debounceFilter "name"}}>
        <:tooltip>
        <Tooltip::WildcardSearch @side="right" />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <Filter::TextInput
        @label="Straat"
        @value={{this.filter.street}}
        @onInput={{perform this.debounceFilter "street"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-2 lg:col-span-1">
      <Filter::TextInput
        @label="Postcode"
        @value={{this.filter.postalCode}}
        @onInput={{perform this.debounceFilter "postalCode"}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <Filter::TextInput
        @label="Gemeente"
        @value={{this.filter.city}}
        @onInput={{perform this.debounceFilter "city"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <Filter::TextInput
        @label="Telefoon"
        @value={{this.filter.telephone}}
        @onInput={{perform this.debounceFilter "telephone"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
  </div>
</div>
