<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Details
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"
              {{on "click" @onDelete}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            {{on "click" this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
            <EmberTooltip @text="Sluiten" />
          </button>
        {{else}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              {{on "click" this.openEdit}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <Visit::DetailView @model={{this.request}} />
        </div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
          <div>
            <InputField::Date
              @label="Datum"
              @value={{@model.offerDate}}
              @onChange={{queue (fn (mut @model.offerDate)) (perform this.save)}} />
          </div>
          <div>
            <InputField::VatRateSelect
              @value={{@model.vatRate}}
              @label="BTW tarief"
              @onSelectionChange={{queue (fn (mut @model.vatRate)) (perform this.save)}}
              @allowClear={{false}} />
          </div>
          <div>
            <InputField::EmployeeSelect
              @label="Bezoeker"
              @value={{this.visitor}}
              @isOnRoad={{true}}
              @onSelectionChange={{queue this.setVisitor (perform this.save)}} />
          </div>
          <div>
            <label for="reference" class="block text-sm font-medium text-gray-700">
              Referentie klant
            </label>
            <Input
              id="reference"
              @type="text"
              @value={{@model.reference}}
              class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
              {{on "focusout" (perform this.save)}} />
          </div>
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Opmerking
          </label>
          <Textarea
            id="comment"
            @value={{@model.comment}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <Visit::DetailView @model={{this.request}} />
        </div>
        <div class="space-y-2 sm:order-1">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{@model.offerDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Offertenummer">
            {{@model.number}}
          </Util::DetailItem>
          {{#if @model.isMasteredByAccess}}
            <Util::DetailItem @label="Bedrag">
              <Fmt::Currency @value={{@model.amount}} />
            </Util::DetailItem>
          {{/if}}
          <Util::DetailItem @label="BTW tarief">
            {{format-vat-rate (await @model.vatRate)}}
          </Util::DetailItem>
          <Util::DetailItem @label="Aanmelding">
            {{this.request.wayOfEntry.name}}
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoeker">
            {{this.request.visitor}}
          </Util::DetailItem>
          <Util::DetailItem @label="Referentie">
            {{@model.reference}}
          </Util::DetailItem>
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <Util::DetailItem @label="Opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>