<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Details
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <Rlv::Button
              @label="Verwijder"
              @hideText={{true}}
              @icon="delete-bin-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" @onDelete}} />
          {{/if}}
          <Rlv::Button
            @label="Sluiten"
            @hideText={{true}}
            @icon="logout-box-r-line"
            @skin="secondary-naked"
            @size="xlarge"
            class="px-2"
            {{on "click" this.closeEdit}} />
        {{else}}
          {{#unless @isDisabledEdit}}
            <Rlv::Button
              @label="Bewerk"
              @hideText={{true}}
              @icon="pencil-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" this.openEdit}} />
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <CalendarEvent::DetailView
            @title="bezoek"
            @model={{this.visit}}
            @onSynchronize={{perform this.synchronizeCalendarEvent}} />
        </div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
          <div>
            <InputField::Date
              @label="Datum"
              @value={{@model.offerDate}}
              @onChange={{queue (fn (mut @model.offerDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::EmployeeSelect
              @label="Bezoeker"
              @value={{this.visitor}}
              @isAdministrative={{true}}
              @isTechnician={{true}}
              @allowClear={{false}}
              @onSelectionChange={{queue (perform this.setVisitor) (perform this.save)}}
              class="mt-1" />
          </div>
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <CalendarEvent::DetailView
            @title="bezoek"
            @model={{this.visit}}
            @onSynchronize={{perform this.synchronizeCalendarEvent}} />
        </div>
        <div class="space-y-2 sm:order-1">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{@model.offerDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Offertenummer">
            {{@model.number}}
          </Util::DetailItem>
          <Util::DetailItem @label="Aanmelding">
            {{this.request.wayOfEntry.label}}
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoeker">
            {{this.visitor.firstName}}
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>