<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Offerte {{@model.number}}
        </h2>
        {{#if this.editMode}}
          <SaveStatusIcon
            @model={{@model}}
            @task={{this.save}}
            class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"h
              onClick={{@onDelete}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            onClick={{this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
          </button>
        {{else}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <Visit::DetailView @model={{this.request}} />
        </div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
          <div class="">
            <label for="offer-date" class="block text-sm font-medium text-gray-700">
              Datum
            </label>
            <div class="mt-1">
              <EmberFlatpickr
                @locale="nl"
                @date={{@model.offerDate}}
                @dateFormat="j-n-Y"
                @onChange={{queue this.setOfferDate (perform this.save)}}
                class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
              />
            </div>
          </div>
          <div class="">
            <InputField::VatRateSelect
              @value={{@model.vatRate}}
              @label="BTW tarief"
              @onSelectionChange={{queue (fn (mut @model.vatRate)) (perform this.save)}}
              @allowClear={{false}} />
          </div>
          <div class="">
            <InputField::EmployeeSelect
              @label="Bezoeker"
              @value={{this.visitor}}
              @isOnRoad={{true}}
              @isTechnician={{true}}
              @onSelectionChange={{queue this.setVisitor (perform this.save)}} />
          </div>
          <div class="">
            <label for="reference" class="block text-sm font-medium text-gray-700">
              Referentie klant
            </label>
            <Input
              @id="reference"
              @type="text"
              @value={{@model.reference}}
              class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
              {{on "focusout" (perform this.save)}} />
          </div>
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Opmerking
          </label>
          <Textarea
            @id="comment"
            @value={{@model.comment}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-1 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <Visit::DetailView @model={{this.request}} />
        </div>
        <div class="space-y-1 sm:order-1">
          <DetailListItem @label="Datum">
            <FmtDate @value={{@model.offerDate}} />
          </DetailListItem>
          {{#if @model.isMasteredByAccess}}
            <DetailListItem @label="Bedrag">
              <FmtCurrency @value={{@model.amount}} />
            </DetailListItem>
          {{/if}}
          <DetailListItem @label="BTW tarief">
            {{#if @model.vatRate}}
              {{@model.vatRate.name}} BTW
            {{/if}}
          </DetailListItem>
          <DetailListItem @label="Bezoeker">
            {{this.request.visitor}}
          </DetailListItem>
          <DetailListItem @label="Referentie">
            {{@model.reference}}
          </DetailListItem>
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <DetailListItem @label="Opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </DetailListItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>