{{#if (or this.delete.isRunning @model.isDeleted)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het verwijderen..." />
  </div>
{{else if (and (not @model.id) @model.isSaving)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het aanmaken..." />
  </div>
{{else}}
  <div class="space-y-4">
    {{#if this.case.current.order}}
      <AlertMessage::Warning
        @message="De offerte is reeds besteld. Er zijn geen wijzigingen meer mogelijk."
        class="shadow" />
    {{else if @model.isMasteredByAccess}}
      <AlertMessage::Warning
        @message="De offerte is aangemaakt in Access en kan hier niet gewijzigd worden."
        class="shadow" />
    {{else if this.hasMixedVatRates}}
      <AlertMessage::Info
        @message="De offerte bevat items met verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden."
        class="shadow" />
    {{/if}}

    {{!-- Details panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Offer::DetailPanel
        @model={{@model}}
        @onDelete={{perform this.delete}}
        @isDisabledEdit={{this.isDisabledEdit}}
        @isEnabledDelete={{this.isEnabledDelete}} />
    </div>

    {{!-- Document panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Offer::DocumentPanel
        @model={{@model}}
        @isDisabledEdit={{this.isDisabledEdit}} />
    </div>
  </div>
{{/if}}
