<div class="layout-row">
  <PaperInput
    @label="Datum"
    @value={{@model.paymentDateStr}}
    @type="date"
    @required="style"
    @errors={{v-get @model "paymentDate" "messages"}}
    @onChange={{fn (mut @model.paymentDateStr)}}
    @onBlur={{perform @save}}
    @class="default"
  />
  <InputField::DecimalInput
    @label="Bedrag (€)"
    @value={{@model.amount}}
    @errors={{v-get @model "amount" "messages"}}
    @onChange={{queue (fn (mut @model.amount)) (perform @save)}}
    @isRequired={{true}}
  />
  <InputField::PaymentSelect
    @value={{@model.payment}}
    @onSelectionChange={{queue (fn (mut @model.payment)) (perform @save)}}
    class="md-input-wrapper large u-rel-top-neg-normal"
  />
</div>
