<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      Bestelling {{model.requestNumber}} {{visitorPromise.initials}} - {{model.number}} maken
    </h2>
  </div>
  <div>
    <!-- Buttons on right side of title -->
  </div>
</div>

{{#if (or updateOfferVatRate.isRunning createOrder.isRunning)}}
  <div>
    {{paper-progress-linear}}
    <p>Bestelling aanmaken...</p>
  </div>
{{else}}
  {{#if hasMixedVatRates}}
    <div class="u-margin-top-small">
      {{warning-message message="De geselecteerde lijnen bevatten verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden."}}
    </div>
  {{/if}}
  <p>Klik op 1 of meer lijnen om toe te voegen aan de bestelling</p>
  <div class="case--order--offerlines-selection">
    {{#each model.offerlines as |offerline|}}
      <div class="case--order--offerlines-selection--offerline layout-row layout-align-start-center
           {{if offerline.isOrdered "case--order--offerlines-selection--offerline--ordered"}}"
           {{action (toggle "isOrdered" offerline)}}>
        <div class="col col--is-ordered">
          {{#liquid-if offerline.isOrdered class="move-up"}}
            {{paper-icon "check" size=28}}
          {{else}}
            {{paper-icon "close" size=28}}
          {{/liquid-if}}
        </div>
        <div class="col col--description">{{{offerline.description}}}</div>
        <div class="col col--amount">{{fmt-currency offerline.amount}}</div>
        <div class="col col--rate">{{offerline.vatRate.rate}}%</div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="layout-row layout-align-end-center">
  {{#paper-button onClick=(action "cancel")}}Annuleer{{/paper-button}}
  {{#paper-button primary=true raised=true onClick=(perform createOrder) disabled=isDisabledCreate}}
    Ga verder
  {{/paper-button}}
</div>

{{#if showIncompatibleVatRatesDialog}}
  {{#paper-dialog class="flex-50" onClose=(action "closeIncompatibleVatRatesDialog")
       clickOutsideToClose=true parent=".main-outlet" origin=".main-outlet"}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Opgelet</h2><span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeIncompatibleVatRatesDialog")}}
          {{paper-icon icon="close"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      <p>
        Het BTW-tarief van de offerte is {{model.vatRate.rate}}% terwijl de geselecteerde lijnen BTW-tarief {{orderedVatRate.rate}}% hebben.
      </p>
      <p>
        Mag het BTW-tarief van de offerte aangepast worden naar {{orderedVatRate.rate}}%?
      </p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "closeIncompatibleVatRatesDialog")}}Terug{{/paper-button}}
      {{#paper-button onClick=(perform updateOfferVatRate)}}Pas BTW-tarief aan{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}