<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2 class="text-2xl font-bold font-display my-4">
      Selecteer producten voor bestelling AD{{this.offer.requestNumber}} {{this.visitor.initials}} - {{this.offer.number}}
    </h2>
  </div>
</div>

{{#if (or this.updateOfferVatRate.isRunning this.createOrder.isRunning)}}
  <div>
    <PaperProgressLinear />
    <p>Bestelling aanmaken...</p>
  </div>
{{else}}
  {{#if this.hasMixedVatRates}}
    <div class="u-margin-top-small">
      <WarningMessage @message="De geselecteerde lijnen bevatten verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden." />
    </div>
  {{/if}}
  <p>Klik op 1 of meer lijnen om toe te voegen aan de bestelling</p>
  {{#if @model.length}}
    <div class="case--order--offerlines-selection">
      {{#each @model as |offerline|}}
        <div role="button" class="case--order--offerlines-selection--offerline layout-row layout-align-start-center
          {{if offerline.isOrdered "case--order--offerlines-selection--offerline--ordered"}}"
          {{on "click" (toggle "isOrdered" offerline)}}
        >
          <div class="col col--is-ordered">
            {{#liquid-if offerline.isOrdered class="move-up"}}
              {{paper-icon "check" size=28}}
            {{else}}
              {{paper-icon "close" size=28}}
            {{/liquid-if}}
          </div>
          <div class="col col--description">{{{offerline.description}}}</div>
          <div class="col col--amount"><FmtCurrency @value={{offerline.amount}} /></div>
          <div class="col col--rate">{{offerline.vatRate.rate}}%</div>
      </div>
      {{/each}}
      <div class="case--order--offerlines-selection--total layout-row layout-align-start-center">
        <div class="col col--label">Totaal bestelling</div>
        <div class="col col--amount"><FmtCurrency @value={{this.orderedAmount}} /> + BTW</div>
      </div>
    </div>
  {{else}}
    <div class="u-margin-top-small">
      <WarningMessage @message="Voeg producten toe aan de offerte alvorens u een bestelling kan opstellen." />
    </div>
  {{/if}}
{{/if}}

<div class="layout-row layout-align-end-center">
  <PaperButton @onClick={{fn this.cancel}}>Annuleer</PaperButton>
  {{#if this.isDisabledCreate}}
    <PaperButton @primary={{true}} @raised={{true}} @onClick={{null}} @disabled={{true}}>
      Ga verder
    </PaperButton>
  {{else}}
    <PaperButton @primary={{true}} @raised={{true}} @onClick={{perform this.createOrder}}>
      Ga verder
    </PaperButton>
  {{/if}}
</div>

{{#if this.showIncompatibleVatRatesDialog}}
  <PaperDialog @class="flex-50" @onClose={{fn this.closeIncompatibleVatRatesDialog}} @clickOutsideToClose={{true}} @parent=".main-outlet" @origin=".main-outlet">
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Opgelet</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{fn this.closeIncompatibleVatRatesDialog}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <p>
        Het BTW-tarief van de offerte is {{this.offer.vatRate.rate}}% terwijl de geselecteerde lijnen BTW-tarief {{this.orderedVatRate.rate}}% hebben.
      </p>
      <p>
        Mag het BTW-tarief van de offerte aangepast worden naar {{this.orderedVatRate.rate}}%?
      </p>
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @onClick={{fn this.closeIncompatibleVatRatesDialog}}>Terug</PaperButton>
      <PaperButton @onClick={{perform this.updateOfferVatRate}}>Pas BTW-tarief aan</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}