<div class="bg-white shadow rounded-lg overflow-hidden">
  <div class="divide-y divide-y-200">
    {{!-- Card header --}}
    <div class="px-6 pt-6 pb-4">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-2xl font-bold font-display text-gray-900">
            Bestelling maken voor {{format-request-number this.case.request.number}} {{this.case.request.visitor.initials}}
          </h2>
          <p class="mt-1 text-sm text-gray-400">
            Selecteer de producten om toe te voegen aan de bestelling
          </p>
        </div>
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="px-6 py-4 space-y-6">
    {{#if (or this.updateCaseVatRate.isRunning this.createOrder.isRunning)}}
      <div class="h-32">
        <Util::LoadingSpinner @label="Bestelling aanmaken..." />
      </div>
    {{else}}
      {{#if this.hasMixedVatRates}}
        <div class="">
          <AlertMessage
            @level="warning"
            @message="De geselecteerde lijnen bevatten verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden."
            class="shadow" />
        </div>
      {{/if}}
      {{#if this.offerlines.length}}
        <ul class="space-y-2">
          {{#each this.offerlines as |offerline|}}
            <li role="button"
              class="px-4 sm:py-6 sm:px-6 flex justify-between border rounded-md text-sm {{if offerline.isOrdered "text-red-600 border-red-300 bg-red-50" "text-gray-500 border-gray-200"}}"
              {{on "click" (toggle "isOrdered" offerline)}}>
              <div class="flex space-x-4 items-start">
                <div>
                  {{svg-jar (if offerline.isOrdered "checkbox-line" "checkbox-indeterminate-line")
                      class=(concat "h-6 w-6 fill-current " (if offerline.isOrdered "text-red-600" "text-gray-300"))}}
                </div>
                <div>
                  {{{offerline.description}}}
                </div>
              </div>
              <div class="text-right">
                <div class="font-semibold">
                  <Fmt::Currency @value={{offerline.amount}} />
                </div>
                <div class="text-xs">
                  + {{offerline.vatRate.rate}}% btw
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        <div class="px-2 flex justify-end space-x-4 items-baseline">
          <div class="font-medium text-gray-500">
            Totaal
          </div>
          <div class="text-lg font-medium text-red-600">
            <Fmt::Currency @value={{this.orderedAmount}} /> + BTW
          </div>
        </div>
        <div class=" px-2 flex justify-end space-x-2">
          <Rlv::Button
            @label="Annuleren"
            @skin="secondary"
            {{on "click" this.cancel}} />
          <Rlv::Button
            @label="Ga verder"
            @icon="arrow-right-s-line"
            @iconAlignment="right"
            @skin="primary"
            @disabled={{this.isDisabledCreate}}
            {{on "click" (perform this.createOrder)}} />
        </div>
      {{else}}
        <p class="text-gray-400 italic">
          Er zijn nog geen producten toegevoegd aan de offerte. Voeg producten toe alvorens u een bestelling kan opstellen.
        </p>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if this.isOpenIncompatibleVatRatesModal}}
  <Rlv::Modal @onClose={{this.closeIncompatibleVatRatesModal}}>
    <:body>
    <div class="sm:flex sm:items-start">
      <div class="mx-auto shrink-0 flex flex-none items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
        {{svg-jar "alert-fill" class="h-6 w-6 text-red-600 fill-current"}}
      </div>
      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          BTW-tarief aanpassen
        </h3>
        <div class="mt-2 space-y-2">
          <p class="text-sm text-gray-500">
            Het BTW-tarief van het dossier is {{this.case.vatRate.rate}}% terwijl de geselecteerde lijnen BTW-tarief {{this.orderedVatRate.rate}}% hebben.
          </p>
          <p class="text-sm text-gray-500">
            Mag het BTW-tarief van het dossier aangepast worden naar {{this.orderedVatRate.rate}}%?
          </p>
        </div>
      </div>
    </div>
    </:body>
    <:footer>
    <Rlv::Button
      @label="Pas BTW-tarief aan"
      @skin="primary"
      class="sm:ml-3"
      {{on "click" (perform this.updateCaseVatRate)}} />
    </:footer>
  </Rlv::Modal>
{{/if}}
