<div class="bg-white shadow rounded-lg overflow-hidden">
  <div class="divide-y divide-y-200">
    {{!-- Card header --}}
    <div class="px-6 pt-6 pb-4">
      <div class="flex justify-between items-center">
        <div>
          <h2 class="text-2xl font-bold font-display text-gray-900">
            Bestelling maken voor AD{{format-request-number this.offer.requestNumber}} {{this.visitor.initials}}
          </h2>
          <p class="text-sm text-gray-400">
            Selecteer de producten om toe te voegen aan de bestelling
          </p>
        </div>
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="px-6 py-4 space-y-6">
    {{#if (or this.updateOfferVatRate.isRunning this.createOrder.isRunning)}}
      <div class="h-32">
        <Util::LoadingSpinner @label="Bestelling aanmaken..." />
      </div>
    {{else}}
      {{#if this.hasMixedVatRates}}
        <div class="">
          <AlertMessage::Warning
            @message="De geselecteerde lijnen bevatten verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden."
            class="shadow" />
        </div>
      {{/if}}
      {{#if @model.length}}
        <ul class="space-y-2">
          {{#each @model as |offerline|}}
            <li role="button"
              class="px-4 sm:py-6 sm:px-6 flex justify-between border rounded-md {{if offerline.isOrdered "text-red-600 border-red-300 bg-red-50" "text-gray-500 border-gray-200"}}"
              {{on "click" (toggle "isOrdered" offerline)}}>
              <div class="flex space-x-4 items-start">
                <div>
                  {{! template-lint-disable no-nested-interactive}}
                  <input disabled
                    type="checkbox"
                    checked={{offerline.isOrdered}}
                    class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded" />
                  {{! template-lint-enable no-nested-interactive}}
                </div>
                <div>
                  {{{offerline.description}}}
                </div>
              </div>
              <div class="text-right">
                <div class="font-medium">
                  <Fmt::Currency @value={{offerline.amount}} />
                </div>
                <div class="text-sm">
                  + {{offerline.vatRate.rate}}% btw
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        <div class="px-2 flex justify-end space-x-4 items-baseline">
          <div class="font-medium text-gray-500">
            Totaal
          </div>
          <div class="text-lg font-medium text-red-600">
            <Fmt::Currency @value={{this.orderedAmount}} /> + BTW
          </div>
        </div>
        <div class=" px-2 flex justify-end space-x-2">
          <button type="button"
            onClick={{this.cancel}}
            class="ml-3 inline-flex items-center px-4 py-2 border border-gray-300 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
            Annuleren
          </button>
          {{#if this.isDisabledCreate}}
            <button type="button"
              disabled="disabled"
              class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-400 bg-gray-100">
              Ga verder
              {{svg-jar "heroicons-md-chevron-right" class="ml-2 -mr-1 h-5 w-5"}}
            </button>
          {{else}}
            <button type="button"
              onClick={{perform this.createOrder}}
              class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              Ga verder
              {{svg-jar "heroicons-md-chevron-right" class="ml-2 -mr-1 h-5 w-5"}}
            </button>
          {{/if}}
        </div>
      {{else}}
        <p class="text-gray-400 italic">
          Er zijn nog geen producten toegevoegd aan de offerte. Voeg producten toe alvorens u een bestelling kan opstellen.
        </p>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if this.isOpenIncompatibleVatRatesModal}}
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      {{#if this.showIncompatibleVatRatesModalContent}}
        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
          {{css-transition
              enterClass="opacity-0"
              enterActiveClass="ease-out duration-300"
              enterToClass="opacity-100"
              leaveClass="opacity-100"
              leaveActiveClass="ease-in duration-200"
              leaveToClass="opacity-0"}}
          aria-hidden="true"></div>
      {{/if}}

      {{!-- This element is to trick the browser into centering the modal contents. --}}
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
        {{css-transition
            enterClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enterActiveClass="ease-out duration-300"
            enterToClass="opacity-100 translate-y-0 sm:scale-100"
            leaveClass="opacity-100 translate-y-0 sm:scale-100"
            leaveActiveClass="ease-in duration-200"
            leaveToClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"}}>
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
          <button type="button"
            class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            onClick={{this.closeIncompatibleVatRatesModal}}>
            <span class="sr-only">Close</span>
            {{svg-jar "heroicons-md-x" class="h-6 w-6"}}
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex flex-none items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            {{svg-jar "heroicons-md-exclamation" class="h-6 w-6 text-red-600"}}
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
              BTW-tarief aanpassen
            </h3>
            <div class="mt-2 space-y-2">
              <p class="text-sm text-gray-500">
                Het BTW-tarief van de offerte is {{this.offer.vatRate.rate}}% terwijl de geselecteerde lijnen BTW-tarief {{this.orderedVatRate.rate}}% hebben.
              </p>
              <p class="text-sm text-gray-500">
                Mag het BTW-tarief van de offerte aangepast worden naar {{this.orderedVatRate.rate}}%?
              </p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <button type="button"
            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:ml-3 sm:w-auto sm:text-sm"
            onClick={{perform this.updateOfferVatRate}}>
            Pas BTW-tarief aan
          </button>
          <button type="button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
            onClick={{this.closeIncompatibleVatRatesModal}}>
            Annuleer
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
