<tr>
  {{#if this.editMode}}
    <td class="pr-4 py-2">
      <div class="w-full">
        <label for="description" class="sr-only block text-sm font-medium text-gray-700">
          Beschrijving
        </label>
        <Input
          id={{concat "description-" this.fieldId}}
          @type="text"
          @value={{@model.description}}
          class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm text-gray-700 border-gray-300 rounded-md"
          {{on "focusout" (perform this.save)}} />
      </div>
    </td>
    <td class="px-2 py-2">
      <div class="relative shadow-sm rounded-md">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
          <span class="text-gray-500 sm:text-sm">
            &euro;
          </span>
        </div>
        <InputField::DecimalInput
          @label="Bedrag"
          @hideLabel={{true}}
          @value={{@model.amount}}
          @errors={{v-get @model "amount" "messages"}}
          @onChange={{queue (fn (mut @model.amount)) (perform this.save)}}
          class="mt-1 block w-full sm:text-sm text-gray-700 pl-7 border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
      </div>
    </td>
    <td class="py-4 text-right">
      <Util::SaveStatus @model={{@model}} @task={{this.save}} />
      <span class="pt-2">
        <button type="button"
          class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
          {{on "click" this.closeEdit}}>
          {{svg-jar "heroicons-md-logout" class="h-5 w-5"}}
        </button>
      </span>
    </td>
  {{else}}
    <td class="pr-4 py-2 text-sm text-gray-700">
      {{@model.description}}
    </td>
    <td class="px-4 py-2 text-sm text-gray-700">
      <Fmt::Currency @value={{@model.amount}} />
    </td>
    {{#unless @isDisabledEdit}}
      <td class="py-2 text-right">
        <button type="button"
          class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
          {{on "click" this.openEdit}}>
          {{svg-jar "heroicons-md-pencil" class="h-5 w-5"}}
        </button>
        <button type="button"
          class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
          {{on "click" @onDelete}}>
          {{svg-jar "heroicons-md-trash" class="h-5 w-5"}}
        </button>
      </td>
    {{/unless}}
  {{/if}}
</tr>
