<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center data-table-pagination-left">
    Toon {{this.startItem}}-{{this.endItem}}
    {{#if this.total}} van {{this.total}}{{/if}}
    {{#if this.sizeOptions}} |
      <PowerSelect @options={{this.sizeOptions}} @selected={{@size}} @onChange={{fn this.setSize}} @searchEnabled={{false}} @verticalPosition="above" as |option|>
        {{option}}
      </PowerSelect> per pagina
    {{/if}}
  </div>
  {{#if this.hasMultiplePages}}
    <div class="layout-row layout-align-end-center data-table-pagination-right">
      <PaperButton @disabled={{this.isFirstPage}} @onClick={{fn this.changePage this.links.first}} @iconButton={{true}}>
        {{paper-icon "first page"}}
      </PaperButton>
      <PaperButton @disabled={{this.isFirstPage}} @onClick={{fn this.changePage this.links.prev}} @iconButton={{true}}>
        {{paper-icon "chevron left"}}
      </PaperButton>
      <PowerSelect @options={{this.pageOptions}} @selected={{this.currentPage}} @onChange={{fn this.setCurrentPage}} @searchEnabled={{false}} @verticalPosition="above" as |page|>
        {{page}}
      </PowerSelect>
      <PaperButton @disabled={{this.isLastPage}} @onClick={{fn this.changePage this.links.next}} @iconButton={{true}}>
        {{paper-icon "chevron right"}}
      </PaperButton>
      <PaperButton @disabled={{this.isLastPage}} @onClick={{fn this.changePage this.links.last}} @iconButton={{true}}>
        {{paper-icon "last page"}}
      </PaperButton>
    </div>
  {{/if}}
</div>