<td onclick={{perform @remove}} role="button">
  {{paper-icon "delete"}}
</td>
<td>
  <InputField::TelephoneTypeSelect @value={{@model.telephoneType}} @onSelectionChange={{queue (fn (mut @model.telephoneType)) (perform @save)}} @errors={{v-get @model "telephoneType" "messages"}} class="md-input-wrapper small" />
</td>
<td>
  <InputField::TelephonePrefixSelect @value={{@model.country}} @onSelectionChange={{queue (fn (mut @model.country)) (perform @save)}} @errors={{v-get @model "country" "messages"}} class="md-input-wrapper small" />
</td>
<td>
  <PaperInput @value={{@model.area}} @onChange={{fn this.setArea}} @onBlur={{perform @save}} @errors={{v-get @model "area" "messages"}} @required="style" @class="xsmall" />
</td>
<td>
  <PaperInput @value={{this.formattedNumber}} @onChange={{fn this.setNumber}} @onBlur={{perform @save}} @errors={{union (v-get @model "number" "messages") @errorMessages}} @required="style" @class="small" />
</td>
<td>
  <PaperInput @value={{@model.memo}} @onChange={{fn (mut @model.memo)}} @onBlur={{perform @save}} @class="large" />
</td>
<td>
  <SaveStatusIcon @model={{@model}} @task={{@save}} />
</td>
