<div class="flex items-center justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="rlv-page-title">
      Interventies
    </h2>
  </div>
  <div class="flex grow-0">
    <Rlv::Button
      @route="main.interventions.new"
      @label="Nieuw"
      @icon="add-line"
      @skin="primary"
      class="ml-3" />
  </div>
</div>

<div class="mt-6 bg-white shadow rounded-lg">
  <Intervention::DataTableFilter
    @number={{this.number}}
    @reference={{this.reference}}
    @name={{this.name}}
    @street={{this.street}}
    @postalCode={{this.postalCode}}
    @city={{this.city}}
    @telephone={{this.telephone}}
    @isCancelled={{this.isCancelled}}
    @hasInvoice={{this.hasInvoice}}
    @isPlanned={{this.isPlanned}}
    @resultCount={{this.model.meta.count}}
    @onChange={{this.applyFilter}} />
</div>

<div class="mt-6 bg-white shadow rounded-lg">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-200">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <DataTable::Th
                  @field="number"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{fn (mut this.sort)}}
                  class="rlv-dt-th">
                  IR
                </DataTable::Th>
                <DataTable::Th
                  @field="interventionDate"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{fn (mut this.sort)}}
                  class="rlv-dt-th">
                  Datum
                </DataTable::Th>
                <DataTable::Th
                  @field="planned-date"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{fn (mut this.sort)}}
                  class="rlv-dt-th">
                  Planning
                </DataTable::Th>
                <th class="rlv-dt-th">
                  #p
                </th>
                <th class="rlv-dt-th">
                  Naam
                </th>
                <DataTable::Th
                  @field="sortPostalCode"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{fn (mut this.sort)}}
                  class="rlv-dt-th">
                  Adres
                </DataTable::Th>
                <th class="xl:w-1/3 rlv-dt-th">
                  Beschrijving
                </th>
                <th class="rlv-dt-th"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {{#if this.isLoadingModel}}
                <tr class="animate-pulse">
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-4 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-28 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-36 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-32 bg-gray-300"></div>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr class="animate-pulse">
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-4 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-36 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-48 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-32 bg-gray-300"></div>
                  </td>
                  <td>
                  </td>
                </tr>
              {{else}}
                {{#each this.model as |row|}}
                  <tr role="button" {{on "click" (fn this.navigateToDetail row)}}>
                    <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                      <div class="flex items-center space-x-1">
                        <Case::StatusIcon @uri={{row.case.status}} />
                        <span>{{format-case-number row.case.identifier showPrefix=false}}</span>
                      </div>
                    </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500">
                      <Fmt::Date @value={{row.interventionDate}} />
                    </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500">
                      <Fmt::Date @value={{row.plannedDate}} />
                    </td>
                    <td class="px-2 py-4 text-sm text-gray-500">
                      {{row.scheduledNbOfPersons}}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-gray-900">
                      <Fmt::CustomerAndBuildingName
                        @case={{hash customer=row.customer building=row.building}} />
                    </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm text-gray-500">
                      <Address::DetailView @model={{or row.building row.customer}} />
                    </td>
                    <td class="px-4 py-4 text-xs text-gray-500 {{unless row.isExpandedDescription "block w-96 whitespace-nowrap overflow-hidden overflow-ellipsis"}}" data-expandable
                      {{on "click" (fn this.toggleDescription row)}} role="button">
                      {{row.description}}
                    </td>
                    <td class="px-4 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <Rlv::Button
                        @label="Bekijk"
                        @route="main.case.intervention.edit.index"
                        @models={{array row.case.uuid row.uuid}}
                        @skin="link" />
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="8" class="px-4 py-4 text-center text-sm text-gray-500">
                      Geen interventies gevonden.
                    </td>
                  </tr>
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <DataTable::Pagination
    @page={{this.page}}
    @size={{this.size}}
    @total={{this.model.meta.count}}
    @onPrevious={{this.previousPage}}
    @onNext={{this.nextPage}}
    @onSelectPage={{this.selectPage}} />
</div>

{{outlet}}