{{#if @label}}
  <label for={{this.fieldId}} class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<Input ...attributes
  @id={{this.fieldId}}
  @value={{this.formattedValue}}
  {{on "focusout" (fn this.updateValue this.formattedValue)}} />
