<label class="power-select--label">{{this.label}}</label>
{{#if @multiple}}
  <PowerSelectMultiple
    @placeholder={{this.placeholder}}
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selected}}
    @searchEnabled={{true}}
    @searchField="firstName"
    @onChange={{@onSelectionChange}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    as |option select|>
  {{highlight-substr option.firstName select.lastSearchedText}}
  </PowerSelectMultiple>
{{else}}
  <PowerSelect
    @placeholder={{this.placeholder}}
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selected}}
    @searchEnabled={{true}}
    @searchField="firstName"
    @onChange={{@onSelectionChange}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}}
    as |option select|>
  {{highlight-substr option.firstName select.lastSearchedText}}
  </PowerSelect>
{{/if}}
<MdErrorMessages @errors={{@errors}} />
