{{#power-select
     placeholder=label
     selected=value
     onchange=(action "selectValue")
     options=options
     searchEnabled=true
     search=(perform search)
     searchPlaceholder="Typ om te zoeken"
     noMatchesMessage="Geen resultaten"
     allowClear=true
     afterOptionsComponent=(component "input-field/postal-code-select/create-new" onCreate=(action (mut showCreateModal) true))
     as |option select|
}}
  {{#if titleize}}
    {{highlight-substr (titleize-extended (lowercase option.search)) select.lastSearchedText}}
  {{else}}
    {{highlight-substr option.search select.lastSearchedText}}
  {{/if}}
{{/power-select}}

{{#if showCreateModal}}
  {{#paper-dialog class="flex-50" onClose=(action (mut showCreateModal) false)
       clickOutsideToClose=true parent=".main-outlet" origin=".main-outlet"}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Nieuwe postcode</h2><span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action (mut showCreateModal) false)}}
          {{paper-icon icon="close"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#paper-dialog-content}}
      <div class="layout-row">
        {{paper-input label="Postcode" value=newCode onChange=(action (mut newCode)) class="small"}}
        {{paper-input label="Gemeente" value=newCity onChange=(action (mut newCity)) class="large"}}
      </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button onClick=(action "addOption") disabled=isAddOptionDisabled}}
        Voeg toe
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
