<div ...attributes>
  <label class="power-select--label">{{this.label}}</label>
  <PowerSelect
    @placeholder={{this.placeholder}}
    @options={{this.options}}
    @selected={{@value}}
    @searchEnabled={{false}}
    @onChange={{fn @onSelectionChange}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}} as |option|>
    {{option.name}}
  </PowerSelect>

  <MdErrorMessages @errors={{@errors}} />
</div>
