<div class="layout-row layout-align-start-center">
  <h1>Nieuwe aanvraag <span class="small-text-fade">[{{model.id}}]</span></h1>
  {{save-status-icon model=f.model task=f.save}}
</div>

{{#if remove.isRunning}}
  <div>
    {{paper-progress-linear}}
    <p>Aan het verwijderen...</p>
  </div>
{{else if rollbackTree.isRunning}}
  <div>
    {{paper-progress-linear}}
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not model.id) model.isSavivg)}}
  <div>
    {{paper-progress-linear}}
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  <section class="layout-column">
    {{paper-input label="Datum" value=model.requestDate type="date"
        onChange=(action (mut model.requestDate))}}
    {{way-of-entry-select value=model.wayOfEntry
        onSelectionChange=(action (mut model.wayOfEntry))
        class="md-input-wrapper"}}
    {{employee-select value=employee
        onSelectionChange=(action (mut employee))
        class="md-input-wrapper"}}
    {{paper-checkbox label="Bezoek nodig" value=model.requiresVisit
        onChange=(action (mut model.requiresVisit))}}
    {{paper-input label="Opmerking" value=model.comment
        onChange=(action (mut model.comment))
        textarea=true passThru=(hash rows=3) class="xxlarge"}}
  </section>
{{/if}}

{{liquid-outlet}}