<Case::Tabs />

{{#unless this.case.isLoadingCurrentCase}}
  <div class="mt-6 grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div class="lg:col-span-2">
      <div class="space-y-4">
        <div class="bg-white shadow rounded-lg overflow-hidden">
          <Request::DetailPanel
            @model={{this.model}}
            @onDelete={{perform this.delete}}
            @isDisabledEdit={{this.isDisabledEdit}}
            @isEnabledDelete={{this.isEnabledDelete}} />
        </div>
      </div>
    </div>
    <div class="lg:col-span-1">
      <Case::CustomerPanel @model={{null}} />
    </div>
    <div class="lg:col-span-3">
      {{outlet}}
    </div>
  </div>
{{/unless}}
