<div class="layout-row layout-align-space-between-center">
  <h1>Aanvragen</h1>
  {{#paper-button primary=true fab=true raised=true onClick=(transition-to "main.requests.new")}}
    {{paper-icon "add"}}
    {{#paper-tooltip}}Maak nieuwe aanvraag{{/paper-tooltip}}
  {{/paper-button}}
</div>

<div class="requests-data-table">
  {{request/data-table-filter
      number=number
      visitor=visitor
      cName=cName
      cStreet=cStreet
      cPostalCode=cPostalCode
      cCity=cCity
      cTelephone=cTelephone
      bName=bName
      bPostalCode=bPostalCode
      bCity=bCity
      bStreet=bStreet
      withoutOffer=withoutOffer
      onChange=(action "applyFilter")
  }}

  {{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
       sort=sort page=page size=size onClickRow=(action 'clickRow') as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='number' currentSorting=sort label='Nr'}}
        {{th-sortable field='request-date' currentSorting=sort label='Datum'}}
        <th>Bezoeker</th>
        <th><!-- customer / building --></th>
        <th>Naam</th>
        <th>Straat</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.id}}</td>
        <td>{{fmt-date row.requestDate}}</td>
        <td>{{row.visitor}}</td>
        {{#if row.building}}
          <td>{{paper-icon "home"}}</td>
          <td>
            {{row.building.printName}}
            <span class="text-fade">({{print-name model=row.customer}})</span>
          </td>
          <td>{{row.building.address1}}</td>
          <td>{{row.building.postalCode}}</td>
          <td>{{row.building.city}}</td>
        {{else}}
          <td>{{#if row.customer}}{{paper-icon "person"}}{{else}}{{paper-icon "link off"}}{{/if}}</td>
          <td>{{print-name model=row.customer}}</td>
          <td>{{row.customer.address1}}</td>
          <td>{{row.customer.postalCode}}</td>
          <td>{{row.customer.city}}</td>
        {{/if}}
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>

{{liquid-outlet}}