<div class="layout-row layout-align-space-between-center">
  <h1>Aanvragen</h1>
  <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @onClick={{transition-to "main.requests.new"}}>
    {{paper-icon "add"}}
    <PaperTooltip>Maak nieuwe aanvraag</PaperTooltip>
  </PaperButton>
</div>

<div class="requests-data-table">
  <Request::DataTableFilter @number={{number}} @visitor={{visitor}} @cName={{cName}} @cStreet={{cStreet}} @cPostalCode={{cPostalCode}} @cCity={{cCity}} @cTelephone={{cTelephone}} @bName={{bName}} @bPostalCode={{bPostalCode}} @bCity={{bCity}} @bStreet={{bStreet}} @withoutOffer={{withoutOffer}} @onChange={{action "applyFilter"}} />

  <DataTable @content={{model}} @isLoading={{isLoadingModel}} @noDataMessage="Geen resultaten" @sort={{sort}} @page={{page}} @size={{size}} @onClickRow={{action "clickRow"}} as |t|>
    <t.content as |c|>
      <c.header>
        <ThSortable @field="number" @currentSorting={{sort}} @label="Nr" />
        <ThSortable @field="request-date" @currentSorting={{sort}} @label="Datum" />
        <th>Bezoeker</th>
        <th><!-- customer / building --></th>
        <th>Naam</th>
        <th>Straat</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      </c.header>
      <c.body as |row|>
        <td>{{row.id}}</td>
        <td>{{fmt-date row.requestDate}}</td>
        <td>{{row.visitor}}</td>
        {{#if row.building}}
          <td>{{paper-icon "home"}}</td>
          <td>
            {{row.building.printName}}
            <span class="text-fade">(<PrintName @model={{row.customer}} />)</span>
          </td>
          <td>{{row.building.address1}}</td>
          <td>{{row.building.postalCode}}</td>
          <td>{{row.building.city}}</td>
        {{else}}
          <td>{{#if row.customer}}{{paper-icon "person"}}{{else}}{{paper-icon "link off"}}{{/if}}</td>
          <td><PrintName @model={{row.customer}} /></td>
          <td>{{row.customer.address1}}</td>
          <td>{{row.customer.postalCode}}</td>
          <td>{{row.customer.city}}</td>
        {{/if}}
      </c.body>
    </t.content>
  </DataTable>
</div>

{{liquid-outlet}}