{{ui-hooks didInsertHook=(action "resetFilters")}}

<div class="layout-row layout-align-space-between-center">
  <h1>Aanvragen</h1>
  {{#paper-button primary=true fab=true raised=true onClick=(transition-to "main.requests.new")}}{{paper-icon "add"}}{{/paper-button}}
</div>

<div class="requests-data-table">
  <div class="data-table-filters">
    <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
    <div class="layout-row flex layout-align-space-between-start">
      <div class="layout-column">
        <div class="layout-row data-table-filter--line">
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title"></div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Nummer" value=numberFilter onChange=(action "setFilter" "number") class="small"}}
            </div>
          </div>
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title">Klant</div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Naam" value=cNameFilter onChange=(action "setFilter" "cName")}}
              {{paper-input label="Adres" value=cStreetFilter onChange=(action "setFilter" "cStreet") class="large"}}
              {{paper-input label="Postcode" value=cPostalCodeFilter onChange=(action "setFilter" "cPostalCode") class="small"}}
              {{paper-input label="Gemeente" value=cCityFilter onChange=(action "setFilter" "cCity")}}
              {{paper-input label="Telefoon" value=cTelephoneFilter onChange=(action "setFilter" "cTelephone")}}
            </div>
          </div>
        </div>
        <div class="layout-row data-table-filter--line layout-align-end">
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title">Gebouw</div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Naam" value=bNameFilter onChange=(action "setFilter" "bName")}}
              {{paper-input label="Adres" value=bStreetFilter onChange=(action "setFilter" "bStreet") class="large"}}
              {{paper-input label="Postcode" value=bPostalCodeFilter onChange=(action "setFilter" "bPostalCode") class="small"}}
              {{paper-input label="Gemeente" value=bCityFilter onChange=(action "setFilter" "bCity")}}
            </div>
          </div>
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title"></div>
            <div class="layout-row data-table-filters--group-fields">
              {{#paper-switch value=withoutOffer primary=true onChange=(action (mut withoutOffer))}}
                Zonder offerte
              {{/paper-switch}}
            </div>
          </div>
        </div>
      </div>

      <div class="data-table-filters--reset">
        {{#paper-button iconButton=true onClick=(action "resetFilters")}}
          {{paper-icon "close"}}
          {{#paper-tooltip}}Verwijder filters{{/paper-tooltip}}
        {{/paper-button}}
      </div>
    </div>
  </div>

  {{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
       sort=sort page=page size=size onClickRow=(action 'clickRow') as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='number' currentSorting=sort label='Nr'}}
        {{th-sortable field='request-date' currentSorting=sort label='Datum'}}
        <th>Bezoeker</th>
        <th><!-- customer / building --></th>
        <th>Naam</th>
        <th>Adres</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.id}}</td>
        <td>{{fmt-date row.requestDate}}</td>
        <td>{{row.visitor}}</td>
        {{#if row.building}}
          <td>{{paper-icon "home"}}</td>
          <td>
            {{row.building.printName}}
            <span class="text-fade">({{print-name model=row.customer}})</span>
          </td>
          <td>{{row.building.address1}}</td>
          <td>{{row.building.postalCode}}</td>
          <td>{{row.building.city}}</td>
        {{else}}
          <td>{{#if row.customer}}{{paper-icon "person"}}{{else}}{{paper-icon "link off"}}{{/if}}</td>
          <td>{{print-name model=row.customer}}</td>
          <td>{{row.customer.address1}}</td>
          <td>{{row.customer.postalCode}}</td>
          <td>{{row.customer.city}}</td>
        {{/if}}
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>

{{liquid-outlet}}