<h2>Koppel klant aan aanvraag</h2>

{{#if linkCustomerToRequest.isRunning}}
  <div>
    {{paper-progress-linear}}
    <p>Klant koppelen aan aanvraag...</p>
  </div>
{{else}}
  {{customer/data-table-filter
      number=number
      name=name
      street=street
      postalCode=postalCode
      city=city
      telephone=telephone
      onChange=(action "applyFilter")
  }}

  {{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
       sort=sort page=page size=size onClickRow=(perform linkCustomerToRequest) as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='number' currentSorting=sort label='Nr'}}
        {{th-sortable field='name' currentSorting=sort label='Naam'}}
        {{th-sortable field='address' currentSorting=sort label='Straat'}}
        {{th-sortable field='postal-code' currentSorting=sort label='Postcode'}}
        {{th-sortable field='city' currentSorting=sort label='Gemeente'}}
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.number}}</td>
        <td>{{print-name model=row}}</td>
        <td>{{row.address1}}</td>
        <td>{{row.postalCode}}</td>
        <td>{{row.city}}</td>
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
{{/if}}

{{liquid-outlet}}