<div class="grid border {{if this.showUnsavedWarning "border-red-500 border-2 border-dashed" "border-gray-200"}} {{if this.copyOfferline.isRunning "scan-bar"}} rounded">
  <div class="bg-gray-200 rounded-t px-4 py-2 flex justify-between items-center">
    <div class="flex items-center space-x-2">
      <div class="bg-gray-200 text-gray-500 font-semibold">
        {{@model.position}}
      </div>
      {{#unless @isDisabledEdit}}
        <div class="flex items-center">
          {{#if @onMoveUp}}
            <Rlv::Button
              @label="Verplaats omhoog"
              @hideText={{true}}
              @icon="arrow-up-line"
              @skin="secondary-naked"
              @size="large"
              class="p-0"
              {{on "click" @onMoveUp}}>
              <:tooltip>
              <EmberTooltip @text="Verplaats omhoog" />
              </:tooltip>
            </Rlv::Button>
          {{/if}}
          {{#if @onMoveDown}}
            <Rlv::Button
              @label="Verplaats omlaag"
              @hideText={{true}}
              @icon="arrow-down-line"
              @skin="secondary-naked"
              @size="large"
              class="p-0"
              {{on "click" @onMoveDown}}>
              <:tooltip>
              <EmberTooltip @text="Verplaats omlaag" />
              </:tooltip>
            </Rlv::Button>
          {{/if}}
        </div>
        <Rlv::Button
          @label="Dupliceer"
          @hideText={{true}}
          @icon="file-copy-line"
          @skin="secondary-naked"
          @size="large"
          class="p-0"
          {{on "click" (perform this.copyOfferline)}}>
          <:tooltip>
          <EmberTooltip @text="Lijn kopiëren" />
          </:tooltip>
        </Rlv::Button>
      {{/unless}}
    </div>
    <div class="flex flex-col sm:flex-row justify-end items-end sm:items-center sm:space-x-2">
      <div class="pl-4 space-x-1 flex flex-col sm:flex-row justify-end items-end {{if this.editMode "sm:items-baseline" "sm:items-center"}}">
        {{#if this.editMode}}
          <div class="text-sm text-gray-900 font-semibold">
            <Fmt::Currency @value={{@model.amount}} />
          </div>
          <div class="text-gray-900 sm:text-sm">
            +
          </div>
          <InputField::VatRateSelect
            @value={{@model.vatRate}}
            @isB2B={{@model.offer.case.customer.isCompany}}
            @onSelectionChange={{queue (fn (mut @model.vatRate)) (perform @saveTask @model)}}
            @allowClear={{false}}
            class="mt-1 w-60" />
          <div class="text-gray-900 sm:text-sm">
            btw
          </div>
        {{else}}
          <div class="text-sm text-gray-900 font-semibold">
            <Fmt::Currency @value={{@model.amount}} />
          </div>
          <div class="ml-1 text-sm text-gray-900 font-semibold">
            + {{@model.vatRate.rate}}% btw
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if this.editMode}}
    <div class="relative" ...attributes>
      <InputField::RichTextArea
        @value={{@model.description}}
        @class="w-full text-sm"
        @textAreaHeight="h-full min-h-48"
        @onChange={{fn (mut @model.description)}}
        @focusOut={{perform @saveTask @model}} />
      <div class="absolute bottom-0 right-0 px-4 py-2">
        <Util::SaveStatus @model={{@model}} @task={{@saveTask}} />
        <Rlv::Button
          @label="Verwijder"
          @hideText={{true}}
          @icon="delete-bin-line"
          @skin="secondary-naked"
          @size="large"
          class="p-0"
          {{on "click" @onDelete}} />
        <Rlv::Button
          @label="Sluiten"
          @hideText={{true}}
          @icon="logout-box-r-line"
          @skin="secondary-naked"
          @size="large"
          class="p-0"
          {{on "click" this.closeEdit}} />
      </div>
    </div>
  {{else}}
    <div class="px-4 py-4" ...attributes>
      <div class="flex flex-row justify-between">
        {{#if @model.description}}
          <div class="text-sm text-gray-900 prose max-w-none">
            {{{@model.description}}}
          </div>
        {{else}}
          <div class="text-xs sm:text-sm text-gray-400 italic">
            Nog geen beschrijving voor offerte toegevoegd
          </div>
        {{/if}}
        {{#unless @isDisabledEdit}}
          <div class="grow-0 flex-auto flex items-end">
            <Rlv::Button
              @label="Bewerk"
              @hideText={{true}}
              @icon="pencil-line"
              @skin="secondary-naked"
              @size="large"
              class="p-0"
              {{on "click" this.openEdit}} />
          </div>
        {{/unless}}
      </div>
    </div>
  {{/if}}
  <div class="px-4 py-2 bg-gray-50 border-t rounded-b border-gray-200 overflow-auto">
    <div {{on "click" this.toggleCalculation}} role="button" class="mt-1 flex items-center justify-between">
      <div class="flex items-center text-xs tracking-wider text-gray-600 font-medium uppercase">
        {{svg-jar "calculator-line" class="text-gray-400 h-5 w-5 fill-current"}}
        <div class="ml-1">
          Rekenblad
        </div>
      </div>
      {{#unless @model.isNew}}
        <Rlv::Button
          @label="Rekenlijnen openen"
          @hideText={{true}}
          @icon={{if this.isShownCalculation "arrow-up-s-line" "arrow-down-s-line"}}
          @skin="secondary-naked"
          @size="large"
          class="p-1 rounded-full" />
      {{/unless}}
    </div>
    {{#if this.isShownCalculation}}
      <table class="w-full table-fixed divide-y divide-gray-200">
        <thead>
          <tr>
            <th scope="col" class="pr-2 py-3 text-xs tracking-wider text-gray-500 font-medium w-56 sm:w-auto">
              Beschrijving
            </th>
            <th scope="col" class="px-2 py-3 text-xs tracking-wider text-gray-500 font-medium text-right w-28">
              Bedrag (&euro;)
            </th>
            <th scope="col" class="px-2 py-3 text-xs tracking-wider text-gray-500 font-medium text-right w-24">
              Korting (%)
            </th>
            <th scope="col" class="px-2 py-3 text-xs tracking-wider text-gray-500 font-medium text-right w-24">
              Totaal (&euro;)
            </th>
            {{#unless @isDisabledEdit}}
              <th scope="col" class="py-3 text-xs tracking-wider text-gray-500 font-medium  text-right w-12">
                {{!-- buttons --}}
              </th>
            {{/unless}}
          </tr>
        </thead>
        <tbody>
          {{#if this.ensureConsistentState.isRunning}}
            <tr>
              <td colspan="5" class="py-4 text-center">
                <Util::LoadingSpinner @label="" />
              </td>
            </tr>
          {{else}}
            {{#each (sort-by "position" @model.calculationLines) as |line index|}}
              <CalculationLine::Detail
                @model={{line}}
                @initialEditMode={{@model.initialEditMode}}
                @isAmountRequired={{eq index 0}}
                @didSave={{perform this.updateOfferlineAmount}}
                @onDelete={{perform this.deleteCalculationLine line}}
                @isDisabledEdit={{@isDisabledEdit}} />
            {{else}}
              <tr>
                <td colspan="5" class="py-4 text-sm text-gray-400 italic">
                  Er is nog geen berekening toegevoegd
                </td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
      {{#unless @isDisabledEdit}}
        <div class="mt-4 flex justify-end">
          <Rlv::Button
            @label="Rekenlijn toevoegen"
            @icon="add-line"
            @skin="secondary-link"
            @size="small"
            class="underline"
            {{on "click" (perform this.addCalculationLine)}} />
        </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
