<div class="grid border {{if this.showUnsavedWarning "border-red-500 border-2 border-dashed" "border-gray-200"}} {{if this.copyOfferline.isRunning "scan-bar"}} rounded">
  <div class="bg-gray-200 rounded-t px-4 py-2 flex justify-between items-center">
    <div class="flex items-center space-x-2">
      <div class="bg-gray-200 text-gray-500 font-semibold">
        {{@model.position}}
      </div>
      {{#unless @isDisabledEdit}}
        <button type="button"
          class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
          {{on "click" (perform this.copyOfferline)}}>
          {{svg-jar "heroicons-md-duplicate" class="h-5 w-5"}}
          <EmberTooltip @text="Lijn kopiëren" />
        </button>
      {{/unless}}
    </div>
    <div class="flex flex-col sm:flex-row justify-end items-end sm:items-center sm:space-x-2">
      <div class="pl-4 space-x-1 flex flex-col sm:flex-row justify-end items-end {{if this.editMode "sm:items-baseline" "sm:items-center"}}">
        {{#if this.editMode}}
          <div class="text-sm text-gray-900 font-semibold">
            <Fmt::Currency @value={{@model.amount}} />
          </div>
          <div class="text-gray-900 sm:text-sm">
            +
          </div>
          <InputField::VatRateSelect
            @value={{@model.vatRate}}
            @onSelectionChange={{queue (fn (mut @model.vatRate)) (perform @saveTask @model)}}
            @allowClear={{false}}
            class="mt-1 w-36" />
          <div class="text-gray-900 sm:text-sm">
            btw
          </div>
        {{else}}
          <div class="text-sm text-gray-900 font-semibold">
            <Fmt::Currency @value={{@model.amount}} />
          </div>
          <div class="ml-1 text-sm text-gray-900 font-semibold">
            + {{@model.vatRate.rate}}% btw
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if this.editMode}}
    <div class="relative" ...attributes>
      <InputField::RichTextArea
        @value={{@model.description}}
        @class="w-full text-sm"
        @textAreaHeight="h-full min-h-48"
        @onChange={{fn (mut @model.description)}}
        @focusOut={{perform @saveTask @model}} />
      <div class="absolute bottom-0 right-0 px-4 py-2">
        <Util::SaveStatus @model={{@model}} @task={{@saveTask}} />
        <button type="button"
          class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
          {{on "click" @onDelete}}>
          {{svg-jar "heroicons-md-trash" class="h-5 w-5"}}
        </button>
        <button type="button"
          class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
          {{on "click" this.closeEdit}}>
          {{svg-jar "heroicons-md-logout" class="h-5 w-5"}}
          <EmberTooltip @text="Sluiten" />
        </button>
      </div>
    </div>
  {{else}}
    <div class="px-4 py-4" ...attributes>
      <div class="flex flex-row justify-between">
        {{#if @model.description}}
          <div class="text-sm text-gray-900 prose max-w-none">
            {{{@model.description}}}
          </div>
        {{else}}
          <div class="text-xs sm:text-sm text-gray-400 italic">
            Nog geen beschrijving voor offerte toegevoegd
          </div>
        {{/if}}
        {{#unless @isDisabledEdit}}
          <div class="grow-0 flex-auto flex items-end">
            <button type="button"
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
              {{on "click" this.openEdit}}>
              {{svg-jar "heroicons-md-pencil" class="h-5 w-5"}}
            </button>
          </div>
        {{/unless}}
      </div>
    </div>
  {{/if}}
  <div class="px-4 py-2 bg-gray-50 border-t rounded-b border-gray-200 overflow-auto">
    <div {{on "click" this.toggleCalculation}} role="button" class="mt-1 flex items-center justify-between">
      <div class="flex items-center text-xs tracking-wider text-gray-600 font-medium uppercase">
        {{svg-jar "heroicons-md-calculator" class="text-gray-400 h-5 w-5"}}
        <div class="ml-1">
          Rekenblad
        </div>
      </div>
      {{#unless @model.isNew}}
        <button type="button"
          class="p-1 rounded-full {{if this.isShownCalculation "bg-gray-100 text-red-400" "text-gray-400 hover:text-red-400 hover:bg-gray-100"}} focus:outline-none focus:ring-2 focus:ring-red-200">
          {{svg-jar
              (if this.isShownCalculation "heroicons-md-chevron-up" "heroicons-md-chevron-down")
              class="h-5 w-5"}}
        </button>
      {{/unless}}
    </div>
    {{#if this.isShownCalculation}}
      <table class="w-full table-fixed divide-y divide-gray-200">
        <thead>
          <tr>
            <th scope="col" class="pr-2 py-3 text-xs tracking-wider text-gray-500 font-medium w-56 sm:w-auto">
              Beschrijving
            </th>
            <th scope="col" class="px-2 py-3 text-xs tracking-wider text-gray-500 font-medium text-right w-28">
              Bedrag (&euro;)
            </th>
            <th scope="col" class="px-2 py-3 text-xs tracking-wider text-gray-500 font-medium text-right w-24">
              Korting (%)
            </th>
            <th scope="col" class="px-2 py-3 text-xs tracking-wider text-gray-500 font-medium text-right w-24">
              Totaal (&euro;)
            </th>
            {{#unless @isDisabledEdit}}
              <th scope="col" class="py-3 text-xs tracking-wider text-gray-500 font-medium  text-right w-12">
                {{!-- buttons --}}
              </th>
            {{/unless}}
          </tr>
        </thead>
        <tbody>
          {{#if this.loadData.isRunning}}
            <tr>
              <td colspan="5" class="py-4 text-center">
                <Util::LoadingSpinner @label="" />
              </td>
            </tr>
          {{else}}
            {{#each (sort-by "position" @model.calculationLines) as |line index|}}
              <CalculationLine::Detail
                @model={{line}}
                @initialEditMode={{@model.initialEditMode}}
                @isAmountRequired={{eq index 0}}
                @didSave={{this.updateOfferlineAmount}}
                @onDelete={{perform this.deleteCalculationLine line}}
                @isDisabledEdit={{@isDisabledEdit}} />
            {{else}}
              <tr>
                <td colspan="5" class="py-4 text-sm text-gray-400 italic">
                  Er is nog geen berekening toegevoegd
                </td>
              </tr>
            {{/each}}
          {{/if}}
        </tbody>
      </table>
      <div class="mt-4 flex justify-end">
        <button type="button"
          class="flex text-sm text-gray-600 font-medium underline hover:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200"
          {{on "click" (perform this.addCalculationLine)}}>
          {{svg-jar "heroicons-sm-plus" class="-ml-1 h-5 w-5"}}
          <span>Rekenlijn toevoegen</span>
        </button>
      </div>
    {{/if}}
  </div>
</div>
