<div class="layout-row layout-align-start-center">
  <div>{{@model.sequenceNumber}}</div>

  <RichTextArea @class="offerline"
    @value={{@model.description}}
    @onChange={{fn (mut @model.description)}}
    @focusOut={{perform this.save}}
  />

  <div class="layout-column">
    <div class="layout-row layout-align-space-between-start">
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
      <PaperButton @onClick={{fn @onDelete @model}} @iconButton={{true}}>
        {{paper-icon "delete"}}
        <PaperTooltip>Lijn verwijderen</PaperTooltip>
      </PaperButton>
    </div>

    <InputField::DecimalInput
      @label="Bedrag (€)"
      @value={{@model.amount}}
      @errors={{v-get @model "amount" "messages"}}
      @onChange={{queue (fn (mut @model.amount)) (perform this.save)}}
      @isRequired={{true}}
    />

    <InputField::VatRateSelect
      @value={{@model.vatRate}}
      @onSelectionChange={{queue (fn (mut @model.vatRate)) (perform this.save)}}
      @required="style"
      class="md-input-wrapper large"
    />
  </div>
</div>