{{#if this.editMode}}
  <CustomerEntityEditForm @scope="customer" @model={{@model}} @onClose={{fn this.closeEdit}} @onRemove={{fn this.onRemove}}>
    <h1 class="text-3xl font-bold font-display my-6">Bewerk klant <span class="small-text-fade">[{{@model.number}}]</span></h1>
  </CustomerEntityEditForm>
{{else}}
  <div class="layout-row layout-align-start-center">
    <h1 class="text-3xl font-bold font-display my-6"><PrintName @model={{@model}} /> <span class="small-text-fade">[{{@model.number}}]</span></h1>
    <div>
      <PaperButton @onClick={{fn this.openEdit}} @iconButton={{true}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
    </div>
  </div>

  <Customer::DetailView @model={{@model}} />

  <div class="related-resources">
    <PaperTabs @selected={{this.selectedTab}} @onChange={{fn this.setTab}} @borderBottom={{true}} as |tabs|>
      <tabs.tab>Contact</tabs.tab>
      <tabs.tab>Gebouw</tabs.tab>
      <tabs.tab>Aanvraag</tabs.tab>
      <tabs.tab>Interventie</tabs.tab>
      <tabs.tab>Offerte</tabs.tab>
      <tabs.tab>Bestelling</tabs.tab>
      <tabs.tab>VFactuur</tabs.tab>
      <tabs.tab>Factuur</tabs.tab>
    </PaperTabs>

    {{#liquid-bind (hash tab=this.selectedTab) use="toRight" as |current|}}
      {{#if (eq current.tab 0)}}
        <Customer::ContactsPanel @customer={{@model}} />
      {{else if (eq current.tab 1)}}
        <Customer::BuildingsPanel @customer={{@model}} />
      {{else if (eq current.tab 2)}}
        <Customer::RequestsTable @customer={{@model}} />
      {{else if (eq current.tab 3)}}
        <Customer::InterventionsTable @customer={{@model}} />
      {{else if (eq current.tab 4)}}
        <Customer::OffersTable @customer={{@model}} />
      {{else if (eq current.tab 5)}}
        <Customer::OrdersTable @customer={{@model}} />
      {{else if (eq current.tab 6)}}
        <Customer::DepositInvoicesTable @customer={{@model}} />
      {{else if (eq current.tab 7)}}
        <Customer::InvoicesTable @customer={{@model}} />
      {{/if}}
    {{/liquid-bind}}
  </div>
{{/if}}

<LiquidOutlet />