<div class="breadcrumbs">
  {{#link-to 'main.customers.index'}}{{paper-icon "navigate before"}}Terug naar klanten{{/link-to}}
</div>

{{#if isEdit}}
  {{#customer-entity-edit-form scope='customer' model=model onClose=(action "closeEdit") as |f|}}
    <div class="layout-row layout-align-start-center">
      <h1>Bewerk klant <span class="small-text-fade">[{{model.number}}]</span></h1>
      {{save-status-icon model=f.model task=f.save}}
    </div>
  {{/customer-entity-edit-form}}
{{else}}
  <div class="layout-row layout-align-space-between-center">
    <h1>{{print-name model=model}} <span class="small-text-fade">[{{model.number}}]</span></h1>
    <div>{{#paper-button onClick=(action "openEdit") iconButton=true}}{{paper-icon "edit mode"}}{{/paper-button}}</div>
  </div>

  {{customer-detail-card model=model}}

  <div class="related-resources">
    {{#paper-tabs selected=selectedTab onChange=(action (mut selectedTab)) borderBottom=true as |tabs|}}
      {{#tabs.tab}}Contacten{{/tabs.tab}}
      {{#tabs.tab}}Gebouwen{{/tabs.tab}}
      {{#tabs.tab}}Aanvragen{{/tabs.tab}}
      {{#tabs.tab}}Offertes{{/tabs.tab}}
      {{#tabs.tab}}Bestellingen{{/tabs.tab}}
      {{#tabs.tab}}Voorschotfact.{{/tabs.tab}}
      {{#tabs.tab}}Facturen{{/tabs.tab}}
    {{/paper-tabs}}

    {{#liquid-bind (hash tab=selectedTab) use="toRight" as |current|}}
      {{#if (eq current.tab 0)}}
        {{contacts-panel customer=model}}
      {{else if (eq current.tab 1)}}
        {{buildings-panel customer=model}}
      {{else if (eq current.tab 2)}}
        {{requests-table customer=model onClickRow=(action "goToRequestDetail") openNew=(action "goToNewRequest")}}
      {{else if (eq current.tab 3)}}
        {{offers-table customer=model onClickRow=(action "goToOfferDetail")}}
      {{else if (eq current.tab 4)}}
        {{orders-table customer=model onClickRow=(action "goToOrderDetail")}}
      {{else if (eq current.tab 5)}}
        {{deposit-invoices-table customer=model onClickRow=(action "goToDepositInvoiceDetail")}}
      {{else if (eq current.tab 6)}}
        {{invoices-table customer=model onClickRow=(action "goToInvoiceDetail")}}
      {{/if}}
    {{/liquid-bind}}
  </div>
{{/if}}

{{liquid-outlet}}