<h1>
  [{{model.number}}] {{model.printName}}
</h1>

<div class="customer-details">
  <div class="customer-details-section customer-details-name layout-row">
    <div class="category-icon">{{#if model.isCompany}}{{paper-icon "business"}}{{else}}{{paper-icon "home"}}{{/if}}</div>
    <div>
      {{#if model.printInFront}}{{get (await model.honorificPrefix) 'name'}}{{/if}}
      {{model.prefix}} {{model.name}} {{model.suffix}}
      {{#if (not model.printInFront)}}{{get (await model.honorificPrefix) 'name'}}{{/if}}
    </div>
  </div>
  <div class="customer-details-section customer-details-address layout-row">
    <div class="category-icon">{{paper-icon "location on"}}</div>
    <div>
      <div>{{model.address1}}</div>
      <div>{{model.address2}}</div>
      <div>{{model.address3}}</div>
      <div>{{get (await model.postalCode) 'code'}} {{get (await model.postalCode) 'name'}}</div>
      <div>{{get (await model.country) 'name'}}</div>
    </div>
  </div>
  <div class="customer-details-section customer-details-telephone layout-row">
    <div class="category-icon">{{paper-icon "phone"}}</div>
    <div>
      {{#each (await model.telephones) as |tel|}}
        <div>{{get (await tel.country) 'telephonePrefix'}} {{tel.fullNumber}} {{#if tel.memo}}({{tel.memo}}){{/if}}</div>
      {{/each}}
    </div>
  </div>
  <div class="customer-details-section customer-details-contact layout-row">
    <div class="category-icon">{{paper-icon "mail outline"}}</div>
    <div>
      <div>{{model.email}}</div>
      <div>{{model.email2}}</div>
      <div>{{model.url}}</div>
    </div>
  </div>
  <div class="customer-details-section customer-details-language layout-row">
    <div class="category-icon">{{paper-icon "language"}}</div>
    <div>
      <div>{{get (await model.language) 'name'}}</div>
    </div>
  </div>
  <div class="customer-details-section customer-details-coment layout-row">
    <div class="category-icon">{{paper-icon "comment"}}</div>
    <div>
      <div>{{#if model.comment}}{{model.comment}}{{else}}Geen opmerkingen{{/if}}</div>
    </div>
  </div>

  <div class="customer-details-section customer-details-audit layout-row">
    Aangemaakt: {{moment-format model.created}} <span class="divider">|</span>
    Bewerkt: {{moment-format model.updated}}
  </div>
</div>

{{#paper-tabs selected=selectedTab onChange=(action (mut selectedTab)) borderBottom=true as |tabs|}}
  {{#tabs.tab}}
    Contacten
  {{/tabs.tab}}
  {{#tabs.tab}}
    Gebouwen
  {{/tabs.tab}}
  {{#tabs.tab}}
    Aanvragen
  {{/tabs.tab}}
  {{#tabs.tab}}
    Offertes
  {{/tabs.tab}}
  {{#tabs.tab}}
    Bestelling
  {{/tabs.tab}}
  {{#tabs.tab}}
    Facturen
  {{/tabs.tab}}
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedTab) use="toRight" as |current|}}
  {{#if (eq current.tab 0)}}
    <p>Contacten nog niet beschikbaar</p>
  {{/if}}
  {{#if (eq current.tab 1)}}
    <p>Gebouwen nog niet beschikbaar</p>
  {{/if}}
  {{#if (eq current.tab 2)}}
    <p>Aanvragen nog niet beschikbaar</p>
  {{/if}}
  {{#if (eq current.tab 3)}}
    <p>Offertes nog niet beschikbaar</p>
  {{/if}}
  {{#if (eq current.tab 4)}}
    <p>Bestellingen nog niet beschikbaar</p>
  {{/if}}
  {{#if (eq current.tab 5)}}
    <p>Facturen nog niet beschikbaar</p>
  {{/if}}
{{/liquid-bind}}

{{liquid-outlet}}