<h1>Klanten</h1>

<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
  <div class="layout-row flex layout-align-space-between-center">
    {{paper-input label="Nummer" value=numberFilter onChange=(action "setFilter" "number") class="small-input"}}
    {{paper-input label="Naam" value=nameFilter onChange=(action "setFilter" "name")}}
    {{paper-input label="Adres" value=streetFilter onChange=(action "setFilter" "street") class="large-input"}}
    {{paper-input label="Postcode" value=postalCodeFilter onChange=(action "setFilter" "postalCode") class="small-input"}}
    {{paper-input label="Gemeente" value=cityFilter onChange=(action "setFilter" "city")}}
    {{paper-input label="Telefoon" value=telephoneFilter onChange=(action "setFilter" "telephone")}}
    {{#paper-button iconButton=true onClick=(action "resetFilters")}}
      {{paper-icon "close"}}
      {{#paper-tooltip}}Verwijder filters{{/paper-tooltip}}
    {{/paper-button}}
  </div>
</div>

{{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
     sort=sort page=page size=size onClickRow=(action 'clickRow') as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='number' currentSorting=sort label='Nr'}}
      {{th-sortable field='name' currentSorting=sort label='Naam'}}
      {{th-sortable field='address' currentSorting=sort label='Adres'}}
      {{th-sortable field='postal-code' currentSorting=sort label='Postcode'}}
      {{th-sortable field='city' currentSorting=sort label='Gemeente'}}
      {{th-sortable field='created' currentSorting=sort label='Aangemaakt'}}
      {{th-sortable field='updated' currentSorting=sort label='Bewerkt'}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.number}}</td>
      <td>{{row.printName}}</td>
      <td>{{row.address1}}</td>
      <td>{{row.postalCode}}</td>
      <td>{{row.city}}</td>
      <td>{{moment-format row.created}}</td>
      <td>{{moment-format row.updated}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}

{{liquid-outlet}}