<h1>Klanten</h1>

<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
  {{paper-input label="Nummer" value=number onChange=(action (mut number))}}
  {{paper-input label="Naam" value=name onChange=(action (mut name))}}
  {{paper-input label="Postcode" value=postalCode onChange=(action (mut postalCode))}}
  {{paper-input label="Gemeente" value=city onChange=(action (mut city))}}
  {{paper-input label="Straat" value=street onChange=(action (mut street))}}
  {{#paper-button iconButton=true onClick=(action "resetFilters")}}{{paper-icon "close"}}{{/paper-button}}
</div>

{{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
     sort=sort page=page size=size onClickRow=(action 'clickRow') as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='number' currentSorting=sort label='Nummer'}}
      {{th-sortable field='name' currentSorting=sort label='Naam'}}
      {{th-sortable field='address' currentSorting=sort label='Adres'}}
      {{th-sortable field='postal-code' currentSorting=sort label='Postcode'}}
      {{th-sortable field='city' currentSorting=sort label='Gemeente'}}
      {{th-sortable field='created' currentSorting=sort label='Aangemaakt'}}
      {{th-sortable field='updated' currentSorting=sort label='Bewerkt'}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.number}}</td>
      <td>{{row.printName}}</td>
      <td>{{row.address1}}</td>
      <td>{{row.postalCode}}</td>
      <td>{{row.city}}</td>
      <td>{{moment-format row.created}}</td>
      <td>{{moment-format row.updated}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}

{{liquid-outlet}}