<h1>Nieuw klant</h1>

<div class="layout-column">
  <div class="layout-row layout-xs-column layout-align-start-center">
    {{#paper-radio-group groupValue=model.isCompany onChange=(action (mut model.isCompany)) class="layout-row" as |group|}}
      {{#group.radio value=false}}Particulier{{/group.radio}}
      {{#group.radio value=true}}Bedrijf{{/group.radio}}
    {{/paper-radio-group}}
    {{#if model.isCompany}}{{paper-input class="flex-50 spacer-left" label="BTW nummer" value=model.vatNumber onChange=(action (mut model.vatNumber))}}{{/if}}
  </div>
  <h4>
    Geprinte naam: {{#if model.printInFront}}{{honorificPrefix.name}}{{/if}}
    {{#if model.printPrefix}}{{model.prefix}}{{/if}} {{model.name}} {{#if model.printSuffix}}{{model.suffix}}{{/if}}
    {{#if (not model.printInFront)}}{{honorificPrefix.name}}{{/if}}
  </h4>
  <div class="layout-row layout-xs-column">
    <div class="layout-column">
      {{honorific-prefix-select value=honorificPrefix language=language class="md-input-wrapper large no-spacer-bottom"}}
      {{paper-checkbox label="Vooraan" value=model.printInFront onChange=(action (mut model.printInFront))}}
    </div>
    <div class="layout-column">
      {{paper-input class="small no-spacer-bottom" label="Prefix" value=model.prefix onChange=(action (mut model.prefix))}}
      {{paper-checkbox label="Print" value=model.printPrefix onChange=(action (mut model.printPrefix))}}
    </div>
    {{paper-input class="large" label="Naam" value=model.name onChange=(action (mut model.name))}}
    <div class="layout-column">
      {{paper-input class="small no-spacer-bottom" label="Suffix" value=model.suffix onChange=(action (mut model.suffix))}}
      {{paper-checkbox label="Print" value=model.printSuffix onChange=(action (mut model.printSuffix))}}
    </div>
  </div>
</div>

<h2>Adres</h2>
<div class="layout-column">
  {{address-input address1=model.address1 address2=model.address2 address3=model.address3}}
  <div class="layout-row">
    {{postal-code-select postalCode=model.postalCode city=model.city class="md-input-wrapper xxlarge"}}
    {{country-select value=country class="md-input-wrapper"}}
    {{language-select value=language class="md-input-wrapper"}}
  </div>
</div>

<h2>Contactgegevens</h2>
<div class="layout-column">
  <div class="layout-row">
    <div class="layout-column">
      {{#each telephones as |telephone|}}
        <div class="layout-row layout-align-start-center">
          {{telephone-type-select value=telephone.telephoneType class="md-input-wrapper small"}}
          {{telephone-prefix-select value=telephone.country class="md-input-wrapper small"}}
          {{paper-input class="xsmall" label="Zone" value=telephone.area onChange=(action (mut telephone.area))}}
          {{paper-input class="small" label="Nummer" value=telephone.number onChange=(action (mut telephone.number))}}
          {{paper-input class="large" label="Memo" value=telephone.memo onChange=(action (mut telephone.memo))}}
          {{#paper-button iconButton=true onClick=(action "removeTelephone" telephone)}}{{paper-icon "close"}}{{/paper-button}}
        </div>
      {{/each}}
      <div class="layout-row layout-align-end-center">
        {{#paper-button primary=true fab=true mini=true raised=true onClick=(action "addTelephone")}}{{paper-icon "add"}}{{/paper-button}}
      </div>
    </div>
  </div>
  <div class="layout-row layout-xs-column">
    {{paper-input class="xlarge" label="Email" value=model.email onChange=(action (mut model.email))}}
    {{paper-input class="xlarge" label="Email 2" value=model.email2 onChange=(action (mut model.email2))}}
    {{paper-input class="xlarge" label="Website" value=model.url onChange=(action (mut model.url))}}
  </div>
  <div class="layout-row">
  </div>
</div>

<h2>Overige</h2>
<div class="layout-column">
  <div class="layout-row layout-xs-column">
    {{paper-input textarea=true class="xxlarge" label="Opmerking" icon="comment" value=model.comment
        passThru=(hash rows=3) onChange=(action (mut model.comment))}}
    {{paper-input textarea=true class="xxlarge" label="Memo" icon="assignment" value=model.memo
        passThru=(hash rows=3) onChange=(action (mut model.memo))}}
  </div>
</div>

<div class="layout-row layout-align-end">
  {{#if (or save.isRunning rollback.isRunning)}}
    <div class="loader-buttons">
      {{paper-progress-linear}}
      <p>Aan het opslaan...</p>
    </div>
  {{else}}
    {{paper-button label="Annuleer" primary=true raised=true onClick=(perform rollback)}}
    {{paper-button label="Opslaan" primary=true raised=true onClick=(perform save)}}
  {{/if}}
</div>

{{outlet}}
