<h1>Nieuw klant</h1>

<div class="layout-column">
  <div class="layout-row layout-xs-column layout-align-start-center">
    {{#paper-radio-group groupValue=model.isCompany onChange=(action (mut model.isCompany)) class="layout-row" as |group|}}
      {{#group.radio value=false}}Particulier{{/group.radio}}
      {{#group.radio value=true}}Bedrijf{{/group.radio}}
    {{/paper-radio-group}}
    {{#if model.isCompany}}{{paper-input class="flex-50 spacer-left" label="BTW nummer" value=model.vatNumber onChange=(action (mut model.vatNumber))}}{{/if}}
  </div>
  <h4>
    Geprinte naam: {{#if model.printInFront}}{{honorificPrefix.name}}{{/if}}
    {{#if model.printPrefix}}{{model.prefix}}{{/if}} {{model.name}} {{#if model.printSuffix}}{{model.suffix}}{{/if}}
    {{#if (not model.printInFront)}}{{honorificPrefix.name}}{{/if}}
  </h4>
  <div class="layout-row layout-xs-column">
    <div class="layout-column">
      <div class="md-input-wrapper large no-spacer-bottom">
        {{#paper-autocomplete label="Aanspreektitel" options=honorificPrefixesByLanguage selected=honorificPrefix
             searchField="name" labelPath="name" onSelectionChange=(action (mut honorificPrefix))
             noMatchesMessage="Geen resultaten" allowClear=true as |option select|}}
          {{paper-autocomplete-highlight label=option.name searchText=select.searchText flags="i"}}
        {{/paper-autocomplete}}
      </div>
      {{paper-checkbox label="Vooraan" value=model.printInFront onChange=(action (mut model.printInFront))}}
    </div>
    <div class="layout-column">
      {{paper-input class="small no-spacer-bottom" label="Prefix" value=model.prefix onChange=(action (mut model.prefix))}}
      {{paper-checkbox label="Print" value=model.printPrefix onChange=(action (mut model.printPrefix))}}
    </div>
    {{paper-input class="large" label="Naam" value=model.name onChange=(action (mut model.name))}}
    <div class="layout-column">
      {{paper-input class="small no-spacer-bottom" label="Suffix" value=model.suffix onChange=(action (mut model.suffix))}}
      {{paper-checkbox label="Print" value=model.printSuffix onChange=(action (mut model.printSuffix))}}
    </div>
  </div>
</div>

<h2>Adres</h2>
<div class="layout-column">
  {{paper-input textarea=true class="xxlarge" label="Adres (max. 3 lijnen)" value=address
      passThru=(hash rows=3 maxRows=3) onChange=(action (mut address)) errors=addressErrors}}
  <div class="layout-row">
    <div class="md-input-wrapper xxlarge">
      {{#paper-autocomplete label="Gemeente" options=postalCodes selected=postalCode
           searchField="search" labelPath="search" onSelectionChange=(action "selectPostalCode")
           noMatchesMessage="Geen resultaten" allowClear=true as |option select|}}
        {{paper-autocomplete-highlight label=option.search searchText=select.searchText flags="i"}}
      {{/paper-autocomplete}}
    </div>
    <div class="md-input-wrapper">
      {{#paper-autocomplete label="Land" options=countries selected=country
           searchField="name" labelPath="name" onSelectionChange=(action (mut country))
           noMatchesMessage="Geen resultaten" allowClear=true as |option select|}}
        {{paper-autocomplete-highlight label=option.name searchText=select.searchText flags="i"}}
      {{/paper-autocomplete}}
    </div>
    <div class="md-input-wrapper">
      {{#paper-autocomplete label="Taal" options=languages selected=language
           searchField="name" labelPath="name" onSelectionChange=(action (mut language))
           noMatchesMessage="Geen resultaten" allowClear=true as |option select|}}
        {{paper-autocomplete-highlight label=option.name searchText=select.searchText flags="i"}}
      {{/paper-autocomplete}}
    </div>
  </div>
</div>

<h2>Contactgegevens</h2>
<div class="layout-column">
  <div class="layout-row">
    <div class="layout-column">
      {{#each telephones as |telephone|}}
        <div class="layout-row layout-align-start-center">
          <div class="md-input-wrapper small">
            {{#paper-autocomplete label="Type" options=telephoneTypes selected=telephone.type
                 searchField="name" labelPath="name" onSelectionChange=(action (mut telephone.type))
                 noMatchesMessage="Geen resultaten" allowClear=true as |option select|}}
              {{paper-autocomplete-highlight label=option.name searchText=select.searchText flags="i"}}
            {{/paper-autocomplete}}
          </div>
          <div class="md-input-wrapper small">
            {{#paper-autocomplete label="Land" options=countries selected=telephone.country
                 searchField="telephonePrefix" labelPath="telephonePrefix" onSelectionChange=(action (mut telephone.country))
                 noMatchesMessage="Geen resultaten" allowClear=true as |option select|}}
              {{paper-autocomplete-highlight label=option.telephonePrefix searchText=select.searchText flags="i"}}
            {{/paper-autocomplete}}
          </div>
          {{paper-input class="xsmall" label="Zone" value=telephone.zone onChange=(action (mut telephone.zone))}}
          {{paper-input class="small" label="Nummer" value=telephone.number onChange=(action (mut telephone.number))}}
          {{paper-input class="large" label="Memo" value=telephone.memo onChange=(action (mut telephone.memo))}}
          {{#paper-button iconButton=true onClick=(action "removeTelephone" telephone)}}{{paper-icon "close"}}{{/paper-button}}
        </div>
      {{/each}}
      <div class="layout-row layout-align-end-center">
        {{#paper-button primary=true fab=true mini=true raised=true onClick=(action "addTelephone")}}{{paper-icon "add"}}{{/paper-button}}
      </div>
    </div>
  </div>
  <div class="layout-row layout-xs-column">
    {{paper-input class="xlarge" label="Email" value=model.email onChange=(action (mut model.email))}}
    {{paper-input class="xlarge" label="Email 2" value=model.email2 onChange=(action (mut model.email2))}}
    {{paper-input class="xlarge" label="Website" value=model.url onChange=(action (mut model.url))}}
  </div>
  <div class="layout-row">
  </div>
</div>

<h2>Overige</h2>
<div class="layout-column">
  <div class="layout-row layout-xs-column">
    {{paper-input textarea=true class="xxlarge" label="Opmerking" icon="comment" value=model.comment
        passThru=(hash rows=3) onChange=(action (mut model.comment))}}
    {{paper-input textarea=true class="xxlarge" label="Memo" icon="assignment" value=model.memo
        passThru=(hash rows=3) onChange=(action (mut model.memo))}}
  </div>
</div>

<div class="layout-row layout-align-end">
  {{paper-button label="Annuleer" primary=true raised=true onClick=(action "cancel")}}
  {{paper-button label="Opslaan" primary=true raised=true onClick=(action "save")}}
</div>

{{outlet}}
