<div class="divide-y divide-gray-200">
  <div class="px-6 py-4">
    <div class="flex justify-between items-center">
      <h2 class="text-2xl font-bold font-display text-gray-900">
        Bijlagen
      </h2>
      <FileUpload
        @name="case-attachment"
        class="inline-flex items-center px-4 py-1.5 border border-gray-300 text-sm font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 cursor-pointer"
        @onfileadd={{perform this.uploadAttachment}}
        as |queue|>
        {{#if (or queue.files.length this.uploadAttachment.isRunning)}}
          {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-5 w-14"}}
        {{else}}
          Voeg bijlage toe
        {{/if}}
      </FileUpload>
    </div>
  </div>
  <div class="px-6 py-4">
    {{#if this.attachments}}
      <ul class="border border-gray-200 rounded-md">
        {{#each this.attachments as |attachment index|}}
          <li class="pl-3 pr-4 py-3 flex items-center justify-between {{if (gt index 0) "border-t border-gray-200"}}">
            {{svg-jar "heroicons-sm-paper-clip" class="h-5 w-5 text-gray-400"}}
            <div class="ml-2 flex-1 w-0">
              <button type="button"
                class="text-gray-900 text-sm truncate hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
                {{on "click" (perform this.downloadAttachment attachment)}}>
                {{attachment.filename}}
              </button>
              <span class="ml-2 text-xs text-gray-400">
                {{attachment.humanReadableSize}}
              </span>
            </div>
            <button type="button"
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
              {{on "click" (perform this.deleteAttachment attachment)}}>
              {{svg-jar "heroicons-md-trash" class="h-5 w-5"}}
            </button>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="italic text-sm text-gray-400">
        Geen bijlagen toegevoegd
      </div>
    {{/if}}
  </div>
</div>