<div class="divide-y divide-gray-200">
  <div class="px-6 py-4">
    <div class="flex justify-between items-center">
      <h2 class="rlv-panel-title">
        Bijlagen
      </h2>
      <FileUpload
        @name="case-attachment"
        class="inline-flex items-center px-4 py-1.5 border border-gray-300 text-sm font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 cursor-pointer"
        @onFileAdd={{perform this.uploadAttachment}}
        @multiple={{true}}
        as |queue|>
        {{#if (or queue.files.length this.uploadAttachment.isRunning)}}
          {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-5 w-14"}}
        {{else}}
          Voeg bijlage toe
        {{/if}}
      </FileUpload>
    </div>
  </div>
  <div class="px-6 py-4">
    {{#if this.attachments}}
      <ul class="border border-gray-200 rounded-md">
        {{#each this.attachments as |attachment index|}}
          <li class="pl-3 pr-4 py-3 flex items-center justify-between {{if (gt index 0) "border-t border-gray-200"}}">
            {{svg-jar "attachment-2" class="h-5 w-5 text-gray-400 fill-current"}}
            <div class="ml-2 flex-1 w-0">
              <Rlv::Button
                @label={{attachment.filename}}
                @skin="secondary-link"
                class="max-w-100 text-left"
                {{on "click" (perform this.downloadAttachment attachment)}} />
              <div class="mt-1 text-xs text-gray-400">
                {{moment-format attachment.created}} - <span class="whitespace-nowrap">{{attachment.humanReadableSize}}</span>
              </div>
            </div>
            <Rlv::Button
              @label="Verwijder"
              @hideText={{true}}
              @icon={{if attachment.isDeleted "loading-circle" "delete-bin-line"}}
              @skin="secondary-naked"
              @size="large"
              @disabled={{attachment.isDeleted}}
              {{on "click" (perform this.deleteAttachment attachment)}} />
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class="italic text-sm text-gray-400">
        Geen bijlagen toegevoegd
      </div>
    {{/if}}
  </div>
</div>