<Rlv::AlertDialog
  @title="Dossier afsluiten"
  @confirmationButtonLabel="Afsluiten"
  @confirmationButtonDisabled={{not this.isValid}}
  @onConfirm={{fn @onConfirm this.cancellationReason}}
  @onClose={{@onClose}}>
  <p class="text-sm text-gray-500">
    Bent u zeker dat u dit dossier wil afsluiten?
  </p>
  <div>
    <label for="cancellation-reason" class="block text-sm text-gray-500">
      Reden van afsluiten
    </label>
    <Textarea
      id="cancellation-reason"
      @value={{this.cancellationReason}}
      class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
      rows="5"
      {{on "focusout" this.setCancellationReason}} />
  </div>
</Rlv::AlertDialog>