<div class="space-y-2">
  <Util::DetailItem @width={{20}} @label="Naam">
    <div class="flex items-center space-x-2">
      <span><Fmt::CustomerName @model={{@model}} /></span>
      <Customer::StatusIcon @uri={{@model.status}} />
    </div>
  </Util::DetailItem>

  <Util::DetailItem @width={{20}} @label="Adres">
    <Address::DetailView @model={{@model.address}} />
  </Util::DetailItem>

  <Util::DetailItem @width={{20}} @label="Telefoon">
    <Telephone::List @model={{@model.telephones}} @collapsible={{true}} />
  </Util::DetailItem>

  <Util::DetailItem @width={{20}} @label="E-mail">
    <Email::List @model={{@model.emails}} @collapsible={{true}} />
  </Util::DetailItem>
</div>

<div class="flex justify-end">
  <Rlv::Button
    @label="Bewerk"
    @hideText={{true}}
    @icon="pencil-line"
    @skin="secondary-naked"
    @size="large"
    class="p-2"
    {{on "click" this.openEditModal}} />
</div>

{{#if this.isOpenEditModal}}
  <Rlv::Modal @width="sm:max-w-5xl xl:w-full" @onClose={{this.closeEditModal}}>
    <:header>
    <div class="absolute top-0 right-0 pt-4 pr-4">
      <Util::SaveStatus @model={{@model}} @task={{this.save}} class="mb-0.5" />
      <Rlv::Button
        @label="Sluiten"
        @hideText={{true}}
        @icon="close-line"
        @skin="secondary-naked"
        @size="xlarge"
        class="px-2"
        {{on "click" this.closeEditModal}} />
    </div>
    </:header>
    <:body>
    <CustomerEntity::Form
      @model={{@model}}
      @scope="contact"
      @onSave={{perform this.save}} />
    </:body>
  </Rlv::Modal>
{{/if}}