<div class="space-y-2">
  <Util::DetailItem @width={{20}} @label="Naam">
    <Fmt::CustomerName @model={{@model}} />
  </Util::DetailItem>

  <Util::DetailItem @width={{20}} @label="Adres">
    <Address::DetailView @model={{@model.address}} />
  </Util::DetailItem>

  <Util::DetailItem @width={{20}} @label="Telefoon">
    <Telephone::List @model={{@model.telephones}} />
  </Util::DetailItem>

  <Util::DetailItem @width={{20}} @label="E-mail">
    <Email::List @model={{@model.emails}} />
  </Util::DetailItem>
</div>

<div class="flex justify-end">
  <button type="button"
    {{on "click" this.openEditModal}}
    class="p-2 text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
    {{svg-jar "heroicons-md-pencil" class="h-5 w-5"}}
  </button>
</div>

{{#if this.isOpenEditModal}}
  <Rlv::Modal @width="sm:max-w-5xl xl:w-full" @onClose={{this.closeEditModal}}>
    <:header>
    <div class="absolute top-0 right-0 pt-4 pr-4">
      <Util::SaveStatus @model={{@model}} @task={{this.save}} class="mb-0.5" />
      <button type="button"
        {{on "click" this.closeEditModal}}
        class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
        <span class="sr-only">Close</span>
        {{svg-jar "heroicons-md-x" class="h-6 w-6"}}
      </button>
    </div>
    </:header>
    <:body>
    <CustomerEntity::Form
      @model={{@model}}
      @scope="contact"
      @onSave={{perform this.save}} />
    </:body>
  </Rlv::Modal>
{{/if}}