{{#if @model}}
  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="divide-y divide-gray-200">
      <div class="px-6 py-4">
        <div class="flex justify-between items-end">
          <h3 class="text-xl font-bold font-display text-gray-400">
            {{@model.number}}
          </h3>
          <div class="flex grow-0 flex-row items-end space-x-3 pb-2">
            {{#if this.isEnabledUnlinkCustomer}}
              <button type="button"
                onClick={{perform this.unlinkCustomer}}
                class="block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "heroicons-md-user-remove" class="h-6 w-6"}}
                <EmberTooltip @text="Ontkoppel klant" @side="bottom" />
              </button>
            {{/if}}
            <LinkTo @route="main.customers.edit" @model={{@model}}
              class="block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-external-link" class="h-6 w-6"}}
              <EmberTooltip @text="Open klant" @side="bottom" />
            </LinkTo>
          </div>
        </div>
        <h2 class="text-2xl font-bold font-display text-gray-900">
          <Fmt::CustomerName @model={{@model}} />
        </h2>
      </div>
      <div class="p-6 grid grid-cols-1 sm:grid-cols-2 gap-8 lg:grid-cols-1">
        {{#if this.unlinkCustomer.isRunning}}
          <div>
            <Util::LoadingSpinner @label="Klant ontkoppelen..." />
          </div>
        {{else}}
          <div class="space-y-4">
            <Util::DetailItem @width={{20}} @label={{if @model.isCompany "Bedrijf" "Naam"}}>
              <div>
                {{#if @model.printInFront}}{{@model.honorificPrefix.name}}{{/if}}
                {{@model.prefix}} {{@model.name}} {{@model.suffix}}
                {{#unless @model.printInFront}}{{@model.honorificPrefix.name}}{{/unless}}
              </div>
              <div><Fmt::VatNumber @value={{@model.vatNumber}} /></div>
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Adres">
              <div>{{@model.address1}}</div>
              <div>{{@model.address2}}</div>
              <div>{{@model.address3}}</div>
              <div>{{@model.postalCode}} {{@model.city}}</div>
              <div>{{@model.country.name}}</div>
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Taal">
              {{@model.language.name}}
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Telefoon">
              {{#each @model.telephones as |tel|}}
                <div>
                  {{tel.telephoneType.name}}:
                  {{format-phone tel.country.telephonePrefix tel.area tel.number}}
                  {{#if tel.memo}}({{tel.memo}}){{/if}}
                </div>
              {{/each}}
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="E-mail">
              <div><Fmt::Email @value={{@model.email}} /></div>
              <div><Fmt::Email @value={{@model.email2}} /></div>
              <div>{{@model.url}}</div>
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Opmerking">
              {{#if @model.comment}}
                <div>
                  <button class="text-gray-400 text-sm" type="button" {{on "click" this.toggleComment}}>
                    {{#if this.isCommentExpanded}}
                      Verbergen {{svg-jar "heroicons-sm-chevron-up" class="h-4 w-4 inline"}}
                    {{else}}
                      Tonen {{svg-jar "heroicons-sm-chevron-down" class="h-4 w-4 inline"}}
                    {{/if}}
                  </button>
                </div>
                {{#if this.isCommentExpanded}}
                  <span class="whitespace-pre-wrap">{{@model.comment}}</span>
                {{/if}}
              {{else}}
                Geen opmerkingen
              {{/if}}
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Memo">
              {{#if @model.memo}}
                <div>
                  <button class="text-gray-400 text-sm" type="button" {{on "click" this.toggleMemo}}>
                    {{#if this.isMemoExpanded}}
                      Verbergen {{svg-jar "heroicons-sm-chevron-up" class="h-4 w-4 inline"}}
                    {{else}}
                      Tonen {{svg-jar "heroicons-sm-chevron-down" class="h-4 w-4 inline"}}
                    {{/if}}
                  </button>
                </div>
                {{#if this.isMemoExpanded}}
                  <span class="whitespace-pre-wrap">{{@model.memo}}</span>
                {{/if}}
              {{else}}
                Geen memo
              {{/if}}
            </Util::DetailItem>
          </div>
        {{/if}}
      </div>
      <div class="px-6 py-4">
        <div class="italic text-xs text-gray-400">
          Aangemaakt: {{moment-format @model.created}}
        </div>
      </div>
    </div>
  </div>
  {{#unless this.unlinkCustomer.isRunning}}
    <div class="mt-4 bg-white shadow rounded-lg">
      <div class="divide-y divide-gray-200">
        <div class="px-6 py-6">
          <div class="space-y-8">
            <div>
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex items-center justify-between">
                  <span class="pr-3 bg-white text-lg font-medium text-gray-900">
                    Gebouw
                  </span>
                  {{#if this.isEnabledEditBuilding}}
                    <button type="button"
                      onClick={{this.toggleBuildingEdit}}
              class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                      {{svg-jar "heroicons-md-x" class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"}}
                      <span>Annuleer</span>
                    </button>
                  {{else}}
                    <button type="button"
                      onClick={{this.toggleBuildingEdit}}
              class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                      {{svg-jar "heroicons-md-cursor-click" class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"}}
                      <span>Selecteer</span>
                    </button>
                  {{/if}}
                </div>
              </div>
              <div class="mt-4">
                {{#if this.isEnabledEditBuilding}}
                  <InputField::BuildingSelect
                    @value={{this.building}}
                    @customer={{@model}}
                    @onSelectionChange={{this.updateBuilding}}
                    @label="Selecteer een gebouw"
                    class="mt-1" />
                {{else}}
                  {{#if this.building}}
                    <Case::BuildingPanel @model={{this.building}} />
                  {{else}}
                    <div class="italic text-sm text-gray-400">
                      Geen gebouw gekoppeld
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
            <div>
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex items-center justify-between">
                  <span class="pr-3 bg-white text-lg font-medium text-gray-900">
                    Contact
                  </span>
                  {{#if this.isEnabledEditContact}}
                    <button type="button"
                      onClick={{this.toggleContactEdit}}
              class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                      {{svg-jar "heroicons-md-x" class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"}}
                      <span>Annuleer</span>
                    </button>
                  {{else}}
                    <button type="button"
                      onClick={{this.toggleContactEdit}}
              class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                      {{svg-jar "heroicons-md-cursor-click" class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"}}
                      <span>Selecteer</span>
                    </button>
                  {{/if}}
                </div>
              </div>
              <div class="mt-4">
                {{#if this.isEnabledEditContact}}
                  <InputField::ContactSelect
                    @value={{this.contact}}
                    @customer={{@model}}
                    @onSelectionChange={{this.updateContact}}
                    @label="Selecteer een contact"
                    class="mt-1" />
                {{else}}
                  {{#if this.contact}}
                    <Case::ContactPanel @model={{this.contact}} />
                  {{else}}
                    <div class="italic text-sm text-gray-400">
                      Geen contact gekoppeld
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 bg-white shadow rounded-lg overflow-hidden">
      <div class="divide-y divide-gray-200">
        <Case::AttachmentsPanel @caseDispatcher={{this.case.current}} />
      </div>
    </div>
  {{/unless}}
{{else}}
  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="divide-y divide-gray-200">
      <div class="px-6 pt-6 pb-4 flex justify-between">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Klant
        </h2>
        <div>
          {{#if this.case.current.request}}
            <LinkTo @route="main.requests.edit.customer" @model={{this.case.current.request}}
              class="block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-link" class="h-6 w-6"}}
              <EmberTooltip @text="Koppel klant" @side="bottom" />
            </LinkTo>
          {{else if this.case.current.intervention}}
            <LinkTo @route="main.interventions.edit.customer" @model={{this.case.current.intervention}}
              class="block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-link" class="h-6 w-6"}}
              <EmberTooltip @text="Koppel klant" @side="bottom" />
            </LinkTo>
          {{/if}}
        </div>
      </div>
      <div class="p-6">
        <div class="italic text-gray-400">
          Er is nog geen klant gekoppeld aan dit dossier.
        </div>
      </div>
    </div>
  </div>
{{/if}}
