{{#if @model.customer}}
  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="divide-y divide-gray-200">
      <div class="px-6 py-4">
        <div class="flex justify-between items-end">
          <h3 class="text-xl font-bold font-display text-gray-400">
            {{@model.customer.number}}
          </h3>
          <div class="flex grow-0 flex-row items-end space-x-3 pb-2">
            {{#if this.isEnabledUnlinkCustomer}}
              <Rlv::Button
                @label="Ontkoppel klant"
                @hideText={{true}}
                @icon="user-unfollow-line"
                @skin="secondary-naked"
                @size="xlarge"
                class="p-0"
                {{on "click" (perform this.unlinkCustomer)}}>
                <:tooltip>
                <EmberTooltip @text="Ontkoppel klant" @side="bottom" />
                </:tooltip>
              </Rlv::Button>
            {{/if}}
            <Rlv::Button
              @route="main.customers.edit.index"
              @model={{@model.customer.id}}
              @label="Open klant"
              @hideText={{true}}
              @icon="external-link-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="p-0">
              <:tooltip>
              <EmberTooltip @text="Open klant" @side="bottom" />
              </:tooltip>
            </Rlv::Button>
          </div>
        </div>
        <div class="flex items-center space-x-3">
          <h2 class="text-2xl font-bold font-display text-gray-900">
            <Fmt::CustomerName @model={{@model.customer}} />
          </h2>
          {{#if @model.isActive}}
            <Rlv::Pill @label="Actief" @color="green" />
          {{else}}
            <Rlv::Pill @label="Slapend" @color="blue" />
          {{/if}}
        </div>
      </div>
      <div class="p-6 grid grid-cols-1 sm:grid-cols-2 gap-8 lg:grid-cols-1">
        {{#if this.unlinkCustomer.isRunning}}
          <div>
            <Util::LoadingSpinner @label="Klant ontkoppelen..." />
          </div>
        {{else}}
          <div class="space-y-4">
            <Util::DetailItem @width={{20}} @label={{if @model.customer.isCompany "Bedrijf" "Naam"}}>
              <div>
                <Fmt::CustomerName @model={{@model.customer}} @printAll={{true}} />
              </div>
              <div>
                <Fmt::VatNumber @value={{@model.customer.vatNumber}} />
              </div>
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Adres">
              <Address::DetailView @model={{@model.customer.address}} />
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Taal">
              {{@model.customer.language.name}}
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Telefoon">
              <Telephone::List @model={{@model.customer.telephones}} />
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="E-mail">
              <Email::List @model={{@model.customer.emails}} />
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Website">
              <div>{{@model.customer.url}}</div>
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Opmerking">
              {{#if @model.customer.comment}}
                <div>
                  <Rlv::Button
                    @label={{if this.isCommentExpanded "Verbergen" "Tonen"}}
                    @icon={{if this.isCommentExpanded "arrow-up-s-line" "arrow-down-s-line"}}
                    @iconAlignment="right"
                    @skin="secondary-naked"
                    @size="small"
                    class="p-0"
                    {{on "click" this.toggleComment}} />
                </div>
                {{#if this.isCommentExpanded}}
                  <span class="whitespace-pre-wrap">{{@model.customer.comment}}</span>
                {{/if}}
              {{else}}
                <div class="text-sm text-gray-400">
                  Geen opmerkingen
                </div>
              {{/if}}
            </Util::DetailItem>

            <Util::DetailItem @width={{20}} @label="Memo">
              {{#if @model.customer.memo}}
                <div>
                  <Rlv::Button
                    @label={{if this.isMemoExpanded "Verbergen" "Tonen"}}
                    @icon={{if this.isMemoExpanded "arrow-up-s-line" "arrow-down-s-line"}}
                    @iconAlignment="right"
                    @skin="secondary-naked"
                    @size="small"
                    class="p-0"
                    {{on "click" this.toggleMemo}} />
                </div>
                {{#if this.isMemoExpanded}}
                  <span class="whitespace-pre-wrap">{{@model.customer.memo}}</span>
                {{/if}}
              {{else}}
                <div class="text-sm text-gray-400">
                  Geen memo
                </div>
              {{/if}}
            </Util::DetailItem>
          </div>
        {{/if}}
      </div>
      <div class="px-6 py-4">
        <div class="italic text-xs text-gray-400">
          Aangemaakt: {{moment-format @model.customer.created}}
        </div>
      </div>
    </div>
  </div>
  {{#unless this.unlinkCustomer.isRunning}}
    <div class="mt-4 bg-white shadow rounded-lg">
      <div class="divide-y divide-gray-200">
        <div class="px-6 py-6">
          <div class="space-y-8">
            <div>
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex items-center justify-between">
                  <span class="pr-3 bg-white text-lg font-medium text-gray-900">
                    Gebouw
                  </span>
                  {{#if this.isEnabledEditBuilding}}
                    <Rlv::Button
                      @label="Annuleer"
                      @icon="close-line"
                      @skin="tertiary"
                      {{on "click" this.toggleBuildingEdit}} />
                  {{else}}
                    <Rlv::Button
                      @label="Selecteer"
                      @icon="cursor-line"
                      @skin="tertiary"
                      {{on "click" this.toggleBuildingEdit}} />
                  {{/if}}
                </div>
              </div>
              <div class="mt-4">
                {{#if this.isEnabledEditBuilding}}
                  <InputField::BuildingSelect
                    @value={{await @model.building}}
                    @customer={{await @model.customer}}
                    @onSelectionChange={{perform this.updateBuilding}}
                    @label="Selecteer een gebouw"
                    class="mt-1" />
                {{else}}
                  {{#if @model.building}}
                    <Case::BuildingPanel @model={{await @model.building}} />
                  {{else}}
                    <div class="italic text-sm text-gray-400">
                      Geen gebouw gekoppeld
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
            <div>
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex items-center justify-between">
                  <span class="pr-3 bg-white text-lg font-medium text-gray-900">
                    Contact
                  </span>
                  {{#if this.isEnabledEditContact}}
                    <Rlv::Button
                      @label="Annuleer"
                      @icon="close-line"
                      @skin="tertiary"
                      {{on "click" this.toggleContactEdit}} />
                  {{else}}
                    <Rlv::Button
                      @label="Selecteer"
                      @icon="cursor-line"
                      @skin="tertiary"
                      {{on "click" this.toggleContactEdit}} />
                  {{/if}}
                </div>
              </div>
              <div class="mt-4">
                {{#if this.isEnabledEditContact}}
                  <InputField::ContactSelect
                    @value={{await @model.contact}}
                    @customer={{await @model.customer}}
                    @onSelectionChange={{perform this.updateContact}}
                    @label="Selecteer een contact"
                    class="mt-1" />
                {{else}}
                  {{#if @model.contact}}
                    <Case::ContactPanel @model={{await @model.contact}} />
                  {{else}}
                    <div class="italic text-sm text-gray-400">
                      Geen contact gekoppeld
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 bg-white shadow rounded-lg overflow-hidden">
      <div class="divide-y divide-gray-200">
        <Case::AttachmentsPanel @model={{@model}} />
      </div>
    </div>
  {{/unless}}
{{else}}
  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="divide-y divide-gray-200">
      <div class="px-6 pt-6 pb-4 flex justify-between">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Klant
        </h2>
        <div>
          {{#unless @model.isCancelled}}
            {{#if @model.request}}
              <LinkTo @route="main.case.request.edit.customer" @models={{array @model.id @model.request.id}}
                class="block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "link" class="h-6 w-6 fill-current"}}
                <EmberTooltip @text="Koppel klant" @side="bottom" />
              </LinkTo>
            {{else if @model.intervention}}
              <LinkTo @route="main.case.intervention.edit.customer" @models={{array @model.id @model.intervention.id}}
                class="block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "link" class="h-6 w-6 fill-current"}}
                <EmberTooltip @text="Koppel klant" @side="bottom" />
              </LinkTo>
            {{/if}}
          {{/unless}}
        </div>
      </div>
      <div class="p-6">
        <div class="italic text-sm text-gray-400">
          Er is nog geen klant gekoppeld aan dit dossier.
        </div>
      </div>
    </div>
  </div>
{{/if}}
