<div class="bg-white shadow rounded-lg overflow-hidden">
  <div class="divide-y divide-gray-200">
    <div class="px-6 py-4">
      <div class="flex space-x-4 items-center">
        <h2 class="rlv-panel-title">
          {{#if @model.request}}
            AD {{format-request-number @model.request.number}} {{@model.request.visitor.initials}}
          {{else if @model.intervention}}
            IR {{format-intervention-number @model.intervention.number}}
          {{else}}
            Dossier
          {{/if}}
        </h2>
        <div>
          {{#if @model.isCancelled}}
            <Rlv::Pill @label="Afgesloten" @color="red" @onClick={{this.openCancellationModal}} />
          {{else if @model.invoice.isBooked}}
            <Rlv::Pill @label="Geboekt" @color="blue" />
          {{else}}
            <Rlv::Pill @label="Geopend" @color="green" @onClick={{this.openCancellationModal}} />
          {{/if}}
        </div>
      </div>

      <div class="mt-4 flex space-x-16">
        <div class="shrink-0 {{unless @model.vatRate "border-2 border-dashed border-red-400 px-1"}}">
          <InputField::Editable
            @label="BTW tarief"
            @disabled={{or @model.isCancelled this.isDisabledEditVatRate}}
            @onSave={{queue (perform this.setVatRate) (perform this.save)}}
            @onCancel={{reset-relation @model "vatRate"}}>
            <:read>
              {{#if @model.vatRate}}
                <dd class="mt-1 text-sm text-gray-900">
                  {{@model.vatRate.name}}
                </dd>
              {{else}}
                <dd class="mt-1 pb-1 text-sm text-red-600">
                  {{svg-jar "error-warning-fill" class="h-4 w-4 fill-current"}}
                </dd>
                <EmberTooltip @text="BTW-tarief ontbreekt" />
              {{/if}}
            </:read>
            <:edit as |_ onSave onCancel|>
              <InputField::VatRateSelect
                @value={{@model.vatRate}}
                @isB2B={{@model.customer.isCompany}}
                @onSelectionChange={{onSave}}
                @allowClear={{false}}
                {{on-key "Escape" onCancel}}
                class="mt-1 w-60" />
            </:edit>
          </InputField::Editable>
        </div>
        <div class="shrink-0">
          <InputField::Editable
            @label="Referentie"
            @value={{@model.reference}}
            @disabled={{@model.isCancelled}}
            @onSave={{queue (fn (mut @model.reference)) (perform this.save)}}
            @onCancel={{reset-attribute @model "reference"}} />
        </div>
        {{#if @model.request}}
          <div class="shrink-0">
            <InputField::Editable
              @label="Uitvoering"
              @disabled={{@model.isCancelled}}
              @onSave={{queue (fn (mut @model.deliveryMethod)) (perform this.save) this.updateOrderPlanning}}
              @onCancel={{reset-relation @model "deliveryMethod"}}>
              <:read>
                <dd class="mt-1 text-sm text-gray-900">
                  {{or @model.deliveryMethod.label "-"}}
                </dd>
              </:read>
              <:edit as |_ onSave onCancel|>
                <InputField::DeliveryMethodSelect
                  @value={{@model.deliveryMethod}}
                  @onSelectionChange={{onSave}}
                  {{on-key "Escape" onCancel}}
                  class="mt-1 w-36" />
              </:edit>
            </InputField::Editable>
          </div>
          <div class="shrink-0">
            <InputField::Editable
              @label="Voorschot nodig"
              @disabled={{@model.isCancelled}}
              @onSave={{queue (fn (mut @model.depositRequired)) (perform this.save)}}
              @onCancel={{reset-relation @model "deliveryMethod"}}>
              <:read>
                <dd class="mt-1 text-sm text-gray-900">
                  <Util::DisplayCheckbox @value={{@model.depositRequired}} />
                </dd>
              </:read>
              <:edit as |_ onSave onCancel|>
                <InputField::Checkbox
                  @id="deposit-required-checkbox"
                  @value={{@model.depositRequired}}
                  @onChange={{onSave}}
                  {{on-key "Escape" onCancel}}
                  class="mt-1" />
              </:edit>
            </InputField::Editable>
          </div>
        {{/if}}
        <div class="flex-1 overflow-y-hidden">
          <InputField::Editable
            @label="Opmerking"
            @disabled={{@model.isCancelled}}
            @onSave={{perform this.save}}
            @onCancel={{reset-attribute @model "comment"}}>
            <:read>
              <dd {{on "click" (toggle "isExpandedComment" this)}}
                class="mt-1 text-sm text-gray-900 {{if this.isExpandedComment "whitespace-pre-wrap" "truncate"}}">{{or @model.comment "-"}}</dd>
            </:read>
            <:edit as |elementId onSave onCancel|>
              <Textarea
                id={{elementId}}
                @value={{@model.comment}}
                class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                rows="5"
                autofocus
                {{on-key "Escape" onCancel}}
                {{on "focusout" onSave}} />
            </:edit>
          </InputField::Editable>
        </div>
      </div>
    </div>

    {{#if @model.isCancelled}}
      <AlertMessage @level="error" class="mt-2 rounded-none">
        <:title>
          Het dossier is afgesloten op {{format-date @model.invalidation.date "dd/MM/yyyy 'om' HH'u'mm"}}{{#if @model.invalidation.user}} door {{@model.invalidation.user.firstName}}{{/if}}. Er zijn geen wijzigingen meer mogelijk.
        </:title>
        <:message>
          {{@model.invalidation.description}}
        </:message>
      </AlertMessage>
    {{/if}}

    <nav aria-label="Progress">
      <ol role="list" class="overflow-hidden rounded-md lg:flex lg:rounded-none lg:border-l lg:border-r lg:border-gray-200">
        <Case::Tabs::Intervention
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Request
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Offer
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Order
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::DepositInvoices
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Invoice
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
      </ol>
    </nav>
  </div>
</div>

{{#if this.isOpenCancellationModal}}
  {{#if @model.isCancelled}}
    <Case::UncancellationModal
      @onConfirm={{this.confirmReopen}}
      @onClose={{this.closeCancellationModal}}
    />
  {{else}}
    <Case::CancellationModal
      @onConfirm={{this.confirmCancellation}}
      @onClose={{this.closeCancellationModal}}
    />
  {{/if}}
{{/if}}