<div class="bg-white shadow rounded-lg overflow-hidden">
  <div class="divide-y divide-gray-200">
    <div class="px-6 py-4">
      <div class="flex space-x-4 items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          {{#if @model.request}}
            AD {{format-request-number @model.request.number}} {{@model.request.visitor.initials}}
          {{else if @model.intervention}}
            IR {{format-intervention-number @model.intervention.number}}
          {{else}}
            Dossier
          {{/if}}
        </h2>
        <div>
          {{#if @model.isCancelled}}
            <button class="inline-flex items-center gap-x-1.5 rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-700 focus:outline-none focus:ring-2 focus:ring-red-200" type="button" {{on "click" this.openCancellationModal}}>
              <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Afgesloten
            </button>
          {{else if @model.invoice.isBooked}}
            <span class="inline-flex items-center gap-x-1.5 rounded-full bg-blue-100 px-2 py-1 text-xs font-medium text-blue-700">
              <svg class="h-1.5 w-1.5 fill-blue-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Geboekt
            </span>
          {{else}}
            <button class="inline-flex items-center gap-x-1.5 rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700 focus:outline-none focus:ring-2 focus:ring-green-200" type="button" {{on "click" this.openCancellationModal}}>
              <svg class="h-1.5 w-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Geopend
            </button>
          {{/if}}
        </div>
      </div>

      <div class="mt-4 flex space-x-16">
        <div class="shrink-0">
          <InputField::Editable
            @label="BTW tarief"
            @disabled={{or @model.isCancelled this.isDisabledEditVatRate}}
            @isSaving={{or this.setVatRate.isRunning this.save.isRunning}}
            @onCancel={{reset-relation @model "vatRate"}}>
            <:read>
            <dd class="mt-1 text-sm text-gray-900">
              {{#if @model.vatRate}}
                {{@model.vatRate.rate}}% BTW
              {{else}}
                -
              {{/if}}
            </dd>
            </:read>
            <:edit as |_ closeEditMode|>
            <InputField::VatRateSelect
              @value={{@model.vatRate}}
              @onSelectionChange={{queue (perform this.setVatRate) (perform this.save) closeEditMode}}
              @allowClear={{false}}
              class="mt-1 w-44" />
            </:edit>
          </InputField::Editable>
        </div>
        <div class="shrink-0">
          <InputField::Editable
            @label="Referentie"
            @value={{@model.reference}}
            @disabled={{@model.isCancelled}}
            @onSave={{queue (fn (mut @model.reference)) (perform this.save)}} />
        </div>
        {{# if @model.request}}
          <div class="shrink-0">
            <InputField::Editable
              @label="Uitvoering"
              @disabled={{@model.isCancelled}}
              @isSaving={{this.save.isRunning}}
              @onCancel={{reset-relation @model "deliveryMethod"}}>
              <:read>
              <dd class="mt-1 text-sm text-gray-900">
                {{or @model.deliveryMethod.label "-"}}
              </dd>
              </:read>
              <:edit as |_ closeEditMode|>
              <InputField::DeliveryMethodSelect
                @value={{@model.deliveryMethod}}
                @onSelectionChange={{queue (fn (mut @model.deliveryMethod)) (perform this.save) closeEditMode this.updateOrderPlanning}}
                class="mt-1 w-36" />
              </:edit>
            </InputField::Editable>
          </div>
          <div class="flex-1 overflow-y-hidden">
            <InputField::Editable
              @label="Opmerking"
              @disabled={{@model.isCancelled}}
              @isSaving={{this.save.isRunning}}>
              <:read>
              <dd class="mt-1 text-sm text-gray-900 truncate">
                {{or @model.comment "-"}}
              </dd>
              </:read>
              <:edit as |elementId closeEditMode|>
              <Textarea
                id={{elementId}}
                @value={{@model.comment}}
                class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                rows="5"
                autofocus
                {{on "focusout" (queue (perform this.save) closeEditMode)}} />
              </:edit>
            </InputField::Editable>
          </div>
        {{/if}}
      </div>
    </div>

    {{#if @model.isCancelled}}
      <AlertMessage::Error
        @title="Het dossier is afgesloten. Er zijn geen wijzigingen meer mogelijk."
        @message={{@model.invalidation.description}}
        class="mt-2 rounded-none" />
    {{/if}}

    <nav aria-label="Progress">
      <ol role="list" class="overflow-hidden rounded-md lg:flex lg:rounded-none lg:border-l lg:border-r lg:border-gray-200">
        <Case::Tabs::Intervention
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Request
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Offer
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Order
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::DepositInvoices
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Invoice
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
      </ol>
    </nav>
  </div>
</div>

{{#if this.isOpenCancellationModal}}
  {{#if @model.isCancelled}}
    <Case::UncancellationModal
      @onConfirm={{this.confirmReopen}}
      @onClose={{this.closeCancellationModal}}
    />
  {{else}}
    <Case::CancellationModal
      @onConfirm={{this.confirmCancellation}}
      @onClose={{this.closeCancellationModal}}
    />
  {{/if}}
{{/if}}