<div class="bg-white shadow rounded-lg overflow-hidden">
  <div class="divide-y divide-gray-200">
    <div class="px-6 py-4">
      <div class="flex space-x-4 items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          {{#if @model.request}}
            AD {{format-request-number @model.request.number}} {{@model.request.visitor.initials}}
          {{else if @model.intervention}}
            IR {{format-intervention-number @model.intervention.number}}
          {{else}}
            Dossier
          {{/if}}
        </h2>
        <div>
          {{#if @model.isCancelled}}
            <span class="inline-flex items-center gap-x-1.5 rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-700" {{on "click" this.reopenCase}}>
              <svg class="h-1.5 w-1.5 fill-red-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Afgesloten
            </span>
          {{else}}
            <span class="inline-flex items-center gap-x-1.5 rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-700" {{on "click" this.cancelCase}}>
              <svg class="h-1.5 w-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
                <circle cx="3" cy="3" r="3" />
              </svg>
              Geopend
            </span>
          {{/if}}
        </div>
      </div>

      <div class="mt-4 flex space-x-16">
        <div class="shrink-0">
          <dt class="text-sm font-medium text-gray-500">
            BTW tarief
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{@model.vatRate.rate}}% BTW
          </dd>
        </div>
        <div class="shrink-0">
          <dt class="text-sm font-medium text-gray-500">
            Referentie
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{or @model.reference "-"}}
          </dd>
        </div>
        <div class="shrink-0">
          <dt class="text-sm font-medium text-gray-500">
            Uitvoering
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{or @model.deliveryMethod.label "-"}}
          </dd>
        </div>
        <div class="truncate">
          <dt class="text-sm font-medium text-gray-500">
            Opmerking
          </dt>
          <dd class="mt-1 text-sm text-gray-900 truncate">
            {{@model.comment}}
          </dd>
        </div>
      </div>
    </div>

    <nav aria-label="Progress">
      <ol role="list" class="overflow-hidden rounded-md lg:flex lg:rounded-none lg:border-l lg:border-r lg:border-gray-200">
        <Case::Tabs::Intervention
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Request
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Offer
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Order
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::DepositInvoices
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
        <Case::Tabs::Invoice
          @model={{@model}}
          @selectedStep={{this.selectedStep}}
          @currentStep={{this.currentStep}} />
      </ol>
    </nav>
  </div>
</div>
