<div>
  <div class="block">
    <div class="border-b border-gray-300">
      <nav class="-mb-px flex flex-wrap md:flex-nowrap space-x-8" aria-label="Tabs">
        <div class="p-4 {{if this.isLoading "w-32"}} text-sm font-bold text-gray-500 bg-gray-200 rounded-t-lg whitespace-nowrap border border-gray-300">
          {{#if this.isLoading}}
            {{svg-jar "loading-circle" class="animate-spin h-5 w-5 mx-auto"}}
          {{else}}
            {{#if this.model.requestId}}
              AD {{format-request-number this.model.requestId}} {{this.visitor.initials}}
            {{else if this.model.interventionId}}
              IR {{this.model.interventionId}}
            {{else}}
              Dossier
            {{/if}}
          {{/if}}
        </div>
        {{#if this.model.requestId}}
          {{#if this.model.customerId}}
            <LinkTo @route="main.case.request.edit.index"
              @models={{array this.model.customerId this.model.requestId}}
              @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
              class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
              data-case-tab>
              Aanvraag
            </LinkTo>
          {{else}}
            <LinkTo @route="main.requests.edit"
              @model={{this.model.requestId}}
              @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
              class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
              data-case-tab>
              Aanvraag
            </LinkTo>
          {{/if}}
        {{/if}}
        {{#if this.model.interventionId}}
          {{#if this.model.customerId}}
            <LinkTo @route="main.case.intervention.edit.index"
              @models={{array this.model.customerId this.model.interventionId}}
              @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
              class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
              data-case-tab>
              Interventie
            </LinkTo>
          {{else}}
            <LinkTo @route="main.interventions.edit"
              @model={{this.model.interventionId}}
              @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
              class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
              data-case-tab>
              Interventie
            </LinkTo>
          {{/if}}
        {{/if}}
        {{#if this.model.offerId}}
          <LinkTo @route="main.case.offer.edit.index"
            @models={{array this.model.customerId this.model.offerId}}
            @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
            class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
            data-case-tab>
            Offerte
          </LinkTo>
        {{/if}}
        {{#if this.model.orderId}}
          <LinkTo @route="main.case.order.edit.index"
            @models={{array this.model.customerId this.model.orderId}}
            @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
            class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
            data-case-tab>
            Bestelling
          </LinkTo>
          <LinkTo @route="main.case.order.edit.deposit-invoices"
            @models={{array this.model.customerId this.model.orderId}}
            @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
            class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
            data-case-tab>
            Voorschotten
          </LinkTo>
        {{/if}}
        {{#if this.model.invoiceId}}
          <LinkTo @route="main.case.invoice.edit.index"
            @models={{array this.model.customerId this.model.invoiceId}}
            @activeClass="border-red-500 text-red-600 hover:text-red-600 hover:border-red-500"
            class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm focus:outline-none focus:ring-2 focus:ring-red-200 rounded-t"
            data-case-tab>
            Factuur
          </LinkTo>
        {{/if}}

        {{#if this.canCreateNewOffer}}
          <div class="flex items-center">
            <LinkTo @route="main.case.request.edit.offer"
              @models={{array this.model.customerId this.model.requestId}}
                @activeClass="bg-red-200 border-red-300 !text-red-500 hover:bg-red-200 hover:border-red-300 hover:text-red-500"
                class="inline-flex items-center p-2 border border-gray-300 rounded-full text-gray-500 bg-gray-200 hover:bg-red-200 hover:border-red-300 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-red-200 focus:border-transparant"
                data-case-tab>
              <EmberTooltip @text="Offerte aanmaken" @side="right" />
              {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
            </LinkTo>
          </div>
        {{/if}}
        {{#if this.canCreateNewOrder}}
          <div class="flex items-center">
            <LinkTo @route="main.case.offer.edit.order"
              @models={{array this.model.customerId this.model.offerId}}
              @activeClass="bg-red-200 border-red-300 !text-red-500 hover:bg-red-200 hover:border-red-300 hover:text-red-500"
              class="inline-flex items-center p-2 border border-gray-300 rounded-full text-gray-500 bg-gray-200 hover:bg-red-200 hover:border-red-300 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-red-200 focus:border-transparant"
              data-case-tab>
              <EmberTooltip @text="Bestelling aanmaken" @side="right" />
              {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
            </LinkTo>
          </div>
        {{/if}}
        {{#if this.canCreateNewInvoice}}
          {{#if this.model.orderId}}
            <div class="flex items-center">
              <LinkTo @route="main.case.order.edit.invoice"
                @models={{array this.model.customerId this.model.orderId}}
                @activeClass="bg-red-200 border-red-300 !text-red-500 hover:bg-red-200 hover:border-red-300 hover:text-red-500"
                class="inline-flex items-center p-2 border border-gray-300 rounded-full text-gray-500 bg-gray-200 hover:bg-red-200 hover:border-red-300 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-red-200 focus:border-transparant"
                data-case-tab>
                <EmberTooltip @text="Factuur aanmaken" @side="right" />
                {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
              </LinkTo>
            </div>
          {{else if this.model.interventionId}}
            <div class="flex items-center">
              <LinkTo @route="main.case.intervention.edit.invoice"
                @models={{array this.model.customerId this.model.interventionId}}
                  @activeClass="bg-red-200 border-red-300 !text-red-500 hover:bg-red-200 hover:border-red-300 hover:text-red-500"
                  class="inline-flex items-center p-2 border border-gray-300 rounded-full text-gray-500 bg-gray-200 hover:bg-red-200 hover:border-red-300 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-red-200 focus:border-transparant"
                  data-case-tab>
                <EmberTooltip @text="Factuur aanmaken" @side="right" />
                {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
              </LinkTo>
            </div>
          {{/if}}
        {{/if}}
      </nav>
    </div>
  </div>
</div>
