{{ui-hooks didInsertHook=(action "resetFilters")}}

<h1>Offertes</h1>

<div class="offers-data-table">
  <div class="data-table-filters">
    <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
    <div class="layout-row flex layout-align-space-between-start">
      <div class="layout-column">
        <div class="layout-row data-table-filter--line">
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title"></div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Nummer" value=numberFilter onChange=(action "setFilter" "number") class="small"}}
            </div>
          </div>
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title">Klant</div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Naam" value=cNameFilter onChange=(action "setFilter" "cName")}}
              {{paper-input label="Adres" value=cStreetFilter onChange=(action "setFilter" "cStreet") class="large"}}
              {{paper-input label="Postcode" value=cPostalCodeFilter onChange=(action "setFilter" "cPostalCode") class="small"}}
              {{paper-input label="Gemeente" value=cCityFilter onChange=(action "setFilter" "cCity")}}
              {{paper-input label="Telefoon" value=cTelephoneFilter onChange=(action "setFilter" "cTelephone")}}
            </div>
          </div>
        </div>
        <div class="layout-row data-table-filter--line">
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title"></div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Aanvraag" value=requestNumberFilter onChange=(action "setFilter" "requestNumber") class="small"}}
              {{paper-input label="Referentie" value=referenceFilter onChange=(action "setFilter" "reference")}}
            </div>
          </div>
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title">Gebouw</div>
            <div class="layout-row data-table-filters--group-fields">
              {{paper-input label="Naam" value=bNameFilter onChange=(action "setFilter" "bName")}}
              {{paper-input label="Adres" value=bStreetFilter onChange=(action "setFilter" "bStreet") class="large"}}
              {{paper-input label="Postcode" value=bPostalCodeFilter onChange=(action "setFilter" "bPostalCode") class="small"}}
              {{paper-input label="Gemeente" value=bCityFilter onChange=(action "setFilter" "bCity")}}
            </div>
          </div>
          <div class="layout-column data-table-filter--group">
            <div class="data-table-filters--group-title"></div>
            <div class="layout-row data-table-filters--group-fields">
              {{#paper-switch value=withoutOrder primary=true onChange=(action (mut withoutOrder))}}
                Zonder bestelling
              {{/paper-switch}}
            </div>
          </div>
        </div>
      </div>

      <div class="data-table-filters--reset">
        {{#paper-button iconButton=true onClick=(action "resetFilters")}}
          {{paper-icon "close"}}
          {{#paper-tooltip}}Verwijder filters{{/paper-tooltip}}
        {{/paper-button}}
      </div>
    </div>
  </div>

  {{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
       sort=sort page=page size=size onClickRow=(action 'clickRow') as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        <th>Aanvraag</th>
        {{th-sortable field='number' currentSorting=sort label='Nr'}}
        {{th-sortable field='offer-date' currentSorting=sort label='Datum'}}
        <th>Bezoeker</th>
        <th><!-- customer / building --></th>
        <th>Naam</th>
        <th>Adres</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{row.requestNumber}}</td>
        <td>{{row.number}}</td>
        <td>{{fmt-date row.offerDate}}</td>
        <td>{{row.request.visitor}}</td>
        {{#if row.building}}
          <td>{{paper-icon "home"}}</td>
          <td>
            {{row.building.printName}}
            <span class="text-fade">({{print-name model=row.customer}})</span>
          </td>
          <td>{{row.building.address1}}</td>
          <td>{{row.building.postalCode}}</td>
          <td>{{row.building.city}}</td>
        {{else}}
          <td>{{paper-icon "person"}}</td>
          <td>{{print-name model=row.customer}}</td>
          <td>{{row.customer.address1}}</td>
          <td>{{row.customer.postalCode}}</td>
          <td>{{row.customer.city}}</td>
        {{/if}}
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>

{{liquid-outlet}}