<div class="bg-white overflow-hidden shadow sm:rounded-lg" {{did-update (perform this.loadData) @employee}}>
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="border-b border-gray-200 max-h-128 overflow-y-auto">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="sticky top-0">
            <tr>
              <DataTable::Th
                @field="case.idNumber"
                @currentSort={{this.sort}}
                @onUpdateSort={{queue (fn (mut this.sort)) (perform this.loadData)}}
                class="pl-4 pr-2 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                AD
              </DataTable::Th>
              <DataTable::Th
                @field="orderDate"
                @currentSort={{this.sort}}
                @onUpdateSort={{queue (fn (mut this.sort)) (perform this.loadData)}}
                class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Besteldat.
              </DataTable::Th>
              <th class="px-3 py-3 bg-gray-200 whitespace-nowrap text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Kl. nr.
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Klant
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Gebouw
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Uitvoering
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Pr. bon
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Planning
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Uren
              </th>
              <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Klaar?
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{#if this.loadData.isRunning}}
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-24 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-14 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-28 bg-gray-300"></div>
                </td>
                <td>
                  <div class="h-8 w-20 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-18 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-24 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-18 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
              </tr>
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-24 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-14 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-24 bg-gray-300"></div>
                </td>
                <td>
                  <div class="h-8 w-24 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-28 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
              </tr>
            {{else}}
              {{#each this.orders as |row|}}
                <tr>
                  <td class="px-2 py-2 whitespace-nowrap text-left text-xs text-gray-500">
                    <Rlv::Button
                      @label={{format-case-number row.case.identifier}}
                      @route="main.case.order.edit.index"
                      @models={{array row.case.uuid row.uuid}}
                      @skin="secondary-link"
                      @size="small"
                      class="text-gray-500" />
                  </td>
                  <td class="px-3 py-2 text-xs font-medium text-gray-900">
                    <Fmt::Date @value={{row.orderDate}} />
                  </td>
                  <td class="px-3 py-2 text-xs font-medium text-gray-900">
                    {{row.customer.number}}
                  </td>
                  <td class="px-3 py-2 text-xs font-medium">
                    <div class="text-gray-900">
                      <Fmt::CustomerName @model={{row.customer}} />
                    </div>
                    <div class="text-gray-500">
                      <Address::DetailView @model={{row.customer}} />
                    </div>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-500">
                    <div class="text-gray-900">
                      <Fmt::CustomerName @model={{row.building}} />
                    </div>
                    <div class="text-gray-500">
                      <Address::DetailView @model={{row.building}} />
                    </div>
                  </td>
                  <td class="px-3 py-2 text-xs text-gray-500">
                    {{row.deliveryMethodLabel}}
                  </td>
                  <td class="px-3 py-2 text-center text-xs text-gray-400">
                    {{#if row.hasProductionTicket}}
                      {{svg-jar "checkbox-circle-fill" class="block m-auto h-5 w-5 fill-current"}}
                    {{else}}
                      -
                    {{/if}}
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-500">
                    <div>
                      <span class="text-gray-400 italic inline-block w-5">Vw</span>
                      <Fmt::Date @value={{row.expectedDate}} />
                    </div>
                    <div>
                      <span class="text-gray-400 italic inline-block w-5">Ve</span>
                      <span class="{{if row.isOverdue "bg-red-200"}}">
                        <Fmt::Date @value={{row.dueDate}} />
                      </span>
                    </div>
                    <div>
                      <span class="text-gray-400 italic inline-block w-5">Pl</span>
                      <Fmt::Date @value={{row.plannedDate}} />
                    </div>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-500">
                    {{row.scheduledNbOfHours}} x {{row.scheduledNbOfPersons}} T
                    {{#each row.technicianNames as |name|}}
                      <br>{{name}}
                    {{/each}}
                  </td>
                  <td class="px-3 py-2 text-center text-xs text-gray-400">
                    {{#if row.isReady}}
                      {{svg-jar "checkbox-circle-fill" class="block m-auto h-5 w-5 fill-current"}}
                    {{else}}
                      -
                    {{/if}}
                  </td>
                </tr>
            {{else}}
                <tr>
                  <td colspan="10" class="px-6 py-4 text-center text-xs text-gray-500">
                    Geen uit te voeren werken gevonden.
                  </td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{#if this.orders}}
    <DataTable::Pagination
      @textSize="small"
      @page={{this.page}}
      @size={{this.size}}
      @total={{this.orders.meta.count}}
      @onPrevious={{this.previousPage}}
      @onNext={{this.nextPage}}
      @onSelectPage={{this.selectPage}} />
  {{/if}}
</div>
