<div class="flex items-center justify-between">
  <div class="flex items-center space-x-2">
    <h2 class="text-lg leading-6 font-medium text-gray-900">
      Te maken offertes laatste jaar
    </h2>
    <LinkTo @route="main.requests.index"
      class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
      {{svg-jar "external-link-line" class="h-5 w-5 fill-current"}}
      <EmberTooltip @text="Ga naar aanvragen" @side="top" />
    </LinkTo>
  </div>
  <div class="mr-4 flex items-center space-x-2">
    <InputField::Checkbox
      @id="future-requests-checkbox"
      @value={{this.showFutureVisits}}
      @onChange={{this.toggleShowFutureVisits}}>
      <:label as |fieldId|>
      <div class="ml-1 text-xs">
        <label for={{fieldId}} class="text-gray-700">Toon ook toekomstige bezoeken</label>
      </div>
      </:label>
    </InputField::Checkbox>
  </div>
</div>
<div class="flex flex-col mt-2" {{did-update (perform this.loadData) @employee}}>
  <div class="bg-white overflow-hidden shadow sm:rounded-lg">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="border-b border-gray-200 max-h-128 overflow-y-auto">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="sticky top-0 z-10">
              <tr>
                <th class="pl-4 pr-2 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  AD
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Datum
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Bezoek
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Naam
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Adres
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {{#if this.loadData.isRunning}}
                <tr class="animate-pulse">
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-28 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-36 bg-gray-300"></div>
                  </td>
                </tr>
                <tr class="animate-pulse">
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-36 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-48 bg-gray-300"></div>
                  </td>
                </tr>
              {{else}}
                {{#each this.requests as |row|}}
                  <tr role="button" {{on "click" (fn this.navigateToDetail row)}}>
                    <td class="px-2 py-2 whitespace-nowrap text-center text-xs text-gray-500">
                      <LinkTo @route="main.case.request.edit.index" @models={{array row.case.uuid row.uuid}}
                        class="underline hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                        {{format-case-number row.case.identifier}}
                      </LinkTo>
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-900">
                      <Fmt::Date @value={{row.requestDate}} />
                    </td>
                    <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-900">
                      <Fmt::Date @value={{row.plannedDate}} />
                    </td>
                    <td class="px-3 py-2 text-xs font-medium text-gray-900">
                      <Fmt::CustomerAndBuildingName
                        @case={{hash customer=row.customer building=row.building}} />
                    </td>
                    <td class="px-3 py-2 text-xs text-gray-500">
                      <Address::DetailView @model={{or row.building row.customer}} />
                    </td>
                  </tr>
              {{else}}
                  <tr>
                    <td colspan="5" class="px-6 py-4 text-center text-xs text-gray-500">
                      Geen openstaande aanvragen gevonden.
                    </td>
                  </tr>
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{#if this.requests}}
      <DataTable::Pagination
        @textSize="small"
        @page={{this.page}}
        @size={{this.size}}
        @total={{this.requests.meta.count}}
        @onPrevious={{this.previousPage}}
        @onNext={{this.nextPage}}
        @onSelectPage={{this.selectPage}} />
    {{/if}}
  </div>
</div>