{{#if (not this.userInfo.employee)}}
  <div class="sticky z-10 absolute inset-x-0 top-0 h-12">
    <div class="bg-red-50 p-4 shadow-md">
      <div class="flex items-center">
        <div class="shrink-0">
          {{svg-jar "close-circle-fill" class="h-5 w-5 text-red-400 fill-current"}}
        </div>
        <div class="ml-3 flex space-x-2 items-center">
          <p class="text-sm text-red-700">
            Er is geen overeenkomstige werknemer gevonden voor de ingelogde gebruiker <span class="font-bold">{{this.userInfo.firstName}}</span>. Selecteer in wiens naam u wil werken
          </p>
          <InputField::EmployeeSelect
            @value={{this.userInfo.employee}}
            @isAdministrative={{true}}
            @onSelectionChange={{this.impersonate}}
            class="w-32" />
        </div>
      </div>
    </div>
  </div>
{{else if this.userInfo.isImpersonation}}
  <div class="sticky z-10 absolute inset-x-0 top-0 h-12">
    <div class="bg-yellow-50 p-4 shadow-md">
      <div class="flex items-center">
        <div class="shrink-0">
          {{svg-jar "information-fill" class="h-5 w-5 text-yellow-400 fill-current"}}
        </div>
        <div class="ml-3 flex space-x-2 items-center">
          <p class="text-sm text-yellow-700">
            Gebruiker {{this.userInfo.firstName}} werkt momenteel in naam van <span class="font-bold">{{this.userInfo.employee.firstName}}</span>.
          </p>
          <button
            type="button"
            class="underline text-sm text-yellow-700"
            {{on "click" this.resetImpersonation}}>
            Wijzigen
          </button>
        </div>
      </div>
    </div>
  </div>
{{/if}}
