<div class="flex items-center justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 font-display text-gray-900 sm:text-3xl sm:truncate">
      Uit te voeren werken
    </h2>
  </div>
  <div class="flex grow-0">
    <LinkTo @route="main.reports.outstanding-jobs.print"
      @query={{hash visitorUri=this.visitorUri orderDate=this.orderDate hasProductionTicket=this.hasProductionTicket deliveryMethodUri=this.deliveryMethodUri isProductReady=this.isProductReady}}
      class="ml-3 inline-flex items-center px-4 py-2 border border-gray-300 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
      {{svg-jar "heroicons-md-printer" class="-ml-1 mr-2 h-5 w-5"}}
      Afdrukken
    </LinkTo>
  </div>
</div>

<div class="mt-6 bg-white shadow rounded-lg">
  <div class="pt-4 pb-6 px-4 space-y-4 sm:px-6">
    <div class="flex justify-between items-center">
      <div class="sm:flex sm:items-center">
        <div class="flex items-center">
          {{svg-jar "heroicons-md-search" class="shrink-0 mr-2 h-4 w-4 text-gray-500"}}
          <h4 class="text-gray-700 text-sm uppercase tracking-wide">
            Zoeken
          </h4>
        </div>
        <div class="ml-6 sm:ml-2 text-gray-500 text-xs">
          (<span class="font-medium">{{@model.orders.meta.count}}</span> resultaten gevonden)
        </div>
      </div>
    </div>
    <div class="grid sm:grid-cols-4 gap-6">
      <div class="space-y-3">
        <div>
          <label for="sorting" class="block text-sm font-medium text-gray-700">
            Sorteren
          </label>
          <div class="mt-1">
            <PowerSelect
              @options={{this.sortFieldOptions}}
              @selected={{this.sortField}}
              @searchEnabled={{false}}
              @onChange={{this.setSortField}}
              @renderInPlace={{true}} as |option|>
              {{option.label}}
            </PowerSelect>
          </div>
          <div class="mt-1">
            <PowerSelect
              @options={{this.sortDirectionOptions}}
              @selected={{this.sortDirection}}
              @searchEnabled={{false}}
              @onChange={{this.setSortDirection}}
              @renderInPlace={{true}} as |option|>
              {{option.label}}
            </PowerSelect>
          </div>
        </div>
      </div>
      <div class="space-y-4">
        <div>
          <InputField::EmployeeSelect
            @label="Bezoeker"
            @value={{this.visitor}}
            @isTechnician={{true}}
            @isAdministrative={{true}}
            @onSelectionChange={{this.selectVisitor}}
            class="mt-1" />
        </div>
        <div>
          <InputField::FilterFlag @label="Productiebon"
            @value={{this.hasProductionTicket}}
            @onChange={{fn (mut this.hasProductionTicket)}} />
        </div>
      </div>
      <div class="space-y-4">
        <div>
          <InputField::Date
            @label="Besteldatum na"
            @value={{this.orderDateObject}}
            @onChange={{this.setOrderDate}}
            class="mt-1" />
        </div>
        <div>
          <InputField::FilterFlag @label="Product klaar"
            @value={{this.isProductReady}}
            @onChange={{fn (mut this.isProductReady)}} />
        </div>
      </div>
      <div class="space-y-4">
        <div>
          <InputField::DeliveryMethodSelect
            @label="Uitvoering"
            @value={{this.deliveryMethod}}
            @allowClear={{true}}
            @onSelectionChange={{this.selectDeliveryMethod}}
            class="mt-1" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-6 bg-white shadow rounded-lg">
  <div class="flex flex-col overflow-x-auto">
    <div class="-my-2">
      <div class="py-2 align-middle inline-block min-w-full">
        <div class="border-b border-gray-200">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="pl-4 pr-2 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  AD
                </th>

                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Bez.
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Besteldat.
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Klant
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Gebouw
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Uitvoering
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Pr. bon
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Planning
                  <br>
                  <span class="lowercase text-gray-400">
                    {{@model.report.numberOverdue}} over tijd
                  </span>
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Uren
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Klaar?
                </th>
                <th class="px-3 py-3 bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider rounded-tr-lg">
                  Opmerking
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {{#each this.model.orders as |row|}}
                <tr>
                  <td class="px-2 py-2 whitespace-nowrap text-left text-xs text-gray-500">
                    <LinkTo @route="main.orders.edit" @model={{row.id}}
                      class="underline hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                      AD{{format-request-number row.case.request.number}}
                    </LinkTo>
                  </td>
                  <td class="px-3 py-2 text-xs text-gray-500">
                    {{row.case.request.visitor.firstName}}
                  </td>
                  <td class="px-3 py-2 text-xs font-medium text-gray-900">
                    <Fmt::Date @value={{row.orderDate}} />
                  </td>
                  <td class="px-3 py-2 text-xs font-medium">
                    <span>
                      <span class="text-gray-500">
                        {{row.case.customer.number}}
                      </span>
                      <span class="text-gray-900">
                        <Fmt::CustomerName @model={{row.case.customer}} />
                      </span>
                    </span>
                    <span class="text-gray-500 whitespace-nowrap">
                      <br>{{row.case.customer.address.street}}
                      <br>{{row.case.customer.address.postalCode}} {{row.case.customer.address.city}}
                    </span>
                  </td>
                  <td class="px-3 py-2 text-xs text-gray-500">
                    <span class="text-gray-900">
                      <Fmt::CustomerName @model={{row.case.building}} />
                    </span>
                    <span class="text-gray-500 whitespace-nowrap">
                      <br>{{row.case.building.address.street}}
                      <br>{{row.case.building.address.postalCode}} {{row.case.building.address.city}}
                    </span>
                  </td>
                  <td class="px-3 py-2 text-xs text-gray-500">
                    {{row.case.deliveryMethod.label}}
                  </td>
                  <td class="px-3 py-2 text-center text-xs text-gray-400">
                    {{#if row.case.hasProductionTicket}}
                      {{svg-jar "heroicons-sm-check-circle" class="block m-auto h-5 w-5"}}
                    {{else}}
                      -
                    {{/if}}
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-500">
                    <div>
                      <span class="text-gray-400 italic inline-block w-5">Vw</span>
                      <Fmt::Date @value={{row.expectedDate}} />
                    </div>
                    <div>
                      <span class="text-gray-400 italic inline-block w-5">Ve</span>
                      <span class="{{if row.isOverdue "bg-red-200"}}">
                        <Fmt::Date @value={{row.dueDate}} />
                      </span>
                    </div>
                    <div>
                      <span class="text-gray-400 italic inline-block w-5">Pl</span>
                      <Fmt::Date @value={{row.planning.date}} />
                    </div>
                  </td>
                  <td class="px-3 py-2 whitespace-nowrap text-xs text-gray-500">
                    {{row.scheduledNbOfHours}} x {{row.scheduledNbOfPersons}} T
                    {{#each row.technicians as |technician|}}
                      <br>{{technician.firstName}}
                    {{/each}}
                  </td>
                  <td class="px-3 py-2 text-center text-xs text-gray-400">
                    {{#if row.isReady}}
                      {{svg-jar "heroicons-sm-check-circle" class="block m-auto h-5 w-5"}}
                    {{else}}
                      -
                    {{/if}}
                  </td>
                  <td class="px-3 py-2 text-xs text-gray-500 max-w-xs {{unless row.expandComment "truncate"}}"
                    role="button"
                    {{on "click" (fn this.toggleComment row)}}>
                    {{row.case.comment}}
                  </td>
                </tr>
                {{else}}
                <tr>
                  <td colspan="12" class="px-6 py-4 text-center text-sm text-gray-500">
                    Geen uit te voeren werken.
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <DataTable::Pagination
    @page={{this.page}}
    @size={{this.size}}
    @total={{this.model.orders.meta.count}}
    @onPrevious={{this.previousPage}}
    @onNext={{this.nextPage}}
    @onSelectPage={{this.selectPage}} />
</div>
