<div class="layout-row layout-align-space-between-center">
  <h1>Uit te voeren werken</h1>
  <div>
    <PaperButton @onClick={{fn this.print}} @iconButton={{true}}>
    {{paper-icon "print"}}
      <PaperTooltip>Print view</PaperTooltip>
    </PaperButton>
  </div>
</div>

<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}} Filteren</div>
  <div class="data-table-filters--fields layout-row flex layout-align-start">
    <InputField::EmployeeSelect
      @label="Bezoeker"
      @value={{this.visitor}}
      @isTechnician={{true}}
      @isOnRoad={{true}}
      @onSelectionChange={{this.selectVisitor}}
      class="md-input-wrapper large" />

    <div>
      <PaperInput
        @label="Besteldatum na"
        @value={{this.orderDate}}
        @type="date"
        @onChange={{fn (mut this.orderDate)}}
        @class="default u-rel-top-normal" />
    </div>

    <InputField::FilterFlag @label="Productiebon"
      @value={{this.hasProductionTicket}}
      @onChange={{fn (mut this.hasProductionTicket)}}
    />

    <InputField::FilterFlag @label="Uitvoering"
      @value={{this.execution}}
      @options={{this.executionOptions}}
      @onChange={{fn (mut this.execution)}}
    />

    <InputField::FilterFlag @label="Product klaar"
      @value={{this.isProductReady}}
      @onChange={{fn (mut this.isProductReady)}}
    />
  </div>
</div>

<div class="data-table--outstanding-jobs">
  <DataTable
    @content={{@model}}
    @onClickRow={{this.goToOrder}}
    @isLoading={{this.isLoadingModel}}
    @noDataMessage="Geen resultaten"
    @page={{this.page}}
    @size={{this.size}}
    as |t|>
    <t.content as |c|>
      <c.header>
        <th>Aanvraag</th>
        <th>Bezoeker</th>
        <th>Besteldatum</th>
        <th>Kl. Nr.</th>
        <th>Klant</th>
        <th>Gemeente</th>
        <th>Uitvoering</th>
        <th>Pr.bon</th>
        <th>Planning</th>
        <th>Uren</th>
        <th>Klaar?</th>
        <th>Opmerking</th>
      </c.header>
      <c.body as |row|>
        <td>AD{{row.requestId}}</td>
        <td>{{row.visitor}}</td>
        <td><FmtDate @value={{row.orderDate}} /></td>
        <td>{{row.customerNumber}}</td>
        <td>
          {{row.customerName}}
          <br>{{row.customerAddress1}}
          {{#if row.buildingAddress1}}
            <br>{{row.buildingAddress1}}
          {{/if}}
        </td>
        <td>
          <br>
          {{row.customerPostalCode}} {{row.customerCity}}
          {{#if row.buildingCity}}
            <br>{{row.buildingPostalCode}} {{row.buildingCity}}
          {{/if}}
        </td>
        <td>
          {{#if row.mustBeDelivered}}
            {{order-execution 'delivery'}}
          {{else if row.mustBeInstalled}}
            {{order-execution 'installation'}}
          {{else}}
            {{order-execution 'pickup'}}
          {{/if}}
        </td>
        <td>
          {{paper-icon (if row.hasProductionTicket "check_box" "check_box_outline_blank")}}
        </td>
        <td>
          <div>
            <PaperTooltip>Verwacht</PaperTooltip>
            <span class="note note--info">Vw </span>
            <FmtDate @value={{row.expectedDate}} />
          </div>
          <div>
            <PaperTooltip>Vereist</PaperTooltip>
            <span class="note note--info">Ve </span>
            <FmtDate @value={{row.requiredDate}} />
          </div>
          <div>
            <PaperTooltip>Gepland</PaperTooltip>
            <span class="note note--info">Pl </span>
            <FmtDate @value={{row.planningDate}} />
          </div>
        </td>
        <td>
          {{row.scheduledNbOfHours}} x {{row.scheduledNbOfPersons}} T
          {{#each row.techniciansList as |technician|}}
            <br>{{technician}}
          {{/each}}
        </td>
        <td>
          {{paper-icon (if row.productIsReady "check_box" "check_box_outline_blank")}}
        </td>
        <td class="{{unless row.expandComment "truncate"}}" role="button" {{on "click" (fn this.toggleComment row)}}>
          {{row.comment}}
        </td>
      </c.body>
    </t.content>
  </DataTable>
</div>