<div class="flex items-center justify-between print:w-screen">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 font-display text-gray-900 sm:text-3xl sm:truncate">
      Uit te voeren werken
    </h2>
  </div>
  <div class="flex grow-0">
  </div>
</div>

<div class="mt-6 bg-white shadow rounded-lg">
  <div class="pt-4 pb-6 px-4 space-y-8 sm:px-6">
    <dl class="grid grid-cols-5 justify-between items-center print:space-x-4 print:w-max">
      <div>
        <dt class="font-semibold">Bezoeker:</dt>
        <dd>{{if this.visitor this.visitor.firstName " - "}}</dd>
      </div>
      <div>
        <dt class="font-semibold">Vanaf:</dt>
        <dd>
          {{#if this.orderDate}}
            {{moment-format this.orderDate 'DD/MM/YY'}}
          {{else}}
            -
          {{/if}}
        </dd>
      </div>
      <div>
        <dt class="font-semibold">Productiebon:</dt>
        <dd>
          <Print::FilterFlag @value={{this.hasProductionTicket}} />
        </dd>
      </div>
      <div>
        <dt class="font-semibold">Uitvoering:</dt>
        <dd>
          {{or this.deliveryMethod.label "n.v.t."}}
        </dd>
      </div>
      <div>
        <dt class="font-semibold">Product klaar:</dt>
        <dd>
          <Print::FilterFlag @value={{this.isProductReady}} />
        </dd>
      </div>
    </dl>

    <div class="print:hidden">
      <div class="italic text-sm">
        Het rapport om te printen is voorbereid. Het is normaal dat u hier geen resultaten ziet. Gebruik de print-functie van de browser (Ctrl+P) om dit rapport te printen.
      </div>
    </div>
  </div>
</div>

<div class="hidden print:table print:w-screen table table-striped report-outstanding-jobs overflow-visible">
  <div class="header">
    <div class="row">
      <div>Aanvraag</div>
      <div>Bez.</div>
      <div>Datum</div>
      <div>Kl. Nr.</div>
      <div>Klant</div>
      <div>Gebouw</div>
      <div>Uitv.</div>
      <div>Pr</div>
      <div>Uren</div>
      <div>Pk</div>
    </div>
  </div>
  {{#each this.model as |row|}}
    <div class="row">
      <div>
        AD{{format-request-number row.case.request.number}}
      </div>
      <div>{{row.case.request.visitor.firstName}}</div>
      <div>
        {{#if row.orderDate}}
          <div>
            <span class="note note--info">Be </span>
            {{moment-format row.orderDate "DD/MM/YY"}}
          </div>
        {{/if}}
        {{#if row.expectedDate}}
          <div>
            <span class="note note--info">Vw </span>
            {{moment-format row.expectedDate "DD/MM/YY"}}
          </div>
        {{/if}}
        {{#if row.dueDate}}
          <div>
            <span class="note note--info">Ve </span>
            {{moment-format row.dueDate "DD/MM/YY"}}
          </div>
        {{/if}}
        {{#if row.planning.date}}
          <div>
            <span class="note note--info">Pl </span>
            {{moment-format row.planning.date "DD/MM/YY"}}
          </div>
        {{/if}}
      </div>
      <div>{{row.case.customer.number}}</div>
      <div>
        <Fmt::CustomerName @model={{row.case.customer}} />
        <br>{{row.case.customer.address.street}}
        <br>{{row.case.customer.address.postalCode}} {{row.case.customer.address.city}}
      </div>
      <div>
        <Fmt::CustomerName @model={{row.case.building}} />
        <br>{{row.case.building.address.street}}
        <br>{{row.case.building.address.postalCode}} {{row.case.building.address.city}}
      </div>
      <div>
        {{row.case.deliveryMethod.notation}}
      </div>
      <div>
        {{#if row.hasProductionTicket}}
          {{svg-jar "heroicons-sm-check" class="h-4 w-4 text-gray-500"}}
        {{else}}
          -
        {{/if}}
      </div>
      <div class="center">
        {{row.scheduledNbOfHours}} x {{row.scheduledNbOfPersons}}T
        {{#each row.technicians as |technician|}}
          <br>{{technician.firstName}}
        {{/each}}
      </div>
      <div>
        {{#if row.isReady}}
          {{svg-jar "heroicons-sm-check" class="h-4 w-4 text-gray-500"}}
        {{else}}
          -
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

{{outlet}}