<div class="flex items-center justify-between print:w-screen">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 font-display text-gray-900 sm:text-3xl sm:truncate">
      Uit te voeren werken
    </h2>
  </div>
  <div class="flex flex-grow-0">
  </div>
</div>

<div class="mt-6 bg-white shadow rounded-lg">
  <div class="pt-4 pb-6 px-4 space-y-8 sm:px-6">
    <dl class="grid grid-cols-5 justify-between items-center print:space-x-4 print:w-max">
      <div>
        <dt class="font-semibold">Bezoeker:</dt>
        <dd>{{if this.visitorName this.visitorName " - "}}</dd>
      </div>
      <div>
        <dt class="font-semibold">Vanaf:</dt>
        <dd>
          {{#if this.orderDate}}
            {{moment-format this.orderDate 'DD/MM/YY'}}
          {{else}}
            -
          {{/if}}
        </dd>
      </div>
      <div>
        <dt class="font-semibold">Productiebon:</dt>
        <dd>
          <Print::FilterFlag @value={{this.hasProductionTicket}} />
        </dd>
      </div>
      <div>
        <dt class="font-semibold">Uitvoering:</dt>
        <dd>
          {{#if (eq this.execution "delivery")}}
            {{order-execution 'delivery'}}
          {{else if (eq this.execution "installation")}}
            {{order-execution 'installation'}}
          {{else if (eq this.execution "take-out")}}
            {{order-execution 'pickup'}}
          {{else}}
            n.v.t.
          {{/if}}
        </dd>
      </div>
      <div>
        <dt class="font-semibold">Product klaar:</dt>
        <dd>
          <Print::FilterFlag @value={{this.isProductReady}} />
        </dd>
      </div>
    </dl>

    <div class="print:hidden">
      <div class="italic text-sm">
        Het rapport om te printen is voorbereid. Het is normaal dat u hier geen resultaten ziet. Gebruik de print-functie van de browser (Ctrl+P) om dit rapport te printen.
      </div>
    </div>
  </div>
</div>

<div class="hidden print:table print:w-screen table table-striped report-outstanding-jobs overflow-visible">
  <div class="header">
    <div class="row">
      <div>Aanvraag</div>
      <div>Bez.</div>
      <div>Datum</div>
      <div>Kl. Nr.</div>
      <div>Klant</div>
      <div>Gemeente</div>
      <div>Uitv.</div>
      <div>Pr</div>
      <div>Uren</div>
      <div>Pk</div>
    </div>
  </div>
  {{#each this.model as |row|}}
    <div class="row">
      <div>
        AD{{format-request-number row.requestId}}
      </div>
      <div>{{row.visitorInitials}}</div>
      <div>
        {{#if row.orderDate}}
          <div>
            <span class="note note--info">Be </span>
            {{moment-format row.orderDate 'DD/MM/YY'}}
          </div>
        {{/if}}
        {{#if row.expectedDate}}
          <div>
            <span class="note note--info">Vw </span>
            {{moment-format row.expectedDate 'DD/MM/YY'}}
          </div>
        {{/if}}
        {{#if row.requiredDate}}
          <div>
            <span class="note note--info">Ve </span>
            {{moment-format row.requiredDate 'DD/MM/YY'}}
          </div>
        {{/if}}
        {{#if row.planningDate}}
          <div>
            <span class="note note--info">Pl </span>
            {{moment-format row.planningDate 'DD/MM/YY'}}
          </div>
        {{/if}}
      </div>
      <div>{{row.customerNumber}}</div>
      <div>
        {{row.customerName}}
        <br>{{row.customerAddress1}}
        {{#if row.buildingAddress1}}
          <br>{{row.buildingAddress1}}
        {{/if}}
      </div>
      <div>
        <br>
        {{row.customerCity}}
        {{#if row.buildingCity}}
          <br>{{row.buildingCity}}
        {{/if}}
      </div>
      <div>
        {{#if row.mustBeDelivered}}
          Lev
        {{else if row.mustBeInstalled}}
          Pla
        {{else}}
          Oph
        {{/if}}
      </div>
      <div>
        {{#if row.hasProductionTicket}}
          {{svg-jar "heroicons-sm-check" class="h-4 w-4 text-gray-500"}}
        {{else}}
          -
        {{/if}}
      </div>
      <div class="center">
        {{row.scheduledNbOfHours}} x {{row.scheduledNbOfPersons}}T
        {{#each row.techniciansList as |technician|}}
          <br>{{technician}}
        {{/each}}
      </div>
      <div>
        {{#if row.productIsReady}}
          {{svg-jar "heroicons-sm-check" class="h-4 w-4 text-gray-500"}}
        {{else}}
          -
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>

{{outlet}}