<table class="invoicelines-data-table">
  <thead>
    <th></th>
    <th>Beschrijving</th>
    <th>Bedrag</th>
    <th>BTW</th>
  </thead>
  <tbody>
    {{#if this.loadData.isRunning}}
      <tr><td colspan="5">Aan het laden...</td></tr>
    {{else}}
      {{#each this.sortedInvoicelines as |line|}}
        <tr>
          <td>
            {{line.sequenceNumber}}
            {{#if line.isSupplement}}
              <span>
                <PaperIcon @icon="add_shopping_cart" />
                <PaperTooltip>Toegevoegd als extra</PaperTooltip>
              </span>
            {{/if}}
          </td>
          <td>{{{line.description}}}</td>
          <td><FmtCurrency @value={{line.amount}} /></td>
          <td>{{line.vatRate.rate}}%</td>
        </tr>
      {{else}}
        <tr><td colspan="5">Geen inhoud</td></tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>
