<div class="px-4 space-y-1">
  <div class="h-8 w-auto text-3xl text-white font-display font-bold">
    Klantenbeheer
  </div>
  <div class="text-xs text-red-100 font-bold">
    v{{app-version versionOnly=true showExtended=true}}
  </div>
</div>

<div class="mt-5 2xl:mt-3 flex-1 h-0 overflow-y-auto">
  <nav class="px-2 space-y-8">
    <div class="space-y-1">
      <Menu::Sidebar::Item
        @route="main.index"
        @icon="home-2-line"
        @label="Home" />

      <Menu::Sidebar::Item
        @route="main.customers.index"
        @query={{hash page=0 number=undefined name=undefined postalCode=undefined city=undefined street=undefined telephone=undefined}}
        @icon="team-line"
        @label="Klanten" />

      <Menu::Sidebar::Item
        @route="main.requests.index"
        @query={{hash page=0 number=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined hasOffer=-1 isCancelled=0}}
        @icon="message-2-line"
        @label="Aanvragen" />

      <Menu::Sidebar::Item
        @route="main.interventions.index"
        @query={{hash page=0 number=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined hasInvoice=0 isCancelled=0 isPlanned=-1}}
        @icon="tools-line"
        @label="Interventies" />

      <Menu::Sidebar::Item
        @route="main.offers.index"
        @query={{hash page=0 number=undefined reference=undefined requestNumber=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined hasOrder=-1}}
        @icon="calculator-line"
        @label="Offertes" />

      <Menu::Sidebar::Item
        @route="main.orders.index"
        @query={{hash page=0 reference=undefined offerNumber=undefined requestNumber=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined hasInvoice=-1 isCancelled=0}}
        @icon="shopping-bag-3-line"
        @label="Bestellingen" />

      <Menu::Sidebar::Item
        @route="main.deposit-invoices.index"
        @query={{hash page=0 number=undefined reference=undefined offerNumber=undefined requestNumber=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined}}
        @icon="coupon-line"
        @label="Voorschotfacturen" />

      <Menu::Sidebar::Item
        @route="main.invoices.index"
        @query={{hash page=0 number=undefined reference=undefined offerNumber=undefined requestNumber=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined}}
        @icon="money-euro-circle-line"
        @label="Facturen" />
    </div>

    <div class="space-y-1">
      <Menu::Sidebar::Item
        @route="main.reports.outstanding-jobs.index"
        @query={{hash page=0 visitorName=undefined orderDate=undefined hasProductionTicket="-1" isProductReady="-1" execution="na" sort="order-date"}}
        @icon="calendar-event-line"
        @label="Uit te voeren werken" />

      <div class="text-red-100 flex items-center px-2 py-2 text-base font-medium">
        {{svg-jar "bar-chart-2-line" class="mr-4 h-6 w-6 text-red-300 fill-current"}}
        Rapporten
      </div>
      <div class="space-y-1">
        <Menu::Sidebar::Item
          @route="main.accountancy.exports"
          @query={{hash page=0}}
          @label="Export boekhouding"
          @level={{2}} />
        {{#if this.userInfo.isBoard}}
          <Menu::Sidebar::Item
            @route="main.reports.revenue"
            @query={{hash page=0}}
            @label="Omzet"
            @level={{2}} />
        {{/if}}
      </div>
    </div>
    <div class="space-y-1">
      {{#if this.userInfo.isBoard}}
        <Menu::Sidebar::Item
          @route="main.users.index"
          @query={{hash page=0 sort="type,first-name"}}
          @icon="user-settings-line"
          @label="Gebruikersbeheer" />
      {{/if}}
    </div>
  </nav>
</div>
<div class="flex justify-between items-center border-t border-red-800 px-4 pt-4">
  <div class="flex items-center">
    <div class="shrink-0">
      <span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-red-100">
        {{svg-jar "placeholder-avatar" class="h-full w-full text-red-400"}}
      </span>
    </div>
    <div class="ml-3">
      <div class="text-base font-medium leading-none text-red-100">{{this.userInfo.firstName}}</div>
    </div>
  </div>
  <div class="px-2" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
    <button type="button"
      {{on "click" @onLogout}}
      class="block w-full px-3 py-2 rounded-md text-red-100 text-left text-base font-medium hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-600"
      role="menuitem">
      Log uit
    </button>
  </div>
</div>
