{{case-tabs model=case}}

{{liquid-outlet}}

{{#if model}}
  <h2>
    Klant: {{print-name model=model}} <span class="small-text-fade">[{{model.number}}]</span>
    {{#paper-link 'main.customers.edit' model iconButton=true}}
      {{paper-icon "open in new"}}
      {{#paper-tooltip}}Open klant{{/paper-tooltip}}
    {{/paper-link}}
  </h2>

  <div class="resource-details">
    <div class="layout-row layout-xs-column">
      <div class="left-column">
        {{#detail-icon-list-item icon=(if model.isCompany "business" "person")
             label=(if model.isCompany "Bedrijf" "Naam")
             class="resource-details--section-name"}}
          <div>
            {{#if model.printInFront}}{{model.honorificPrefix.name}}{{/if}}
            {{model.prefix}} {{model.name}} {{model.suffix}}
            {{#if (not model.printInFront)}}{{model.honorificPrefix.name}}{{/if}}
          </div>
          <div>{{format-vat-number model.vatNumber}}</div>
        {{/detail-icon-list-item}}

        {{#detail-icon-list-item icon="location on" label="Straat" class="resource-details--section-address"}}
          <div>{{model.address1}}</div>
          <div>{{model.address2}}</div>
          <div>{{model.address3}}</div>
          <div>{{model.postalCode}} {{model.city}}</div>
          <div>{{model.country.name}}</div>
        {{/detail-icon-list-item}}

        {{#detail-icon-list-item icon="language" label="Taal" class="resource-details--section-language"}}
          {{model.language.name}}
        {{/detail-icon-list-item}}

        {{#detail-icon-list-item icon="phone" label="Telefoon" class="resource-details--section-telephone"}}
          {{#each model.telephones as |tel|}}
            <div>
              {{tel.telephoneType.name}}:
              {{format-phone tel.country.telephonePrefix tel.area tel.number}}
              {{#if tel.memo}}({{tel.memo}}){{/if}}
            </div>
          {{/each}}
        {{/detail-icon-list-item}}

        {{#detail-icon-list-item icon="mail outline" label="E-mail" class="resource-details--section-contact"}}
          <div>{{model.email}}</div>
          <div>{{model.email2}}</div>
          <div>{{model.url}}</div>
        {{/detail-icon-list-item}}
      </div>
      <div class="right-column layout-column">
        <div>
          <div class="layout-row layout-align-space-between-center">
            <h3>Gebouw</h3>
            {{#if isEnabledEditBuilding}}
              {{#paper-button onClick=(action "toggleBuildingEdit") iconButton=true}}
                {{paper-icon "exit to app"}}
                {{#paper-tooltip}}Sluiten{{/paper-tooltip}}
              {{/paper-button}}
            {{else}}
              {{#paper-button onClick=(action "toggleBuildingEdit") iconButton=true}}
                {{paper-icon "edit mode"}}
                {{#paper-tooltip}}Aanpassen{{/paper-tooltip}}
              {{/paper-button}}
            {{/if}}
          </div>
          {{#unless isEnabledEditBuilding}}
            {{#if building}}
              {{building-detail-card model=building}}
            {{else}}
              <p>n.v.t.</p>
            {{/if}}
          {{else}}
{{building-select value=building customer=model onSelectionChange=(action "updateBuilding") class="md-input-wrapper xxlarge"}}
          {{/unless}}
        </div>
        <div>
          <div class="layout-row layout-align-space-between-center">
            <h3>Contact</h3>
            {{#if isEnabledEditContact}}
              {{#paper-button onClick=(action "toggleContactEdit") iconButton=true}}
                {{paper-icon "exit to app"}}
                {{#paper-tooltip}}Sluiten{{/paper-tooltip}}
              {{/paper-button}}
            {{else}}
              {{#paper-button onClick=(action "toggleContactEdit") iconButton=true}}
                {{paper-icon "edit mode"}}
                {{#paper-tooltip}}Aanpassen{{/paper-tooltip}}
              {{/paper-button}}
            {{/if}}
          </div>
          {{#unless isEnabledEditContact}}
            {{#if contact}}
              {{contact-detail-card model=contact}}
            {{else}}
              <p>n.v.t.</p>
            {{/if}}
          {{else}}
            {{contact-select value=contact customer=model onSelectionChange=(action "updateContact") class="md-input-wrapper xxlarge"}}
          {{/unless}}
        </div>
      </div>
    </div>
    <div class="resource-details--section resource-details--section-audit layout-row">
      Aangemaakt: {{moment-format model.created}}
    </div>
  </div>
{{else}}
  {{#paper-button onClick=null}}Koppel klant{{/paper-button}}
{{/if}}