<div class="bg-white shadow">
  <div class="px-4 sm:px-6 lg:mx-auto lg:px-8">
    <div class="py-6 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
      <div class="flex-1 min-w-0">
        <div class="flex items-center">
          {{svg-jar "placeholder-avatar" class="hidden h-16 w-16 rounded-full sm:block text-gray-300 border"}}
          <div>
            <div class="flex items-center">
              {{svg-jar "placeholder-avatar" class="h-16 w-16 rounded-full sm:hidden text-gray-300 border"}}
              <h1 class="ml-3 rlv-page-subtitle !font-sans">{{capitalize this.greeting}}, {{or this.userInfo.employee.firstName this.userInfo.firstName}}</h1>
            </div>
            <dl class="mt-6 flex flex-col sm:ml-3 sm:mt-1 sm:flex-row sm:flex-wrap">
              <dt class="sr-only">Username</dt>
              <dd class="flex items-center text-sm text-gray-500 font-medium sm:mr-6">
                {{svg-jar "account-box-line" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400 fill-current"}}
                {{this.userInfo.account.accountName}}
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto mt-8 px-4 flex items-center space-x-2 sm:px-6 lg:px-8">
  <h2 class="text-lg leading-6 font-medium text-gray-900">
    Termijnen
  </h2>
</div>
<div class="mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col mt-2">
    <Dashboard::AverageDurations />
  </div>
</div>

<div class="mx-auto mt-8 px-4 sm:px-6 lg:px-8 grid lg:grid-cols-2 gap-8 lg:gap-4">
  <div>
    <Dashboard::OutstandingRequests @employee={{this.userInfo.employee}} />
  </div>
  <div>
    <Dashboard::ProductionTickets @employee={{this.userInfo.employee}} />
  </div>
</div>

<div class="mx-auto my-8 px-4 sm:px-6 lg:px-8">
  <div class="flex items-center space-x-2">
    <h2 class="text-lg leading-6 font-medium text-gray-900">
      Op te volgen bestellingen
    </h2>
    <Rlv::Button
      @route="main.reports.outstanding-jobs.index"
      @label="Ga naar uit te voeren werken"
      @hideText={{true}}
      @icon="external-link-line"
      @skin="secondary-naked"
      @size="large"
      class="p-0">
      <:tooltip>
      <EmberTooltip @text="Ga naar uit te voeren werken" @side="top" />
      </:tooltip>
    </Rlv::Button>
  </div>
  <div class="flex flex-col mt-2">
    <Dashboard::OutstandingJobs @employee={{this.userInfo.employee}} />
  </div>
</div>
