<div class="space-y-4" {{did-update (perform this.search this.filter) @customer}}>
  <div class="mx-4 space-y-4 xl:flex xl:flex-row-reverse xl:gap-x-2 xl:space-x-reverse xl:items-center xl:space-y-0">
    <button
      class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200" type="button" {{on "click" @onCreateNew}}>
      {{svg-jar "add-line" class="-ml-1 mr-2 h-5 w-5 fill-current"}}
      Nieuw
    </button>
    <Filter::Panel @onReset={{this.resetFilters}} as |Fields|>
      <div class="grid sm:grid-cols-5 lg:grid-cols-7 gap-4">
        <Fields.TextInput
          @label="Nummer"
          @value={{this.filter.number}}
          @onInput={{perform this.debounceFilter "number"}}
          class="sm:col-span-2 xl:col-span-1" />
        <Fields.TextInput
          @label="Naam"
          @value={{this.filter.visitor}}
          @onInput={{perform this.debounceFilter "name"}}
          class="sm:col-span-2" />
        <Fields.TextInput
          @label="Straat"
          @value={{this.filter.street}}
          @onInput={{perform this.debounceFilter "street"}}
          class="sm:col-span-3 lg:col-start-1 lg:col-span-2" />
        <Fields.TextInput
          @label="Postcode"
          @value={{this.filter.postalCode}}
          @onInput={{perform this.debounceFilter "postalCode"}}
          class="col-span-1" />
        <Fields.TextInput
          @label="Gemeente"
          @value={{this.filter.city}}
          @onInput={{perform this.debounceFilter "city"}}
          class="sm:col-span-2" />
        <Fields.TextInput
          @label="Telefoon"
          @value={{this.filter.telephone}}
          @onInput={{perform this.debounceFilter "telephone"}}
          class="sm:col-span-2" />
      </div>
    </Filter::Panel>
  </div>

  <div class="-my-2 overflow-x-auto">
    <div class="py-2 align-middle inline-block min-w-full">
      <div class="overflow-hidden border-b border-gray-200">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <DataTable::Th
                @field="position"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="pl-4 pr-2 py-3 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Nr.
              </DataTable::Th>
              <DataTable::Th
                @field="name"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Naam
              </DataTable::Th>
              <DataTable::Th
                @field="address.street"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Straat
              </DataTable::Th>
              <DataTable::Th
                @field="address.postal-code"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Gemeente
              </DataTable::Th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Taal
              </th>
              <th class="px-6 py-3 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{#if this.search.isRunning}}
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-20 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-28 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-36 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td>
                </td>
              </tr>
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-14 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-36 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-48 bg-gray-300"></div>
                </td>
                <td>
                </td>
              </tr>
            {{else}}
              {{#each this.buildings as |row|}}
                <tr role="button" {{on "click" (fn @onOpenDetail row)}}>
                  <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                    {{row.position}}
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-900">
                    <Fmt::CustomerName @model={{row}} />
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    <div class="whitespace-pre-wrap">{{row.address.street}}</div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{row.address.postalCode}}
                    {{#if row.address.city}}
                      {{row.address.city}} ({{row.address.country.code}})
                    {{/if}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{row.language.name}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <button class="text-red-700 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200" type="button" {{on "click" (fn @onOpenDetail row)}}>
                      Bekijk
                    </button>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="10" class="px-6 py-4 text-center text-sm text-gray-500">
                    Nog geen gebouwen
                  </td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <DataTable::Pagination
      @page={{this.page}}
      @size={{this.size}}
      @total={{this.buildings.meta.count}}
      @onPrevious={{this.previousPage}}
      @onNext={{this.nextPage}}
      @onSelectPage={{this.selectPage}} />
  </div>
</div>
