<div {{did-update this.closeDetail @customer}}>
  {{#if this.selectedContact}}
    <Contact::DetailPanel
      @model={{this.selectedContact}}
      @initialEditMode={{this.isNewContact}}
      @onCloseDetail={{this.closeDetail}} />
  {{else}}
    <Customer::ContactsTable
      @customer={{@customer}}
      @onOpenDetail={{this.openDetail}}
      @onCreateNew={{this.openCreate}} />
  {{/if}}
</div>