<div class="contacts-table">
  <div class="data-table-filters">
    <div class="data-table-filters--title">{{paper-icon "search"}}</div>
    <PaperInput @label="Nummer" @value={{this.filter.number}} @onChange={{perform this.debounceFilter "number"}} @class="small" />
    <PaperInput @label="Naam" @value={{this.filter.name}} @onChange={{perform this.debounceFilter "name"}} />
    <PaperInput @label="Straat" @value={{this.filter.street}} @onChange={{perform this.debounceFilter "street"}} @class="large" />
    <PaperInput @label="Postcode" @value={{this.filter.postalCode}} @onChange={{perform this.debounceFilter "postalCode"}} @class="small" />
    <PaperInput @label="Gemeente" @value={{this.filter.city}} @onChange={{perform this.debounceFilter "city"}} />
    <PaperInput @label="Telefoon" @value={{this.filter.telephone}} @onChange={{perform this.debounceFilter "telephone"}} />
    <PaperButton @iconButton={{true}} @onClick={{fn this.resetFilters}}>
      {{paper-icon "close"}}
      <PaperTooltip>Wis filters</PaperTooltip>
    </PaperButton>
  </div>

  <DataTable @content={{this.contacts}} @isLoading={{not this.search.isIdle}} @noDataMessage="Geen contacten" @onClickRow={{@onClickRow}} @page={{this.filter.page}} @size={{this.filter.size}} @sort={{this.filter.sort}} as |t|>
    <t.content as |c|>
      <c.header>
        <ThSortable @field="number" @currentSorting={{this.filter.sort}} @label="Nr" />
        <th>Aanspreking</th>
        <th>Prefix</th>
        <ThSortable @field="name" @currentSorting={{this.filter.sort}} @label="Naam" />
        <ThSortable @field="address" @currentSorting={{this.filter.sort}} @label="Straat" />
        <ThSortable @field="postal-code" @currentSorting={{this.filter.sort}} @label="Postcode" />
        <ThSortable @field="city" @currentSorting={{this.filter.sort}} @label="Gemeente" />
        <th>Land</th>
        <th>Taal</th>
        <th></th>
      </c.header>
      <c.body as |row|>
        <td>{{row.number}}</td>
        <td>{{row.honorificPrefix.name}}</td>
        <td>{{row.prefix}}</td>
        <td>{{row.name}}</td>
        <td>{{row.address}}</td>
        <td>{{row.postalCode}}</td>
        <td>{{row.city}}</td>
        <td>{{row.country.name}}</td>
        <td>{{row.language.name}}</td>
        <td {{on "click" (fn @onEdit row)}} role="button">{{paper-icon "mode edit"}}</td>
      </c.body>
    </t.content>
  </DataTable>
</div>