<div class="pt-4 pb-6 px-4 space-y-4 sm:px-6">
  <div class="flex justify-between items-center">
    <div class="sm:flex sm:items-center">
      <div class="flex items-center">
        {{svg-jar "search-line" class="shrink-0 mr-2 h-4 w-4 text-gray-500 fill-current"}}
        <h4 class="text-gray-700 text-sm uppercase tracking-wide">
          Zoeken
        </h4>
      </div>
      {{#if @resultCount}}
        <div class="ml-6 sm:ml-2 text-gray-500 text-xs">
          (<span class="font-medium">{{@resultCount}}</span> resultaten gevonden)
        </div>
      {{/if}}
    </div>
    <div>
      <button type="button"
        {{on "click" this.resetFilters}}
        class="inline-flex items-center text-sm text-gray-700 underline lg:no-underline hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
        {{svg-jar "filter-line" class="-ml-0.5 mr-2 h-4 w-4 text-gray-400 fill-current"}}
        Wis alle filters
      </button>
    </div>
  </div>
  <div class="grid sm:grid-cols-12 gap-4">
    <div class="sm:col-span-2 lg:col-span-1">
      <Filter::TextInput
        @label="Nummer"
        @value={{this.filter.number}}
        @onInput={{perform this.debounceFilter "number"}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <Filter::TextInput
        @label="Naam"
        @value={{this.filter.name}}
        @onInput={{perform this.debounceFilter "name"}}>
        <:tooltip>
        <Tooltip::SqsSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <Filter::TextInput
        @label="Straat"
        @value={{this.filter.street}}
        @onInput={{perform this.debounceFilter "street"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-2 lg:col-span-1">
      <Filter::TextInput
        @label="Postcode"
        @value={{this.filter.postalCode}}
        @onInput={{perform this.debounceFilter "postalCode"}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <Filter::TextInput
        @label="Gemeente"
        @value={{this.filter.city}}
        @onInput={{perform this.debounceFilter "city"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <Filter::TextInput
        @label="Telefoon"
        @value={{this.filter.telephone}}
        @onInput={{perform this.debounceFilter "telephone"}}>
        <:tooltip>
        <Tooltip::WildcardSearch />
        </:tooltip>
      </Filter::TextInput>
    </div>
  </div>
</div>
