<div class="pt-4 pb-6 px-4 space-y-4 sm:px-6">
  <div class="flex justify-between items-center">
    <div class="flex items-center">
      {{svg-jar "heroicons-md-search" class="flex-shrink-0 mr-2 h-4 w-4 text-gray-500"}}
      <h4 class="text-gray-700 text-sm uppercase tracking-wide">
        Zoeken
      </h4>
    </div>
    <div>
      <button type="button"
        onClick={{this.resetFilters}}
        class="inline-flex items-center text-sm text-gray-700 underline lg:no-underline hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
        {{svg-jar "heroicons-sm-filter" class="-ml-0.5 mr-2 h-4 w-4 text-gray-400"}}
        Wis alle filters
      </button>
    </div>
  </div>
  <div class="grid sm:grid-cols-12 gap-4">
    <div class="sm:col-span-2 lg:col-span-1">
      <label for="filter-number" class="block text-sm font-medium text-gray-700">
        Nummer
      </label>
      <Input
        @id="filter-number"
        @type="text"
        value={{this.filter.number}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "number")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <label for="filter-name" class="block text-sm font-medium text-gray-700">
        Naam
      </label>
      <Input
        @id="filter-name"
        @type="text"
        value={{this.filter.name}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "name")}}
        {{did-insert this.autofocus}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <label for="filter-street" class="block text-sm font-medium text-gray-700">
        Straat
      </label>
      <Input
        @id="filter-street"
        @type="text"
        value={{this.filter.street}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "street")}} />
    </div>
    <div class="sm:col-span-2 lg:col-span-1">
      <label for="filter-postal-code" class="block text-sm font-medium text-gray-700">
        Postcode
      </label>
      <Input
        @id="filter-postal-code"
        @type="text"
        value={{this.filter.postalCode}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "postalCode")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <label for="filter-city" class="block text-sm font-medium text-gray-700">
        Gemeente
      </label>
      <Input
        @id="filter-city"
        @type="text"
        value={{this.filter.city}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "city")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <label for="filter-telephone" class="block text-sm font-medium text-gray-700">
        Telefoon
      </label>
      <Input
        @id="filter-telephone"
        @type="text"
        value={{this.filter.telephone}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "telephone")}} />
    </div>
  </div>
</div>
