<div class="space-y-4" {{did-update (perform this.search this.filter) @customer}}>
  <div class="mx-4">
    <Filter::Panel @onReset={{this.resetFilters}} as |Fields|>
      <div class="grid sm:grid-cols-5 lg:grid-cols-7 gap-4">
        <Fields.TextInput
          @label="Nummer"
          @value={{this.filter.number}}
          @onInput={{perform this.debounceFilter "number"}}
          class="lg:col-span-2 xl:col-span-1" />
        <Fields.TextInput
          @label="Bezoeker"
          @value={{this.filter.visitor}}
          @onInput={{perform this.debounceFilter "visitor"}}
          class="sm:col-span-2 xl:col-span-1" />
        <Fields.TextInput
          @label="Referentie"
          @value={{this.filter.reference}}
          @onInput={{perform this.debounceFilter "reference"}}
          class="sm:col-span-2" />
        <Fields.TextInput
          @label="Gebouw"
          @value={{this.filter.name}}
          @onInput={{perform this.debounceFilter "name"}}
          class="sm:col-span-2 lg:col-start-1" />
        <Fields.TextInput
          @label="Straat"
          @value={{this.filter.street}}
          @onInput={{perform this.debounceFilter "street"}}
          class="sm:col-span-2" />
        <Fields.TextInput
          @label="Postcode"
          @value={{this.filter.postalCode}}
          @onInput={{perform this.debounceFilter "postalCode"}}
          class="col-span-1" />
        <Fields.TextInput
          @label="Gemeente"
          @value={{this.filter.city}}
          @onInput={{perform this.debounceFilter "city"}}
          class="sm:col-span-2" />
      </div>
    </Filter::Panel>
  </div>
  <div class="-my-2 overflow-x-auto">
    <div class="py-2 align-middle inline-block min-w-full">
      <div class="overflow-hidden border-b border-gray-200">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="bg-gray-50 w-5">
                {{!-- cancelled icon --}}
              </th>
              <DataTable::Th
                @field="number"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="pl-4 pr-2 py-3 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                Nr.
              </DataTable::Th>
              <DataTable::Th
                @field="invoice-date"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Datum
              </DataTable::Th>
              <DataTable::Th
                @field="case.reference"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Referentie
              </DataTable::Th>
              <DataTable::Th
                @field="case.request.visitor.first-name"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Bezoeker
              </DataTable::Th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Gebouw
              </th>
              <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Straat
              </th>
              <DataTable::Th
                @field="building.address.postal-code"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                P.Code
              </DataTable::Th>
              <DataTable::Th
                @field="building.address.city"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Gemeente
              </DataTable::Th>
              <th class="px-6 py-3 bg-gray-50"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{#if this.search.isRunning}}
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-18 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-28 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-36 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-32 bg-gray-300"></div>
                </td>
                <td>
                </td>
              </tr>
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-14 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-36 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-48 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-24 bg-gray-300"></div>
                </td>
                <td>
                </td>
              </tr>
            {{else}}
              {{#each this.depositInvoices as |row|}}
                <tr role="button" {{on "click" (fn this.navigateToDetail row)}}>
                  <td class="py-2 text-center text-xs text-red-400">
                    {{#if row.case.isCancelled}}
                      {{svg-jar "prohibited-line" class="block m-auto h-5 w-5 fill-current"}}
                    {{/if}}
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                    {{format-invoice-number row.number}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <Fmt::Date @value={{row.invoiceDate}} />
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{row.case.reference}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{row.case.request.visitor.firstName}}
                  </td>
                  <td class="px-6 py-4 text-sm font-medium text-gray-900">
                    <div class="flex">
                      {{#if row.building}}
                        {{svg-jar "building-4-line" class="mr-1 flex-none h-5 w-5 text-gray-400 fill-current"}}
                        <div class="space-y-1">
                          {{#if row.building.name}}
                            <div>
                              {{row.building.name}}
                            </div>
                          {{else}}
                            <div class="text-gray-400 italic font-normal">
                              Naamloos
                            </div>
                          {{/if}}
                        </div>
                      {{/if}}
                    </div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    <div class="whitespace-pre-wrap">{{row.building.address.street}}</div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{row.building.address.postalCode}}
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{row.building.address.city}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <LinkTo @route="main.deposit-invoices.edit" @model={{row.id}}
                      class="text-red-700 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                      Bekijk
                    </LinkTo>
                  </td>
                </tr>
            {{else}}
                <tr>
                  <td colspan="9" class="px-6 py-4 text-center text-sm text-gray-500">
                    Nog geen voorschotfacturen
                  </td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <DataTable::Pagination
      @page={{this.page}}
      @size={{this.size}}
      @total={{this.depositInvoices.meta.count}}
      @onPrevious={{this.previousPage}}
      @onNext={{this.nextPage}}
      @onSelectPage={{this.selectPage}} />
  </div>
</div>
