<div class="divide-y divide-y-200" {{did-update this.closeEdit @model}}>
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center space-x-3">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          <span class="text-gray-400 mr-2">{{@model.number}}</span>
          <Fmt::CustomerName @model={{@model}} />
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} />
        {{else}}
          <Customer::StatusPill @model={{@model}} @onChange={{this.toggleCustomerStatus}} />
        {{/if}}
      </div>
      <div class="flex flex-none">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <Rlv::Button
              @label="Verwijder"
              @hideText={{true}}
              @icon="delete-bin-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" @onDelete}} />
          {{/if}}
          <Rlv::Button
            @label="Sluiten"
            @hideText={{true}}
            @icon="logout-box-r-line"
            @skin="secondary-naked"
            @size="xlarge"
            class="px-2"
            {{on "click" this.closeEdit}} />
        {{else}}
          <Rlv::Button
            @label="Bewerk"
            @hideText={{true}}
            @icon="pencil-line"
            @skin="secondary-naked"
            @size="xlarge"
            {{on "click" this.openEdit}} />
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <CustomerEntity::Form
        @model={{@model}}
        @onSave={{perform this.save}} />
    {{else}}
      <CustomerEntity::Detail
        @model={{@model}} />
    {{/if}}
  </div>

  {{!-- Card footer --}}
  <div class="px-6 py-4">
    <div class="italic text-xs text-gray-400">
      Aangemaakt: {{moment-format @model.created}}
    </div>
  </div>
</div>