<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          <span class="text-gray-400 mr-2">{{@model.number}}</span>
          <PrintName @model={{@model}} />
        </h2>
        {{#if this.editMode}}
          <SaveStatusIcon
            @model={{@model}}
            @task={{this.save}}
            class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"
              onClick={{@onDelete}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            onClick={{this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
          </button>
        {{else}}
          <button type="button"
            onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
          </button>
        {{/if}}
        {{!-- TODO add unsaved changes warning --}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="space-y-16">
        <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Algemeen
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              Algemene gegevens van de klant
            </p>
          </div>

          <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
            <div role="group" aria-labelledby="customer-type" class="space-y-4">
              <div id="customer-type" class="font-medium text-sm text-gray-700">
                Type
              </div>
              <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-4">
                <div class="flex items-center">
                  <Input
                    @id="customer-type--individual"
                    @type="radio"
                    @value="individual"
                    name="customer-type"
                    class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300"
                    checked={{not @model.isCompany}}
                    {{on "input" (queue this.setCustomerType (perform this.save))}} />
                  <label for="customer-type--individual" class="ml-3 block text-sm font-medium text-gray-700">
                    Particulier
                  </label>
                </div>
                <div class="flex items-center">
                  <Input
                    @id="customer-type--company"
                    @type="radio"
                    @value="company"
                    name="customer-type"
                    class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300"
                    checked={{@model.isCompany}}
                    {{on "input" (queue this.setCustomerType (perform this.save))}} />
                  <label for="customer-type--company" class="ml-3 block text-sm font-medium text-gray-700">
                    Bedrijf
                  </label>
                </div>
              </div>
            </div>
            {{#if @model.isCompany}}
              <InputField::VatNumberInput
                @label="BTW nummer"
                @value={{@model.vatNumber}}
                @onChange={{fn (mut @model.vatNumber)}}
                @onBlur={{perform this.save}}
                class="mt-1" />
              {{#if this.isDuplicateVatNumber}}
                <DuplicateVatNumberWarning @customer={{@model}} />
              {{/if}}
            {{/if}}

            <div class="col-start-1">
              <InputField::HonorificPrefixSelect
                @label="Aanspreektitel"
                @value={{@model.honorificPrefix}}
                @language={{@model.language}}
                @onSelectionChange={{queue (fn (mut @model.honorificPrefix)) (perform this.save)}}
                class="mt-1" />
              <InputField::Checkbox
                @id="print-in-front-checkbox"
                @label="Vooraan"
                @value={{@model.printInFront}}
                @onChange={{queue (fn (mut @model.printInFront)) (perform this.save)}}
                class="mt-1" />
            </div>

            <div>
              <label for="customer-prefix" class="block text-sm font-medium text-gray-700">
                Prefix
              </label>
              <Input
                @id="customer-prefix"
                @type="text"
                @value={{@model.prefix}}
                class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                {{on "focusout" (perform this.save)}} />
              <InputField::Checkbox
                @id="print-prefix-checkbox"
                @label="Print"
                @value={{@model.printPrefix}}
                @onChange={{queue (fn (mut @model.printPrefix)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <label for="customer-name" class="block text-sm font-medium text-gray-700">
                Naam
              </label>
              <Input
                @id="customer-name"
                @type="text"
                @value={{@model.name}}
                class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                {{on "focusout" (perform this.save)}} />
            </div>
            <div>
              <label for="customer-suffix" class="block text-sm font-medium text-gray-700">
                Suffix
              </label>
              <Input
                @id="customer-suffix"
                @type="text"
                @value={{@model.suffix}}
                class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                {{on "focusout" (perform this.save)}} />
              <InputField::Checkbox
                @id="print-suffix-checkbox"
                @label="Print"
                @value={{@model.printSuffix}}
                @onChange={{queue (fn (mut @model.printSuffix)) (perform this.save)}}
                class="mt-1" />
            </div>
          </div>
        </section>

        <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Adres
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              Adresgegevens van de klant
            </p>
          </div>

          <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
            <div class="sm:col-span-2">
              <InputField::AddressInput
                @label="Straat"
                @address1={{@model.address1}}
                @address2={{@model.address2}}
                @address3={{@model.address3}}
                @onChange={{queue (fn this.setAddress) (perform this.save)}}
                class="mt-1" />
            </div>

            <div class="sm:col-span-2 sm:col-start-1">
              <InputField::PostalCodeSelect
                @label="Gemeente"
                @postalCode={{@model.postalCode}}
                @city={{@model.city}}
                @titleize={{not this.isScopeCustomer}}
                @onSelectionChange={{queue (fn this.setPostalCode) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::CountrySelect
                @label="Land"
                @value={{@model.country}}
                @onSelectionChange={{queue (fn (mut @model.country)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::LanguageSelect
                @label="Taal"
                @value={{@model.language}}
                @onSelectionChange={{queue (fn (mut @model.language)) (perform this.save)}}
                class="mt-1" />
            </div>
          </div>
        </section>

        <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Contact
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              Contactgegevens van de klant
            </p>
          </div>

          <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
            <div>
              <label for="customer-mail" class="block text-sm font-medium text-gray-700">
                Email
              </label>
              <Input
                @id="customer-mail"
                @type="text"
                @value={{@model.email}}
                class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                {{on "focusout" (perform this.save)}} />
            </div>
            <div>
              <label for="customer-mail2" class="block text-sm font-medium text-gray-700">
                Email 2
              </label>
              <Input
                @id="customer-mail2"
                @type="text"
                @value={{@model.email2}}
                class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                {{on "focusout" (perform this.save)}} />
            </div>
            <div>
              <label for="customer-website" class="block text-sm font-medium text-gray-700">
                Website
              </label>
              <Input
                @id="customer-website"
                @type="text"
                @value={{@model.url}}
                class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                {{on "focusout" (perform this.save)}} />
            </div>
          </div>
          {{!-- TODO add phone numbers list with delete --}}
          {{!-- TODO add creation of new phone number --}}
        </section>

        <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Nota's
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
              Opmerkingen en memo bij de klant
            </p>
          </div>

          <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
            <div class="sm:col-span-2">
              <label for="comment" class="block text-sm font-medium text-gray-700">
                Opmerking (zichtbaar)
              </label>
              <Textarea
                @id="comment"
                @value={{@model.comment}}
                class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                rows="5"
                {{on "focusout" (perform this.save)}} />
            </div>
            <div class="sm:col-span-2">
              <label for="memo" class="block text-sm font-medium text-gray-700">
                Memo (verborgen)
              </label>
              <Textarea
                @id="memo"
                @value={{@model.memo}}
                class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                rows="5"
                {{on "focusout" (perform this.save)}} />
            </div>
          </div>
        </section>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-1">
          <DetailListItem @label={{if @model.isCompany "Bedrijf" "Naam"}}>
            <div>
              {{#if @model.printInFront}}{{@model.honorificPrefix.name}}{{/if}}
              {{@model.prefix}} {{@model.name}} {{@model.suffix}}
              {{#if (not @model.printInFront)}}{{@model.honorificPrefix.name}}{{/if}}
            </div>
            <div><FmtVatNumber @value={{@model.vatNumber}} /></div>
          </DetailListItem>

          <DetailListItem @label="Adres">
            <div>{{@model.address1}}</div>
            <div>{{@model.address2}}</div>
            <div>{{@model.address3}}</div>
            <div>{{@model.postalCode}} {{@model.city}}</div>
            <div>{{@model.country.name}}</div>
          </DetailListItem>

          <DetailListItem @label="Taal">
            {{@model.language.name}}
          </DetailListItem>

          <DetailListItem @label="Tags">
            {{this.joinedTagNames}}
          </DetailListItem>
        </div>

        <div class="space-y-1">
          <DetailListItem @label="Telefoon">
            {{#each @model.telephones as |tel|}}
              <div>
                {{tel.telephoneType.name}}
                {{format-phone (get (await tel.country) 'telephonePrefix') tel.area tel.number}}
                {{#if tel.memo}}({{tel.memo}}){{/if}}
              </div>
            {{/each}}
          </DetailListItem>

          <DetailListItem @label="E-mail">
            <div><FmtEmail @value={{@model.email}} /></div>
            <div><FmtEmail @value={{@model.email2}} /></div>
          </DetailListItem>

          <DetailListItem @label="Website">
            {{@model.url}}
          </DetailListItem>
        </div>

        <div>
          <DetailListItem @label="Opmerking">
            {{#if @model.comment}}
              <span class="whitespace-pre-wrap">{{@model.comment}}</span>
            {{else}}
              Geen opmerkingen
            {{/if}}
          </DetailListItem>
        </div>
        <div>
          <DetailListItem @label="Memo">
            {{#if @model.memo}}
              <div>
                <button class="text-gray-400 text-sm"
                  {{on "click" this.toggleMemo}}>
                  {{#if this.isMemoExpanded}}
                    Sluiten {{svg-jar "heroicons-sm-chevron-up" class="h-4 w-4 inline"}}
                  {{else}}
                    Openen {{svg-jar "heroicons-sm-chevron-down" class="h-4 w-4 inline"}}
                  {{/if}}
                </button>
              </div>
              {{#if this.isMemoExpanded}}
                <span class="whitespace-pre-wrap">{{@model.memo}}</span>
              {{/if}}
            {{else}}
              Geen memo
            {{/if}}
          </DetailListItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>