<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          <span class="text-gray-400 mr-2">{{@model.number}}</span>
          <PrintName @model={{@model}} />
        </h2>
        {{#if this.editMode}}
          <SaveStatusIcon
            @model={{@model}}
            @task={{this.save}}
            class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"
              onClick={{@onDelete}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            onClick={{this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
          </button>
        {{else}}
          <button type="button"
            onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
          </button>
        {{/if}}
        {{!-- TODO add unsaved changes warning --}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <CustomerEntity::Form
        @model={{@model}}
        @onSave={{perform this.save}} />
    {{else}}
      <CustomerEntity::Detail
        @model={{@model}} />
    {{/if}}
  </div>
</div>