<div class="invoices-table">
  <div class="data-table-filters">
    <div class="data-table-filters--title">{{paper-icon "search"}}</div>
    <PaperInput @label="Nummer" @value={{this.filter.number}} @onChange={{perform this.debounceFilter "number"}} @class="small" />
    <PaperInput @label="Referentie" @value={{this.filter.reference}} @onChange={{perform this.debounceFilter "reference"}} @class="small" />
    <PaperInput @label="Gebouw" @value={{this.filter.name}} @onChange={{perform this.debounceFilter "name"}} />
    <PaperInput @label="Straat" @value={{this.filter.street}} @onChange={{perform this.debounceFilter "street"}} @class="large" />
    <PaperInput @label="Postcode" @value={{this.filter.postalCode}} @onChange={{perform this.debounceFilter "postalCode"}} @class="small" />
    <PaperInput @label="Gemeente" @value={{this.filter.city}} @onChange={{perform this.debounceFilter "city"}} />
    <PaperButton @iconButton={{true}} @onClick={{fn this.resetFilters}}>
      {{paper-icon "close"}}
      <PaperTooltip>Wis filters</PaperTooltip>
    </PaperButton>
  </div>

  <DataTable @content={{this.invoices}} @isLoading={{not this.search.isIdle}} @noDataMessage="Geen facturen" @onClickRow={{fn this.clickRow}} @page={{this.filter.page}} @size={{this.filter.size}} @sort={{this.filter.sort}} as |t|>
    <t.content as |c|>
      <c.header>
        <ThSortable @field="number" @currentSorting={{this.filter.sort}} @label="Nr" />
        <ThSortable @field="reference" @currentSorting={{this.filter.sort}} @label="Referentie" />
        <ThSortable @field="invoice-date" @currentSorting={{this.filter.sort}} @label="Datum" />
        <th>Gebouw</th>
        <th>Straat</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      </c.header>
      <c.body as |row|>
        <td>{{format-invoice-number row.number}}</td>
        <td>{{row.reference}}</td>
        <td><FmtDate @value={{row.invoiceDate}} /></td>
        <td>{{row.building.printName}}</td>
        <td>{{row.building.address1}}</td>
        <td>{{row.building.postalCode}}</td>
        <td>{{row.building.city}}</td>
      </c.body>
    </t.content>
  </DataTable>

  {{#if @customer.name}}
    <div class="layout-row layout-align-end">
      <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{fn this.openNewInvoice}}>
        {{paper-icon "add"}}
        <PaperTooltip>Maak nieuwe factuur</PaperTooltip>
      </PaperButton>
    </div>
  {{else}}
    <WarningMessage @message="Klant heeft geen naam. Er kan geen nieuwe factuur gemaakt worden." />
  {{/if}}
</div>