<div class="space-y-4" {{did-update (perform this.search this.filter) @customer}}>
  <div class="mx-4">
    {{#unless @customer.name}}
      <AlertMessage
        @level="warning"
        @message="Klant heeft geen naam. Er kan geen nieuwe aanvraag gemaakt worden."
        class="shadow" />
    {{/unless}}
  </div>

  <div class="mx-4 space-y-4 xl:flex xl:flex-row-reverse xl:gap-x-2 xl:space-x-reverse xl:items-center xl:space-y-0">
    {{#if @customer.name}}
      <Rlv::Button
        @route="main.customers.edit.request"
        @model={{@customer.id}}
        @label="Nieuw"
        @icon="add-line"
        @skin="primary" />
    {{/if}}
    <Filter::Panel @onReset={{this.resetFilters}} as |Fields|>
      <div class="grid sm:grid-cols-5 lg:grid-cols-7 gap-4">
        <Fields.TextInput
          @label="AD nr."
          @value={{this.filter.number}}
          @onInput={{perform this.debounceFilter "number"}}
          class="lg:col-span-2 xl:col-span-1" />
        <Fields.TextInput
          @label="Bezoeker"
          @value={{this.filter.visitor}}
          @onInput={{perform this.debounceFilter "visitor"}}
          class="sm:col-span-2 xl:col-span-1" />
        <Fields.TextInput
          @label="Referentie"
          @value={{this.filter.reference}}
          @onInput={{perform this.debounceFilter "reference"}}
          class="sm:col-span-2" />
        <Fields.TextInput
          @label="Gebouw"
          @value={{this.filter.name}}
          @onInput={{perform this.debounceFilter "name"}}
          class="sm:col-span-2 lg:col-start-1" />
        <Fields.TextInput
          @label="Straat"
          @value={{this.filter.street}}
          @onInput={{perform this.debounceFilter "street"}}
          class="sm:col-span-2" />
        <Fields.TextInput
          @label="Postcode"
          @value={{this.filter.postalCode}}
          @onInput={{perform this.debounceFilter "postalCode"}}
          class="col-span-1" />
        <Fields.TextInput
          @label="Gemeente"
          @value={{this.filter.city}}
          @onInput={{perform this.debounceFilter "city"}}
          class="sm:col-span-2" />
      </div>
    </Filter::Panel>
  </div>

  <div class="-my-2 overflow-x-auto">
    <div class="py-2 align-middle inline-block min-w-full">
      <div class="overflow-hidden border-b border-gray-200">
        <table class="rlv-dt-panel min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <DataTable::Th
                @field="number"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="rlv-dt-th">
                AD
              </DataTable::Th>
              <DataTable::Th
                @field="request-date"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="rlv-dt-th">
                Datum
              </DataTable::Th>
              <DataTable::Th
                @field="case.reference"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="rlv-dt-th">
                Referentie
              </DataTable::Th>
              <DataTable::Th
                @field="visitor.first-name"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="rlv-dt-th">
                Bezoeker
              </DataTable::Th>
              <th class="rlv-dt-th">
                Gebouw
              </th>
              <th class="rlv-dt-th">
                Straat
              </th>
              <DataTable::Th
                @field="case.building.address.postal-code"
                @currentSort={{this.sort}}
                @onUpdateSort={{this.setSort}}
                class="rlv-dt-th">
                Gemeente
              </DataTable::Th>
              <th class="rlv-dt-th"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{#if this.search.isRunning}}
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-28 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-36 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td>
                </td>
              </tr>
              <tr class="animate-pulse">
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-16 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-36 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-48 bg-gray-300"></div>
                </td>
                <td class="py-2 px-4">
                  <div class="h-8 w-12 bg-gray-300"></div>
                </td>
                <td>
                </td>
              </tr>
            {{else}}
              {{#each this.requests as |row|}}
                <tr role="button" {{on "click" (fn this.navigateToDetail row)}}>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-500">
                    <div class="flex items-center space-x-1">
                      <Case::StatusIcon @uri={{row.case.status}} />
                      <span>{{format-request-number row.number}}</span>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    <Fmt::Date @value={{row.requestDate}} />
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{row.case.reference}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                    {{row.visitor.firstName}}
                  </td>
                  <td class="px-6 py-4 text-sm font-medium text-gray-900">
                    <Fmt::BuildingName @model={{row.case.building}} />
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    <div class="whitespace-pre-wrap">{{row.case.building.address.street}}</div>
                  </td>
                  <td class="px-6 py-4 text-sm text-gray-500">
                    {{row.case.building.address.postalCode}} {{row.case.building.address.city}}
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    <Rlv::Button
                      @label="Bekijk"
                      @route="main.requests.edit"
                      @model={{row.id}}
                      @skin="link" />
                  </td>
                </tr>
            {{else}}
                <tr>
                  <td colspan="8" class="px-6 py-4 text-center text-sm text-gray-500">
                    Nog geen aanvragen
                  </td>
                </tr>
              {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
    <DataTable::Pagination
      @page={{this.page}}
      @size={{this.size}}
      @total={{this.requests.meta.count}}
      @onPrevious={{this.previousPage}}
      @onNext={{this.nextPage}}
      @onSelectPage={{this.selectPage}} />
  </div>
</div>