<h2>Bestelling</h2>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--order--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{#detail-list-subitem label="Bestelling"}}
        {{#if model.orderDate}}{{moment-format model.orderDate 'L'}}{{else}}-{{/if}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Verwacht"}}
        {{#if model.expectedDate}}{{moment-format model.expectedDate 'L'}}{{else}}-{{/if}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Vereist"}}
        {{#if model.requiredDate}}{{moment-format model.requiredDate 'L'}}{{else}}-{{/if}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Werkuren"}}
      {{#detail-list-subitem label="Gepland"}}
        {{model.scheduledHours}} uur x {{model.scheduledNbOfPersons}} man = {{model.scheduledTotal}} uur
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Gerekend"}}
        {{model.invoicableHours}} uur x {{model.invoicableNbOfPersons}} man = {{model.invoicableTotal}} uur
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bedrag"}}
      {{fmt-currency model.amount}} ({{model.vatRate.rate}}% BTW)
    {{/detail-list-item}}
    {{#detail-list-item label="Voorschotten"}}
      {{paper-checkbox label="Nodig" value=model.depositRequired onChange=null}}
      {{#detail-list-subitem label="Bedrag" click=(action "openDepositsDialog") class="clickable"}}
        {{fmt-currency depositsAmount}} {{paper-icon "info" size=18}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Voorschot facturen"}}
      {{#detail-list-subitem label="Bedrag" click=(action "goToDepositInvoices") class="clickable"}}
        {{fmt-currency depositInvoicesAmount}} {{paper-icon "info" size=18}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Afgesloten"}}
      {{paper-checkbox value=model.canceled onChange=null}}
      {{#if model.canceled}}
        {{#detail-list-subitem label="Reden"}}
          {{#if model.cancellationReason}}
            <span class="html-body">{{model.cancellationReason}}</span>
          {{else}}
            -
          {{/if}}
        {{/detail-list-subitem}}
      {{/if}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.comment}}</span>
    {{/detail-list-item}}
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    {{#detail-list-item label="Uitvoering"}}
      {{#paper-radio-group groupValue=(readonly model.execution) onChange=null as |group|}}
        {{#group.radio value='installation'}}{{order-execution 'installation'}}{{/group.radio}}
        {{#group.radio value='delivery'}}{{order-execution 'delivery'}}{{/group.radio}}
        {{#group.radio value='pickup'}}{{order-execution 'pickup'}}{{/group.radio}}
      {{/paper-radio-group}}
    {{/detail-list-item}}
    {{#detail-list-item label="Productiebon"}}
      {{paper-checkbox value=model.hasProductionTicket onChange=null}}
    {{/detail-list-item}}
    {{#detail-list-item label="Product klaar"}}
      {{paper-checkbox value=model.isReady onChange=null}}
    {{/detail-list-item}}

  </div>
</div>

<div class="case--button-bar layout-row layout-align-end">
  {{#paper-button raised=true primary=true onClick=null disabled=true}}{{paper-icon 'edit'}}Bewerk bestelling{{/paper-button}}
</div>

{{liquid-outlet}}


{{#if showDepositsDialog}}
  {{#paper-dialog class="flex-50" onClose=(action "closeDepositsDialog") parent=".main-outlet" origin=".main-outlet" clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Voorschotten</h2><span class="flex"></span>
          {{#paper-button iconButton=true onClick=(action "closeDepositsDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
        <table>
          <thead>
            <th>Datum</th>
            <th>Bedrag</th>
            <th>Bank</th>
          </thead>
          <tbody>
            {{#each model.deposits as |deposit|}}
              <tr>
                <td>{{moment-format deposit.paymentDate 'L'}}</td>
                <td>{{fmt-currency deposit.amount}}</td>
                <td>{{deposit.payment.name}}</td>
              </tr>
            {{else}}
              <tr><td colspan="3">Geen voorschotten</td></tr>
            {{/each}}
          </tbody>
        </table>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button onClick=(action "closeDepositsDialog")}}Sluit{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}