<li class="relative overflow-hidden lg:flex-1">
  <div class="overflow-hidden border border-gray-200 lg:border-0">
    {{#if @model.invoice}}
      <LinkTo @route="main.case.invoice.edit.index"
        @models={{array @model.id @model.invoice.id}}
        class="group" aria-current="step">
        <span class="absolute left-0 top-0 h-full w-1 {{if (eq @selectedStep "invoice") "bg-red-600" "bg-transparant group-hover:bg-gray-200"}} lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
        <span class="flex items-start px-6 py-5 text-sm lg:pl-9">
          <span class="flex-shrink-0">
            <Case::Tabs::StepIcon @step={{if @model.invoice.isBooked "done" "ongoing"}} />
          </span>
          <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
            <span class="text-sm font-medium">Factuur</span>
            <span class="flex space-x-2 items-center">
              <span class="text-xs text-gray-500">
                <Fmt::Date @value={{@model.invoice.invoiceDate}} />
              </span>
            </span>
          </span>
        </span>
      </LinkTo>
      {{#unless @model.isIsolated}}
        <Case::Tabs::Separator />
      {{/unless}}
    {{else}}
      {{#if (not this.canCreateNew)}}
        <Case::Tabs::Placeholder @label="Factuur" />
      {{else if this.isNextStep}}
        <button class="group" aria-current="step" {{on "click" this.navigateToInvoiceRoute}}>
          <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-gray-200 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
          <span class="flex items-start px-6 py-5 text-sm lg:pl-9">
            <span class="flex-shrink-0">
              <span class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-400 group-hover:text-gray-500 group-hover:border-gray-400">
                {{svg-jar "add-line" class="h-5 w-5 fill-current"}}
              </span>
            </span>
            <span class="ml-4 mt-0.5 flex min-w-0 flex-col text-left">
              <span class="text-sm font-medium text-gray-500 group-hover:text-gray-800">Factuur</span>
              <span class="text-xs text-gray-400">Maak factuur</span>
            </span>
          </span>
        </button>
        <Case::Tabs::Separator />
      {{else}}
        <Case::Tabs::Placeholder @label="Factuur" />
      {{/if}}
    {{/if}}
  </div>
</li>

{{#if this.isOpenMissingVatRateModal}}
  <Rlv::Modal @onClose={{this.closeMissingVatRateModal}}>
    <:body>
    <div class="sm:flex sm:items-start">
      <div class="mx-auto shrink-0 flex flex-none items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
        {{svg-jar "alert-fill" class="h-6 w-6 text-red-600 fill-current"}}
      </div>
      <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          BTW-tarief ontbreekt
        </h3>
        <div class="mt-2 space-y-2">
          <p class="text-sm text-gray-500">
            De factuur kan niet opgemaakt worden, omdat het BTW-tarief ontbreekt.
          </p>
          <p class="text-sm text-gray-500">
            Vul het BTW-tarief van het dossier in en probeer opnieuw.
          </p>
        </div>
      </div>
    </div>
    </:body>
  </Rlv::Modal>
{{/if}}
