<li class="relative overflow-hidden lg:flex-1">
  <div class="overflow-hidden border border-gray-200 lg:border-0">
    {{#if @model.invoice}}
      <LinkTo @route="main.case.invoice.edit.index"
        @models={{array @model.id @model.invoice.id}}
        class="group" aria-current="step">
        <span class="absolute left-0 top-0 h-full w-1 {{if (eq @selectedStep "invoice") "bg-red-600" "bg-transparant group-hover:bg-gray-200"}} lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
        <span class="flex items-start px-6 py-5 text-sm lg:pl-9">
          <span class="flex-shrink-0">
            <Case::Tabs::StepIcon @step={{if @model.invoice.isBooked "done" "ongoing"}} />
          </span>
          <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
            <span class="text-sm font-medium">Factuur</span>
            <span class="flex space-x-2 items-center">
              <span class="text-xs text-gray-500">
                <Fmt::Date @value={{@model.invoice.invoiceDate}} />
              </span>
            </span>
          </span>
        </span>
      </LinkTo>
      {{#unless @model.isIsolated}}
        <Case::Tabs::Separator />
      {{/unless}}
    {{else}}
      {{#if (not this.canCreateNew)}}
        <Case::Tabs::Placeholder @label="Factuur" />
      {{else if this.isNextStep}}
        {{#if @model.order}}
          <LinkTo @route="main.case.order.edit.invoice"
            @models={{array @model.id @model.order.id}}
            class="group" aria-current="step">
            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-gray-200 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
            <span class="flex items-start px-6 py-5 text-sm lg:pl-9">
              <span class="flex-shrink-0">
                <span class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-400 group-hover:text-gray-500 group-hover:border-gray-400">
                  {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
                </span>
              </span>
              <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-gray-500 group-hover:text-gray-800">Factuur</span>
                <span class="text-xs text-gray-400">Maak factuur</span>
              </span>
            </span>
          </LinkTo>
          <Case::Tabs::Separator />
        {{else}}
          <LinkTo @route="main.case.intervention.edit.invoice"
            @models={{array @model.id @model.intervention.id}}
            class="group" aria-current="step">
            <span class="absolute left-0 top-0 h-full w-1 bg-transparent group-hover:bg-gray-200 lg:bottom-0 lg:top-auto lg:h-1 lg:w-full" aria-hidden="true"></span>
            <span class="flex items-start px-6 py-5 text-sm lg:pl-9">
              <span class="flex-shrink-0">
                <span class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-400 group-hover:text-gray-500 group-hover:border-gray-400">
                  {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
                </span>
              </span>
              <span class="ml-4 mt-0.5 flex min-w-0 flex-col">
                <span class="text-sm font-medium text-gray-500 group-hover:text-gray-800">Factuur</span>
                <span class="text-xs text-gray-400">Maak factuur</span>
              </span>
            </span>
          </LinkTo>
          <Case::Tabs::Separator />
        {{/if}}
      {{else}}
        <Case::Tabs::Placeholder @label="Factuur" />
      {{/if}}
    {{/if}}
  </div>
</li>