{{!--
     Passed = link to detail; check icon
     Current = no link to; bullet icon
     Next = link to create new; plus icon
     Future = no link to; grayed out
     --}}

{{#if this.isCurrent}}
  <span class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-red-600">
    <span class="h-2.5 w-2.5 rounded-full bg-red-600"></span>
  </span>
{{else if this.isFinished}}
  <span class="flex h-10 w-10 items-center justify-center rounded-full bg-red-600 text-white">
    {{svg-jar "heroicons-md-check" class="h-6 w-6"}}
  </span>
{{else if this.isNext}}
  <span class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-300 text-gray-400 group-hover:text-gray-500 group-hover:border-gray-400">
    {{svg-jar "heroicons-md-plus" class="h-5 w-5"}}
  </span>
{{else if this.isFuture}}
  <span class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-gray-200 text-gray-400">
    <span class="h-2.5 w-2.5 rounded-full bg-transparent"></span>
  </span>
{{/if}}
