<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{@model.offerDateStr}} @type="date" @required="style" @errors={{v-get @model "offerDate" "messages"}} @onChange={{queue (fn (mut @model.offerDateStr)) (perform @save)}} @class="default" />
    </div>
    <div class="layout-row">
      <InputField::VatRateSelect @value={{@model.vatRate}} @onSelectionChange={{queue (fn (mut @model.vatRate)) (perform @save)}} class="md-input-wrapper large" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bezoeker" @value={{this.visitor}} @isOnRoad={{true}} @isTechnician={{true}} @onSelectionChange={{queue (fn this.setVisitor) (perform @save)}} class="md-input-wrapper large" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Referentie klant" @value={{@model.reference}} @onChange={{fn (mut @model.reference)}} @onBlur={{perform @save}} @class="xxlarge" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{@model.comment}} @onChange={{fn (mut @model.comment)}} @onBlur={{perform @save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
  <Visit::DetailView @model={{this.request}} />
</div>
