<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-baseline">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Document
        </h2>
        <div class="ml-3 text-gray-400 font-bold font-display">
          {{@model.documentVersion}}
        </div>
      </div>
      <div class="flex flex-none space-x-4">
        {{#if @generateOfferDocumentTask.isRunning}}
          <PaperProgressCircular @diameter={{18}} />
        {{else}}
          <button type="button"
            onClick={{@onDownloadOfferDocument}}
                class="inline-flex items-center px-4 py-2 border border-gray-400 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
            Bekijken
          </button>
          {{#unless @model.isMasteredByAccess}}
            <button type="button"
              onClick={{perform @generateOfferDocumentTask}}
                class="inline-flex items-center px-4 py-2 border border-gray-400 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
              <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              Maken
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6 space-y-6">
    {{#if @model.isMasteredByAccess}}
      <div class="text-gray-400">
        De offerte is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.
      </div>
    {{else}}
      <Offer::Document::Line
        @model={{@model}}
        @field="documentIntro"
        @textAreaHeight="h-24" />
      <section>
        <Offerline::List @model={{@model.offerlines}} />
      </section>
      <Offer::Document::Line
        @model={{@model}}
        @field="documentOutro" />
    {{/if}}
  </div>
</div>
