{{#if (or this.remove.isRunning @model.isDeleted)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het verwijderen...</p>
  </div>
{{else if this.rollbackTree.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not @model.id) @model.isSaving)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  <div class="space-y-4">
    {{#if this.order}}
      <AlertMessage::Warning
        @message="De offerte is reeds besteld. Er zijn geen wijzigingen meer mogelijk."
        class="shadow" />
    {{else if @model.isMasteredByAccess}}
      <AlertMessage::Warning
        @message="De offerte is aangemaakt in Access en kan hier niet gewijzigd worden."
        class="shadow" />
    {{else if this.hasMixedVatRates}}
      <AlertMessage::Info
        @message="De offerte bevat items met verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden."
        class="shadow" />
    {{/if}}

    {{!-- Details panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      {{#if @editMode}}
        <Offer::DetailEdit
          @model={{@model}}
          @saveTask={{this.save}}
          @onRemove={{perform this.remove}}
          @onCloseEdit={{this.closeEdit}}
          @isEnabledDelete={{this.isEnabledDelete}} />
      {{else}}
        <Offer::DetailView
          @model={{@model}}
          @isDisabledEdit={{this.isDisabledEdit}}
          @onOpenEdit={{@onOpenEdit}} />
      {{/if}}
    </div>

    {{!-- Document panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      {{#if @model.isMasteredByAccess}}
        <div class="p-6">
          <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold font-display">
              Document
            </h2>
            <div class="flex">
              <PaperButton @onClick={{fn this.downloadOfferDocument}} @iconButton={{true}}>
                {{paper-icon "find in page"}}
                <PaperTooltip>Offerte bekijken</PaperTooltip>
              </PaperButton>
            </div>
          </div>
          <div>
            <div>
              De offerte is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.
            </div>
          </div>
        </div>
      {{else}}
        <div class="p-6">
          <div class="flex justify-between items-center">
            <div class="flex items-baseline space-x-2">
              <h2 class="text-2xl font-bold font-display">
                Document
              </h2>
              {{#if @editMode}}
                <div>
                  <Input @value={{@model.documentVersion}} @key-up={{fn (mut @model.documentVersion)}} @focus-out={{perform this.save}} class="xsmall" />
                  <PaperTooltip>
                    Pas het versienummer aan om een nieuwe versie van het document te maken; anders wordt het vorige document overschreven.
                  </PaperTooltip>
                </div>
              {{else}}
                <div class="text-gray-400 font-bold font-display">
                  {{@model.documentVersion}}
                </div>
              {{/if}}
            </div>
            <div class="flex flex-none space-x-4">
              {{#if this.generateOfferDocument.isRunning}}
                <PaperProgressCircular @diameter={{18}} />
              {{else}}
                {{#unless @editMode}}
                  <button type="button"
                    onClick={{this.downloadOfferDocument}}
                class="inline-flex items-center px-4 py-2 border border-gray-400 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
                    <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                    Bekijken
                  </button>
                {{/unless}}
                <button type="button"
                  onClick={{this.generateOfferDocument}}
                class="inline-flex items-center px-4 py-2 border border-gray-400 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
                  <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  Maken
                </button>
              {{/if}}
            </div>
          </div>
          <div>
            {{#if @editMode}}
              <Offer::DocumentEdit @model={{@model}} @save={{this.save}} />
            {{else}}
              <Offer::DocumentView @model={{@model}} />
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
