<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2 class="text-2xl font-bold font-display my-4">
      {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} offerte {{@model.number}}
    </h2>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div>
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      {{#unless this.isDisabledEdit}}
        <PaperButton @onClick={{fn @onOpenEdit}} @iconButton={{true}}>
          {{paper-icon "edit mode"}}
          <PaperTooltip>Aanpassen</PaperTooltip>
        </PaperButton>
      {{/unless}}
    {{/if}}
  </div>
</div>

{{#if (or this.remove.isRunning @model.isDeleted)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het verwijderen...</p>
  </div>
{{else if this.rollbackTree.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not @model.id) @model.isSaving)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  {{#if this.order}}
    <WarningMessage @message="Reeds besteld. Geen wijzigingen meer mogelijk." />
  {{else if @model.isMasteredByAccess}}
    <WarningMessage @message="De offerte is aangemaakt in Access en kan hier niet gewijzigd worden." />
  {{else if this.hasMixedVatRates}}
    <InfoMessage @message="De offerte bevat items met verschillende BTW tarieven. Hier kan geen bestelling voor opgesteld worden." />
  {{/if}}

  {{#if @editMode}}
    <Offer::DetailEdit @model={{@model}} @save={{this.save}} />
  {{else}}
    <Offer::DetailView @model={{@model}} />
  {{/if}}

  {{#if @model.isMasteredByAccess}}
    <div class="layout-row layout-align-space-between-center">
      <h2 class="text-2xl font-bold font-display my-4">Offerte</h2>
      <div>
        <PaperButton @onClick={{fn this.downloadOfferDocument}} @iconButton={{true}}>
          {{paper-icon "find in page"}}
          <PaperTooltip>Offerte bekijken</PaperTooltip>
        </PaperButton>
      </div>
    </div>
    <p class="note-message">De offerte is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.</p>
  {{else}}
    <div class="layout-row layout-align-space-between-center">
      <h2 class="text-2xl font-bold font-display my-4">Offerte
        <span class="small-text-fade">[
          {{#if @editMode}}
            <Input @value={{@model.documentVersion}} @key-up={{fn (mut @model.documentVersion)}} @focus-out={{perform this.save}} class="xsmall" />
            <PaperTooltip>
              Pas het versienummer aan om een nieuwe versie van het document te maken; anders wordt het vorige document overschreven.
            </PaperTooltip>
          {{else}}
            {{@model.documentVersion}}
          {{/if}}
          ]
        </span>
      </h2>
      <div>
        {{#if this.generateOfferDocument.isRunning}}
          <PaperProgressCircular @diameter={{18}} />
        {{else}}
          {{#unless @editMode}}
            <PaperButton @onClick={{fn this.downloadOfferDocument}} @iconButton={{true}}>
              {{paper-icon "find in page"}}
              <PaperTooltip>Offerte bekijken</PaperTooltip>
            </PaperButton>
          {{/unless}}
          <PaperButton @onClick={{perform this.generateOfferDocument}} @iconButton={{true}}>
            {{paper-icon "restore page"}}
            <PaperTooltip>Offerte maken</PaperTooltip>
          </PaperButton>
        {{/if}}
      </div>
    </div>

    {{#if @editMode}}
      <Offer::DocumentEdit @model={{@model}} @save={{this.save}} />
  {{else}}
      <Offer::DocumentView @model={{@model}} />
    {{/if}}
  {{/if}}
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
