{{#if this.invoice.isResolved}}
  {{#let this.invoice.value as |invoice|}}
    <tr>
      <td class="px-2 py-4 text-sm text-gray-500">
        <div class="flex items-center space-x-1">
          <Invoice::PaymentStatusIcon
            @isPaid={{invoice.paymentDate}}
            @isBooked={{invoice.bookingDate}} />
          <Rlv::Button
            @label={{format-invoice-number invoice.number}}
            @route={{concat "main." @invoice.type ".edit"}}
            @model={{invoice.uuid}}
            @skin="secondary-link"
            class="text-gray-500" />
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div class="flex items-center space-x-1">
          <span>{{format-case-number invoice.case.identifier}}</span>
          <Case::StatusIcon @uri={{invoice.case.status}} />
        </div>
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <Fmt::Date @value={{invoice.invoiceDate}} />
      </td>
      <td class="px-6 py-4 text-sm font-medium text-gray-900">
        <Fmt::CustomerAndBuildingName
          @case={{hash customer=invoice.customer building=invoice.building}} />
      </td>
      <td class="px-6 py-4 text-sm text-gray-500">
        <Address::DetailView @model={{or invoice.building invoice.customer}} />
      </td>
      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
        <Rlv::Button
          @label="Manueel inboeken"
          @skin="link"
          {{on "click" this.openBookingConfirmationModal}} />
      </td>
    </tr>
  {{/let}}

  {{#if this.isOpenBookingConfirmationModal}}
    <Rlv::AlertDialog
      @title="Factuur inboeken"
      @confirmationButtonLabel="Inboeken"
      @onConfirm={{perform this.confirmBooking}}
      @onClose={{this.cancelBookingConfirmation}}>
      <p class="text-sm text-gray-500">
        Bent u zeker dat u factuur {{format-invoice-number this.invoice.value.number}} manueel wil inboeken?
      </p>
      <p class="text-sm text-gray-500">
        Zo ja, dient u de factuur zelf in te voeren in het boekhoudsysteem. Dit zal niet automatisch gebeuren.
      </p>
    </Rlv::AlertDialog>
  {{/if}}
{{/if}}
