<dl class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
  <div class="space-y-2">
    <Util::DetailItem @label={{if @model.isCompany "Bedrijf" "Naam"}}>
      <div>
        {{#if @model.printInFront}}{{@model.honorificPrefix}}{{/if}}
        {{@model.prefix}} {{@model.name}} {{@model.suffix}}
        {{#unless @model.printInFront}}{{@model.honorificPrefix}}{{/unless}}
      </div>
      <div><Fmt::VatNumber @value={{@model.vatNumber}} /></div>
    </Util::DetailItem>

    <Util::DetailItem @label="Adres">
      <Address::DetailView @model={{@model.address}} />
    </Util::DetailItem>

    <Util::DetailItem @label="Taal">
      {{@model.language.name}}
    </Util::DetailItem>

    {{#if this.isScopeCustomer}}
      <Util::DetailItem @label="Labels">
        {{join ", " (map-by "label" (sort-by "label" @model.keywords))}}
      </Util::DetailItem>
    {{/if}}
  </div>

  <div class="space-y-2">
    <Util::DetailItem @label="Telefoon">
      <Telephone::List @model={{@model.telephones}} />
    </Util::DetailItem>

    <Util::DetailItem @label="E-mail">
      <Email::List @model={{@model.emails}} />
    </Util::DetailItem>

    <Util::DetailItem @label="Website">
      {{@model.url}}
    </Util::DetailItem>
  </div>

  {{#if this.isScopeCustomer}}
    <div class="my-4 lg:my-0 px-4 py-2 bg-gray-100 rounded-md">
      <h4 class="rlv-panel-subtitle !text-gray-700">
        Profiel
      </h4>
      <div class="mt-4 space-y-2">
        <Util::DetailItem @label="BTW tarief">
          {{@model.profile.vatRate.name}}
        </Util::DetailItem>
        <Util::DetailItem @label="Uitvoering">
          {{or @model.profile.deliveryMethod.label "-"}}
        </Util::DetailItem>
        <Util::DetailItem @label="Betalingstermijn">
          {{@model.profile.invoicePaymentPeriod}} dagen
        </Util::DetailItem>
        <Util::DetailItem @label="Voorschot nodig">
          <Util::DisplayCheckbox @value={{@model.depositRequired}} />
        </Util::DetailItem>
      </div>
    </div>
  {{/if}}

  <div class="col-start-1">
    <Util::DetailItem @label="Opmerking">
      {{#if @model.comment}}
        <span class="whitespace-pre-wrap">{{@model.comment}}</span>
      {{else}}
        <div  class="text-sm text-gray-400">
          Geen opmerkingen
        </div>
      {{/if}}
    </Util::DetailItem>
  </div>
  {{#if this.isScopeCustomer}}
    <div>
      <Util::DetailItem @label="Memo">
        {{#if @model.memo}}
          <div>
            <Rlv::Button
              @label={{if this.isMemoExpanded "Verbergen" "Tonen"}}
              @icon={{if this.isMemoExpanded "arrow-up-s-line" "arrow-down-s-line"}}
              @iconAlignment="right"
              @skin="secondary-naked"
              @size="small"
              class="p-0"
              {{on "click" this.toggleMemo}} />
          </div>
          {{#if this.isMemoExpanded}}
            <span class="whitespace-pre-wrap">{{@model.memo}}</span>
          {{/if}}
        {{else}}
          <div  class="text-sm text-gray-400">
            Geen memo
          </div>
        {{/if}}
      </Util::DetailItem>
    </div>
  {{/if}}
</dl>
