<div class="space-y-16">
  <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <h3 class="text-base leading-4 font-medium text-gray-900">
        Algemene gegevens van {{this.scopeNoun}}
      </h3>
    </div>

    <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      {{#if this.isScopeCustomer}}
        <div role="group" aria-labelledby="customer-type" class="space-y-4">
          <div id="customer-type" class="font-medium text-sm text-gray-700">
            Type
          </div>
          <div class="space-y-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-4">
            <div class="flex items-center">
              <input
                id="customer-type--individual"
                type="radio"
                value="individual"
                name="customer-type"
                class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300"
                checked={{not @model.isCompany}}
                {{on "input" (queue this.setCustomerType @onSave)}} />
              <label for="customer-type--individual" class="ml-3 block text-sm font-medium text-gray-700">
                Particulier
              </label>
            </div>
            <div class="flex items-center">
              <input
                id="customer-type--company"
                type="radio"
                value="company"
                name="customer-type"
                class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300"
                checked={{@model.isCompany}}
                {{on "input" (queue this.setCustomerType @onSave)}} />
              <label for="customer-type--company" class="ml-3 block text-sm font-medium text-gray-700">
                Bedrijf
              </label>
            </div>
          </div>
        </div>
        {{#if @model.isCompany}}
          <div>
            <InputField::VatNumberInput
              @label="BTW nummer"
              @value={{@model.vatNumber}}
              @onChange={{fn (mut @model.vatNumber)}}
              @onBlur={{@onSave}}
              @errors={{@model.validations.attrs.vatNumber}}
              @customer={{@model}}
              class="mt-1" />
          </div>
        {{/if}}
        <div class="col-span-2">
          <InputField::CustomerKeywordSelect
            @label="Labels"
            @value={{sort-by "label" @model.keywords}}
            @multiple={{true}}
            @onSelectionChange={{queue (fn (mut @model.keywords)) @onSave}}
            class="mt-1" />
        </div>
      {{/if}}
      <div class="col-start-1">
        <InputField::HonorificPrefixSelect
          @label="Aanspreektitel"
          @value={{@model.honorificPrefix}}
          @language={{@model.language}}
          @onSelectionChange={{queue (fn (mut @model.honorificPrefix)) @onSave}}
          class="mt-1" />
        <InputField::Checkbox
          @id="print-in-front-checkbox"
          @label="Vooraan"
          @value={{@model.printInFront}}
          @onChange={{queue (fn (mut @model.printInFront)) @onSave}}
          class="mt-1" />
      </div>

      <div>
        <label for="customer-prefix" class="block text-sm font-medium text-gray-700">
          Prefix
        </label>
        <Input
          id="customer-prefix"
          @type="text"
          @value={{@model.prefix}}
          class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
          {{on "focusout" @onSave}} />
        <InputField::Checkbox
          @id="print-prefix-checkbox"
          @label="Print"
          @value={{@model.printPrefix}}
          @onChange={{queue (fn (mut @model.printPrefix)) @onSave}}
          class="mt-1" />
      </div>
      <div>
        <label for="customer-name" class="block text-sm font-medium text-gray-700">
          Naam
        </label>
        <Input
          id="customer-name"
          @type="text"
          @value={{@model.name}}
          class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
          {{on "focusout" @onSave}} />
      </div>
      <div>
        <label for="customer-suffix" class="block text-sm font-medium text-gray-700">
          Suffix
        </label>
        <Input
          id="customer-suffix"
          @type="text"
          @value={{@model.suffix}}
          class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
          {{on "focusout" @onSave}} />
        <InputField::Checkbox
          @id="print-suffix-checkbox"
          @label="Print"
          @value={{@model.printSuffix}}
          @onChange={{queue (fn (mut @model.printSuffix)) @onSave}}
          class="mt-1" />
      </div>
    </div>
  </section>

  <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <h3 class="text-base leading-4 font-medium text-gray-900">
        Adresgegevens van {{this.scopeNoun}}
      </h3>
    </div>

    <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <div class="sm:col-span-2">
        <InputField::AddressInput
          @label="Straat"
          @value={{@model.address.street}}
          @onChange={{queue (fn (mut @model.address.street)) @onSave}}
          class="mt-1" />
      </div>

      <div class="sm:col-span-2 sm:col-start-1">
        <InputField::PostalCodeSelect
          @label="Gemeente"
          @postalCode={{@model.address.postalCode}}
          @city={{@model.address.city}}
          @titleize={{not this.isScopeCustomer}}
          @onSelectionChange={{queue this.setPostalCode @onSave}}
          class="mt-1" />
      </div>
      <div>
        <InputField::CountrySelect
          @label="Land"
          @value={{@model.address.country}}
          @onSelectionChange={{queue (fn (mut @model.address.country)) @onSave}}
          class="mt-1" />
      </div>
      <div>
        <InputField::LanguageSelect
          @label="Taal"
          @value={{@model.language}}
          @allowClear={{false}}
          @onSelectionChange={{queue this.setLanguage @onSave}}
          class="mt-1" />
      </div>
    </div>
  </section>

  <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <h3 class="text-base leading-4 font-medium text-gray-900">
        Contactgegevens van {{this.scopeNoun}}
      </h3>
    </div>

    <div class="space-y-4">
      <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
        <div>
          <label for="customer-website" class="block text-sm font-medium text-gray-700">
            Website
          </label>
          <Input
            id="customer-website"
            @type="text"
            @value={{@model.url}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "focusout" @onSave}} />
        </div>
      </div>
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
        <div class="lg:col-span-3">
          <label for="customer-telephones" class="block text-sm font-medium text-gray-700">
            Telefoonnummers
          </label>
          <div class="mt-1">
            <Telephone::Table @model={{@model}} @scope={{this.scope}} />
          </div>
        </div>
        <div class="lg:col-span-3">
          <label for="customer-emails" class="block text-sm font-medium text-gray-700">
            E-mailadressen
          </label>
          <div class="mt-1">
            <Email::Table @model={{@model}} @scope={{this.scope}} />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>
      <h3 class="text-base leading-4 font-medium text-gray-900">
        Nota's bij {{this.scopeNoun}}
      </h3>
    </div>

    <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <div class="sm:col-span-2">
        <label for="comment" class="block text-sm font-medium text-gray-700">
          Opmerking <span class="text-gray-400 font-normal">(zichtbaar)</span>
        </label>
        <Textarea
          id="comment"
          @value={{@model.comment}}
          class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
          rows="5"
          {{on "focusout" @onSave}} />
      </div>
      {{#if this.isScopeCustomer}}
        <div class="sm:col-span-2">
          <label for="memo" class="block text-sm font-medium text-gray-700">
            Memo <span class="text-gray-400 font-normal">(verborgen)</span>
          </label>
          <Textarea
            id="memo"
            @value={{@model.memo}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" @onSave}} />
        </div>
      {{/if}}
    </div>
  </section>

  {{#if this.isScopeCustomer}}
    <section class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
      <div class="space-y-1">
        <h3 class="text-base leading-4 font-medium text-gray-900">
          Klantenprofiel
        </h3>
        <p class="text-sm text-gray-400">
          Voorkeursinstellingen van de klant bij nieuwe dossiers
        </p>
      </div>

      <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
        {{#let (load @model.profile) as |promise|}}
          {{#if promise.isResolved}}
            {{#let promise.value as |profile|}}
              <div>
                <InputField::VatRateSelect
                  @label="BTW tarief"
                  @value={{profile.vatRate}}
                  @isB2B={{@model.isCompany}}
                  @onSelectionChange={{queue (fn (mut profile.vatRate)) @onSave}}
                  @allowClear={{false}}
                  class="mt-1" />
              </div>
              <div>
                <InputField::DeliveryMethodSelect
                  @label="Uitvoering"
                  @value={{profile.deliveryMethod}}
                  @onSelectionChange={{queue (fn (mut profile.deliveryMethod)) @onSave}}
                  class="mt-1" />
              </div>
              <div>
                <label for="payment-period" class="block text-sm font-medium text-gray-700">
                  Betalingstermijn
                </label>
                <Input
                  id="payment-period"
                  @type="number"
                  @value={{profile.invoicePaymentPeriod}}
                  class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                  {{on "focusout" @onSave}} />
              </div>
              <div class="flex items-center">
                <InputField::Checkbox
                  @id="deposit-required-checkbox"
                  @label="Voorschot nodig"
                  @value={{profile.depositRequired}}
                  @onChange={{queue (fn (mut profile.depositRequired)) @onSave}} />
              </div>
            {{/let}}
          {{/if}}
        {{/let}}
      </div>
    </section>
  {{/if}}
</div>
