<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
  <InputField::TelephoneTypeSelect
    @value={{@model.telephoneType}}
    @onSelectionChange={{queue (fn (mut @model.telephoneType)) (perform @saveTask)}}
    @errors={{v-get @model "telephoneType" "messages"}} />
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
  <InputField::TelephonePrefixSelect
    @value={{@model.country}}
    @onSelectionChange={{queue (fn (mut @model.country)) (perform @saveTask)}}
    @errors={{v-get @model "country" "messages"}} />
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
  <Input
    id="telephone-area"
    @type="text"
    @value={{@model.area}}
    class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-16 sm:text-sm border-gray-300 rounded-md"
    {{on "input" this.setArea}}
    {{on "focusout" (perform @saveTask)}} />
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
  <Input
    id="telephone-number"
    @type="text"
    value={{this.formattedNumber}}
    class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-28 sm:text-sm border-gray-300 rounded-md"
    {{on "input" this.setNumber}}
    {{on "focusout" (perform @saveTask)}} />
  {{#if this.errorMessages}}
    <p class="mt-2 text-xs text-red-600">
      {{this.errorMessages.firstObject}}
    </p>
  {{/if}}
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
  <Input
    id="telephone-memo"
    @type="text"
    @value={{@model.memo}}
    class="mt-1 shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
    {{on "focusout" (perform @saveTask)}} />
</td>
<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
  <div class="flex items-center justify-end">
    <Util::SaveStatus @model={{@model}} @task={{@saveTask}} />
    {{#if this.canBeSaved}}
      <button type="button"
        class="ml-2 text-green-700 hover:text-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-200"
        {{on "click" @onClose}}>
        Opslaan
      </button>
    {{/if}}
  </div>
  <div>
    <button type="button"
      class="text-red-700 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
      {{on "click" @onCancel}}>
      Annuleer
    </button>
  </div>
</td>
