<div class="flex items-center justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-2xl font-bold leading-7 font-display text-gray-900 sm:text-3xl sm:truncate">
      Omzet
    </h2>
  </div>
  <div class="flex grow-0">
  </div>
</div>

<div class="mt-6 flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                Maand
              </th>
              {{#each this.years as |year index|}}
                <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                  {{#let (and (eq index 0) this.hasPrevious) (and (eq index (dec this.years.length)) this.hasNext) as |hasPreviousNav hasNextNav|}}
                    <span class="w-full inline-flex items-center {{if hasPreviousNav "justify-between" "justify-end"}}">
                      {{#if hasPreviousNav}}
                        <button type="button"
                          class="flex-none inline-flex items-center border border-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
                          {{on "click" this.goToPrevious}}>
                          {{svg-jar "heroicons-md-chevron-left" class="h-4 w-4"}}
                        </button>
                      {{/if}}
                      <span>{{year}}</span>
                      {{#if hasNextNav}}
                        <button type="button"
                          class="ml-2 flex-none inline-flex items-center border border-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
                          {{on "click" this.goToNext}}>
                          {{svg-jar "heroicons-md-chevron-right" class="h-4 w-4"}}
                        </button>
                      {{/if}}
                    </span>
                  {{/let}}
                </th>
              {{/each}}
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{#each this.matrix as |row|}}
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm text-gray-500">
                  {{row.month}}
                </td>
                {{#each row.entries as |entry|}}
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium text-gray-900">
                    <Fmt::Currency @value={{entry.amount}} />
                  </td>
                {{/each}}
              </tr>
            {{/each}}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-bold text-gray-900">
                Totaal
              </td>
              {{#each this.totals as |total|}}
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-bold text-gray-900">
                  <Fmt::Currency @value={{total}} />
                </td>
              {{/each}}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{outlet}}