<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Aanvraag {{format-request-number @model.id}} {{this.visitor.initials}}
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"
              {{on "click" @onDelete}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            {{on "click" this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
            <EmberTooltip @text="Sluiten" />
          </button>
        {{else}}
          {{#if this.isLinkedToCustomer}}
            <button type="button"
              {{on "click" this.generateVisitReport}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-document-text" class="h-6 w-6"}}
              <EmberTooltip @text="Bezoekrapport" @side="bottom" />
            </button>
          {{/if}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              {{on "click" this.openEdit}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
            </button>
          {{/unless}}
          {{#if this.hasOptionsMenu}}
            <div class="relative inline-block text-left">
              <div>
                <button type="button"
                  {{on "click" this.openOptionsMenu}}
                  class="bg-white rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-red-200" id="menu-button" aria-expanded="true" aria-haspopup="true">
                  <span class="sr-only">Open menu</span>
                  {{svg-jar "heroicons-md-dots-vertical" class="h-6 w-6"}}
                </button>
              </div>
              {{#if this.isOpenOptionsMenu}}
                <div class="z-10 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
                  {{on-click-outside this.closeOptionsMenu}}
                  {{!-- TODO make CSS transition work on leave --}}
                  {{css-transition
                      enterClass="transform opacity-0 scale-95"
                      enterActiveClass="transition ease-out duration-100"
                      enterToClass="transform opacity-100 scale-100"
                      leaveClass="transform opacity-100 scale-100"
                      leaveActiveClass="transition ease-in duration-75"
                      leaveToClass="transform opacity-0 scale-95"}}>
                  <div class="py-1" role="none">
                    {{#if @model.isCancelled}}
                      <div role="menuitem" tabindex="-1"
                        {{on "click" this.uncancelRequest}}
                        class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
                        Opnieuw openen
                      </div>
                    {{else}}
                      {{#unless this.hasOffer}}
                        {{#if this.isLinkedToCustomer}}
                          <LinkTo role="menuitem" tabindex="-1"
                            @route="main.case.request.edit.offer"
                            @models={{array this.case.current.customerId @model.id}}
                            class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
                            Offerte opstellen
                          </LinkTo>
                        {{/if}}
                        <div role="menuitem" tabindex="-1"
                          {{on "click" this.cancelRequest}}
                          class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
                          Afsluiten
                        </div>
                      {{/unless}}
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          {{#if (and (not this.loadData.isRunning) this.isLinkedToCustomer)}}
            {{#if this.calendarEvent.isMasteredByAccess}}
              <CalendarEvent::DetailView
                @title="bezoek"
                @model={{this.calendarEvent}}
                @onSynchronize={{perform this.saveCalendarEvent}} />
            {{else if @model.requiresVisit}}
              <CalendarEvent::DetailEdit
                @title="bezoek"
                @model={{this.calendarEvent}}
                @onCalendarPeriodChange={{perform this.updateCalendarPeriod}}
                @saveTask={{this.saveCalendarEvent}} />
            {{/if}}
          {{/if}}
        </div>
        <div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
            <div class="lg:col-span-2">
              <InputField::Date
                @label="Datum"
                @value={{@model.requestDate}}
                @onChange={{queue (fn (mut @model.requestDate)) (perform this.save)}}
                @disabled={{this.isLimitedEdit}} />
            </div>
            <div class="col-start-1">
              <InputField::EmployeeSelect
                @label="Bediende"
                @value={{this.employee}}
                @isAdministrative={{true}}
                @onSelectionChange={{queue this.setEmployee (perform this.save)}}
                @required={{true}}
                @allowClear={{false}}
                @disabled={{this.isLimitedEdit}}
                class="mt-1" />
            </div>
            <div>
              <InputField::WayOfEntrySelect
                @label="Aanmelding"
                @value={{@model.wayOfEntry}}
                @onSelectionChange={{queue (fn (mut @model.wayOfEntry)) (perform this.save)}}
                @disabled={{this.isLimitedEdit}}
                class="mt-1" />
            </div>
            <div>
              <InputField::EmployeeSelect
                @label="Bezoeker"
                @value={{this.visitor}}
                @isAdministrative={{true}}
                @isTechnician={{true}}
                @onSelectionChange={{queue this.setVisitor (perform this.save)}}
                class="mt-1" />
            </div>
            {{#if this.isLinkedToCustomer}}
              <div class="relative flex items-end">
                <div class="flex grow-0 items-center h-5">
                  <Input
                    id="requires-visit"
                    @type="checkbox"
                    @checked={{@model.requiresVisit}}
                    disabled={{this.calendarEvent.isMasteredByAccess}}
                    {{on "input" (perform this.setRequiresVisit)}}
                    class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded" />
                </div>
                <div class="ml-3">
                  <label for="requires-visit" class="text-gray-500 text-sm font-medium">Bezoek nodig</label>
                </div>
              </div>
            {{/if}}
          </div>
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <label for="description" class="block text-sm font-medium text-gray-700">
            Beschrijving <span class="text-gray-400 font-normal">(zichtbaar in document en agenda)</span>
          </label>
          <Textarea
            id="description"
            @value={{@model.description}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md disabled:bg-gray-100"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
        <div class="sm:col-span-2 sm:order-4">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Opmerking <span class="text-gray-400 font-normal">(niet zichtbaar in document)</span>
          </label>
          <Textarea
            id="comment"
            @value={{@model.comment}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md disabled:bg-gray-100"
            rows="5"
            {{on "focusout" (perform this.save)}}
            disabled={{this.isLimitedEdit}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2 space-y-6">
          {{#unless this.loadData.isRunning}}
            <CalendarEvent::DetailView
              @title="bezoek"
              @model={{this.calendarEvent}}
              @onSynchronize={{perform this.synchronizeCalendarEvent}} />
          {{/unless}}
          <div class="space-y-2">
            {{#if @model.cancellationDate}}
              <Util::DetailItem @label="Afgesloten">
                <Fmt::Date @value={{@model.cancellationDate}} />
              </Util::DetailItem>
            {{/if}}
            {{#if @model.cancellationReason}}
              <Util::DetailItem @label="Reden van afsluiten">
                <span class="html-body">{{@model.cancellationReason}}</span>
              </Util::DetailItem>
            {{/if}}
          </div>
        </div>
        <div class="space-y-2 sm:order-1">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{@model.requestDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Aanmelding">
            {{@model.wayOfEntry.name}}
          </Util::DetailItem>
          <Util::DetailItem @label="Bediende">
            {{@model.employee}}
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoek nodig" class="items-center">
            <Util::DisplayCheckbox @value={{@model.requiresVisit}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoeker">
            {{@model.visitor}}
          </Util::DetailItem>
        </div>
        <div class="sm:col-span-2 space-y-2 sm:order-3">
          <Util::DetailItem @label="Beschrijving">
            <span class="whitespace-pre-wrap">{{@model.description}}</span>
          </Util::DetailItem>
          <Util::DetailItem @label="Opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>


{{#if this.isOpenCancellationModal}}
  <Request::CancellationModal
    @onConfirm={{this.confirmCancellation}}
    @onClose={{this.closeCancellationModal}}
  />
{{/if}}