<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Aanvraag {{@model.id}} {{this.visitor.initials}}
        </h2>
        {{#if this.editMode}}
          <SaveStatusIcon
            @model={{@model}}
            @task={{this.save}}
            class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"h
              onClick={{@onDelete}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            onClick={{this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
          </button>
        {{else}}
          {{#if this.isLinkedToCustomer}}
            <button type="button"
              onClick={{this.generateVisitReport}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-document-text" class="h-6 w-6"}}
              <EmberTooltip @text="Bezoekrapport" @side="bottom" />
            </button>
          {{/if}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          {{#if this.isLinkedToCustomer}}
            {{#if this.hasVisitMasteredByAccess}}
              <Visit::DetailView @model={{@model}} />
            {{else if @model.requiresVisit}}
              <Visit::DetailEdit @model={{this.calendarEvent}} @saveTask={{this.saveCalendarEvent}} />
            {{/if}}
          {{/if}}
        </div>
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
          <div>
            <InputField::Date
              @label="Datum"
              @value={{@model.requestDate}}
              @onChange={{queue (fn (mut @model.requestDate)) (perform this.save)}} />
          </div>
          <div class="col-start-1">
            <InputField::EmployeeSelect
              @label="Bediende"
              @value={{this.employee}}
              @isAdministrative={{true}}
              @onSelectionChange={{queue this.setEmployee (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::WayOfEntrySelect
              @label="Aanmelding"
              @value={{@model.wayOfEntry}}
              @onSelectionChange={{queue (fn (mut @model.wayOfEntry)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::EmployeeSelect
              @label="Bezoeker"
              @value={{this.visitor}}
              @isOnRoad={{true}}
              @isTechnician={{true}}
              @onSelectionChange={{queue this.setVisitor (perform this.save)}}
              class="mt-1" />
          </div>
          {{#if this.isLinkedToCustomer}}
            <div class="relative flex items-end">
              <div class="flex flex-grow-0 items-center h-5">
                <Input
                  @id="requires-visit"
                  @type="checkbox"
                  @checked={{@model.requiresVisit}}
                disabled={{this.hasVisitMasteredByAccess}}
                {{on "input" (perform this.setRequiresVisit)}}
                class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300 rounded" />
              </div>
              <div class="ml-3">
                <label for="requires-visit" class="text-gray-500 text-sm font-medium">Bezoek nodig</label>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Opmerking
          </label>
          <Textarea
            @id="comment"
            @value={{@model.comment}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-1 sm:grid-cols-2">
        <div class="mb-4 sm:mb-0 sm:order-2">
          <Visit::DetailView @model={{@model}} />
        </div>
        <div class="space-y-1 sm:order-1">
          <DetailListItem @label="Datum">
            <FmtDate @value={{@model.requestDate}} />
          </DetailListItem>
          <DetailListItem @label="Aanmelding">
            {{@model.wayOfEntry.name}}
          </DetailListItem>
          <DetailListItem @label="Bediende">
            {{@model.employee}}
          </DetailListItem>
          <DetailListItem @label="Bezoek nodig" class="items-center">
            {{svg-jar (if @model.requiresVisit "heroicons-sm-check" "heroicons-sm-minus-sm") class="h-5 w-5"}}
          </DetailListItem>
          <DetailListItem @label="Bezoeker">
            {{@model.visitor}}
          </DetailListItem>
        </div>
        <div class="sm:col-span-2 sm:order-3">
          <DetailListItem @label="Opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </DetailListItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>