<div class="p-4 bg-gray-100 rounded-lg
  {{if this.hasErrorInCalendar "relative border-2 border-dashed border-red-500" }}">
  {{#if this.hasErrorInCalendar}}
    <div class="absolute -bottom-3 -right-3 rounded shadow px-2 py-1 bg-red-600 text-white text-sm">
      {{this.errorMessage.value}}
    </div>
  {{/if}}
  {{#if @model}}
    <div class="space-y-3">
      <div class="flex justify-between items-center">
        <div class="flex flex-row items-center">
          <div class="flex-none">
            {{svg-jar "calendar-event-line" class="h-5 w-5 text-gray-500 fill-current"}}
          </div>
          <div class="ml-3 text-lg font-semibold text-gray-600">
            {{capitalize @title}}
          </div>
        </div>
        <div>
          {{#unless @model.isMasteredByAccess}}
            <button type="button"
              {{on "click" (perform this.synchronize)}}
              class="text-gray-500 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
              {{#if this.synchronize.isRunning}}
                {{svg-jar "loop-right-line" class="animate-spin text-blue-500 h-5 w-5 fill-current"}}
              {{else}}
                {{svg-jar "loop-right-line" class="h-5 w-5 fill-current"}}
              {{/if}}
              <EmberTooltip @text="Stuur wijzigingen naar agenda" @side="bottom" />
            </button>
          {{/unless}}
        </div>
      </div>
      <dl class="-ml-12 text-sm">
        <Util::DetailItem @label="Datum">
          <Fmt::Date @value={{@model.date}} />
        </Util::DetailItem>
        <Util::DetailItem @label="Agenda">
          {{@model.subject}}
        </Util::DetailItem>
      </dl>
      {{#if @model.isMasteredByAccess}}
        <div class="text-xs text-gray-400 italic text-right">
          Beheerd door Access
        </div>
      {{else}}
        <div class="text-xs text-gray-400 italic text-right">
          <Util::CreatedOn @date={{@model.created}} @user={{@model.creator}} />
          <br />
          <Util::UpdatedOn @date={{@model.modified}} @user={{@model.editor}} />
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="space-y-3">
      <div class="flex justify-between items-center">
        <div class="flex flex-row items-center">
          <div class="flex-none">
            {{svg-jar "calendar-event-line" class="h-5 w-5 text-gray-500 fill-current"}}
          </div>
          <div class="ml-3 text-lg font-semibold text-gray-600">
            {{capitalize @title}}
          </div>
        </div>
      </div>
      <div class="pl-8 italic text-sm text-gray-400">
        Nog niets gepland in agenda.
      </div>
    </div>
  {{/if}}
</div>
