<h1>Voorschotfacturen</h1>

<div class="deposit-invoices-data-table">
  {{invoice/data-table-filter
      number=number
      offerNumber=offerNumber
      reference=reference
      requestNumber=requestNumber
      cName=cName
      cStreet=cStreet
      cPostalCode=cPostalCode
      cCity=cCity
      cTelephone=cTelephone
      bName=bName
      bPostalCode=bPostalCode
      bCity=bCity
      bStreet=bStreet
      onChange=(action "applyFilter")
  }}

  {{#data-table content=model isLoading=isLoadingModel noDataMessage="Geen resultaten"
       sort=sort page=page size=size onClickRow=(action 'clickRow') as |t|}}
    {{#t.content as |c|}}
      {{#c.header}}
        {{th-sortable field='number' currentSorting=sort label='Nr'}}
        <th>Aanvraag</th>
        {{th-sortable field='invoice-date' currentSorting=sort label='Datum'}}
        <th><!-- customer / building --></th>
        <th>Naam</th>
        <th>Straat</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      {{/c.header}}
      {{#c.body as |row|}}
        <td>{{format-invoice-number row.number}}</td>
        <td>{{row.order.requestNumber}}</td>
        <td>{{fmt-date row.invoiceDate}}</td>
        {{#if row.building}}
          <td>{{paper-icon "home"}}</td>
          <td>
            {{row.building.printName}}
            <span class="text-fade">({{print-name model=row.customer}})</span>
          </td>
          <td>{{row.building.address1}}</td>
          <td>{{row.building.postalCode}}</td>
          <td>{{row.building.city}}</td>
        {{else}}
          <td>{{paper-icon "person"}}</td>
          <td>{{print-name model=row.customer}}</td>
          <td>{{row.customer.address1}}</td>
          <td>{{row.customer.postalCode}}</td>
          <td>{{row.customer.city}}</td>
        {{/if}}
      {{/c.body}}
    {{/t.content}}
  {{/data-table}}
</div>

{{liquid-outlet}}