<div class="p-4 border-b border-gray-200">
  <h4 class="text-gray-700 text-sm uppercase tracking-wide">
    Aanvragen om in te plannen
  </h4>

  <div class="mt-4 flex flex-wrap items-stretch gap-2">
    {{#each this.requests as |request|}}
      <DraggableObject @content={{request}}>
        <Visit::CalendarDay::Event @request={{request}} />
      </DraggableObject>
    {{else}}
      <p class="text-gray-400 text-sm italic">Er zijn geen aanvragen meer om in te plannen</p>
    {{/each}}
  </div>
</div>

<DraggableObjectTarget @action={{this.dropRequest}}>
  <div {{did-insert (perform this.renderCalendar)}}>
    {{!-- Calendar will be rendered here --}}
  </div>
</DraggableObjectTarget>