<div class="p-4 border-b border-gray-200">
  <h4 class="text-gray-700 text-sm uppercase tracking-wide">
    Aanvragen om in te plannen
  </h4>

  <div class="mt-4 flex flex-wrap items-stretch gap-2">
    {{#each this.requests as |request|}}
      <div class="p-2 border border-gray-200 rounded space-y-2">
        <div class="flex items-center justify-between">
          <Rlv::Button
            @skin="secondary-link"
            @size="small"
            @route="main.case.request.edit.index"
            @models={{array request.case.id request.id}}>
            AD{{format-request-number request.number}}
          </Rlv::Button>
          {{#if request.visitor}}
            <Rlv::Pill @label={{request.visitor.firstName}} @hideDot={{true}} />
          {{/if}}
        </div>
        <div class="text-xs text-gray-900">
          <Fmt::CustomerAndBuildingName @case={{request.case}} />
        </div>
      </div>
    {{else}}
      <p class="text-gray-400 text-sm italic">Er zijn geen aanvragen meer om in te plannen</p>
    {{/each}}
  </div>
</div>

<div {{did-insert this.renderCalendar}} class="mt-4">

</div>