{{#if (or this.delete.isRunning this.request.isDeleted)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het verwijderen..." />
  </div>
{{else if (and (not this.request.id) this.request.isSaving)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het aanmaken..." />
  </div>
{{else}}
  <div class="space-y-4">
    {{#if (and this.case.isOngoing this.hasOffer)}}
      <AlertMessage
        @level="warning"
        @message="Er is reeds een offerte gemaakt. Enkel beperkte wijzigingen zijn nog mogelijk."
        class="shadow" />
    {{/if}}

    {{!-- Details panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Request::DetailPanel
        @model={{this.request}}
        @onDelete={{perform this.delete}}
        @isDisabledEdit={{this.isDisabledEdit}}
        @isEnabledDelete={{this.isEnabledDelete}} />
    </div>

    {{!-- Origin intervention --}}
    {{#if this.request.origin}}
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <Request::InterventionPanel
          @model={{this.request}} />
      </div>
    {{/if}}
  </div>
{{/if}}
