{{#if (or this.delete.isRunning this.model.isDeleted)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het verwijderen..." />
  </div>
{{else if (and (not this.model.id) this.model.isSaving)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het aanmaken..." />
  </div>
{{else}}
  <div class="space-y-4">
    {{#if this.model.isCancelled}}
      <AlertMessage::Warning
        @message="De aanvraag is reeds afgesloten. Er zijn geen wijzigingen meer mogelijk."
        class="shadow" />
    {{else if this.hasOffer}}
      <AlertMessage::Warning
        @message="Er is reeds een offerte gemaakt. Enkel beperkte wijzigingen zijn nog mogelijk."
        class="shadow" />
    {{/if}}

    {{!-- Details panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Request::DetailPanel
        @model={{this.model}}
        @onDelete={{perform this.delete}}
        @isDisabledEdit={{this.isDisabledEdit}}
        @isEnabledDelete={{this.isEnabledDelete}} />
    </div>

    {{!-- Origin intervention --}}
    {{#if this.model.origin}}
      <div class="bg-white shadow rounded-lg overflow-hidden">
        <Request::InterventionPanel
          @model={{this.model}} />
      </div>
    {{/if}}
  </div>
{{/if}}
