<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} aanvraag {{@model.id}} {{this.visitor.initials}}
    </h2>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div>
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      {{#if this.isLinkedToCustomer}}
        {{#unless this.isDisabledUnlinkCustomer}}
          <PaperButton @onClick={{perform this.unlinkCustomer}} @iconButton={{true}}>
            {{paper-icon "link off"}}
            <PaperTooltip>Ontkoppel klant</PaperTooltip>
          </PaperButton>
        {{/unless}}
        <PaperButton @onClick={{fn this.generateVisitReport}} @iconButton={{true}}>
          {{paper-icon "description"}}
          <PaperTooltip>Bezoekrapport</PaperTooltip>
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{fn this.linkCustomer}} @iconButton={{true}}>
          {{paper-icon "link"}}
          <PaperTooltip>Koppel klant</PaperTooltip>
        </PaperButton>
      {{/if}}
      {{#unless this.isDisabledEdit}}
        <PaperButton @onClick={{@onOpenEdit}} @iconButton={{true}}>
          {{paper-icon "edit mode"}}
          <PaperTooltip>Aanpassen</PaperTooltip>
        </PaperButton>
      {{/unless}}
    {{/if}}
  </div>
</div>

{{#if this.isDisabledEdit}}
  <WarningMessage @message="Offerte reeds opgemaakt. Geen wijzigingen meer mogelijk." />
{{/if}}

{{#if @editMode}}
  {{#if this.remove.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het verwijderen...</p>
    </div>
  {{else if this.rollbackTree.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not @model.id) @model.isSavivg)}}
    <div>
      <PaperProgressLinear />
      <p>Aan het aanmaken...</p>
    </div>
  {{else if this.unlinkCustomer.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aanvraag aan het loskoppelen van klant...</p>
    </div>
  {{else}}
    <Request::DetailEdit @model={{@model}} @save={{this.save}} />
  {{/if}}
{{else}}
  {{#if @model.origin.id}}
    <InfoMessage>
      <div class="layout-row layout-align-space-between-center" role="button" {{on "click" (fn this.goToOrigin)}}>
      <div>
        Deze aanvraag is een gevolg van interventie IR{{@model.origin.id}}
      </div>
      <div>
        {{paper-icon "forward"}}
      </div>
      <PaperTooltip>Ga naar de interventie</PaperTooltip>
      </div>
    </InfoMessage>
  {{/if}}

  <Request::DetailView @model={{@model}} />
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
