<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Interventie {{format-intervention-number @model.number}}
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"
              {{on "click" @onDelete}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "delete-bin-line" class="h-6 w-6 fill-current"}}
            </button>
          {{/if}}
          <button type="button"
            {{on "click" this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "logout-box-r-line" class="h-6 w-6 fill-current"}}
            <EmberTooltip @text="Sluiten" />
          </button>
        {{else}}
          {{#if this.isLinkedToCustomer}}
            <button type="button"
              {{on "click" this.generateInterventionReport}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "file-list-2-line" class="h-6 w-6 fill-current"}}
              <EmberTooltip @text="Interventierapport" @side="bottom" />
            </button>
          {{/if}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              {{on "click" this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "pencil-line" class="h-6 w-6 fill-current"}}
            </button>
          {{/unless}}
          <div class="relative inline-block text-left">
            <div>
              <button type="button"
                {{on "click" this.openOptionsMenu}}
                class="bg-white rounded-full flex items-center text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-red-200" id="menu-button" aria-expanded="true" aria-haspopup="true">
                <span class="sr-only">Open menu</span>
                {{svg-jar "more-2-fill" class="h-6 w-6 fill-current"}}
              </button>
            </div>
            {{#if this.isOpenOptionsMenu}}
              <div class="z-10 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
                {{on-click-outside this.closeOptionsMenu}}
                {{!-- TODO make CSS transition work on leave --}}
                {{css-transition
                    enterClass="transform opacity-0 scale-95"
                    enterActiveClass="transition ease-out duration-100"
                    enterToClass="transform opacity-100 scale-100"
                    leaveClass="transform opacity-100 scale-100"
                    leaveActiveClass="transition ease-in duration-75"
                    leaveToClass="transform opacity-0 scale-95"}}>
                <div class="py-1" role="none">
                  {{#if (and this.case.isOngoing (not this.hasInvoice))}}
                    {{#if this.isLinkedToCustomer}}
                      <LinkTo role="menuitem" tabindex="-1"
                        @route="main.case.intervention.edit.invoice"
                        @models={{array this.case.id @model.id}}
                        class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
                        Factuur opstellen
                      </LinkTo>
                    {{/if}}
                  {{/if}}
                  <div role="menuitem" tabindex="-1"
                    {{on "click" (perform this.createNewIntervention)}}
                    class="cursor-pointer text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
                    Nieuwe interventie
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
            <div>
              <InputField::Date
                @label="Datum"
                @value={{@model.interventionDate}}
                @onChange={{queue (fn (mut @model.interventionDate)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::EmployeeSelect
                @label="Bediende"
                @value={{@model.employee}}
                @isAdministrative={{true}}
                @onSelectionChange={{queue (fn (mut @model.employee)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::WayOfEntrySelect
                @label="Aanmelding"
                @value={{@model.wayOfEntry}}
                @onSelectionChange={{queue (fn (mut @model.wayOfEntry)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::DecimalInput
                @label="Aantal personen"
                @value={{@model.scheduledNbOfPersons}}
                @errors={{@model.validations.attrs.scheduledNbOfPersons.messages}}
                @onChange={{queue (fn (mut @model.scheduledNbOfPersons)) (perform this.save)}}
                class="mt-1 block w-16 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
            </div>
            <div class="lg:col-span-2">
              <InputField::EmployeeSelect
                @label="Techniekers"
                @value={{@model.technicians}}
                @multiple={{true}}
                @isTechnician={{true}}
                @isAdministrative={{true}}
                @sort={{"type:desc"}}
                @onSelectionChange={{queue (fn (mut @model.technicians)) (perform this.save)}}
                class="mt-1" />
            </div>
          </div>
        </div>
        <div class="space-y-6">
          {{#if this.isLinkedToCustomer}}
            <CalendarEvent::DetailEdit
              @title="planning"
              @model={{this.visit}}
              @onCalendarPeriodChange={{perform this.updateCalendarPeriod}}
              @saveTask={{this.saveCalendarEvent}}
              @onDelete={{perform this.deleteCalendarEvent}} />
          {{/if}}
        </div>
        <div class="sm:col-span-2">
          <label for="description" class="block text-sm font-medium text-gray-700">
            Beschrijving <span class="text-gray-400 font-normal">(zichtbaar in document)</span>
          </label>
          <Textarea
            id="description"
            @value={{@model.description}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
        <div class="sm:col-span-2">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Interne opmerking <span class="text-gray-400 font-normal">(niet zichtbaar in document)</span>
          </label>
          <Textarea
            id="comment"
            @value={{@model.comment}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-2">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{@model.interventionDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Aanmelding">
            {{@model.wayOfEntry.label}}
          </Util::DetailItem>
          <Util::DetailItem @label="Bediende">
            {{@model.employee.firstName}}
          </Util::DetailItem>
          <Util::DetailItem @label="Aantal pers.">
            {{#if @model.scheduledNbOfPersons}}
              <span class="{{if this.isNbOfPersonsWarning "px-1 py-0.5 text-red-700 bg-red-100"}}">{{@model.scheduledNbOfPersons}} man</span>
            {{/if}}
          </Util::DetailItem>
          <Util::DetailItem @label="Techniekers">
            {{join ", " this.technicianNames}}
          </Util::DetailItem>
        </div>
        <div>
          <CalendarEvent::DetailView
            @title="planning"
            @model={{this.visit}}
            @onSynchronize={{perform this.forceCalendarEventSynchronization}} />
        </div>
        <div class="sm:col-span-2 space-y-2">
          <Util::DetailItem @label="Beschrijving">
            <span class="whitespace-pre-wrap">{{@model.description}}</span>
          </Util::DetailItem>
          <Util::DetailItem @label="Interne opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>
