<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="rlv-panel-title">
          Interventie {{format-intervention-number @model.number}}
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none">
        {{#if this.editMode}}
          <Rlv::Button
            @label="Sluiten"
            @hideText={{true}}
            @icon="logout-box-r-line"
            @skin="secondary-naked"
            @size="xlarge"
            class="px-2"
            {{on "click" this.closeEdit}} />
        {{else}}
          {{#if this.isLinkedToCustomer}}
            <Rlv::Button
              @label="Interventierapport"
              @hideText={{true}}
              @icon="file-text-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" this.generateInterventionReport}}>
              <:tooltip>
              <EmberTooltip @text="Interventierapport" @side="bottom" />
              </:tooltip>
            </Rlv::Button>
          {{/if}}
          {{#unless @isDisabledEdit}}
            <Rlv::Button
              @label="Bewerk"
              @hideText={{true}}
              @icon="pencil-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" this.openEdit}} />
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div>
          <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
            <div>
              <InputField::Date
                @label="Datum"
                @value={{@model.interventionDate}}
                @onChange={{queue (fn (mut @model.interventionDate)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::EmployeeSelect
                @label="Bediende"
                @value={{@model.employee}}
                @isAdministrative={{true}}
                @onSelectionChange={{queue (fn (mut @model.employee)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::WayOfEntrySelect
                @label="Aanmelding"
                @value={{@model.wayOfEntry}}
                @onSelectionChange={{queue (fn (mut @model.wayOfEntry)) (perform this.save)}}
                class="mt-1" />
            </div>
            <div>
              <InputField::DecimalInput
                @label="Aantal personen"
                @value={{@model.scheduledNbOfPersons}}
                @errors={{@model.validations.attrs.scheduledNbOfPersons.messages}}
                @onChange={{queue (fn (mut @model.scheduledNbOfPersons)) (perform this.save)}}
                class="mt-1 block w-16 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
            </div>
            <div class="lg:col-span-2">
              <InputField::EmployeeSelect
                @label="Techniekers"
                @value={{@model.technicians}}
                @multiple={{true}}
                @isTechnician={{true}}
                @isAdministrative={{true}}
                @sort={{"type:desc"}}
                @onSelectionChange={{queue (fn (mut @model.technicians)) (perform this.save)}}
                class="mt-1" />
            </div>
          </div>
        </div>
        <div class="space-y-6">
          {{#if this.isLinkedToCustomer}}
            {{#let (load @model.visit) as |visit|}}
              {{#if visit.isResolved}}
                <CalendarEvent::DetailEdit
                  @title="planning"
                  @model={{visit.value}}
                  @onCalendarPeriodChange={{perform this.updateCalendarPeriod}}
                  @saveTask={{this.saveCalendarEvent}}
                  @onDelete={{perform this.deleteCalendarEvent}} />
              {{/if}}
            {{/let}}
          {{/if}}
        </div>
        <div class="sm:col-span-2">
          <label for="description" class="block text-sm font-medium text-gray-700">
            Beschrijving <span class="text-gray-400 font-normal">(zichtbaar in document)</span>
          </label>
          <Textarea
            id="description"
            @value={{@model.description}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
        <div class="sm:col-span-2">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Interne opmerking <span class="text-gray-400 font-normal">(niet zichtbaar in document)</span>
          </label>
          <Textarea
            id="comment"
            @value={{@model.comment}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-2">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{@model.interventionDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Aanmelding">
            {{@model.wayOfEntry.label}}
          </Util::DetailItem>
          <Util::DetailItem @label="Bediende">
            {{@model.employee.firstName}}
          </Util::DetailItem>
          <Util::DetailItem @label="Aantal pers.">
            {{#if @model.scheduledNbOfPersons}}
              <span class="{{if this.isNbOfPersonsWarning "px-1 py-0.5 text-red-700 bg-red-100"}}">{{@model.scheduledNbOfPersons}} man</span>
            {{/if}}
          </Util::DetailItem>
          <Util::DetailItem @label="Techniekers">
            {{join ", " (map-by "firstName" (sort-by "firstName" @model.technicians))}}
          </Util::DetailItem>
        </div>
        <div>
          {{#let (load @model.visit) as |visit|}}
            {{#if visit.isResolved}}
              <CalendarEvent::DetailView
                @title="planning"
                @model={{visit.value}}
                @onSynchronize={{perform this.forceCalendarEventSynchronization}} />
            {{/if}}
          {{/let}}
        </div>
        <div class="sm:col-span-2 space-y-2">
          <Util::DetailItem @label="Beschrijving">
            <span class="whitespace-pre-wrap">{{@model.description}}</span>
          </Util::DetailItem>
          <Util::DetailItem @label="Interne opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>
