<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="space-y-4 sm:space-y-0 sm:flex sm:justify-between sm:items-start">
      <div class="space-y-1">
        <div class="flex items-center">
          <h2 class="text-2xl font-bold font-display text-gray-900">
            Bestelling {{format-case-number this.order.case.identifier}}
          </h2>
          {{#if this.order}}
            <LinkTo @route="main.orders.edit" @model={{this.order.id}}
              class="ml-2 block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "external-link-line" class="h-5 w-5 fill-current"}}
              <EmberTooltip @text="Open bestelling" @side="bottom" />
            </LinkTo>
          {{/if}}
        </div>
        <p class="text-sm text-gray-400">
          Bestelling waarvoor de interventie is opgesteld
        </p>
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.order}}
          <Rlv::Button
            @label="Ontkoppel bestelling"
            @icon="subtract-line"
            @skin="secondary"
            {{on "click" (perform this.unlink)}} />
        {{else}}
          <Rlv::Button
            @label="Koppel bestelling"
            @icon="link"
            @skin="secondary"
            {{on "click" this.openOrderModal}} />
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.order}}
      <dl class="grid grid-cols-1 gap-1 sm:grid-cols-2">
        <div class="space-y-1">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{this.order.orderDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Referentie">
            {{this.order.case.reference}}
          </Util::DetailItem>
        </div>
        <div class="space-y-6">
          <Util::DetailItem @label="Productiebon" class="">
            {{#if this.order.case.hasProductionTicket}}
              <Rlv::Button
                @label="Productiebon bekijken"
                @hideText={{true}}
                @icon="file-download-line"
                @skin="secondary-naked"
                @size="large"
                class="p-0"
                {{on "click" this.downloadProductionTicket}} />
            {{else}}
              <div class="italic text-gray-400 text-sm">
                Niet beschikbaar
              </div>
            {{/if}}
          </Util::DetailItem>
        </div>
      </dl>
    {{else}}
      <p class="italic text-gray-400 text-sm">
        Deze interventie is niet gekoppeld aan een (eerdere) bestelling. Klik
        <Rlv::Button
          @label="Koppel bestelling"
          @hideText={{true}}
          @icon="link"
          @skin="secondary-naked"
          @size="small"
          class="p-0"
          {{on "click" this.openOrderModal}} />
        om een bestelling te koppelen.
      </p>
    {{/if}}
  </div>
</div>

{{#if this.isOpenOrderModal}}
  <Intervention::OrderSearchModal
    @model={{@model}}
    @onClose={{this.closeOrderModal}}
    @onSelect={{perform this.link}}
  />
{{/if}}