<Rlv::Modal @width="sm:w-11/12" @onClose={{@onClose}}>
  <:body>
  <div class="space-y-4">
    <div class="flex justify-between items-start">
      <div class="space-y-2">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Bestelling zoeken voor interventie {{@model.id}}
        </h2>
      </div>
    </div>
    <div class="p-4 lg:px-6 space-y-4 lg:flex lg:items-start lg:space-x-12 lg:space-y-0 bg-gray-50 rounded">
      <div class="flex items-center">
        {{svg-jar "heroicons-md-search" class="shrink-0 mr-2 h-4 w-4 text-gray-500"}}
        <h4 class="text-gray-700 text-sm uppercase tracking-wide">
          Zoeken
        </h4>
      </div>
      <div class="grid sm:grid-cols-5 lg:grid-cols-7 gap-4">
        <div class="lg:col-span-2 xl:col-span-1">
          <label for="dt-filter-request-number" class="block text-sm font-medium text-gray-700">
            AD nr.
          </label>
          <input
            id="dt-filter-request-number"
            type="text"
            value={{this.filter.requestNumber}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "requestNumber")}} />
        </div>
        <div class="sm:col-span-2 xl:col-span-1">
          <label for="dt-filter-number" class="block text-sm font-medium text-gray-700">
            Offerte
          </label>
          <input
            id="dt-filter-offer-number"
            type="text"
            value={{this.filter.offerNumber}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "offerNumber")}} />
        </div>
        <div class="sm:col-span-2">
          <label for="dt-filter-reference" class="block text-sm font-medium text-gray-700">
            Referentie
          </label>
          <input
            id="dt-filter-reference"
            type="text"
            value={{this.filter.reference}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "reference")}} />
        </div>
        <div class="sm:col-span-2 lg:col-start-1">
          <label for="dt-filter-building-name" class="block text-sm font-medium text-gray-700">
            Klant
          </label>
          <input
            id="dt-filter-building-name"
            type="text"
            value={{this.filter.name}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "name")}} />
        </div>
        <div class="sm:col-span-3 lg:col-span-2">
          <label for="dt-filter-building-street" class="block text-sm font-medium text-gray-700">
            Straat
          </label>
          <input
            id="dt-filter-building-street"
            type="text"
            value={{this.filter.street}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "street")}} />
        </div>
        <div class="">
          <label for="dt-filter-building-postal-code" class="block text-sm font-medium text-gray-700">
            Postcode
          </label>
          <input
            id="dt-filter-building-postal-code"
            type="text"
            value={{this.filter.postalCode}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "postalCode")}} />
        </div>
        <div class="sm:col-span-2">
          <label for="dt-filter-building-city" class="block text-sm font-medium text-gray-700">
            Gemeente
          </label>
          <input
            id="dt-filter-building-city"
            type="text"
            value={{this.filter.city}}
            class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            {{on "input" (perform this.debounceFilter "city")}} />
        </div>
      </div>
      <div class="shrink-0">
        <button type="button"
          {{on "click" this.resetFilters}}
          class="inline-flex items-center text-sm text-gray-700 underline lg:no-underline hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
          {{svg-jar "heroicons-sm-filter" class="-ml-0.5 mr-2 h-4 w-4 text-gray-400"}}
          Wis filters
        </button>
      </div>
    </div>

    <div class="-my-2 overflow-x-auto">
      <div class="py-2 align-middle inline-block min-w-full">
        <div class="overflow-hidden border-b border-gray-200">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th class="pl-4 pr-2 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  AD
                </th>
                <DataTable::Th
                  @field="offer-number"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{this.setSort}}
                  class="pl-4 pr-2 py-3 bg-gray-50 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Offerte
                </DataTable::Th>
                <DataTable::Th
                  @field="offer-date"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{this.setSort}}
                  class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Datum
                </DataTable::Th>
                <DataTable::Th
                  @field="reference"
                  @currentSort={{this.sort}}
                  @onUpdateSort={{this.setSort}}
                  class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Referentie
                </DataTable::Th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Klant
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Straat
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  P.Code
                </th>
                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Gemeente
                </th>
                <th class="px-6 py-3 bg-gray-50"></th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {{#if this.search.isRunning}}
                <tr class="animate-pulse">
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-16 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-18 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-28 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-36 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-12 bg-gray-300"></div>
                  </td>
                  <td class="py-2 px-4">
                    <div class="h-8 w-32 bg-gray-300"></div>
                  </td>
                  <td>
                  </td>
                </tr>
              {{else}}
                {{#each this.orders as |row|}}
                  <tr>
                    <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                      {{format-request-number row.requestNumber}}
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                      {{row.offerNumber}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      <Fmt::Date @value={{row.orderDate}} />
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      {{row.reference}}
                    </td>
                    <td class="px-6 py-4 text-sm font-medium text-gray-900">
                      <div class="flex">
                        {{#if row.customer}}
                          <div class="space-y-1">
                            {{#if row.customer.name}}
                              <div>
                                {{row.customer.name}}
                              </div>
                            {{else}}
                              <div class="text-gray-400 italic font-normal">
                                Naamloos
                              </div>
                            {{/if}}
                          </div>
                        {{/if}}
                      </div>
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500">
                      {{row.customer.address1}}
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500">
                      {{row.customer.postalCode}}
                    </td>
                    <td class="px-6 py-4 text-sm text-gray-500">
                      {{row.customer.city}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <button type="button"
                        {{on "click" (fn @onSelect row)}}
                        class="text-red-700 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                        Selecteer
                      </button>
                    </td>
                  </tr>
              {{else}}
                  <tr>
                    <td colspan="10" class="px-6 py-4 text-center text-sm text-gray-500">
                      Geen bestellingen gevonden
                    </td>
                  </tr>
                {{/each}}
              {{/if}}
            </tbody>
          </table>
        </div>
      </div>
      <DataTable::Pagination
        @page={{this.page}}
        @size={{this.size}}
        @total={{this.orders.meta.count}}
        @onPrevious={{this.previousPage}}
        @onNext={{this.nextPage}}
        @onSelectPage={{this.selectPage}} />
    </div>
  </div>
  </:body>
</Rlv::Modal>
