{{#if (or this.delete.isRunning @model.isDeleted)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het verwijderen..." />
  </div>
{{else if (and (not @model.id) @model.isSaving)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het aanmaken..." />
  </div>
{{else}}
  <div class="space-y-4">
    {{#if this.case.isCancelled}}
      <AlertMessage::Warning
        @message="Het dossier is reeds afgesloten. Er zijn geen wijzigingen meer mogelijk."
        class="shadow" />
    {{else if this.hasInvoice}}
      <AlertMessage::Warning
        @message="Er is reeds een factuur gemaakt. Er zijn geen wijzigingen meer mogelijk."
        class="shadow" />
    {{/if}}

    {{!-- Details panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Intervention::DetailPanel
        @model={{@model}}
        @onDelete={{perform this.delete}}
        @isDisabledEdit={{this.isDisabledEdit}}
        @isEnabledDelete={{this.isEnabledDelete}} />
    </div>

    {{!-- Order panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Intervention::OrderPanel
        @model={{@model}} />
    </div>

    {{!-- Follow-up request --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Intervention::RequestPanel
        @model={{@model}} />
    </div>
  </div>
{{/if}}
