{{#if (and (not @model.id) @model.isSaving)}}
  <div class="h-32">
    <Util::LoadingSpinner @label="Aan het aanmaken..." />
  </div>
{{else}}
  <div class="space-y-4">
    {{#if (and this.case.isResolved this.case.value.isOngoing this.hasInvoice)}}
      <AlertMessage
        @level="warning"
        @message="Er is reeds een factuur gemaakt. Er zijn geen wijzigingen meer mogelijk."
        class="shadow" />
    {{/if}}

    {{!-- Details panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Intervention::DetailPanel
        @model={{@model}}
        @isDisabledEdit={{this.isDisabledEdit}} />
    </div>

    {{!-- Order panel --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Intervention::OrderPanel
        @model={{@model}} />
    </div>

    {{!-- Follow-up request --}}
    <div class="bg-white shadow rounded-lg overflow-hidden">
      <Intervention::RequestPanel
        @model={{@model}} />
    </div>
  </div>
{{/if}}
