<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="space-y-4 sm:space-y-0 sm:flex sm:justify-between sm:items-start">
      <div class="space-y-1">
        <div class="flex items-center">
          <h2 class="text-2xl font-bold font-display text-gray-900">
            Aanvraag {{#if this.request}}AD{{this.request.id}}{{/if}}
          </h2>
          {{#if this.request}}
            <LinkTo @route="main.requests.edit" @model={{this.request.id}}
              class="ml-2 block text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-external-link" class="h-5 w-5"}}
              <EmberTooltip @text="Open aanvraag" @side="bottom" />
            </LinkTo>
          {{/if}}
        </div>
        <p class="text-sm text-gray-400">
          Nieuwe aanvraag waartoe de interventie geleid heeft
        </p>
      </div>
      <div class="flex flex-none space-x-4">
        {{#unless this.request}}
          <button type="button"
            onClick={{perform this.createFollowUpRequest}}
                class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-plus-sm" class="-ml-1 mr-2 h-5 w-5"}}
            Start nieuwe aanvraag
          </button>
        {{/unless}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.loadData.isRunning}}
      <div class="flex w-full h-full justify-center items-center">
        {{svg-jar "loading-circle" class="animate-spin -ml-1 mr-3 h-5 w-5 text-red-600"}}
      </div>
    {{else}}
      {{#if this.request}}
        <dl class="grid grid-cols-1 gap-1 sm:grid-cols-2">
          <div class="space-y-1">
            <Util::DetailItem @label="Datum">
              <Fmt::Date @value={{this.request.requestDate}} />
            </Util::DetailItem>
            <Util::DetailItem @label="Bezoeker">
              {{this.request.visitor}}
            </Util::DetailItem>
          </div>
        </dl>
      {{else}}
        <p class="italic text-gray-400 text-sm">
          Deze interventie heeft niet geleid tot een nieuwe aanvraag.
        </p>
      {{/if}}
    {{/if}}
  </div>
</div>
