<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="space-y-4 sm:space-y-0 sm:flex sm:justify-between sm:items-start">
      <div class="space-y-1">
        <div class="flex items-center">
          <h2 class="rlv-panel-title">
            Aanvraag
            {{#if this.request.isResolved}}
              {{format-request-number this.request.value.number}}
            {{/if}}
          </h2>
          {{#if this.hasRequest}}
            <Rlv::Button
              @route="main.requests.edit"
              @model={{this.request.value.id}}
              @label="Open aanvraag"
              @hideText={{true}}
              @icon="external-link-line"
              @skin="secondary-naked"
              @size="large"
              class="px-2">
              <:tooltip>
                <EmberTooltip @text="Open aanvraag" @side="bottom" />
              </:tooltip>
            </Rlv::Button>
          {{/if}}
        </div>
        <p class="text-sm text-gray-400">
          Nieuwe aanvraag waartoe de interventie geleid heeft
        </p>
      </div>
      <div class="flex flex-none space-x-4">
        {{#if (and this.request.isResolved (not this.hasRequest))}}
          <Rlv::Button
            @label="Start nieuwe aanvraag"
            @icon="add-line"
            @skin="secondary"
            {{on "click" (perform this.createFollowUpRequest)}} />
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.request.isPending}}
      <Util::LoadingSpinner @label="" />
    {{else if this.createFollowUpRequest.isRunning}}
      <Util::LoadingSpinner @label="Aanvraag aan het maken..." class="text-sm text-gray-700" />
    {{else if this.hasRequest}}
      <dl class="grid grid-cols-1 gap-1 sm:grid-cols-2">
        <div class="space-y-1">
          <Util::DetailItem @label="Datum">
            <Fmt::Date @value={{this.request.value.requestDate}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoeker">
            {{this.request.value.visitor.firstName}}
          </Util::DetailItem>
        </div>
      </dl>
    {{else}}
      <p class="italic text-gray-400 text-sm">
        Deze interventie heeft niet geleid tot een nieuwe aanvraag.
      </p>
    {{/if}}
  </div>
</div>
