{{#liquid-if displayList class="data-table-selection"}}
  {{customer/contacts-table customer=customer onClickRow=(action "openDetail") onEdit=(action "openEdit")}}
  <div class="layout-row layout-align-end">
    {{#paper-button primary=true fab=true raised=true mini=true onClick=(action "openCreate")}}
      {{paper-icon "add"}}
      {{#paper-tooltip}}Voeg nieuw contact toe{{/paper-tooltip}}
    {{/paper-button}}
  </div>
{{else if displayDetail}}
  {{contact-detail-panel model=selectedContact onClose=(action "closeDetail") onEdit=(action "openEdit")}}
{{else if displayEdit}}
  {{#customer-entity-edit-form scope='contact' model=selectedContact
       onClose=(action "closeEdit") onRemove=(action "closeEdit")}}
    <h3>Contact</h3>
  {{/customer-entity-edit-form}}
{{/liquid-if}}