<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  <PaperInput @label="Nummer" @value={{number}} @onChange={{fn this.setFilter "number"}} @class="small" />
  <PaperInput @label="Naam" @value={{this.name}} @onChange={{fn this.setFilter "name"}} />
  <PaperInput @label="Straat" @value={{this.street}} @onChange={{fn this.setFilter "street"}} @class="large" />
  <PaperInput @label="Postcode" @value={{this.postalCode}} @onChange={{fn this.setFilter "postalCode"}} @class="small" />
  <PaperInput @label="Gemeente" @value={{this.city}} @onChange={{fn this.setFilter "city"}} />
  <PaperInput @label="Telefoon" @value={{this.telephone}} @onChange={{fn this.setFilter "telephone"}} />
  <PaperButton @iconButton={{true}} @onClick={{fn this.resetFilters}}>
    {{paper-icon "close"}}
    <PaperTooltip>Wis filters</PaperTooltip>
  </PaperButton>
</div>

<DataTable @content={{this.contacts}} @isLoading={{not this.search.isIdle}} @noDataMessage="Geen contacten" @onClickRow={{this.onClickRow}} @page={{this.page}} @size={{this.size}} @sort={{this.sort}} as |t|>
  <t.content as |c|>
    <c.header>
      <ThSortable @field="number" @currentSorting={{this.sort}} @label="Nr" />
      <th>Aanspreking</th>
      <th>Prefix</th>
      <ThSortable @field="name" @currentSorting={{this.sort}} @label="Naam" />
      <ThSortable @field="address" @currentSorting={{this.sort}} @label="Straat" />
      <ThSortable @field="postal-code" @currentSorting={{this.sort}} @label="Postcode" />
      <ThSortable @field="city" @currentSorting={{this.sort}} @label="Gemeente" />
      <th>Land</th>
      <th>Taal</th>
      <th></th>
    </c.header>
    <c.body as |row|>
      <td>{{row.number}}</td>
      <td>{{row.honorificPrefix.name}}</td>
      <td>{{row.prefix}}</td>
      <td>{{row.name}}</td>
      <td>{{row.address}}</td>
      <td>{{row.postalCode}}</td>
      <td>{{row.city}}</td>
      <td>{{row.country.name}}</td>
      <td>{{row.language.name}}</td>
      <td {{on "click" this.edit row}}>{{paper-icon "mode edit"}}</td>
    </c.body>
  </t.content>
</DataTable>
