<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  {{paper-input label="Nummer" value=number onChange=(action "setFilter" "number") class="small"}}
  {{paper-input label="Naam" value=name onChange=(action "setFilter" "name")}}
  {{paper-input label="Straat" value=street onChange=(action "setFilter" "street") class="large"}}
  {{paper-input label="Postcode" value=postalCode onChange=(action "setFilter" "postalCode") class="small"}}
  {{paper-input label="Gemeente" value=city onChange=(action "setFilter" "city")}}
  {{paper-input label="Telefoon" value=telephone onChange=(action "setFilter" "telephone")}}
  {{#paper-button iconButton=true onClick=(action "resetFilters")}}
    {{paper-icon "close"}}
    {{#paper-tooltip}}Verwijder filters{{/paper-tooltip}}
  {{/paper-button}}
</div>

{{#data-table content=contacts isLoading=(not search.isIdle) noDataMessage="Geen contacten"
     onClickRow=onClickRow page=page size=size sort=sort as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='number' currentSorting=sort label='Nr'}}
      <th>Aanspreking</th>
      <th>Prefix</th>
      {{th-sortable field='name' currentSorting=sort label='Naam'}}
      {{th-sortable field='address' currentSorting=sort label='Straat'}}
      {{th-sortable field='postal-code' currentSorting=sort label='Postcode'}}
      {{th-sortable field='city' currentSorting=sort label='Gemeente'}}
      <th>Land</th>
      <th>Taal</th>
      <th></th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.number}}</td>
      <td>{{row.honorificPrefix.name}}</td>
      <td>{{row.prefix}}</td>
      <td>{{row.name}}</td>
      <td>{{row.address}}</td>
      <td>{{row.postalCode}}</td>
      <td>{{row.city}}</td>
      <td>{{row.country.name}}</td>
      <td>{{row.language.name}}</td>
      <td {{action "edit" row}}>{{paper-icon "mode edit"}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
