<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
  <div class="layout-row flex layout-align-space-between-center">
    <PaperInput @label="Nummer" @value={{numberFilter}} @onChange={{perform debounceFilter "number"}} @class="small" />
    <PaperInput @label="Naam" @value={{nameFilter}} @onChange={{perform debounceFilter "name"}} @class="search-autofocus" />
    <PaperInput @label="Straat" @value={{streetFilter}} @onChange={{perform debounceFilter "street"}} @class="large" />
    <PaperInput @label="Postcode" @value={{postalCodeFilter}} @onChange={{perform debounceFilter "postalCode"}} @class="small" />
    <PaperInput @label="Gemeente" @value={{cityFilter}} @onChange={{perform debounceFilter "city"}} />
    <PaperInput @label="Telefoon" @value={{telephoneFilter}} @onChange={{perform debounceFilter "telephone"}} />
    <PaperButton @iconButton={{true}} @onClick={{action "resetFilters"}}>
      {{paper-icon "close"}}
      <PaperTooltip>Wis filters</PaperTooltip>
    </PaperButton>
  </div>
</div>
