<div class="interventions-table">
  <div class="data-table-filters">
    <div class="data-table-filters--title">{{paper-icon "search"}}</div>
    <PaperInput @label="Nummer" @value={{this.numberFilter}} @onChange={{perform this.debounceFilter "number"}} @class="small" />
    <PaperInput @label="Gebouw" @value={{this.nameFilter}} @onChange={{perform this.debounceFilter "name"}} />
    <PaperInput @label="Straat" @value={{this.streetFilter}} @onChange={{perform this.debounceFilter "street"}} @class="large" />
    <PaperInput @label="Postcode" @value={{this.postalCodeFilter}} @onChange={{perform this.debounceFilter "postalCode"}} @class="small" />
    <PaperInput @label="Gemeente" @value={{this.cityFilter}} @onChange={{perform this.debounceFilter "city"}} />
    <PaperButton @iconButton={{true}} @onClick={{fn this.resetFilters}}>
      {{paper-icon "close"}}
      <PaperTooltip>Wis filters</PaperTooltip>
    </PaperButton>
  </div>

  <DataTable @content={{this.interventions}} @isLoading={{not this.search.isIdle}} @noDataMessage="Geen interventies" @onClickRow={{fn this.clickRow}} @page={{this.page}} @size={{this.size}} @sort={{this.sort}} as |t|>
    <t.content as |c|>
      <c.header>
        <ThSortable @field="number" @currentSorting={{this.sort}} @label="Nr" />
        <ThSortable @field="date" @currentSorting={{this.sort}} @label="Datum" />
        <th>Gebouw</th>
        <th>Straat</th>
        <th>Postcode</th>
        <th>Gemeente</th>
      </c.header>
      <c.body as |row|>
        <td>{{row.id}}</td>
        <td><FmtDate @value={{row.date}} /></td>
        <td>{{row.building.printName}}</td>
        <td>{{row.building.address1}}</td>
        <td>{{row.building.postalCode}}</td>
        <td>{{row.building.city}}</td>
      </c.body>
    </t.content>
  </DataTable>

  <div class="layout-row layout-align-end">
    <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{fn this.openNewIntervention}}>
      {{paper-icon "add"}}
      <PaperTooltip>Maak nieuwe interventie</PaperTooltip>
    </PaperButton>
  </div>
</div>
