<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  <PaperInput @label="Nummer" @value={{number}} @onChange={{fn this.setFilter "number"}} @class="small" />
  <PaperInput @label="Referentie" @value={{reference}} @onChange={{fn this.setFilter "reference"}} @class="small" />
  <PaperInput @label="Gebouw" @value={{this.name}} @onChange={{fn this.setFilter "name"}} />
  <PaperInput @label="Straat" @value={{this.street}} @onChange={{fn this.setFilter "street"}} @class="large" />
  <PaperInput @label="Postcode" @value={{this.postalCode}} @onChange={{fn this.setFilter "postalCode"}} @class="small" />
  <PaperInput @label="Gemeente" @value={{this.city}} @onChange={{fn this.setFilter "city"}} />
  <PaperButton @iconButton={{true}} @onClick={{fn this.resetFilters}}>
    {{paper-icon "close"}}
    <PaperTooltip>Wis filters</PaperTooltip>
  </PaperButton>
</div>

<DataTable @content={{this.invoices}} @isLoading={{not this.search.isIdle}} @noDataMessage="Geen facturen" @onClickRow={{fn this.clickRow}} @page={{this.page}} @size={{this.size}} @sort={{this.sort}} as |t|>
  <t.content as |c|>
    <c.header>
      <ThSortable @field="number" @currentSorting={{this.sort}} @label="Nr" />
      <ThSortable @field="reference" @currentSorting={{this.sort}} @label="Referentie" />
      <ThSortable @field="invoice-date" @currentSorting={{this.sort}} @label="Datum" />
      <th>Gebouw</th>
      <th>Straat</th>
      <th>Postcode</th>
      <th>Gemeente</th>
    </c.header>
    <c.body as |row|>
      <td>{{format-invoice-number row.number}}</td>
      <td>{{row.reference}}</td>
      <td>{{fmt-date row.invoiceDate}}</td>
      <td>{{row.building.printName}}</td>
      <td>{{row.building.address1}}</td>
      <td>{{row.building.postalCode}}</td>
      <td>{{row.building.city}}</td>
    </c.body>
  </t.content>
</DataTable>

<div class="layout-row layout-align-end">
  <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{fn this.openNewInvoice}}>
    {{paper-icon "add"}}
    <PaperTooltip>Maak nieuwe factuur</PaperTooltip>
  </PaperButton>
</div>

{{this.liquid-yield}}