<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  {{paper-input label="Aanvraag" value=requestNumber onChange=(action "setFilter" "requestNumber") class="small"}}
  {{paper-input label="Nummer" value=number onChange=(action "setFilter" "number") class="small"}}
  {{paper-input label="Referentie" value=reference onChange=(action "setFilter" "reference") class="small"}}
  {{paper-input label="Gebouw" value=name onChange=(action "setFilter" "name")}}
  {{paper-input label="Straat" value=street onChange=(action "setFilter" "street") class="large"}}
  {{paper-input label="Postcode" value=postalCode onChange=(action "setFilter" "postalCode") class="small"}}
  {{paper-input label="Gemeente" value=city onChange=(action "setFilter" "city")}}
  {{#paper-button iconButton=true onClick=(action "resetFilters")}}
    {{paper-icon "close"}}
    {{#paper-tooltip}}Verwijder filters{{/paper-tooltip}}
  {{/paper-button}}
</div>

{{#data-table content=offers isLoading=(not search.isIdle) noDataMessage="Geen offertes"
     onClickRow=(action "clickRow") page=page size=size sort=sort as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      <th>Aanvraag</th>
      {{th-sortable field='number' currentSorting=sort label='Nr'}}
      {{th-sortable field='reference' currentSorting=sort label='Referentie'}}
      {{th-sortable field='offer-date' currentSorting=sort label='Datum'}}
      <th>Bezoeker</th>
      <th>Gebouw</th>
      <th>Straat</th>
      <th>Postcode</th>
      <th>Gemeente</th>
    {{/c.header}}
    {{#c.body as |row|}}
      <td>{{row.requestNumber}}</td>
      <td>{{row.number}}</td>
      <td>{{row.reference}}</td>
      <td>{{fmt-date row.offerDate}}</td>
      <td>{{row.request.visitor}}</td>
      <td>{{row.building.printName}}</td>
      <td>{{row.building.address1}}</td>
      <td>{{row.building.postalCode}}</td>
      <td>{{row.building.city}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}

{{liquid-yield}}