<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}}</div>
  <PaperInput @label="Nummer" @value={{number}} @onChange={{action "setFilter" "number"}} @class="small" />
  <PaperInput @label="Gebouw" @value={{this.name}} @onChange={{action "setFilter" "name"}} />
  <PaperInput @label="Straat" @value={{this.street}} @onChange={{action "setFilter" "street"}} @class="large" />
  <PaperInput @label="Postcode" @value={{this.postalCode}} @onChange={{action "setFilter" "postalCode"}} @class="small" />
  <PaperInput @label="Gemeente" @value={{this.city}} @onChange={{action "setFilter" "city"}} />
  <PaperButton @iconButton={{true}} @onClick={{action "resetFilters"}}>
    {{paper-icon "close"}}
    <PaperTooltip>Wis filters</PaperTooltip>
  </PaperButton>
</div>

<DataTable @content={{this.requests}} @isLoading={{not this.search.isIdle}} @noDataMessage="Geen aanvragen" @onClickRow={{action "clickRow"}} @page={{this.page}} @size={{this.size}} @sort={{this.sort}} as |t|>
  <t.content as |c|>
    <c.header>
      <ThSortable @field="number" @currentSorting={{this.sort}} @label="Nr" />
      <ThSortable @field="request-date" @currentSorting={{this.sort}} @label="Datum" />
      <th>Gebouw</th>
      <th>Straat</th>
      <th>Postcode</th>
      <th>Gemeente</th>
    </c.header>
    <c.body as |row|>
      <td>{{row.id}}</td>
      <td>{{fmt-date row.requestDate}}</td>
      <td>{{row.building.printName}}</td>
      <td>{{row.building.address1}}</td>
      <td>{{row.building.postalCode}}</td>
      <td>{{row.building.city}}</td>
    </c.body>
  </t.content>
</DataTable>

<div class="layout-row layout-align-end">
  <PaperButton @primary={{true}} @fab={{true}} @raised={{true}} @mini={{true}} @onClick={{action "openNewRequest"}}>
    {{paper-icon "add"}}
    <PaperTooltip>Maak nieuwe aanvraag</PaperTooltip>
  </PaperButton>
</div>

{{yield}}