{{#if @model.isPlanningMasteredByAccess}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning">
      <h3>{{paper-icon "event"}} Planning</h3>
      <div class="case--order--planning--description">
        {{#if @model.planningDate}}<FmtDate @value={{@model.planningDate}} />{{else}}Niet ingepland{{/if}}
      </div>
      <div class="layout-row layout-align-end note note--info">Beheerd door Access</div>
    </div>
  </div>
{{else}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning {{if this.isNotAvailableInCalendar "not-found"}}">
      <div class="layout-row layout-align-space-between-center">
        <h3>{{paper-icon "event"}} Planning</h3>
        {{#if this.editMode}}
          <div>
          <PaperButton @onClick={{fn this.remove}} @iconButton={{true}}>
            {{paper-icon "delete"}}
            <PaperTooltip>Verwijderen</PaperTooltip>
          </PaperButton>
          <PaperButton @onClick={{perform this.planEvent}} @iconButton={{true}}>
            {{paper-icon "exit to app"}}
            <PaperTooltip>Sluiten</PaperTooltip>
          </PaperButton>
          </div>
        {{else}}
          <div>
            {{#if @model.planningDate}}
              <PaperButton @iconButton={{true}} @onClick={{perform this.synchronize}}>
                {{paper-icon "sync"}}
                <PaperTooltip>Stuur wijzigingen naar agenda</PaperTooltip>
              </PaperButton>
            {{/if}}
            {{#unless this.isNotAvailableInCalendar}}
              <PaperButton @onClick={{fn (mut this.editMode) true}} @iconButton={{true}} @disabled={{this.isDisabledEdit}}>
                {{paper-icon "edit mode"}}
                <PaperTooltip>Aanpassen</PaperTooltip>
              </PaperButton>
            {{/unless}}
          </div>
        {{/if}}
      </div>
      <div class="case--order--planning--description">
        {{#if this.editMode}}
          {{#if this.planEvent.isRunning}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            <PaperInput @label="Datum" @value={{this.inputDateStr}} @type="date" @onChange={{fn (mut this.inputDateStr)}} @class="default" />
          {{/if}}
        {{else}}
          {{#if @model.planningDate}}<FmtDate @value={{@model.planningDate}} />{{else}}Niet ingepland{{/if}}
        {{/if}}
        <div class="col--subject">
          {{#if (and this.loadCalendarEvent.isRunning (not this.planEvent.isRunning))}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            {{this.calendarSubject}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{yield}}