{{#if this.editMode}}
  <div class="relative" ...attributes>
    <InputField::RichTextArea
      @value={{this.value}}
      @class="w-full text-sm"
      @textAreaHeight="h-full min-h-24"
      @onChange={{this.setValue}}
      @focusOut={{perform @saveTask}} />
    <div class="absolute bottom-0 right-0 px-4 py-2">
      <Util::SaveStatus @model={{@model}} @task={{@saveTask}} />
      <Rlv::Button
        @label="Sluiten"
        @hideText={{true}}
        @icon="logout-box-r-line"
        @skin="secondary-naked"
        @size="large"
        class="p-0"
        {{on "click" this.closeEdit}} />
    </div>
  </div>
{{else}}
  <div class="px-4 py-4" ...attributes>
    <div class="flex flex-row justify-between">
      {{#if this.showPlaceholder}}
        <div class="italic text-sm text-gray-400">
          {{@placeholder}}
        </div>
      {{else}}
        <div class="text-sm text-gray-900 prose max-w-none">
          {{{this.value}}}
        </div>
      {{/if}}
      {{#unless @isDisabledEdit}}
        <div class="grow-0 flex-auto flex items-end">
          <Rlv::Button
            @label="Bewerk"
            @hideText={{true}}
            @icon="pencil-line"
            @skin="secondary-naked"
            @size="large"
            class="p-0"
            {{on "click" this.openEdit}} />
        </div>
      {{/unless}}
    </div>
  </div>
{{/if}}
