{{#if this.editMode}}
  <div class="relative" ...attributes>
    <InputField::RichTextArea
      @value={{this.value}}
      @class="w-full text-sm"
      @textAreaHeight={{@textAreaHeight}}
      @onChange={{this.setValue}}
      @focusOut={{perform @saveTask}} />
    <div class="absolute bottom-0 right-0 px-4 py-2">
      <Util::SaveStatus @model={{@model}} @task={{@saveTask}} />
      <button type="button"
        onClick={{this.closeEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
        {{svg-jar "heroicons-md-logout" class="h-5 w-5"}}
        <EmberTooltip @text="Sluiten" />
      </button>
    </div>
  </div>
{{else}}
  <div class="px-4 py-4" ...attributes>
    <div class="flex flex-row justify-between">
      {{#if this.showPlaceholder}}
        <div class="italic text-sm text-gray-400">
          {{@placeholder}}
        </div>
      {{else}}
        <div class="text-sm text-gray-900 prose max-w-none">
          {{{this.value}}}
        </div>
      {{/if}}
      {{#unless @isDisabledEdit}}
        <div class="grow-0 flex-auto flex items-end">
          <button type="button"
            onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-pencil" class="h-5 w-5"}}
          </button>
        </div>
      {{/unless}}
    </div>
  </div>
{{/if}}
