<li class="pl-2 pr-4 py-4 sm:pl-4 sm:pr-6">
  <div class="flex">
    <div class="flex-none mt-0.5">
      <div class="text-gray-400">
        {{svg-jar "heroicons-md-chevron-right" class="flex-shrink-0 mr-1.5 h-5 w-5"}}
      </div>
    </div>
    <div class="flex-grow">
      <div class="space-y-1 sm:flex sm:items-center sm:justify-between sm:space-y-0">
        <p class="font-semibold text-gray-700">
          Voorschot {{#if @model.payment}}via {{@model.payment.name}}{{/if}}
        </p>
        <div class="sm:ml-2 sm:flex-shrink-0 sm:flex sm:flex-none">
          {{#if @isDisabledEdit}}
            <div class="ml-2">
              {{svg-jar "heroicons-sm-lock-closed" class="flex-shrink-0 mr-1.5 h-4 w-4 text-gray-400"}}
            </div>
          {{else}}
            {{#if this.editMode}}
              <div class="space-x-2 flex justify-end">
                <SaveStatusIcon @model={{@model}} @task={{this.save}} />
                <button type="button"
                  onClick={{this.closeEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                  {{svg-jar "heroicons-md-logout" class="h-5 w-5"}}
                </button>
              </div>
            {{else}}
              <button type="button"
                onClick={{perform this.delete}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "heroicons-md-trash" class="h-5 w-5"}}
              </button>
              <button type="button"
                onClick={{this.openEdit}}
                class="ml-2 text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "heroicons-md-pencil" class="flex-shrink-0 h-4 w-4"}}
              </button>
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#if this.editMode}}
        <div class="mt-6 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 xl:grid-cols-4">
          <div>
            <InputField::Date
              @label="Datum"
              @value={{@model.paymentDate}}
              @onChange={{queue (fn (mut @model.paymentDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::DecimalInput
              @label="Bedrag"
              @value={{@model.amount}}
              @errors={{v-get @model "amount" "messages"}}
              @onChange={{queue (fn (mut @model.amount)) (perform this.save)}}
              class="mt-1 block w-32 sm:text-sm pl-7 border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
          </div>
          <div>
            <InputField::PaymentSelect
              @label="Betaling via"
              @value={{@model.payment}}
              @onSelectionChange={{queue (fn (mut @model.payment)) (perform this.save)}}
              class="mt-1" />
          </div>
        </div>
      {{else}}
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex sm:flex-grow">
            <p class="flex flex-none items-center text-sm text-gray-500">
              {{svg-jar "heroicons-md-calendar" class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400"}}
              <Fmt::Date @value={{@model.paymentDate}} />
            </p>
          </div>
          <div class="mt-2 flex flex-none items-center text-sm text-gray-500 sm:mt-0">
            <p class="flex items-center text-sm text-gray-500">
              <Fmt::Currency @value={{@model.amount}} />
            </p>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</li>
