{{#if this.hasInvoice}}
  <div class="u-margin-top-small">
    <WarningMessage @message="Factuur reeds opgemaakt. Geen wijzigingen meer mogelijk." />
  </div>
{{else if this.order.isMasteredByAccess}}
  <div class="u-margin-top-small">
    <WarningMessage @message="De bestelling is aangemaakt in Access en kan hier niet gewijzigd worden." />
  </div>
{{/if}}

<DepositsPanel @model={{this.order.deposits}} @depositRequired={{this.order.depositRequired}} @isDisabledEdit={{this.isDisabledEdit}} @onCreate={{fn this.createNewDeposit}} />

<div class="u-margin-bottom-large"></div>

<DepositInvoicesPanel @model={{@model}} @vatRate={{this.order.vatRate}} @isDisabledEdit={{this.isDisabledEdit}} @onCreate={{fn this.createNewDepositInvoice}} @onUpdateList={{fn this.updateList}} />

<LiquidOutlet />