<div class="space-y-4">
  <DepositInvoice::Panels
    @model={{@model.depositInvoices}}
    @didCreateDepositInvoice={{this.updateList}} />
  <Deposit::Panels
    @model={{@model.deposits}}
    @didCreateDeposit={{this.updateList}} />
</div>

{{outlet}}