<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
  <div class="layout-row flex layout-align-space-between-start">
    <div class="layout-column">
      <div class="layout-row data-table-filter--line">
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title"></div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Nummer" @value={{this.numberFilter}} @onChange={{perform this.debounceFilter "number"}} @class="small search-autofocus" />
            <PaperInput @label="Referentie" @value={{this.referenceFilter}} @onChange={{perform this.debounceFilter "reference"}} @class="small" />
          </div>
        </div>
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title">Klant</div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Naam" @value={{this.cNameFilter}} @onChange={{perform this.debounceFilter "cName"}} />
            <PaperInput @label="Straat" @value={{this.cStreetFilter}} @onChange={{perform this.debounceFilter "cStreet"}} @class="large" />
            <PaperInput @label="Postcode" @value={{this.cPostalCodeFilter}} @onChange={{perform this.debounceFilter "cPostalCode"}} @class="small" />
            <PaperInput @label="Gemeente" @value={{this.cCityFilter}} @onChange={{perform this.debounceFilter "cCity"}} />
            <PaperInput @label="Telefoon" @value={{this.cTelephoneFilter}} @onChange={{perform this.debounceFilter "cTelephone"}} />
          </div>
        </div>
      </div>
      <div class="layout-row data-table-filter--line">
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title"></div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Aanvraag" @value={{this.requestNumberFilter}} @onChange={{perform this.debounceFilter "requestNumber"}} @class="small" />
            <PaperInput @label="Offerte" @value={{this.offerNumberFilter}} @onChange={{perform this.debounceFilter "offerNumber"}} @class="small" />
          </div>
        </div>
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title">Gebouw</div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Naam" @value={{this.bNameFilter}} @onChange={{perform this.debounceFilter "bName"}} />
            <PaperInput @label="Straat" @value={{this.bStreetFilter}} @onChange={{perform this.debounceFilter "bStreet"}} @class="large" />
            <PaperInput @label="Postcode" @value={{this.bPostalCodeFilter}} @onChange={{perform this.debounceFilter "bPostalCode"}} @class="small" />
            <PaperInput @label="Gemeente" @value={{this.bCityFilter}} @onChange={{perform this.debounceFilter "bCity"}} />
          </div>
        </div>
      </div>
    </div>

    <div class="data-table-filters--reset">
      <PaperButton @iconButton={{true}} @onClick={{action "resetFilters"}}>
        {{paper-icon "close"}}
        <PaperTooltip>Wis filters</PaperTooltip>
      </PaperButton>
    </div>
  </div>
</div>
