<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <div class="layout-row layout-align-start-center">
      <h2>
        {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} factuur {{format-invoice-number @model.number}}
      </h2>
      {{#unless @editMode}}
        {{#if @model.isPaid}}
          <div class="u-margin-left-normal badge badge--success">Betaald</div>
        {{else}}
          <div class="u-margin-left-normal badge badge--failure">Niet betaald</div>
        {{/if}}
      {{/unless}}
    </div>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div class="layout-row layout-align-start-center">
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      {{#unless this.isDisabledEdit}}
        <PaperButton @onClick={{fn @onOpenEdit}} @iconButton={{true}}>
          {{paper-icon "edit mode"}}
          <PaperTooltip>Aanpassen</PaperTooltip>
        </PaperButton>
      {{/unless}}
    {{/if}}
  </div>
</div>

{{#if (or this.remove.isRunning @model.isDeleted)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het verwijderen...</p>
  </div>
{{else if this.rollbackTree.isRunning}}
  <div>
    <PaperProgressLinear />
    <p>Aan het herstellen...</p>
  </div>
{{else if (and (not @model.id) @model.isSaving)}}
  <div>
    <PaperProgressLinear />
    <p>Aan het aanmaken...</p>
  </div>
{{else}}
  {{#if @model.isBooked}}
    <WarningMessage @message="Factuur reeds geboekt. Enkel beperkte wijzigingen zijn nog mogelijk." />
  {{/if}}
  {{#if @editMode}}
    <Invoice::DetailEdit @model={{@model}} @save={{this.save}} @onChangeVatRate={{perform this.updateInvoicelinesVatRate}} />
  {{else}}
    <Invoice::DetailView @model={{@model}} />
  {{/if}}

  {{#if @model.isMasteredByAccess}}
    <div class="case--invoice--invoicelines layout-row layout-align-space-between-center">
      <h2>Gefactureerde producten</h2>
      <div class="layout-row">
        <PaperButton @onClick={{fn this.downloadInvoiceDocument}} @iconButton={{true}}>
          {{paper-icon "find in page"}}
          <PaperTooltip>Factuur bekijken</PaperTooltip>
        </PaperButton>
      </div>
    </div>
    <p class="note-message">De factuur is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.</p>
  {{else}}
    <div class="case--invoice--invoicelines layout-row layout-align-space-between-center">
      <h2>Gefactureerde producten</h2>
      <div class="layout-row">
        {{#if this.generateInvoiceDocument.isRunning}}
          <PaperProgressCircular @diameter={{18}} />
        {{else}}
          <PaperButton @onClick={{fn this.downloadInvoiceDocument}} @iconButton={{true}}>
            {{paper-icon "find in page"}}
            <PaperTooltip>Factuur bekijken</PaperTooltip>
          </PaperButton>
          <PaperButton @onClick={{perform this.generateInvoiceDocument}} @iconButton={{true}}>
            {{paper-icon "restore page"}}
            <PaperTooltip>Factuur maken</PaperTooltip>
          </PaperButton>
        {{/if}}
      </div>
    </div>
    {{#if (and @editMode (not @model.isBooked))}}
      <Invoice::DocumentEdit @model={{@model}} @save={{this.save}} />
    {{else}}
      <Invoice::DocumentView @model={{@model}} />
    {{/if}}
  {{/if}}
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />

<Certificate::Dialog
  @show={{this.showMissingCertificateDialog}}
  @model={{@model}}
  @onClose={{fn this.closeCertificateDialog}}
  @onGenerateInvoiceDocument={{perform this.generateInvoiceDocument}} />