<div class="pt-4 pb-6 px-4 sm:px-6">
  <div class="flex justify-between items-center">
    <div class="sm:flex sm:items-center">
      <div class="flex items-center">
        {{svg-jar "search-line" class="shrink-0 mr-2 h-4 w-4 text-gray-500 fill-current"}}
        <h4 class="text-gray-700 text-sm uppercase tracking-wide">
          Zoeken
        </h4>
      </div>
      {{#if @resultCount}}
        <div class="ml-6 sm:ml-2 text-gray-500 text-xs">
          (<span class="font-medium">{{@resultCount}}</span> resultaten gevonden)
        </div>
      {{/if}}
    </div>
    <div>
      <button type="button"
        {{on "click" this.resetFilters}}
        class="inline-flex items-center text-sm text-gray-700 underline lg:no-underline hover:underline focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
        {{svg-jar "filter-line" class="-ml-0.5 mr-2 h-4 w-4 text-gray-400 fill-current"}}
        Wis alle filters
      </button>
    </div>
  </div>
  <div class="mt-4 grid sm:grid-cols-12 gap-4">
    <div class="sm:col-span-2 lg:col-span-1">
      <label for="filter-invoice-number" class="block text-sm font-medium text-gray-700">
        Factuurnr.
      </label>
      <input
        id="filter-invoice-number"
        type="text"
        value={{this.filter.number}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "number")}}
        {{did-insert this.autofocus}} />
    </div>
    <div class="sm:col-span-2">
      <label for="filter-request-number" class="block text-sm font-medium text-gray-700">
        AD nr.
      </label>
      <input
        id="filter-request-number"
        type="text"
        value={{this.filter.requestNumber}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "requestNumber")}} />
    </div>
    <div class="sm:col-span-2">
      <label for="filter-reference" class="block text-sm font-medium text-gray-700">
        Referentie
      </label>
      <input
        id="filter-reference"
        type="text"
        value={{this.filter.reference}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "reference")}} />
    </div>
    <div class="space-y-4 sm:col-span-12 md:col-span-6 sm:flex sm:gap-4 sm:space-y-0">
      <div>
        <InputField::FilterFlag @label="Afgesloten"
          @value={{this.filter.isCancelled}}
          @onChange={{fn this.setFilter "isCancelled"}} />
      </div>
    </div>
  </div>
  <div class="mt-4 grid sm:grid-cols-12 gap-4 bg-gray-50 p-4 rounded">
    <div class="sm:col-span-2 lg:col-span-1">
      <div class="text-gray-500 text-sm uppercase tracking-wide">
        Klant
      </div>
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <label for="filter-customer-name" class="block text-sm font-medium text-gray-700">
        Naam
      </label>
      <input
        id="filter-customer-name"
        type="text"
        value={{this.filter.cName}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "cName")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <label for="filter-customer-street" class="block text-sm font-medium text-gray-700">
        Straat
      </label>
      <input
        id="filter-customer-street"
        type="text"
        value={{this.filter.cStreet}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "cStreet")}} />
    </div>
    <div class="sm:col-span-2 lg:col-span-1">
      <label for="filter-customer-postal-code" class="block text-sm font-medium text-gray-700">
        Postcode
      </label>
      <input
        id="filter-customer-postal-code"
        type="text"
        value={{this.filter.cPostalCode}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "cPostalCode")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <label for="filter-customer-city" class="block text-sm font-medium text-gray-700">
        Gemeente
      </label>
      <input
        id="filter-customer-city"
        type="text"
        value={{this.filter.cCity}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "cCity")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <label for="filter-customer-telephone" class="block text-sm font-medium text-gray-700">
        Telefoon
      </label>
      <input
        id="filter-customer-telephone"
        type="text"
        value={{this.filter.cTelephone}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "cTelephone")}} />
    </div>
  </div>
  <div class="mt-3 grid sm:grid-cols-12 gap-4 bg-gray-50 p-4 rounded">
    <div class="sm:col-span-2 lg:col-span-1">
      <div class="text-gray-500 text-sm uppercase tracking-wide">
        Gebouw
      </div>
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <label for="filter-building-name" class="block text-sm font-medium text-gray-700">
        Naam
      </label>
      <input
        id="filter-building-name"
        type="text"
        value={{this.filter.bName}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "bName")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-3">
      <label for="filter-building-street" class="block text-sm font-medium text-gray-700">
        Straat
      </label>
      <input
        id="filter-building-street"
        type="text"
        value={{this.filter.bStreet}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "bStreet")}} />
    </div>
    <div class="sm:col-span-2 lg:col-span-1">
      <label for="filter-building-postal-code" class="block text-sm font-medium text-gray-700">
        Postcode
      </label>
      <input
        id="filter-building-postal-code"
        type="text"
        value={{this.filter.bPostalCode}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "bPostalCode")}} />
    </div>
    <div class="sm:col-span-5 lg:col-span-2">
      <label for="filter-building-city" class="block text-sm font-medium text-gray-700">
        Gemeente
      </label>
      <input
        id="filter-building-city"
        type="text"
        value={{this.filter.bCity}}
        class="shadow-sm focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
        {{on "input" (perform this.debounceFilter "bCity")}} />
    </div>
  </div>
</div>
