<li class="pl-2 pr-4 py-4 sm:pl-4 sm:pr-6 {{if this.delete.isRunning "animate-pulse"}}">
  <div class="flex">
    <div class="flex-none mt-0.5">
      <Rlv::Button
        @label="Toggle"
        @hideText={{true}}
        @icon={{if this.isExpanded "arrow-down-s-line" "arrow-right-s-line"}}
        @skin="secondary-naked"
        @size="large"
        class="p-0 text-gray-700"
        {{on "click" this.toggleExpand}} />
    </div>
    <div class="flex-grow">
      <div class="space-y-1 sm:flex sm:items-center sm:justify-between sm:space-y-0">
        <div class="flex">
          <p class="font-semibold text-gray-700">
            {{#if @model.isCreditNote}}
              Creditnota
            {{else}}
              Voorschotfactuur
            {{/if}}
            {{format-invoice-number @model.number}}
          </p>
          {{#if @model.isBooked}}
            <p class="ml-2 items-center inline-flex text-xs text-blue-800">
              {{svg-jar "file-lock-line" class="shrink-0 h-5 w-5 fill-current"}}
              <EmberTooltip @text="Geboekt" @side="bottom" />
            </p>
          {{/if}}
        </div>
        <div class="sm:ml-2 sm:shrink-0 sm:flex sm:flex-none">
          <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full {{if @model.isPaid "bg-green-100 text-green-800" "bg-red-100 text-red-800"}}">
            {{#if @model.isPaid}}Betaald{{else}}Niet betaald{{/if}}
          </p>
        </div>
      </div>
      {{#unless this.editMode}}
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex sm:flex-grow">
            <p class="flex flex-none items-center text-sm text-gray-500">
              {{svg-jar "calendar-event-line" class="shrink-0 mr-1.5 h-5 w-5 text-gray-400 fill-current"}}
              <Fmt::Date @value={{@model.invoiceDate}} />
            </p>
          </div>
          <div class="mt-2 flex flex-none items-center text-sm text-gray-500 sm:mt-0">
            <p class="flex items-center text-sm text-gray-700 font-medium">
              {{#if this.vatRate.isResolved}}
                <Fmt::Currency @value={{this.netAmount}} /> + {{this.vatRate.value.rate}}% btw = <Fmt::Currency @value={{this.grossAmount}} />
              {{/if}}
            </p>
          </div>
        </div>
      {{/unless}}
      {{#if this.isExpanded}}
        <div class="mt-6"
          {{css-transition
              enterClass="opacity-0 -translate-y-1/4"
              enterActiveClass="-z-10 transition ease-linear duration-300 transform"
              enterToClass="opacity-100 translate-y-0"
              leaveClass="opacity-100 translate-y-0"
              leaveActiveClass="-z-10 transition ease-linear duration-300 transform"
              leaveToClass="opacity-0 -translate-y-1/4"}}>
          {{#if this.editMode}}
            {{#if this.isLimitedUpdateOnly}}
              {{#if @model.isBooked}}
                <AlertMessage
                  @level="warning"
                  @message="De factuur is reeds geboekt. Enkel beperkte wijzigingen zijn nog mogelijk."
                  class="py-2 my-4" />
              {{else if this.hasFinalInvoice}}
                <AlertMessage
                  @level="warning"
                  @message="De eindfactuur is reeds opgemaakt. Enkel beperkte wijzigingen zijn nog mogelijk."
                  class="py-2 my-4" />
              {{/if}}
            {{/if}}
            <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 xl:grid-cols-4">
              {{#unless this.isLimitedUpdateOnly}}
                <div>
                  <InputField::Date
                    @label="Factuurdatum"
                    @value={{@model.invoiceDate}}
                    @onChange={{queue (fn (mut @model.invoiceDate)) (perform this.save)}}
                    class="mt-1" />
                </div>
                <div class="xl:col-start-3">
                  <InputField::Checkbox
                    @id={{concat this.fieldId "-is-creditnote-checkbox"}}
                    @label="Creditnota"
                    @value={{@model.isCreditNote}}
                    @onChange={{queue this.setCreditNoteFlag (perform this.save)}} />
                </div>
                <div class="col-start-1">
                  <InputField::Date
                    @label="Vervaldag"
                    @value={{@model.dueDate}}
                    @onChange={{queue (fn (mut @model.dueDate)) (perform this.save)}}
                    class="mt-1" />
                </div>
              {{/unless}}
              <div>
                <InputField::Date
                  @label="Betaald"
                  @value={{@model.paymentDate}}
                  @onChange={{queue (fn (mut @model.paymentDate)) (perform this.save)}}
                  class="mt-1" />
              </div>
              {{#unless this.isLimitedUpdateOnly}}
                <div>
                  <InputField::DecimalInput
                    @label="Bedrag"
                    @leading="&euro;"
                    @value={{@model.totalAmountNet}}
                    @errors={{@model.validations.attrs.totalAmountNet.messages}}
                    @onChange={{queue (fn (mut @model.totalAmountNet)) (perform this.save)}}
                    class="mt-1 block w-32 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
                </div>
                <div>
                  <label class="text-sm font-medium text-gray-700">
                    BTW
                  </label>
                  <div class="mt-1 text-sm text-gray-900">
                    {{#if this.vatRate.isResolved}}
                      <Fmt::Currency @value={{this.vatAmount}} /> ({{this.vatRate.value.rate}}%)
                    {{/if}}
                  </div>
                </div>
              {{/unless}}
              <div class="sm:col-span-2 xl:col-span-4">
                <label for="document-outro" class="block text-sm font-medium text-gray-700">
                  Mededeling <span class="text-gray-400 font-normal">(zichtbaar in document)</span>
                </label>
                <InputField::RichTextArea
                  @value={{@model.documentOutro}}
                  @class="mt-1 w-full border border-gray-300 rounded-md text-sm"
                  @textAreaHeight="h-full min-h-24"
                  @onChange={{fn (mut @model.documentOutro)}}
                  @focusOut={{perform this.save}} />
              </div>
              <div class="sm:col-span-2 xl:col-span-4">
                <label for="comment" class="block text-sm font-medium text-gray-700">
                  Interne opmerking <span class="text-gray-400 font-normal">(niet zichtbaar in document)</span>
                </label>
                <Textarea
                  id={{concat this.fieldId "-comment"}}
                  @value={{@model.comment}}
                  class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
                  rows="5"
                  {{on "focusout" (perform this.save)}} />
              </div>
            </div>
          {{else}}
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 xl:grid-cols-4">
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Vervaldag
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <Fmt::Date @value={{@model.dueDate}} />
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Geboekt
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <Fmt::Date @value={{@model.bookingDate}} />
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Betaald
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <Fmt::Date @value={{@model.paymentDate}} />
                </dd>
              </div>
              <div class="sm:col-span-1 xl:col-start-1">
                <dt class="text-sm font-medium text-gray-500">
                  Nettobedrag
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <Fmt::Currency @value={{this.netAmount}} />
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  BTW bedrag
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  <Fmt::Currency @value={{this.vatAmount}} />
                </dd>
              </div>
              <div class="sm:col-span-1">
                <dt class="text-sm font-medium text-gray-500">
                  Betaalreferentie
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{format-bank-reference @model.bankReference}}
                </dd>
              </div>
              <div class="sm:col-span-2 xl:col-span-4">
                <dt class="text-sm font-medium text-gray-500">
                  Mededeling <span class="text-gray-400 font-normal">(zichtbaar in document)</span>
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{#if @model.documentOutro}}
                    <p class="text-sm text-gray-900 prose max-w-none">
                      {{{@model.documentOutro}}}
                    </p>
                  {{else}}
                    <p class="italic text-gray-400 text-xs">
                      Geen mededeling
                    </p>
                  {{/if}}
                </dd>
              </div>
              <div class="sm:col-span-2 xl:col-span-4">
                <dt class="text-sm font-medium text-gray-500">
                  Interne opmerking <span class="text-gray-400 font-normal">(niet zichtbaar in document)</span>
                </dt>
                <dd class="mt-1 text-sm text-gray-900">
                  {{#if @model.comment}}
                    <span class="whitespace-pre-wrap">{{@model.comment}}</span>
                  {{else}}
                    <p class="italic text-gray-400 text-xs">
                      Geen opmerking
                    </p>
                  {{/if}}
                </dd>
              </div>
            </dl>
          {{/if}}
        </div>
      {{/if}}
      {{#if this.editMode}}
        <div class="mt-6 space-x-2 flex items-center justify-end">
          {{#unless @model.isMasteredByAccess}}
            <Document::GenerateButton
              @size="small"
              @onClick={{perform this.generateInvoiceDocument}}
              @isLoading={{this.generateInvoiceDocument.isRunning}} />
          {{/unless}}

          <Util::SaveStatus @model={{@model}} @task={{this.save}} />
          <Rlv::Button
            @label="Sluiten"
            @hideText={{true}}
            @icon="logout-box-r-line"
            @skin="secondary-naked"
            @size="large"
            class="p-0"
            {{on "click" this.closeEdit}} />
        </div>
      {{else}}
        <div class="mt-6 sm:flex sm:justify-between">
          <div>
            <Rlv::Button
              @label={{if this.isExpanded "Toon minder" "Toon meer"}}
              @skin="secondary-link"
              @size="small"
              {{on "click" this.toggleExpand}} />
          </div>
          <div class="mt-2 space-x-0 space-y-2 flex flex-col sm:mt-0 sm:flex-none sm:flex-row sm:space-x-2 sm:space-y-0">
            <Document::ViewButton @size="small" @onClick={{this.downloadInvoiceDocument}} />
            {{#unless @model.isMasteredByAccess}}
              <Document::GenerateButton
                @size="small"
                @onClick={{perform this.generateInvoiceDocument}}
                @isLoading={{this.generateInvoiceDocument.isRunning}} />
            {{/unless}}
            {{#unless @isDisabledEdit}}
              {{#unless @model.isCreditNote}}
                <Rlv::Button
                  @label="Crediteren"
                  @icon="exchange-funds-line"
                  @skin="secondary"
                  @size="small"
                  @loading={{@isLoading}}
                  {{on "click" (perform @onCredit @model)}} />
              {{/unless}}
            {{/unless}}
            <Rlv::Button
              @label="Wijzigen"
              @icon="pencil-line"
              @skin="secondary"
              @size="small"
              {{on "click" this.openEdit}} />
            {{#if this.isEnabledDelete}}
              <Rlv::Button
                @label="Verwijderen"
                @icon="delete-bin-line"
                @skin="secondary"
                @size="small"
                @loading={{this.delete.isRunning}}
                {{on "click" (perform this.delete)}} />
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</li>

{{#if this.isOpenUnableToDeleteModal}}
  <Rlv::AlertDialog
    @title="Voorschotfactuur verwijderen"
    @closeButtonLabel="OK"
    @onClose={{this.closeUnableToDeleteModal}}>
    <p class="text-sm text-gray-500">
      Voorschotfactuur met nummer {{format-invoice-number @model.number}} is intussen niet meer de laatste factuur en kan daarom niet verwijderd worden.
    </p>
  </Rlv::AlertDialog>
{{/if}}