{{#each this.sortedDepositInvoices as |depositInvoice|}}
  <DepositInvoice::ListItem
    @model={{depositInvoice}}
    @invoice={{@invoice}}
    @isDisabledEdit={{@isDisabledEdit}}
    @isEnabledDelete={{@isEnabledDelete}}
    @edit={{@edit}}
    @remove={{@remove}}
    @credit={{@credit}}
  />
{{else}}
  <p>Geen voorschotfacturen</p>
{{/each}}