<div class="space-y-4">
  {{#if this.invoice}}
    <AlertMessage::Warning
      @message="De factuur is reeds opgemaakt. Er zijn geen wijzigingen meer mogelijk."
      class="shadow" />
  {{else if this.order.isMasteredByAccess}}
    <AlertMessage::Warning
      @message="De bestelling is aangemaakt in Access en kan hier niet gewijzigd worden."
      class="shadow" />
  {{/if}}

  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="divide-y divide-y-200">
      {{!-- Card header --}}
      <div class="px-6 pt-6 pb-4">
        <div class="space-y-2 space-x-4 sm:flex sm:items-center sm:space-y-0">
          <h2 class="text-2xl font-bold font-display text-gray-900">
            Voorschotfacturen
          </h2>
          <div>
            {{#unless this.isDisabledEdit}}
              <button type="button"
                {{on "click" (perform this.createNewDepositInvoice)}}
                class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
                {{#if this.createNewDepositInvoice.isRunning}}
                  {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-4 w-14"}}
                {{else}}
                  {{svg-jar "heroicons-md-plus-sm" class="-ml-1 mr-2 h-5 w-5"}}
                  Nieuw
                {{/if}}
              </button>
            {{/unless}}
          </div>
        </div>
      </div>

      {{!-- Card content --}}
      <div class="p-6">
        <dl class="rounded-lg bg-white grid sm:grid-cols-3 sm:divide-x">
          <div class="flex flex-col p-4 text-center">
            <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
              Netto bestelling
            </dt>
            <dd class="order-1 text-lg font-medium text-red-700">
              <Fmt::Currency @value={{this.orderAmount}} />
            </dd>
          </div>
          <div class="flex flex-col p-4 text-center">
            <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
              Netto voorschotfacturen
            </dt>
            <dd class="order-1 text-lg font-medium text-red-700">
              <Fmt::Currency @value={{this.totalAmount}} />
            </dd>
          </div>
          <div class="flex flex-col p-4 text-center">
            <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
              {{this.vatRate.rate}}% BTW voorschotfacturen
            </dt>
            <dd class="order-1 text-lg font-medium text-red-700">
              <Fmt::Currency @value={{this.totalVat}} />
            </dd>
          </div>
        </dl>
        {{#if @model.length}}
          <ul class="divide-y divide-gray-200">
            {{#each @model as |depositInvoice|}}
              <DepositInvoice::ListItem
                @model={{depositInvoice}}
                @initialEditMode={{eq depositInvoice.id @newlyCreatedDepositInvoice.id}}
                @vatRate={{this.vatRate}}
                @hasFinalInvoice={{this.invoice}}
                @onCredit={{this.createNewCreditNoteForDepositInvoice}}
                @isDisabledEdit={{this.isDisabledEdit}}
                @onCloseEdit={{@onCloseEdit}} />
            {{/each}}
          </ul>
        {{else}}
          <p class="mt-8 text-center italic text-gray-400 text-sm">
            Nog geen voorschotfacturen toegevoegd
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</div>