<Rlv::Modal @width="max-w-5xl" @onClose={{this.cancel}}>
  <:body>
  <div class="space-y-4">
    <div class="flex justify-between items-start">
      <div class="space-y-2">
        <h2 class="rlv-panel-title">
          Gebruiker {{#if @model.isNew}}aanmaken{{else}}bewerken{{/if}}
        </h2>
      </div>
    </div>
    <form {{on "submit" this.save}} class="space-y-6">
      <div class="pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-6">
        <div class="sm:col-span-2">
          <label for="first-name" class="block text-sm font-medium text-gray-700">
            Voornaam
          </label>
          <Input
            id="first-name"
            @type="text"
            @value={{@model.firstName}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="sm:col-span-2">
          <label for="last-name" class="block text-sm font-medium text-gray-700">
            Achternaam
          </label>
          <Input
            id="last-name"
            @type="text"
            @value={{@model.lastName}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div>
          <label for="initials" class="block text-sm font-medium text-gray-700">
            Initialen
          </label>
          <Input
            id="initials"
            @type="text"
            @value={{@model.initials}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" />
        </div>
        <div class="sm:col-span-2">
          <InputField::EmployeeTypeSelect
            @label="Rol"
            @value={{this.employeeType.value}}
            @onSelectionChange={{this.selectType}}
            @disabled={{this.employeeType.isPending}}
            class="mt-1" />
        </div>
      </div>
      <div class="border-t border-gray-200 pt-6 sm:pt-5 grid grid-cols-1 gap-6 sm:grid-cols-6">
        <div class="sm:col-span-2">
          <InputField::AccountSelect
            @label="Microsoft account"
            @value={{this.account.value}}
            @onSelectionChange={{this.selectAccount}}
            @disabled={{this.account.isPending}}
            class="mt-1" />
        </div>
        {{#if @model.user}}
          <div class="sm:col-span-4">
            <InputField::UserGroupsSelect
              @label="Groepen"
              @value={{this.userGroups.value}}
              @onSelectionChange={{this.setUserGroups}}
              @disabled={{this.userGroups.isPending}}
              class="mt-1" />
          </div>
        {{/if}}
      </div>

      <div class="pt-6 sm:pt-5 flex items-center {{if @model.isNew "justify-end" "justify-between"}}">
        {{#unless @model.isNew}}
          {{#if @model.isActive}}
            <Rlv::Button
              @label="Buiten dienst stellen"
              @icon="delete-bin-line"
              @skin="secondary"
              {{on "click" this.terminateEmployee}} />
          {{else}}
            <Rlv::Button
              @label="Opnieuw in dienst stellen"
              @icon="user-shared-2-line"
              @skin="secondary"
              {{on "click" this.activateEmployee}} />
          {{/if}}
        {{/unless}}
        <Rlv::Button
          type="submit"
          @label="Opslaan"
          @skin="primary" />
      </div>
    </form>
  </div>
  </:body>
</Rlv::Modal>