<div class="mb-4 flex divide-x divide-gray-200">
  <div class="pl-1 shrink-0 grow-0 flex flex-col items-center {{unless this.editMode "justify-between"}}">
    {{#if this.editMode}}
      <Util::SaveStatus @model={{@model}} @task={{this.save}} />
      <Rlv::Button
        @label="Sluiten"
        @hideText={{true}}
        @icon="logout-box-line"
        @skin="secondary-naked"
        @size="large"
        class="p-2"
        {{on "click" this.closeEdit}} />
    {{else}}
      <Rlv::Button
        @label="Terug"
        @hideText={{true}}
        @icon="arrow-left-s-line"
        @skin="secondary-naked"
        @size="large"
        class="p-2"
        {{on "click" @onCloseDetail}} />
      <div class="flex flex-col items-center space-y-2">
        {{#if this.isEnabledDelete}}
          <Rlv::Button
            @label="Verwijder"
            @hideText={{true}}
            @icon="delete-bin-line"
            @skin="secondary-naked"
            @size="large"
            class="p-2"
            {{on "click" @onDelete}} />
        {{/if}}
        <Rlv::Button
          @label="Bewerk"
          @hideText={{true}}
          @icon="pencil-line"
          @skin="secondary-naked"
          @size="large"
          class="p-2"
          {{on "click" this.openEdit}} />
      </div>
    {{/if}}
  </div>
  <div>
    {{#if this.editMode}}
      <div class="mx-8 my-2">
        <CustomerEntity::Form
          @model={{@model}}
          @scope="contact"
          @onSave={{perform this.save}} />
      </div>
    {{else}}
      <div class="mx-4 flex items-center space-x-3">
        <h2 class="text-xl font-bold font-display text-gray-900">
          <span class="text-gray-400 mr-1">{{@model.number}}</span>
          <Fmt::CustomerName @model={{@model}} />
        </h2>
        <Customer::StatusPill @model={{@model}} @onChange={{this.toggleStatus}} />
      </div>
      <div class="m-4">
        <CustomerEntity::Detail
          @model={{@model}}
          @scope="contact" />
      </div>
    {{/if}}
  </div>
</div>