<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--intervention--entry flex-100 layout-column">
    <DetailListItem @label="Datum">
      <FmtDate @value={{@model.date}} />
    </DetailListItem>
    {{#if @model.cancellationDate}}
      <DetailListItem @label="Afgesloten">
        <FmtDate @value={{@model.cancellationDate}} />
      </DetailListItem>
    {{/if}}
    <DetailListItem @label="Aanmelding">
      {{@model.wayOfEntry.name}}
    </DetailListItem>
    <DetailListItem @label="Bediende">
      {{@model.employee.firstName}}
    </DetailListItem>
    <DetailListItem @label="Techniekers">
      {{#if this.technicianNames.length}}
        {{join ", " this.technicianNames}}
      {{else}}
        -
      {{/if}}
    </DetailListItem>
    <DetailListItem @label="Beschrijving">
      <span class="html-body">{{@model.description}}</span>
    </DetailListItem>
    <DetailListItem @label="Opmerking">
      <span class="html-body">{{@model.comment}}</span>
    </DetailListItem>
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    {{#if this.planningEvent}}
      <PlanningEvent::Panel @model={{this.planningEvent}} />
    {{/if}}
    {{#if @model.cancellationReason}}
      <DetailListItem @label="Reden van afsluiten">
        <span class="html-body">{{@model.cancellationReason}}</span>
      </DetailListItem>
    {{/if}}
  </div>
</div>