<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{@model.dateStr}} @type="date" @required="style" @errors={{v-get @model "date" "messages"}} @onChange={{queue (fn (mut @model.dateStr)) (perform @save)}} @class="default" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bediende" @value={{@model.employee}} @isAdministrative={{true}} @onSelectionChange={{queue (fn (mut @model.employee)) (perform @save)}} @class="md-input-wrapper large" />
      <InputField::WayOfEntrySelect @value={{@model.wayOfEntry}} @onSelectionChange={{queue (fn (mut @model.wayOfEntry)) (perform @save)}} @class="md-input-wrapper default" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Techniekers" @value={{@model.technicians}} @multiple={{true}} @isTechnician={{true}} @isOnRoad={{true}} @isAdministrative={{true}} @optionSort={{array "functionSort:desc"}} @onSelectionChange={{queue (fn this.setTechnicians) (perform @save)}} @class="md-input-wrapper xxlarge" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{@model.comment}} @onChange={{fn (mut @model.comment)}} @onBlur={{perform @save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
</div>
