<div>
  {{#if this.loadData.isRunning}}
    <h2>Interventie voor bestelling</h2>
    Aan het laden...
  {{else if this.unlink.isRunning}}
    <h2>Interventie voor bestelling</h2>
    Aan het ontkoppelen...
  {{else if this.link.isRunning}}
    <h2>Interventie voor bestelling</h2>
    Aan het koppelen...
  {{else if this.order}}
    <div class="layout-row layout-align-space-between-center">
      <h2>
        Interventie voor bestelling {{this.order.offerNumber}}
        <PaperButton @href={{href-to "main.orders.edit" this.order}} @iconButton={{true}}>
          {{paper-icon "open in new"}}
          <PaperTooltip>Open bestelling</PaperTooltip>
        </PaperButton>
      </h2>
      <PaperButton @onClick={{perform this.unlink}} @iconButton={{true}}>
        {{paper-icon "link off"}}
        <PaperTooltip>Ontkoppel bestelling</PaperTooltip>
      </PaperButton>
    </div>
    <div class="layout-row layout-xs-column layout-align-space-between">
      <div class="case--left-panel case--order--entry flex-100 layout-column">
        <DetailListItem @label="Datum">
          <FmtDate @value={{this.order.orderDate}} />
        </DetailListItem>
        <DetailListItem @label="Referentie">
          {{this.order.reference}}
        </DetailListItem>
      </div>
      <div class="case--right-panel flex-noshrink layout-column">
        <DetailListItem @label="Productiebon">
          {{#if this.order.hasProductionTicket}}
            <PaperButton @onClick={{fn this.downloadProductionTicket}} @iconButton={{true}}>
              {{paper-icon "find in page" class="u-rel-top-neg-small"}}
              <PaperTooltip>Productiebon bekijken</PaperTooltip>
            </PaperButton>
          {{else}}
            <div>
              {{paper-icon "block"}}
              <PaperTooltip>Geen productiebon beschikbaar</PaperTooltip>
            </div>
          {{/if}}
        </DetailListItem>
      </div>
    </div>
  {{else}}
    <div class="layout-row layout-align-start-center">
      <h2>Interventie voor bestelling </h2>
      {{#if this.isLinking}}
        <PaperButton @onClick={{fn this.disableLinking}} @iconButton={{true}}>
          {{paper-icon "undo"}}
          <PaperTooltip>Stop koppelen</PaperTooltip>
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{fn this.enableLinking}} @iconButton={{true}}>
          {{paper-icon "link"}}
          <PaperTooltip>Koppel bestelling</PaperTooltip>
        </PaperButton>
      {{/if}}
    </div>
    {{#if this.isLinking}}
      <div class="note-message text-fade-dark">Selecteer een bestelling om aan deze interventie te koppelen.</div>
      <Intervention::Order::Search @model={{@model}} @onSelect={{perform this.link}} />
    {{else}}
      <div class="note-message text-fade-dark">Deze interventie is niet gekoppeld aan een (eerdere) bestelling. Klik {{paper-icon "link" size=16}} om een koppeling te maken.</div>
    {{/if}}
  {{/if}}
</div>
