<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} interventie {{@model.id}}
    </h2>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div>
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      <PaperButton @onClick={{fn this.generateInterventionReport}} @iconButton={{true}}>
          {{paper-icon "description"}}
        <PaperTooltip>Interventierapport</PaperTooltip>
      </PaperButton>
      <PaperButton @onClick={{fn @onOpenEdit}} @iconButton={{true}} @disabled={{this.isDisabledEdit}}>
        {{paper-icon "edit mode"}}
        <PaperTooltip>Aanpassen</PaperTooltip>
      </PaperButton>
      {{#if (or (not this.hasInvoice) (not this.hasFollowUpRequest))}}
        <PaperMenu @position={{"target-right target"}} as |menu|>
          <menu.trigger>
            <PaperButton @onClick={{null}} @iconButton={{true}}>
              {{paper-icon "more vert" class="md-menu-origin"}}
              <PaperTooltip>Meer acties</PaperTooltip>
            </PaperButton>
          </menu.trigger>
          <menu.content @width={{4}} as |content|>
            {{#if @model.isCancelled}}
              <content.menu-item @onClick={{fn this.uncancelIntervention}}>
                <p>Opnieuw openen</p>
              </content.menu-item>
            {{else}}
              {{#unless this.hasInvoice}}
                <content.menu-item @onClick={{fn this.createInvoice}}>
                  <p>Factuur opstellen</p>
                </content.menu-item>
              {{/unless}}
              {{#unless this.hasFollowUpRequest}}
                <content.menu-item @onClick={{perform this.createFollowUpRequest}}>
                  <p>Nieuwe aanvraag</p>
                </content.menu-item>
              {{/unless}}
              {{#if (and (not this.hasInvoice) (not this.hasFollowUpRequest))}}
                <content.menu-item @onClick={{fn this.cancelIntervention}}>
                  <p>Afsluiten</p>
                </content.menu-item>
              {{/if}}
            {{/if}}
          </menu.content>
        </PaperMenu>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if this.isDisabledEdit}}
  {{#if @model.isCancelled}}
    <WarningMessage @message="Interventie is afgesloten. Geen wijzigingen meer mogelijk." />
  {{else}}
    <WarningMessage @message="Factuur reeds opgemaakt. Geen wijzigingen meer mogelijk." />
  {{/if}}
{{/if}}

{{#if this.hasFollowUpRequest}}
  <InfoMessage>
    <div class="layout-row layout-align-space-between-center" role="button" {{on "click" (fn this.goToFollowUpRequest)}}>
      <div>
        Deze interventie heeft geleid tot een nieuwe aanvraag AD{{@model.followUpRequest.id}}
      </div>
      <div>
        {{paper-icon "forward"}}
      </div>
      <PaperTooltip>Ga naar de aanvraag</PaperTooltip>
    </div>
  </InfoMessage>
{{/if}}

{{#if @editMode}}
  {{#if this.remove.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het verwijderen...</p>
    </div>
  {{else if this.rollbackTree.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not @model.id) @model.isSaving)}}
    <div>
      <PaperProgressLinear />
      <p>Aan het aanmaken...</p>
    </div>
  {{else}}
    <Intervention::DetailEdit @model={{@model}} @save={{this.save}} />
  {{/if}}
{{else}}
  {{#if this.createFollowUpRequest.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Nieuwe aanvraag aan het aanmaken...</p>
    </div>
  {{else}}
    <Intervention::DetailView @model={{@model}} />
  {{/if}}
{{/if}}

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />
