<div class="layout-row layout-align-space-between-center">
  <div class="layout-row layout-align-start-center">
    <h2>
      {{#if @editMode}}Bewerk details{{else}}Overzicht{{/if}} interventie {{@model.id}}
    </h2>
    {{#if @editMode}}
      <SaveStatusIcon @model={{@model}} @task={{this.save}} />
    {{/if}}
  </div>
  <div>
    {{#if @editMode}}
      {{#if this.isEnabledDelete}}
        <PaperButton @onClick={{perform this.remove}} @iconButton={{true}}>
          {{paper-icon "delete"}}
          <PaperTooltip>Verwijderen</PaperTooltip>
        </PaperButton>
      {{/if}}
      <PaperButton @onClick={{fn this.closeEdit}} @iconButton={{true}}>
        {{paper-icon "exit to app"}}
        <PaperTooltip>Sluiten</PaperTooltip>
      </PaperButton>
    {{else}}
      {{#if this.isLinkedToCustomer}}
        {{#unless this.isDisabledUnlinkCustomer}}
          <PaperButton @onClick={{perform this.unlinkCustomer}} @iconButton={{true}}>
            {{paper-icon "link off"}}
            <PaperTooltip>Ontkoppel klant</PaperTooltip>
          </PaperButton>
        {{/unless}}
        <PaperButton @onClick={{fn this.generateInterventionReport}} @iconButton={{true}}>
          {{paper-icon "description"}}
          <PaperTooltip>Interventierapport</PaperTooltip>
        </PaperButton>
      {{else}}
        <PaperButton @onClick={{fn this.linkCustomer}} @iconButton={{true}}>
          {{paper-icon "link"}}
          <PaperTooltip>Koppel klant</PaperTooltip>
        </PaperButton>
      {{/if}}
      {{#unless this.isDisabledEdit}}
        <PaperButton @onClick={{@onOpenEdit}} @iconButton={{true}}>
          {{paper-icon "edit mode"}}
          <PaperTooltip>Aanpassen</PaperTooltip>
        </PaperButton>
      {{/unless}}
      {{#if (or (not this.hasInvoice) (not this.hasFollowUpRequest))}}
        <PaperMenu @position={{"target-right target"}} as |menu|>
          <menu.trigger>
            <PaperButton @onClick={{null}} @iconButton={{true}}>
              {{paper-icon "more vert" class="md-menu-origin"}}
              <PaperTooltip>Meer acties</PaperTooltip>
            </PaperButton>
          </menu.trigger>
          <menu.content @width={{4}} as |content|>
            {{#if @model.isCancelled}}
              <content.menu-item @onClick={{fn this.uncancelIntervention}}>
                <p>Opnieuw openen</p>
              </content.menu-item>
              <content.menu-item @onClick={{perform this.createNewIntervention}}>
                <p>Nieuwe interventie</p>
              </content.menu-item>
            {{else}}
              {{#unless this.hasInvoice}}
                <content.menu-item @onClick={{fn this.createInvoice}}>
                  <p>Factuur opstellen</p>
                </content.menu-item>
              {{/unless}}
              {{#unless this.hasFollowUpRequest}}
                <content.menu-item @onClick={{perform this.createFollowUpRequest}}>
                  <p>Nieuwe aanvraag</p>
                </content.menu-item>
              {{/unless}}
              <content.menu-item @onClick={{perform this.createNewIntervention}}>
                <p>Nieuwe interventie</p>
              </content.menu-item>
              {{#if (and (not this.hasInvoice) (not this.hasFollowUpRequest))}}
                <content.menu-item @onClick={{fn this.cancelIntervention}}>
                  <p>Afsluiten</p>
                </content.menu-item>
              {{/if}}
            {{/if}}
          </menu.content>
        </PaperMenu>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if this.isDisabledEdit}}
  {{#if @model.isCancelled}}
    <WarningMessage @message="Interventie is afgesloten. Geen wijzigingen meer mogelijk." />
  {{else}}
    <WarningMessage @message="Factuur reeds opgemaakt. Geen wijzigingen meer mogelijk." />
  {{/if}}
{{/if}}

{{#if this.hasFollowUpRequest}}
  <InfoMessage>
    <div class="layout-row layout-align-space-between-center" role="button" {{on "click" (fn this.goToFollowUpRequest)}}>
      <div>
        Deze interventie heeft geleid tot een nieuwe aanvraag AD{{@model.followUpRequest.id}}
      </div>
      <div>
        {{paper-icon "forward"}}
      </div>
      <PaperTooltip>Ga naar de aanvraag</PaperTooltip>
    </div>
  </InfoMessage>
{{/if}}

{{#if @editMode}}
  {{#if this.remove.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het verwijderen...</p>
    </div>
  {{else if this.rollbackTree.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Aan het herstellen...</p>
    </div>
  {{else if (and (not @model.id) @model.isSaving)}}
    <div>
      <PaperProgressLinear />
      <p>Aan het aanmaken...</p>
    </div>
  {{else}}
    <Intervention::DetailEdit @model={{@model}} @save={{this.save}} />
  {{/if}}
{{else}}
  {{#if this.createFollowUpRequest.isRunning}}
    <div>
      <PaperProgressLinear />
      <p>Nieuwe aanvraag aan het aanmaken...</p>
    </div>
  {{else}}
    <Intervention::DetailView @model={{@model}} />
  {{/if}}
{{/if}}

<Intervention::Order @model={{@model}} />

<UnsavedChangesDialog @show={{this.showUnsavedChangesDialog}} @onCancel={{fn this.closeUnsavedChangesDialog}} @onConfirm={{fn this.confirmCloseEdit}} />

{{#if this.showCancellationDialog}}
  <PaperDialog @onClose={{fn this.closeCancellationDialog}} @clickOutsideToClose={{true}} @parent=".main-outlet" @origin=".main-outlet">
    <PaperToolbar>
      <PaperToolbarTools>
        <h2>Bent u zeker dat u de interventie wil afsluiten?</h2><span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{fn this.closeCancellationDialog}}>
          <PaperIcon @icon="close" />
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>

    <PaperDialogContent>
      <PaperInput
        @label="Reden van afsluiten"
        @value={{@model.cancellationReason}}
        @onChange={{fn (mut @model.cancellationReason)}}
        @textarea={{true}}
        @passThru={{hash rows=3}}
        @class="xxlarge"
      />
    </PaperDialogContent>

    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @onClick={{fn this.closeCancellationDialog}}>Terug</PaperButton>
      <PaperButton @primary={{true}} @raised={{true}} @onClick={{fn this.confirmCancellation}}>Bevestig afsluiten</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}