<h2>Bestelling</h2>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--order--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{#detail-list-subitem label="Bestelling"}}
        {{#if model.orderDate}}{{moment-format model.orderDate 'L'}}{{else}}-{{/if}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Verwacht"}}
        {{#if model.expectedDate}}{{moment-format model.expectedDate 'L'}}{{else}}-{{/if}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Vereist"}}
        {{#if model.requiredDate}}{{moment-format model.requiredDate 'L'}}{{else}}-{{/if}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Werkuren"}}
      {{#detail-list-subitem label="Gepland"}}
        {{model.scheduledHours}} uur x {{model.scheduledNbOfPersons}} man = {{model.scheduledTotal}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Gerekend"}}
        {{model.invoicableHours}} uur x {{model.invoicableNbOfPersons}} man = {{model.invoicableTotal}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bedrag"}}
      {{#detail-list-subitem label="Totaal bestelling"}}
        {{model.amount}} &euro; ({{get (await model.vatRate) 'name'}} BTW)
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Voorschot nodig"}}
        {{paper-checkbox value=model.depositRequired onChange=null}}
      {{/detail-list-subitem}}
      {{#detail-list-subitem label="Voorschotten"}}
        <div>
          {{reduce (action "sum") 0 (map-by "amount" (await model.deposits))}}
          {{#if (await model.deposits)}}
            {{#paper-button iconButton=true onClick=(action "toggleShowDeposits")}}
              {{paper-icon (if showDeposits "expand less" "expand more")}}
            {{/paper-button}}
          {{/if}}
        </div>
        {{#liquid-if (and (await model.deposits) showDeposits) class="expand-more"}}
          <table>
            <thead>
              <th>Datum</th>
              <th>Bedrag</th>
              <th>Bank</th>
              <th>Voorschot</th>
            </thead>
            <tbody>
              {{#each (await model.deposits) as |deposit|}}
                <tr>
                  <td>{{moment-format deposit.paymentDate 'L'}}</td>
                  <td>{{deposit.amount}} &euro;</td>
                  <td>{{get (await deposit.payment) "name"}}</td>
                  <td>{{paper-checkbox value=model.isDeposit onChange=null}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/liquid-if}}
      {{/detail-list-subitem}}
    {{/detail-list-item}}
    {{#detail-list-item label="Afgesloten"}}
      {{paper-checkbox value=model.canceled onChange=null}}
      {{#if model.canceled}}
        {{#detail-list-subitem label="Reden"}}
          {{#if model.cancellationReason}}
            <span class="html-body">{{model.cancellationReason}}</span>
          {{else}}
            -
          {{/if}}
        {{/detail-list-subitem}}
      {{/if}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{model.comment}}</span>
    {{/detail-list-item}}
  </div>
  <div class="case--right-panel flex-noshrink layout-column">
    {{#detail-list-item label="Plaatsing"}}
      {{paper-checkbox value=model.mustBeInstalled onChange=null}}
    {{/detail-list-item}}
    {{#detail-list-item label="Productiebon"}}
      {{paper-checkbox value=model.hasProductionTicket onChange=null}}
    {{/detail-list-item}}
    {{#detail-list-item label="Te leveren"}}
      {{paper-checkbox value=model.mustBeDelivered onChange=null}}
    {{/detail-list-item}}
    {{#detail-list-item label="Product klaar"}}
      {{paper-checkbox value=model.isReady onChange=null}}
    {{/detail-list-item}}

  </div>
</div>

<div class="case--button-bar layout-row layout-align-end">
  {{#paper-button raised=true primary=true onClick=null disabled=true}}{{paper-icon 'edit'}}Bewerk bestelling{{/paper-button}}
</div>

{{liquid-outlet}}