<h2>Aanvraag {{model.id}}</h2>

<div class="layout-row layout-xs-column layout-align-space-between">
  <div class="case--left-panel case--request--entry flex-100 layout-column">
    {{#detail-list-item label="Datum"}}
      {{moment-format model.requestDate 'L'}}
    {{/detail-list-item}}
    {{#detail-list-item label="Aanmelding"}}
      {{get (await model.wayOfEntry) 'name'}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bediende"}}
      {{model.employee}}
    {{/detail-list-item}}
    {{#detail-list-item label="Bezoek nodig"}}
      {{paper-checkbox value=model.requiresVisit onChange=null}}
    {{/detail-list-item}}
    {{#detail-list-item label="Opmerking"}}
      <span class="html-body">{{get (await model.visit) 'comment'}}</span>
    {{/detail-list-item}}
  </div>
  {{#if model.visit}}
    <div class="case--right-panel flex-noshrink layout-column">
      <div class="case--request--visit">
        <h3>{{paper-icon "event"}} Bezoek</h3>
        {{#detail-list-item label="Datum"}}
          {{moment-format (get (await model.visit) 'visitDate') 'L'}}
        {{/detail-list-item}}
        {{#detail-list-item label="Bezoeker"}}
          {{get (await model.visit) 'visitor'}}
        {{/detail-list-item}}
        {{#detail-list-item label="Outlook"}}
          {{get (await model.visit) 'calendarSubject'}}
        {{/detail-list-item}}
      </div>
    </div>
  {{else}}
    <div class="case--request--visit flex-noshrink layout-column">
      <h3>{{paper-icon "event"}} Geen bezoek gepland</h3>
    </div>
  {{/if}}
</div>

<div class="case--button-bar layout-row layout-align-end">
  {{#paper-button raised=true primary=true onClick=null disabled=true}}{{paper-icon 'edit'}}Bewerk aanvraag{{/paper-button}}
</div>

{{liquid-outlet}}