<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Bestelling {{@model.offerNumber}}
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <button type="button"
              onClick={{@onDelete}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-trash" class="h-6 w-6"}}
            </button>
          {{/if}}
          <button type="button"
            onClick={{this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
            <EmberTooltip @text="Sluiten" />
          </button>
        {{else}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

   {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
          <div>
            <InputField::Date
              @label="Datum"
              @value={{@model.orderDate}}
              @onChange={{queue (fn (mut @model.orderDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div class="lg:col-start-1">
            <InputField::Date
              @label="Verwacht"
              @value={{@model.expectedDate}}
              @onChange={{queue (fn (mut @model.expectedDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::Date
              @label="Vereist"
              @value={{@model.requiredDate}}
              @onChange={{queue (fn (mut @model.requiredDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::EmployeeSelect
              @label="Bezoeker"
              @value={{this.visitor}}
              @isAdministrative={{true}}
              @isTechnician={{true}}
              @onSelectionChange={{queue this.setVisitor (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <label for="reference" class="block text-sm font-medium text-gray-700">
              Referentie klant
            </label>
            <Input
              id="reference"
              @type="text"
              @value={{@model.reference}}
              class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
              {{on "focusout" (perform this.save)}} />
          </div>
          <div class="lg:col-span-2">
            <div class="flex items-baseline space-x-2">
              <div>
                <InputField::DecimalInput
                  @label="Werkuren"
                  @value={{@model.scheduledHours}}
                  @errors={{@model.validations.attrs.scheduledHours.messages}}
                  @onChange={{queue (fn (mut @model.scheduledHours)) (perform this.save)}}
                  class="mt-1 block w-16 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
              </div>
              <div class="text-sm text-gray-700 whitespace-nowrap">
                x
              </div>
              <div>
                <InputField::DecimalInput
                  @label="Personen"
                  @value={{@model.scheduledNbOfPersons}}
                  @errors={{@model.validations.attrs.scheduledNbOfPersons.messages}}
                  @onChange={{queue (fn (mut @model.scheduledNbOfPersons)) (perform this.save)}}
                  class="mt-1 block w-16 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
              </div>
              <div class="text-sm text-gray-700 whitespace-nowrap">
                = {{@model.scheduledTotal}} uur
              </div>
            </div>
          </div>
          <div class="col-span-2">
            <InputField::EmployeeSelect
              @label="Voorgestelde techniekers"
              @value={{@model.technicians}}
              @multiple={{true}}
              @isTechnician={{true}}
              @isAdministrative={{true}}
              @sort={{"type:desc"}}
              @onSelectionChange={{queue this.setTechnicians (perform this.save) (perform this.synchronizeCalendarEvent)}}
              class="mt-1" />
          </div>
        </div>
        <div class="space-y-6">
          {{#unless this.loadData.isRunning}}
            <CalendarEvent::DetailEdit
              @title="planning"
              @model={{this.calendarEvent}}
              @onCalendarPeriodChange={{perform this.updateCalendarEventSubject}}
              @saveTask={{this.saveCalendarEvent}}
              @onDelete={{perform this.deleteCalendarEvent}} />
          {{/unless}}
          <div role="group" aria-labelledby="label-executions" class="space-y-4">
            <div id="label-executions" class="font-semibold text-sm text-gray-700">
              Uitvoering
            </div>
            <div class="space-y-4">
              {{#each this.executionOptions as |option|}}
                <div class="flex items-center">
                  <input
                    id="execution-opt-{{option.id}}"
                    type="radio"
                    value={{option.value}}
                    name="execution-opt-group"
                    class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300"
                    checked={{eq @model.execution option.value}}
                    {{on "input" (queue this.setExecution (perform this.save))}} />
                  <label for="execution-opt-{{option.id}}" class="ml-3 block text-sm font-medium text-gray-700">
                    {{capitalize option.label}}
                  </label>
                </div>
              {{/each}}
            </div>
          </div>
          <div>
            <div class="flex items-center">
              <div class="font-semibold text-sm text-gray-700">
                Productiebon
              </div>
              <div class="ml-3">
                <ProductionTicket::InlineEdit @model={{@model}} />
              </div>
            </div>
          </div>
          <div>
          </div>
          <div>
            <div class="font-semibold text-sm text-gray-700">
              Status
            </div>
            <div class="mt-4 space-y-4">
              <InputField::Checkbox
                @id="deposit-required-checkbox"
                @label="Voorschot nodig"
                @value={{@model.depositRequired}}
                @onChange={{queue (fn (mut @model.depositRequired)) (perform this.save)}} />
              <InputField::Checkbox
                @id="product-ready-checkbox"
                @label="Product klaar"
                @value={{@model.isReady}}
                @onChange={{queue (fn (mut @model.isReady)) (perform this.save)}} />
              <InputField::Checkbox
                @id="is-canceled-checkbox"
                @label="Afgesloten"
                @value={{@model.canceled}}
                @onChange={{this.setCancelledStatus}} />
            </div>
          </div>
        </div>
        <div class="sm:col-span-2">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Opmerking
          </label>
          <Textarea
            id="comment"
            @value={{@model.comment}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-2">
          <Util::DetailItem @label="Datum">
            <Util::DetailSubitem @label="Bestelling">
              <Fmt::Date @value={{@model.orderDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Verwacht">
              <Fmt::Date @value={{@model.expectedDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Vereist">
              <Fmt::Date @value={{@model.requiredDate}} />
            </Util::DetailSubitem>
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoeker">
            {{this.request.visitor}}
          </Util::DetailItem>
          <Util::DetailItem @label="Referentie">
            {{@model.reference}}
          </Util::DetailItem>
          <Util::DetailItem @label="Werkuren" @displayRow={{true}}>
            <Fmt::Decimal @value={{@model.scheduledHours}} /> uur x
            <span class="{{if this.isNbOfPersonsWarning "px-1 py-0.5 text-red-700 bg-red-100 rounded"}}">{{@model.scheduledNbOfPersons}} man</span>
            = {{@model.scheduledTotal}} uur
          </Util::DetailItem>
          <Util::DetailItem @label="Techniekers">
            {{#if this.technicianNames.length}}
              {{join ", " this.technicianNames}}
            {{else}}
              -
            {{/if}}
          </Util::DetailItem>
        </div>
        <div class="mb-4 sm:mb-0 space-y-2">
          <div class="mb-4">
            {{#unless this.loadData.isRunning}}
              <CalendarEvent::DetailView
                @title="planning"
                @model={{this.calendarEvent}}
                @onSynchronize={{perform this.synchronizeCalendarEvent}} />
            {{/unless}}
          </div>
          <Util::DetailItem @label="Uitvoering">
            {{#each this.executionOptions as |option|}}
              <div class="flex items-center mb-2">
                <input
                  id="execution-opt-{{option.id}}"
                  type="radio"
                  value={{option.value}}
                  name="execution-opt-group"
                  class="focus:ring-red-500 h-4 w-4 text-red-600 border-gray-300"
                  checked={{eq @model.execution option.value}}
                  disabled="true" />
                <label for="execution-opt-{{option.id}}" class="ml-3 block text-sm font-medium text-gray-700">
                  {{capitalize option.label}}
                </label>
              </div>
            {{/each}}
          </Util::DetailItem>
          <Util::DetailItem @label="Productiebon" class="items-center">
            <ProductionTicket::InlineEdit @model={{@model}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Voorschot nodig" class="items-center">
            <Util::DisplayCheckbox @value={{@model.depositRequired}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Product klaar" class="items-center">
            <Util::DisplayCheckbox @value={{@model.isReady}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Afgesloten" class="items-start">
            <Util::DisplayCheckbox @value={{@model.canceled}} />
            {{#if @model.canceled}}
              <div class="mt-1 html-body italic">{{@model.cancellationReason}}</div>
            {{/if}}
          </Util::DetailItem>
        </div>
        <div class="sm:col-span-2">
          <Util::DetailItem @label="Opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>

{{#if this.isOpenCancellationModal}}
  <Order::CancellationModal
    @onConfirm={{this.confirmCancellation}}
    @onClose={{this.closeCancellationModal}}
  />
{{/if}}