<div class="layout-row layout-align-start-start">
  <section class="layout-column">
    <div class="layout-row">
      <PaperInput @label="Datum" @value={{@model.orderDateStr}} @type="date" @required="style" @errors={{v-get @model "orderDate" "messages"}} @onChange={{queue (fn (mut @model.orderDateStr)) (perform @save)}} @class="default" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Verwacht" @value={{@model.expectedDateStr}} @type="date" @onChange={{queue (fn (mut @model.expectedDateStr)) (perform @save)}} @class="default" />
      <PaperInput @label="Vereist" @value={{@model.requiredDateStr}} @type="date" @onChange={{queue (fn (mut @model.requiredDateStr)) (perform @save)}} @class="default" />
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Bezoeker" @value={{this.visitor}} @isOnRoad={{true}} @isTechnician={{true}} @onSelectionChange={{queue (fn this.setVisitor) (perform @save)}} class="md-input-wrapper large" />
    </div>
    <div class="layout-row">
      <PaperInput @label="Referentie klant" @value={{@model.reference}} @onChange={{fn (mut @model.reference)}} @onBlur={{perform @save}} @class="large" />
    </div>
    <div class="u-bold">Geplande uren</div>
    <div class="layout-row layout-align-start-end">
      <InputField::DecimalInput @label="Werkuren" @value={{@model.scheduledHours}} @errors={{v-get @model "scheduledHours" "messages"}} @onChange={{queue (fn (mut @model.scheduledHours)) (perform @save)}} @class="small" /><span class="input-postfix"> uur x</span>
      <InputField::DecimalInput @label="Personen" @value={{@model.scheduledNbOfPersons}} @errors={{v-get @model "scheduledNbOfPersons" "messages"}} @onChange={{queue (fn (mut @model.scheduledNbOfPersons)) (perform @save)}} @class="small" /><span class="input-postfix"> man = {{@model.scheduledTotal}} uur</span>
    </div>
    <div class="layout-row">
      <InputField::EmployeeSelect @label="Voorgestelde techniekers" @value={{@model.technicians}} @multiple={{true}} @isTechnician={{true}} @isOnRoad={{true}} @isAdministrative={{true}} @sort={{array "functionSort:desc"}} @onSelectionChange={{queue (fn this.setTechnicians) (perform @save)}} class="md-input-wrapper xxlarge" />
    </div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Voorschot nodig" @value={{@model.depositRequired}} @onChange={{queue (fn (mut @model.depositRequired)) (perform @save)}} />
    </div>
  </section>
  <section class="case--right-panel flex-noshrink layout-column">
    <div class="u-bold">Uitvoering</div>
    <div class="note note--info">De planning in de agenda kan in een volgende stap ingevuld worden</div>
    <div class="layout-row">
      <PaperRadioGroup @groupValue={{readonly @model.execution}} @onChange={{queue (fn this.setExecution) (perform @save)}} as |group|>
        <group.radio @value="installation">{{order-execution 'installation'}}</group.radio>
        <group.radio @value="delivery">{{order-execution 'delivery'}}</group.radio>
        <group.radio @value="pickup">{{order-execution 'pickup'}}</group.radio>
      </PaperRadioGroup>
    </div>
    <div class="u-bold">Status</div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Productiebon" @value={{@model.hasProductionTicket}} @onChange={{queue (fn (mut @model.hasProductionTicket)) (perform @save)}} />
      <ProductionTicketButtons @model={{@model}} />
    </div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Product klaar" @value={{@model.isReady}} @onChange={{queue (fn (mut @model.isReady)) (perform @save)}} />
    </div>
    <div class="layout-row layout-align-start-center">
      <PaperCheckbox @label="Afgesloten" @value={{@model.canceled}} @onChange={{queue (fn this.setCanceled) (perform @save)}} />
    </div>
    {{#liquid-if @model.canceled class="expand-more"}}
      <div class="layout-row">
        <PaperInput @label="Reden" @value={{@model.cancellationReason}} @errors={{v-get @model "cancellationReason" "messages"}} @onChange={{fn (mut @model.cancellationReason)}} @onBlur={{perform @save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
      </div>
    {{/liquid-if}}
    <div class="layout-row">
      <PaperInput @label="Opmerking" @value={{@model.comment}} @onChange={{fn (mut @model.comment)}} @onBlur={{perform @save}} @textarea={{true}} @passThru={{hash rows=3}} @class="xxlarge" />
    </div>
  </section>
</div>
