<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Details
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{/if}}
      </div>
      <div class="flex flex-none">
        {{#if this.editMode}}
          {{#if @isEnabledDelete}}
            <Rlv::Button
              @label="Verwijder"
              @hideText={{true}}
              @icon="delete-bin-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" @onDelete}} />
          {{/if}}
          <Rlv::Button
            @label="Sluiten"
            @hideText={{true}}
            @icon="logout-box-r-line"
            @skin="secondary-naked"
            @size="xlarge"
            class="px-2"
            {{on "click" this.closeEdit}} />
        {{else}}
          {{#unless @isDisabledEdit}}
            <Rlv::Button
              @label="Bewerk"
              @hideText={{true}}
              @icon="pencil-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="px-2"
              {{on "click" this.openEdit}} />
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

   {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <div class="grid grid-cols-1 gap-y-6 gap-x-4 lg:grid-cols-2">
          <div>
            <InputField::Date
              @label="Datum"
              @value={{@model.orderDate}}
              @onChange={{queue (fn (mut @model.orderDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div class="lg:col-start-1">
            <InputField::Date
              @label="Verwacht"
              @value={{@model.expectedDate}}
              @onChange={{queue (fn (mut @model.expectedDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::Date
              @label="Vereist"
              @value={{@model.dueDate}}
              @onChange={{queue (fn (mut @model.dueDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::EmployeeSelect
              @label="Bezoeker"
              @value={{this.visitor}}
              @isAdministrative={{true}}
              @isTechnician={{true}}
              @onSelectionChange={{queue (perform this.setVisitor) (perform this.save)}}
              class="mt-1" />
          </div>
          <div class="lg:col-span-2">
            <div class="flex items-baseline space-x-2">
              <div>
                <InputField::DecimalInput
                  @label="Werkuren"
                  @value={{@model.scheduledNbOfHours}}
                  @errors={{@model.validations.attrs.scheduledNbOfHours.messages}}
                  @onChange={{queue (fn (mut @model.scheduledNbOfHours)) (perform this.save)}}
                  class="mt-1 block w-16 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
              </div>
              <div class="text-sm text-gray-700 whitespace-nowrap">
                x
              </div>
              <div>
                <InputField::DecimalInput
                  @label="Personen"
                  @value={{@model.scheduledNbOfPersons}}
                  @errors={{@model.validations.attrs.scheduledNbOfPersons.messages}}
                  @onChange={{queue (fn (mut @model.scheduledNbOfPersons)) (perform this.save)}}
                  class="mt-1 block w-16 sm:text-sm border-gray-300 rounded-md focus:ring-red-200 focus:border-red-200" />
              </div>
              <div class="text-sm text-gray-700 whitespace-nowrap">
                = {{@model.scheduledTotal}} uur
              </div>
            </div>
          </div>
          <div class="col-span-2">
            <InputField::EmployeeSelect
              @label="Voorgestelde techniekers"
              @value={{@model.technicians}}
              @multiple={{true}}
              @isTechnician={{true}}
              @isAdministrative={{true}}
              @sort={{"type:desc"}}
              @onSelectionChange={{queue (fn (mut @model.technicians)) (perform this.save)}}
              class="mt-1" />
          </div>
        </div>
        <div class="space-y-6">
          <CalendarEvent::DetailEdit
            @title="planning"
            @model={{this.planning}}
            @onCalendarPeriodChange={{perform this.updateCalendarPeriod}}
            @saveTask={{this.saveCalendarEvent}}
            @onDelete={{perform this.deleteCalendarEvent}} />
          <div>
            <div class="flex items-center">
              <div class="font-semibold text-sm text-gray-700">
                Productiebon
              </div>
              <div class="ml-3">
                <ProductionTicket::InlineEdit @model={{@model}} />
              </div>
            </div>
          </div>
          <div>
          </div>
          <div>
            <div class="font-semibold text-sm text-gray-700">
              Status
            </div>
            <div class="mt-4 space-y-4">
              <InputField::Checkbox
                @id="deposit-required-checkbox"
                @label="Voorschot nodig"
                @value={{@model.depositRequired}}
                @onChange={{queue (fn (mut @model.depositRequired)) (perform this.save)}} />
              <InputField::Checkbox
                @id="product-ready-checkbox"
                @label="Product klaar"
                @value={{@model.isReady}}
                @onChange={{queue (fn (mut @model.isReady)) (perform this.save)}} />
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-2">
          <Util::DetailItem @label="Datum">
            <Util::DetailSubitem @label="Bestelling">
              <Fmt::Date @value={{@model.orderDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Verwacht">
              <Fmt::Date @value={{@model.expectedDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Vereist">
              <Fmt::Date @value={{@model.dueDate}} />
            </Util::DetailSubitem>
          </Util::DetailItem>
          <Util::DetailItem @label="Bezoeker">
            {{this.visitor.firstName}}
          </Util::DetailItem>
          <Util::DetailItem @label="Werkuren" @displayRow={{true}}>
            <Fmt::Decimal @value={{@model.scheduledNbOfHours}} /> uur x
            <span class="{{if this.isNbOfPersonsWarning "px-1 py-0.5 text-red-700 bg-red-100 rounded"}}">{{@model.scheduledNbOfPersons}} man</span>
            = {{@model.scheduledTotal}} uur
          </Util::DetailItem>
          <Util::DetailItem @label="Techniekers">
            {{#if this.technicianNames}}
              {{join ", " this.technicianNames}}
            {{/if}}
          </Util::DetailItem>
        </div>
        <div class="mb-4 sm:mb-0 space-y-2">
          <div class="mb-4">
            <CalendarEvent::DetailView
              @title="planning"
              @model={{this.planning}}
              @onSynchronize={{perform this.forceCalendarEventSynchronization}} />
          </div>
          <Util::DetailItem @label="Productiebon" class="items-center">
            <ProductionTicket::InlineEdit @model={{@model}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Voorschot nodig" class="items-center">
            <Util::DisplayCheckbox @value={{@model.depositRequired}} />
          </Util::DetailItem>
          <Util::DetailItem @label="Product klaar" class="items-center">
            <Util::DisplayCheckbox @value={{@model.isReady}} />
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>
