<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="sm:flex sm:justify-between sm:items-center">
      <h2 class="rlv-panel-title">
        Documenten
      </h2>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="px-6 pt-4 pb-6 space-y-6">
    <ul class="divide-y divide-gray-200">
      <li class="py-4 flex justify-between">
        <div class="flex grow-0 items-center">
          {{svg-jar "file-text-line" class="h-6 w-6 text-gray-400 fill-current"}}
          <span class="ml-2 text-sm font-medium text-gray-900">Orderbevestiging</span>
        </div>
        <div class="ml-3 flex flex-none space-x-4 sm:mt-0 sm:ml-4">
          <Document::ViewButton @size="small" @onClick={{this.downloadOrderDocument}} />
          {{#unless @model.isMasteredByAccess}}
            <Document::GenerateButton
              @size="small"
              @onClick={{perform this.generateOrderDocument}}
              @isLoading={{this.generateOrderDocument.isRunning}} />
          {{/unless}}
        </div>
      </li>
      <li class="py-4 flex justify-between">
        <div class="flex grow-0 items-center">
          {{svg-jar "file-text-line" class="h-6 w-6 text-gray-400 fill-current"}}
          <span class="ml-2 text-sm font-medium text-gray-900">Leveringsbon</span>
        </div>
        <div class="ml-3 flex flex-none space-x-4 sm:mt-0 sm:ml-4">
          <Document::ViewButton @size="small" @onClick={{this.downloadDeliveryNote}} />
          {{#unless @model.isMasteredByAccess}}
            <Document::GenerateButton
              @size="small"
              @onClick={{perform this.generateDeliveryNote}}
              @isLoading={{this.generateDeliveryNote.isRunning}} />
          {{/unless}}
        </div>
      </li>
    </ul>
  </div>
</div>
