<div class="order-document-edit layout-column">
  <section>
    {{#if this.loadData.isRunning}}
      <div class="note note--info">Inhoud ophalen...</div>
    {{else}}
      {{#each this.sortedInvoicelines as |invoiceline|}}
        <Invoiceline::Edit @model={{invoiceline}} @onDelete={{perform this.deleteInvoiceline}} />
      {{else}}
        {{#if this.isEnabledAddingInvoicelines}}
          <div class="note note--info">Nog geen producten toegevoegd. Klik <span class="link-action" {{on "click" (perform this.addInvoiceline)}} role="button">hier</span> om producten toe te voegen aan de bestelling.</div>
        {{/if}}
      {{/each}}
      <div class="layout-row layout-align-end-center">
        {{#if this.isEnabledAddingInvoicelines}}
          <div class="link-action" {{on "click" (perform this.addInvoiceline)}} role="button">{{paper-icon "add"}} Lijn toevoegen</div>
        {{/if}}
      </div>
    {{/if}}
  </section>
</div>
