<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="sm:flex sm:justify-between sm:items-center">
      <h2 class="text-2xl font-bold font-display text-gray-900">
        Bestelde producten
      </h2>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6 space-y-6">
    <div class="mx-auto">
      <Order::Stats
        @model={{@model}}
        @invoicelines={{this.invoicelines}} />
    </div>
    {{#if @model.isMasteredByAccess}}
      <div class="text-gray-400">
        De bestelling is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.
      </div>
    {{else}}
      <div>
        <ul>
          {{#each this.sortedInvoicelines as |line|}}
            <li class="py-2">
              <Invoiceline::Detail
                @model={{line}}
                @saveTask={{this.saveInvoiceline}}
                @onDelete={{perform this.deleteInvoiceline line}}
                @isDisabledEditDescription={{@isDisabledEdit}}
                @isDisabledEditPrice={{@isDisabledEdit}} />
            </li>
          {{else}}
            <li class="py-2">
              <div class="grid border border-gray-200 rounded">
                <div class="p-4 text-sm text-gray-400 italic">
                  Nog geen producten
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        {{#if this.isEnabledAddingInvoicelines}}
          <div class="my-2 relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center">
              <button type="button"
                onClick={{perform this.addInvoiceline}}
                class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "heroicons-sm-plus" class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"}}
                <span>Lijn toevoegen</span>
              </button>
            </div>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
