<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="sm:flex sm:justify-between sm:items-center">
      <h2 class="text-2xl font-bold font-display text-gray-900">
        Bestelde producten
      </h2>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6 space-y-6">
    <div class="mx-auto">
      <Order::Stats
        @model={{@model}}
        @invoicelines={{this.invoicelines}} />
    </div>
    {{#if @model.isMasteredByAccess}}
      <div class="text-gray-400 text-sm italic">
        De bestelling is aangemaakt in Access. De inhoud kan hier niet weergegeven worden.
      </div>
    {{else}}
      <div>
        {{#if this.loadData.isRunning}}
          <div class="py-2">
            <Util::LoadingSpinner @label="" />
          </div>
        {{else}}
          <ul>
            {{#each this.sortedInvoicelines as |line|}}
              <li class="py-2">
                <Invoiceline::Detail
                  @model={{line}}
                  @saveTask={{this.saveInvoiceline}}
                  @onDelete={{perform this.deleteInvoiceline line}}
                  @isDisabledEditDescription={{@isDisabledEdit}}
                  @isDisabledEditPrice={{@isDisabledEdit}} />
              </li>
            {{else}}
              <li class="py-2">
                <div class="grid border border-gray-200 rounded">
                  <div class="p-4 text-sm text-gray-400 italic">
                    Nog geen producten
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          {{#unless @isDisabledEdit}}
            <Rlv::AddToListButton @onClick={{perform this.addInvoiceline}} />
          {{/unless}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
