<dl class="rounded-lg bg-white grid grid-cols-2 divide-x sm:grid-cols-4">
  <div class="flex flex-col p-4 text-center">
    <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
      Netto
    </dt>
    <dd class="order-1 text-lg font-medium text-red-700">
      {{#if this.invoicelines.isResolved}}
        <Fmt::Currency @value={{this.totalAmount}} />
      {{/if}}
    </dd>
  </div>
  <div class="flex flex-col p-4 text-center">
    <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
      {{#if this.vatRate.isResolved}}
        {{this.vatRate.value.rate}}% BTW
      {{/if}}
    </dt>
    <dd class="order-1 text-lg font-medium text-red-700">
      {{#unless this.isLoading}}
        <Fmt::Currency @value={{this.totalVat}} />
      {{/unless}}
    </dd>
  </div>
  <div class="flex flex-col p-4 text-center">
    <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
      <LinkTo @route="main.case.order.edit.deposit-invoices" @model={{@model.id}}>
        Voorschotfacturen
      </LinkTo>
    </dt>
    <dd class="order-1 text-lg font-medium text-red-700">
      {{#if this.depositInvoices.isResolved}}
        <Fmt::Currency @value={{this.depositInvoicesAmount}} />
      {{/if}}
    </dd>
  </div>
  <div class="flex flex-col p-4 text-center">
    <dt class="order-2 mt-2 text-sm leading-6 font-medium text-gray-500 truncate">
      <LinkTo @route="main.case.order.edit.deposit-invoices" @model={{@model.id}}>
        Voorschotten
      </LinkTo>
    </dt>
    <dd class="order-1 text-lg font-medium text-red-700">
      <Fmt::Currency @value={{this.depositsAmount}} />
    </dd>
  </div>
</dl>
