<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="sm:flex sm:justify-between sm:items-center">
      <h2 class="text-2xl font-bold font-display text-gray-900">
        Berekening
      </h2>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6 space-y-6">
    <div class="flex flex-col">
      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
          <div class="overflow-hidden border-b border-gray-200">
            <table class="min-w-full divide-y divide-gray-200">
              <thead>
                <tr>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                  </th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Netto
                  </th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    {{@model.vatRate.rate}}% BTW
                  </th>
                  <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Bruto
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#if this.loadData.isRunning}}
                  <tr>
                    <td colspan="4" class="px-6 py-2 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Aan het berekenen...
                    </td>
                  </tr>
                {{else}}
                  {{#unless @model.isIsolated}}
                    <tr>
                      <td class="px-6 py-2 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Totaal {{#if this.intervention}}interventie{{else}}bestelling{{/if}}
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                        <Fmt::Currency @value={{this.totalOrderAmount}} />
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                        {{#if this.totalOrderAmount}}
                          <Fmt::Currency @value={{this.totalOrderVat}} />
                        {{/if}}
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      </td>
                    </tr>
                    <tr>
                      <td class="px-6 py-2 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                        {{#if @model.order}}
                          <LinkTo @route="main.case.order.edit.deposit-invoices" @model={{@model.order.id}}>
                            Voorschotfacturen
                            <span class="text-gray-400 relative -top-0.5">
                              {{svg-jar "heroicons-sm-external-link" class="inline h-4 w-4"}}
                            </span>
                          </LinkTo>
                        {{else}}
                          Voorschotfacturen
                        {{/if}}
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                        &minus; <Fmt::Currency @value={{this.depositInvoicesAmount}} />
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                        &minus; <Fmt::Currency @value={{this.depositInvoicesVat}} />
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      </td>
                    </tr>
                  {{/unless}}

                  <tr class="border-t">
                    <td class="px-6 py-2 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Subtotaal
                    </td>
                    <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      <Fmt::Currency @value={{this.totalNetAmount}} />
                    </td>
                    <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      <Fmt::Currency @value={{this.totalVat}} />
                    </td>
                    <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      <Fmt::Currency @value={{this.totalGrossAmount}} />
                    </td>
                  </tr>

                  {{#unless @model.isIsolated}}
                    <tr>
                      <td class="px-6 py-2 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Betaalde voorschotten
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                      </td>
                      <td class="px-6 py-2 text-xs font-medium text-gray-700 uppercase tracking-wider">
                        &minus; <Fmt::Currency @value={{this.depositsAmount}} />
                      </td>
                    </tr>
                  {{/unless}}

                  <tr class="bg-gray-100">
                    <td class="px-6 py-2 text-right text-xs font-semibold text-gray-500 uppercase tracking-wider">
                      Totaal te betalen
                    </td>
                    <td class="px-6 py-2 text-xs font-semibold text-gray-700 uppercase tracking-wider">
                    </td>
                    <td class="px-6 py-2 text-xs font-semibold text-gray-700 uppercase tracking-wider">
                    </td>
                    <td class="px-6 py-2 text-xs font-semibold text-gray-700 uppercase tracking-wider">
                      <Fmt::Currency @value={{this.totalToPay}} />
                    </td>
                  </tr>
                {{/if}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>