<div class="data-table-filters">
  <div class="data-table-filters--title">{{paper-icon "search"}} Zoeken</div>
  <div class="layout-row flex layout-align-space-between-start">
    <div class="layout-column">
      <div class="layout-row data-table-filter--line">
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title"></div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Nummer" @value={{this.filter.number}} @onChange={{perform this.debounceFilter "number"}} @class="small" {{did-insert this.autofocus}} />
            <PaperInput @label="Referentie" @value={{this.filter.reference}} @onChange={{perform this.debounceFilter "reference"}} @class="small" />
          </div>
        </div>
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title">Klant</div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Naam" @value={{this.filter.cName}} @onChange={{perform this.debounceFilter "cName"}} />
            <PaperInput @label="Straat" @value={{this.filter.cStreet}} @onChange={{perform this.debounceFilter "cStreet"}} @class="large" />
            <PaperInput @label="Postcode" @value={{this.filter.cPostalCode}} @onChange={{perform this.debounceFilter "cPostalCode"}} @class="small" />
            <PaperInput @label="Gemeente" @value={{this.filter.cCity}} @onChange={{perform this.debounceFilter "cCity"}} />
            <PaperInput @label="Telefoon" @value={{this.filter.cTelephone}} @onChange={{perform this.debounceFilter "cTelephone"}} />
          </div>
        </div>
      </div>
      <div class="layout-row data-table-filter--line">
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title"></div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Aanvraag" @value={{this.filter.requestNumber}} @onChange={{perform this.debounceFilter "requestNumber"}} @class="small" />
            <PaperInput @label="Offerte" @value={{this.filter.offerNumber}} @onChange={{perform this.debounceFilter "offerNumber"}} @class="small" />
          </div>
        </div>
        <div class="layout-column data-table-filter--group">
          <div class="data-table-filters--group-title">Gebouw</div>
          <div class="layout-row data-table-filters--group-fields">
            <PaperInput @label="Naam" @value={{this.filter.bName}} @onChange={{perform this.debounceFilter "bName"}} />
            <PaperInput @label="Straat" @value={{this.filter.bStreet}} @onChange={{perform this.debounceFilter "bStreet"}} @class="large" />
            <PaperInput @label="Postcode" @value={{this.filter.bPostalCode}} @onChange={{perform this.debounceFilter "bPostalCode"}} @class="small" />
            <PaperInput @label="Gemeente" @value={{this.filter.bCity}} @onChange={{perform this.debounceFilter "bCity"}} />
          </div>
        </div>
      </div>
    </div>

    <div class="data-table-filters--reset">
      <PaperButton @iconButton={{true}} @onClick={{fn this.resetFilters}}>
        {{paper-icon "close"}}
        <PaperTooltip>Wis filters</PaperTooltip>
      </PaperButton>
    </div>
  </div>
</div>
