<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          Factuur {{format-invoice-number @model.number}}
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{else}}
          {{#if @model.isBooked}}
            <span class="ml-2 items-center inline-flex text-xs text-blue-800">
              {{svg-jar "heroicons-md-clipboard-check" class="shrink-0 h-5 w-5"}}
              <EmberTooltip @text="Geboekt" @side="bottom" />
            </span>
          {{/if}}
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          <button type="button"
            onClick={{this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
            <EmberTooltip @text="Sluiten" />
          </button>
        {{else}}
          {{#if @model.isPaid}}
            <span class="ml-4 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
              Betaald
            </span>
          {{else}}
            <span class="ml-4 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800">
              Niet betaald
            </span>
          {{/if}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              onClick={{this.openEdit}}
                class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "heroicons-md-pencil" class="h-6 w-6"}}
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
        {{#if @model.isBooked}}
          <div class="md:col-span-2">
            <label for="reference" class="block text-sm font-medium text-gray-700">
              Referentie klant
            </label>
            <Input
              id="reference"
              @type="text"
              @value={{@model.reference}}
              class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
              {{on "focusout" (perform this.save)}} />
          </div>
          <div>
            <InputField::Date
              @label="Betaald"
              @value={{@model.paymentDate}}
              @onChange={{queue (fn (mut @model.paymentDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <label for="booking-date" class="block text-sm font-medium text-gray-700">
              Geboekt
            </label>
            <div class="mt-2 text-gray-900">
              <Fmt::Date @value={{@model.bookingDate}} />
            </div>
          </div>
        {{else}}
          <div>
            <InputField::Checkbox
              @id="is-creditnote-checkbox"
              @label="Creditnota"
              @value={{@model.isCreditNote}}
              @onChange={{queue (fn (mut @model.isCreditNote)) (perform this.save)}} />
          </div>
          {{#if (or @model.isIsolated @model.intervention)}}
            <div>
              <InputField::VatRateSelect
                @value={{@model.vatRate}}
                @label="BTW tarief"
                @onSelectionChange={{queue this.setVatRate (perform this.save)}}
                @allowClear={{false}}
                class="mt-1" />
            </div>
          {{/if}}
          <div class="md:col-span-2">
            <label for="reference" class="block text-sm font-medium text-gray-700">
              Referentie klant
            </label>
            <Input
              id="reference"
              @type="text"
              @value={{@model.reference}}
              class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
              {{on "focusout" (perform this.save)}} />
          </div>
          <div class="col-start-1">
            <InputField::Date
              @label="Factuurdatum"
              @value={{@model.invoiceDate}}
              @onChange={{queue (fn (mut @model.invoiceDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::Date
              @label="Vervaldag"
              @value={{@model.dueDate}}
              @onChange={{queue (fn (mut @model.dueDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::Date
              @label="Betaald"
              @value={{@model.paymentDate}}
              @onChange={{queue (fn (mut @model.paymentDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <label for="booking-date" class="block text-sm font-medium text-gray-700">
              Geboekt
            </label>
            <div class="mt-2 text-gray-900">
              <Fmt::Date @value={{@model.bookingDate}} />
            </div>
          </div>
        {{/if}}
        <div class="sm:col-span-2 lg:col-span-4">
          <label for="comment" class="block text-sm font-medium text-gray-700">
            Opmerking (niet zichtbaar in document)
          </label>
          <Textarea
            id="comment"
            @value={{@model.comment}}
            class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md"
            rows="5"
            {{on "focusout" (perform this.save)}} />
        </div>
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-2">
          <Util::DetailItem @label="Datum">
            <Util::DetailSubitem @label="Factuurdatum">
              <Fmt::Date @value={{@model.invoiceDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Vervaldag">
              <Fmt::Date @value={{@model.dueDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Geboekt">
              <Fmt::Date @value={{@model.bookingDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Betaald">
              <Fmt::Date @value={{@model.paymentDate}} />
            </Util::DetailSubitem>
          </Util::DetailItem>
          <Util::DetailItem @label="Referentie">
            {{@model.reference}}
          </Util::DetailItem>
        </div>
        <div class="space-y-2">
          <Util::DetailItem @label="Creditnota" class="items-center">
            <Util::DisplayCheckbox @value={{@model.isCreditNote}} />
          </Util::DetailItem>
          {{#if @model.isIsolated}}
            <Util::DetailItem @label="BTW tarief">
              {{format-vat-rate (await @model.vatRate)}}
            </Util::DetailItem>
          {{/if}}
          <Util::DetailItem @label="Betaalref.">
            {{format-bank-reference @model.bankReference}}
          </Util::DetailItem>
          {{#if @model.certificateRequired}}
            <Util::DetailItem @label="BTW-attest" @class="layout-align-start-center">
              <Certificate::InlineEdit @model={{@model}} />
            </Util::DetailItem>
          {{/if}}
          {{#unless @model.isIsolated}}
            <Util::DetailItem @label="Productiebon" class="items-center">
              <div class="flex items-center">
                <Util::DisplayAvailability @value={{@model.hasProductionTicket}} />
                {{#if @model.hasProductionTicket}}
                  <button type="button"
                    class="ml-2 text-gray-500 text-sm hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-red-200"
                    {{on "click" this.downloadProductionTicket}}>
                    {{svg-jar "heroicons-md-cloud-download" class="h-5 w-5"}}
                    <EmberTooltip @text="Productiebon bekijken" />
                  </button>
                {{/if}}
              </div>
            </Util::DetailItem>
          {{/unless}}
          <Util::DetailItem @label="Techniekers" {{on "click" this.openWorkingHoursModal}} class="cursor-pointer">
            {{#if this.technicianNames.length}}
              {{join ", " this.technicianNames}}
              {{svg-jar "heroicons-sm-information-circle" class="h-5 w-5 text-gray-400 inline"}}
            {{else}}
              {{svg-jar "heroicons-sm-plus-circle" class="h-5 w-5 text-gray-400 inline"}}
            {{/if}}
          </Util::DetailItem>
        </div>
        <div class="sm:col-span-2">
          <Util::DetailItem @label="Opmerking">
            <span class="whitespace-pre-wrap">{{@model.comment}}</span>
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>

{{#if this.isOpenWorkingHoursModal}}
  <Invoice::WorkingHoursModal
    @model={{@model}}
    @onClose={{this.closeWorkingHoursModal}}
  />
{{/if}}
