<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="flex justify-between items-center">
      <div class="flex items-center">
        <h2 class="text-2xl font-bold font-display text-gray-900">
          {{#if @model.isCreditNote}}
            Creditnota
          {{else}}
            Factuur
          {{/if}}
          {{format-invoice-number @model.number}}
        </h2>
        {{#if this.editMode}}
          <Util::SaveStatus @model={{@model}} @task={{this.save}} class="ml-2" />
        {{else}}
          {{#if @model.isBooked}}
            <span class="ml-2 items-center inline-flex text-xs text-blue-800">
              {{svg-jar "file-lock-line" class="shrink-0 h-5 w-5 fill-current"}}
              <EmberTooltip @text="Geboekt" @side="bottom" />
            </span>
          {{/if}}
        {{/if}}
      </div>
      <div class="flex flex-none space-x-4">
        {{#if this.editMode}}
          <button type="button"
            {{on "click" this.closeEdit}}
            class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            {{svg-jar "logout-box-r-line" class="h-6 w-6 fill-current"}}
            <EmberTooltip @text="Sluiten" />
          </button>
        {{else}}
          {{#if @model.isPaid}}
            <span class="ml-4 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800">
              Betaald
            </span>
          {{else}}
            <span class="ml-4 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800">
              Niet betaald
            </span>
          {{/if}}
          {{#unless @isDisabledEdit}}
            <button type="button"
              {{on "click" this.openEdit}}
              class="text-gray-400 hover:text-red-400 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
              {{svg-jar "pencil-line" class="h-6 w-6 fill-current"}}
            </button>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6">
    {{#if this.editMode}}
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
        {{#if @model.isBooked}}
          <div>
            <InputField::Date
              @label="Betaald"
              @value={{@model.paymentDate}}
              @onChange={{queue (fn (mut @model.paymentDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <label for="booking-date" class="block text-sm font-medium text-gray-700">
              Geboekt
            </label>
            <div class="mt-2 text-sm text-gray-900">
              <Fmt::Date @value={{@model.bookingDate}} />
            </div>
          </div>
        {{else}}
          <div>
            <InputField::Checkbox
              @id="is-creditnote-checkbox"
              @label="Creditnota"
              @value={{@model.isCreditNote}}
              @onChange={{queue this.setCreditNoteFlag (perform this.save)}} />
          </div>
          <div class="col-start-1">
            <InputField::Date
              @label="Factuurdatum"
              @value={{@model.invoiceDate}}
              @onChange={{queue (fn (mut @model.invoiceDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::Date
              @label="Vervaldag"
              @value={{@model.dueDate}}
              @onChange={{queue (fn (mut @model.dueDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <InputField::Date
              @label="Betaald"
              @value={{@model.paymentDate}}
              @onChange={{queue (fn (mut @model.paymentDate)) (perform this.save)}}
              class="mt-1" />
          </div>
          <div>
            <label for="booking-date" class="block text-sm font-medium text-gray-700">
              Geboekt
            </label>
            <div class="mt-2 text-gray-900">
              <Fmt::Date @value={{@model.bookingDate}} />
            </div>
          </div>
        {{/if}}
      </div>
    {{else}}
      <dl class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <div class="space-y-2">
          <Util::DetailItem @label="Datum">
            <Util::DetailSubitem @label="Factuurdatum">
              <Fmt::Date @value={{@model.invoiceDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Vervaldag">
              <Fmt::Date @value={{@model.dueDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Geboekt">
              <Fmt::Date @value={{@model.bookingDate}} />
            </Util::DetailSubitem>
            <Util::DetailSubitem @label="Betaald">
              <Fmt::Date @value={{@model.paymentDate}} />
            </Util::DetailSubitem>
          </Util::DetailItem>
        </div>
        <div class="space-y-2">
          <Util::DetailItem @label="Betaalref.">
            {{format-bank-reference @model.bankReference}}
          </Util::DetailItem>
          {{#unless @model.case.isIsolated}}
            <Util::DetailItem @label="Productiebon" class="items-center">
              <div class="flex items-center">
                <Util::DisplayAvailability @value={{@model.case.hasProductionTicket}} />
                {{#if @model.case.hasProductionTicket}}
                  <button type="button"
                    class="ml-2 text-gray-500 text-sm hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-red-200"
                    {{on "click" this.downloadProductionTicket}}>
                    {{svg-jar "download-cloud-2-line" class="h-5 w-5 fill-current"}}
                    <EmberTooltip @text="Productiebon bekijken" />
                  </button>
                {{/if}}
              </div>
            </Util::DetailItem>
          {{/unless}}
          <Util::DetailItem @label="Techniekers" {{on "click" this.openWorkingHoursModal}} class="cursor-pointer">
            {{#if this.technicianNames.length}}
              {{join ", " this.technicianNames}}
              {{svg-jar "information-fill" class="h-5 w-5 text-gray-400 inline fill-current"}}
            {{else}}
              {{svg-jar "add-line-circle" class="h-5 w-5 text-gray-400 inline fill-current"}}
            {{/if}}
          </Util::DetailItem>
        </div>
      </dl>
    {{/if}}
  </div>
</div>

{{#if this.isOpenWorkingHoursModal}}
  <Invoice::WorkingHoursModal
    @model={{@model}}
    @onClose={{this.closeWorkingHoursModal}}
  />
{{/if}}
