<div class="invoice-document-edit layout-column">
  <section>
    {{#if this.loadData.isRunning}}
      <div class="note note--info">Inhoud ophalen...</div>
    {{else}}
      {{#each this.sortedInvoicelines as |invoiceline|}}
        <Invoiceline::Edit @model={{invoiceline}} @onDelete={{perform this.deleteInvoiceline}} />
      {{else}}
        {{#if this.isEnabledAddingInvoicelines}}
          <div class="note note--info">Nog geen producten toegevoegd. Klik <span class="link-action" {{on "click" (perform this.addInvoiceline)}} role="button">hier</span> om producten toe te voegen aan de factuur.</div>
        {{else}}
          <div class="note note--info">Selecteer een BTW-tarief voor de factuur alvorens je producten kan toevoegen</div>
        {{/if}}
      {{/each}}
      <div class="layout-row layout-align-end-center">
        {{#if this.isEnabledAddingInvoicelines}}
          <div class="link-action" {{on "click" (perform this.addInvoiceline)}} role="button">{{paper-icon "add"}} Lijn toevoegen</div>
        {{/if}}
      </div>
    {{/if}}
  </section>
  <section>
    <div class="layout-row">
      <div class="flex">
        <label>Mededeling</label>
      </div>
      <div {{on "click" (toggle "isOutroExpanded" this)}} role="button">
        {{#if this.isOutroExpanded}}
          {{paper-icon "expand_less"}}
        {{else}}
          {{paper-icon "expand_more"}}
        {{/if}}
      </div>
    </div>
    {{#liquid-if this.isOutroExpanded class="expand-more"}}
      <RichTextArea @class="invoice-outro" @value={{@model.documentOutro}} @onChange={{fn (mut @model.documentOutro)}} @focusOut={{perform @save}} />
    {{/liquid-if}}
  </section>
</div>
