<div class="divide-y divide-y-200">
  {{!-- Card header --}}
  <div class="px-6 pt-6 pb-4">
    <div class="sm:flex sm:justify-between sm:items-center">
      <h2 class="text-2xl font-bold font-display text-gray-900">
        Gefactureerde producten
      </h2>
      <div class="mt-3 flex flex-none space-x-4 sm:mt-0 sm:ml-4">
        <button type="button"
          {{on "click" this.downloadInvoiceDocument}}
          class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
          {{svg-jar "heroicons-md-eye" class="-ml-1 mr-2 h-5 w-5"}}
          Bekijken
        </button>
        {{#unless @model.isMasteredByAccess}}
          <button type="button"
            {{on "click" (perform this.generateInvoiceDocument)}}
            class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md text-sm text-gray-500 hover:text-red-400 hover:border-red-300 focus:border-red-300 focus:text-red-400 focus:outline-none focus:ring-2 focus:ring-red-200">
            {{#if this.generateInvoiceDocument.isRunning}}
              {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-5 w-14"}}
            {{else}}
              {{svg-jar "heroicons-md-play" class="-ml-1 mr-2 h-5 w-5"}}
              Maken
            {{/if}}
          </button>
        {{/unless}}
      </div>
    </div>
  </div>

  {{!-- Card content --}}
  <div class="p-6 space-y-6">
    <div class="mx-auto">
      {{!-- TODO hack to force rerendering of component. Can be refactored with ember-resources? --}}
      {{#unless @isUpdatingVatRate}}
        <Invoice::Stats @model={{@model}} />
      {{/unless}}
    </div>
    {{#if @model.isMasteredByAccess}}
      <AlertMessage::Warning
        @message="De factuur is aangemaakt in Access en kan hier niet volledig weergegeven worden. Open de PDF om alle details te bekijken." />
    {{/if}}
    <div>
      {{#if this.loadData.isRunning}}
        <div class="py-2">
          <Util::LoadingSpinner @label="" />
        </div>
      {{else}}
        <ul>
          {{#each this.sortedInvoicelines as |line|}}
            <li class="py-2">
              <Invoiceline::Detail
                @model={{line}}
                @saveTask={{this.saveInvoiceline}}
                @onDelete={{perform this.deleteInvoiceline line}}
                @isDisabledEditDescription={{@isDisabledEdit}}
                @isDisabledEditPrice={{or @model.isBooked @isDisabledEdit}} />
            </li>
          {{else}}
            <li class="py-2">
              <div class="grid border border-gray-200 rounded">
                <div class="p-4 text-sm text-gray-400 italic">
                  Geen producten
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        {{#if this.isEnabledAddingInvoicelines}}
          <div class="my-2 relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center">
              <button type="button"
                disabled={{this.addInvoiceline.isRunning}}
                {{on "click" (perform this.addInvoiceline)}}
                class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                {{svg-jar "heroicons-sm-plus" class="-ml-1.5 mr-1 h-5 w-5 text-gray-400"}}
                <span>Lijn toevoegen</span>
              </button>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>
    <Document::Line
      @model={{@model}}
      @field="documentOutro"
      @placeholder="Geen mededeling"
      @saveTask={{this.saveDocumentline}}
      @isDisabledEdit={{@isDisabledEdit}}
      class="border border-gray-200 rounded" />
  </div>
</div>
