<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    {{#if this.showModalContent}}
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        {{css-transition
            enterClass="opacity-0"
            enterActiveClass="ease-out duration-300"
            enterToClass="opacity-100"
            leaveClass="opacity-100"
            leaveActiveClass="ease-in duration-200"
            leaveToClass="opacity-0"}}
        aria-hidden="true"></div>
    {{/if}}

    {{!-- This element is to trick the browser into centering the modal contents. --}}
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    {{#if this.showModalContent}}
      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-4xl sm:w-full sm:p-6"
        {{css-transition
            enterClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enterActiveClass="ease-out duration-300"
            enterToClass="opacity-100 translate-y-0 sm:scale-100"
            leaveClass="opacity-100 translate-y-0 sm:scale-100"
            leaveActiveClass="ease-in duration-200"
            leaveToClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"}}>
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
          <button type="button"
            onClick={{this.closeModal}}
          class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            <span class="sr-only">Close</span>
            {{svg-jar "heroicons-md-x" class="h-6 w-6"}}
          </button>
        </div>
        <div class="space-y-4">
          <div class="flex justify-between items-start">
            <div class="space-y-2">
              <h2 class="text-2xl font-bold font-display text-gray-900">
                Extra's
              </h2>
            </div>
          </div>
          <div class="-my-2 overflow-x-auto">
            <div class="py-2 align-middle inline-block min-w-full">
              <div class="overflow-hidden border-b border-gray-200">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead>
                    <th class="pl-4 pr-2 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Aantal
                    </th>
                    <th class="pl-4 pr-2 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Eenheid
                    </th>
                    <th class="pl-4 pr-2 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Omschrijving
                    </th>
                    <th class="pl-4 pr-2 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Netto totaal (&euro;)
                    </th>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    {{#each @model.supplements as |supplement|}}
                      <tr>
                        <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                          {{supplement.nbOfPieces}}
                        </td>
                        <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                          {{supplement.unit.name}}
                        </td>
                        <td class="px-2 py-4 text-left text-sm text-gray-500">
                          {{supplement.description}}
                        </td>
                        <td class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                          <FmtCurrency @value={{supplement.amount}} />
                        </td>
                      </tr>
                    {{else}}
                      <tr>
                        <td colspan="4" class="px-2 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                          Geen extra's toegevoegd
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
