<div class="layout-row login-screen">
  <div class="layout-column layout-align-center-center flex">
    <img src="/assets/images/logo.jpg" alt="Rollvolet" class="logo">
    <h1 class="header">Klantenbeheer</h1>
    {{#if session.isAuthenticated}}
      <p>U bent reeds ingelogd. <a href="#" {{action "logout"}}>Log uit</a> of ga naar de {{link-to 'applicatie' 'main.index'}}.</p>
    {{else}}
      {{#if errorMessage}}
        <div class="error--message">
          Helaas, er is iets fout gelopen. <a href="#" {{action "resetError"}}>Probeer opnieuw</a>.
        </div>
        <div class="error--tech-description">{{errorMessage}}</div>
      {{/if}}
      {{#paper-button disabled=errorMessage raised=true primary=true onClick=(action "login")}}Login{{/paper-button}}
    {{/if}}
  </div>
</div>

{{liquid-outlet}}