<div class="layout-row login-screen">
  <div class="layout-column layout-align-center-center flex">
    <img src="/assets/images/logo.jpg" alt="Rollvolet" class="logo">
    <h1 class="header">Klantenbeheer</h1>
    {{#if session.isAuthenticated}}
      <p>U bent reeds ingelogd. <a href="#" {{action "logout"}}>Log uit</a> of ga naar de <LinkTo @route="main.index">applicatie</LinkTo>.</p>
    {{else}}
      {{#if errorMessage}}
        <div class="error--message">
          Helaas, er is iets fout gelopen. <a href="#" {{action "resetError"}}>Probeer opnieuw</a>.
        </div>
        <div class="error--tech-description">{{errorMessage}}</div>
      {{/if}}
      {{#if login.isRunning}}
        <PaperButton @disabled={{true}} @raised={{true}} @primary={{true}} @onClick={{null}}>Bezig met aanmelden...</PaperButton>
        <div class="error--tech-description">
          Het aanmelden gebeurt in een pop-up; zorg dat de instellingen van uw browser correct staan indien deze niet verschijnt.
        </div>
      {{else}}
        <PaperButton @disabled={{errorMessage}} @raised={{true}} @primary={{true}} @onClick={{perform login}}>Login</PaperButton>
      {{/if}}
    {{/if}}
  </div>
</div>

{{liquid-outlet}}