<PaperToaster />

<PaperToolbar @class="top-toolbar" as |toolbar|>
  <toolbar.tools>
    <PaperButton @iconButton={{true}} @onClick={{fn (mut this.isMainMenuOpen)}}>
      {{paper-icon "menu"}}
    </PaperButton>
    <h1>Rollvolet Klantenbeheer</h1>
    <DataPreloader />
    <span class="flex"></span>
    <PaperButton @onClick={{fn this.openMail}} @iconButton={{true}}>
      {{paper-icon "help"}}
      <PaperTooltip>Help</PaperTooltip>
    </PaperButton>
    <PaperButton @onClick={{fn this.goToProfile}} @iconButton={{true}}>
      {{paper-icon "account circle"}}
      <PaperTooltip>Profiel</PaperTooltip>
    </PaperButton>
    {{this.session.data.authenticated.user.account}}
    <PaperButton @onClick={{fn this.logout}} @iconButton={{true}}>
      {{paper-icon "exit to app"}}
      <PaperTooltip>Log uit</PaperTooltip>
    </PaperButton>
  </toolbar.tools>
</PaperToolbar>

<PaperSidenavContainer @class="main-side-nav-container">
  <PaperSidenav @class="main-side-nav" @open={{this.isMainMenuOpen}} @lockedOpen={{false}} @onToggle={{fn (mut this.isMainMenuOpen)}}>
    <PaperToolbar as |toolbar|>
      <toolbar.tools>
        Menu <span class="version">v{{app-version versionOnly=true}}</span>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}}>{{paper-icon "close"}}</PaperButton>
      </toolbar.tools>
    </PaperToolbar>

    <PaperContent>

      <PaperList>
        <PaperItem @href={{href-to "main.index"}} >
          Home
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.customers.index" (query-params page=0 number=undefined name=undefined postalCode=undefined city=undefined street=undefined telephone=undefined)}}>
          Klanten
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.requests.index" (query-params page=0 number=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutOffer=undefined)}}>
          Aanvragen
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.interventions.index" (query-params page=0 number=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutInvoice=true)}}>
          Interventies
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.offers.index" (query-params page=0 number=undefined reference=undefined requestNumber=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutOrder=undefined)}}>
          Offertes
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.orders.index" (query-params page=0 reference=undefined offerNumber=undefined requestNumber=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutInvoice=undefined)}}>
          Bestellingen
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.deposit-invoices.index" (query-params page=0 number=undefined reference=undefined offerNumber=undefined requestNumber=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined)}}>
          Voorschotfacturen
        </PaperItem>
        <PaperDivider />
        <PaperItem @href={{href-to "main.invoices.index" (query-params page=0 number=undefined reference=undefined offerNumber=undefined requestNumber=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined)}}>
          Facturen
        </PaperItem>
      </PaperList>

      <PaperList>
        <PaperSubheader>Boekhouding</PaperSubheader>
        <PaperDivider />
        <PaperItem @href={{href-to "main.accountancy.exports" (query-params page=0)}}>Exports</PaperItem>
      </PaperList>

      {{!-- {{#paper-list}}
           {{#paper-subheader}}Rapporten{{/paper-subheader}}
           {{paper-divider}}
           {{#paper-item}}Offertes{{/paper-item}}
           {{paper-divider}}
           {{#paper-item}}Bestellingen{{/paper-item}}
           {{/paper-list}}

           {{#paper-list}}
           {{#paper-subheader}}Systeem{{/paper-subheader}}
           {{paper-divider}}
           {{#paper-item}}Gebruikers{{/paper-item}}
           {{paper-divider}}
           {{#paper-item}}Lijsten{{/paper-item}}
           {{/paper-list}}
         --}}
      <PaperList>
        <PaperSubheader>Gebruiker</PaperSubheader>
        <PaperDivider />
        {{!-- {{#paper-item}}Profiel{{/paper-item}}
                                {{paper-divider}}  --}}
        <PaperItem @onClick={{fn this.logout}}>Log out</PaperItem>
      </PaperList>

    </PaperContent>
  </PaperSidenav>

  <div class="main-container layout-row flex">
    <div class="main-outlet">
      {{#unless this.configuration.preloadStaticLists.isRunning}}
        <LiquidOutlet />
      {{/unless}}
    </div>
  </div>

</PaperSidenavContainer>
