<div class="h-screen flex overflow-hidden bg-gray-100">
  {{#if this.isOpenMenu}}
    {{!-- Off-canvas menu for mobile and small screens --}}
    <div class="2xl:hidden fixed inset-0 flex z-40">
      {{#if this.showMenuContent}}
        <div class="fixed inset-0" aria-hidden="true"
          {{css-transition
              enterClass="opacity-0"
              enterActiveClass="transition-opacity ease-linear duration-300"
              enterToClass="opacity-100"
              leaveClass="opacity-100"
              leaveActiveClass="transition-opacity ease-linear duration-300"
              leaveToClass="opacity-0"}}>
          <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
        </div>
        <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-red-700"
          {{css-transition
              enterClass="-translate-x-full"
              enterActiveClass="transition ease-in-out duration-300 transform"
              enterToClass="translate-x-0"
              leaveClass="translate-x-0"
              leaveActiveClass="transition ease-in-out duration-300 transform"
              leaveToClass="-translate-x-full"}}>
          <div class="absolute top-0 right-0 -mr-12 pt-2">
            <button type="button"
              {{on "click" this.closeMenu}}
            class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white {{if this.showMenuContent "block" "hidden"}}">
              <span class="sr-only">Close sidebar</span>
              {{svg-jar "heroicons-md-x" class="h-6 w-6 text-white"}}
            </button>
          </div>
          <Menu::Sidebar @onLogout={{this.logout}} />
        </div>
        <div class="shrink-0 w-14" aria-hidden="true">
          {{!-- Dummy element to force sidebar to shrink to fit close icon --}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#unless this.isLoading}}
    {{!-- Static menu for xl-screens --}}
    <div class="hidden bg-red-700 2xl:flex 2xl:shrink-0">
      <div class="flex flex-col w-72 pt-5 pb-4">
        <Menu::Sidebar @onLogout={{this.logout}} />
      </div>
    </div>
  {{/unless}}

  <div class="flex flex-col w-0 flex-1 overflow-hidden print:overflow-visible">
    {{!-- Top toolbar on mobile and small screens --}}
    <div class="2xl:hidden print:hidden relative z-10 flex flex-none h-16 bg-red-700 shadow">
      <button type="button"
        disabled={{this.isLoading}}
        {{on "click" this.openMenu}}
        class="px-4 border-r border-red-800 text-red-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <span class="sr-only">Open sidebar</span>
        {{svg-jar "heroicons-md-menu-alt-2" class="h-6 w-6"}}
      </button>
      <div class="px-4 my-auto flex flex-1 justify-between">
        <div class="w-auto text-3xl text-white font-display font-bold">Klantenbeheer</div>
        <div class="hidden md:block">
          <div class="flex items-center justify-end ml-6">
            <div class="flex items-center">
              <div class="shrink-0">
                <span class="inline-block h-6 w-6 rounded-full bg-red-100 overflow-hidden">
                  {{svg-jar "placeholder-avatar" class="h-full w-full text-red-400"}}
                </span>
              </div>
              <div class="ml-2">
                {{#if this.userInfo.isLoaded}}
                  <div class="text-sm font-medium leading-none text-white">{{this.userInfo.name}}</div>
                {{/if}}
              </div>
            </div>
            <button type="button"
              {{on "click" this.logout}}
    class="ml-4 p-1 border-2 border-transparent text-white rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-red-600" aria-label="Log out">
              {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
              <EmberTooltip @text="Log uit" />
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Main outlet --}}
    <main class="flex-1 relative overflow-y-auto print:overflow-visible focus:outline-none main-outlet" tabindex="0">
      {{#if (not this.userInfo.employee)}}
        <div class="sticky z-20 absolute inset-x-0 top-0 h-12 print:hidden">
          <div class="bg-red-50 p-4 shadow-md">
            <div class="flex items-center">
              <div class="shrink-0">
                {{svg-jar "heroicons-sm-x-circle" class="h-5 w-5 text-red-400"}}
              </div>
              <div class="ml-3 flex space-x-2 items-center">
                <p class="text-sm text-red-700">
                  Er is geen overeenkomstige werknemer gevonden voor de ingelogde gebruiker <span class="font-bold">{{this.userInfo.firstName}}</span>. Selecteer in wiens naam u wil werken
                </p>
                <InputField::EmployeeSelect
                  @value={{this.userInfo.employee}}
                  @isAdministrative={{true}}
                  @onSelectionChange={{this.selectEmployee}}
                  class="w-32" />
              </div>
            </div>
          </div>
        </div>
      {{else if this.userInfo.isImpersonation}}
        <div class="sticky z-20 absolute inset-x-0 top-0 h-12 print:hidden">
          <div class="bg-yellow-50 p-4 shadow-md">
            <div class="flex items-center">
              <div class="shrink-0">
                {{svg-jar "heroicons-sm-information-circle" class="h-5 w-5 text-yellow-400"}}
              </div>
              <div class="ml-3 flex space-x-2 items-center">
                <p class="text-sm text-yellow-700">
                  Gebruiker {{this.userInfo.firstName}} werkt momenteel in naam van <span class="font-bold">{{this.userInfo.employee.firstName}}</span>.
                </p>
                <button
                  type="button"
                  class="underline text-sm text-yellow-700"
                  {{on "click" this.clearEmployee}}>
                  Wijzigen
                </button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if this.isLoading}}
        <div class="fixed inset-0 w-full h-screen">
          <Util::LoadingSpinner @label="Applicatie initialiseren..." />
        </div>
      {{else if this.applicationInitializationFailed}}
        <div class="fixed inset-0 flex w-full h-screen justify-center items-center">
          <div class="rounded-md bg-red-50 p-4">
            <div class="flex">
              <div class="shrink-0">
                {{svg-jar "heroicons-sm-x-circle" class="h-5 w-5 text-red-400"}}
              </div>
              <div class="ml-3">
                <p class="text-sm text-red-700">
                  Er is iets misgelopen. Probeer de applicatie te herladen.
                </p>
              </div>
            </div>
          </div>
        </div>
      {{else}}
        <div class="{{unless this.isIndexPage "mx-auto px-4 py-6 sm:px-6 lg:px-8"}} {{if this.hasTopBanner "mt-12"}}">
          {{outlet}}
        </div>
      {{/if}}
    </main>
  </div>
</div>
