<div class="h-screen flex overflow-hidden bg-white">
  {{#if this.isOpenMenu}}
    <div class="fixed inset-0 flex z-40">
      {{#if this.showMenuContent}}
        <div class="fixed inset-0" aria-hidden="true"
          {{css-transition
              enterClass="opacity-0"
              enterActiveClass="transition-opacity ease-linear duration-300"
              enterToClass="opacity-100"
              leaveClass="opacity-100"
              leaveActiveClass="transition-opacity ease-linear duration-300"
              leaveToClass="opacity-0"}}>
          <div class="absolute inset-0 bg-gray-600 opacity-75"></div>
        </div>
        <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-red-700"
          {{css-transition
              enterClass="-translate-x-full"
              enterActiveClass="transition ease-in-out duration-300 transform"
              enterToClass="translate-x-0"
              leaveClass="translate-x-0"
              leaveActiveClass="transition ease-in-out duration-300 transform"
              leaveToClass="-translate-x-full"}}>
          <div class="absolute top-0 right-0 -mr-12 pt-2">
            <button type="button"
              onClick={{this.closeMenu}}
            class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white {{if this.showMenuContent "block" "hidden"}}">
              <span class="sr-only">Close sidebar</span>
              {{svg-jar "heroicons-md-x" class="h-6 w-6 text-white"}}
            </button>
          </div>
          <div class="flex flex-none items-center px-4">
            <div class="h-8 w-auto text-3xl text-white font-display font-bold">
              Klantenbeheer
              <span class="ml-2 text-xs font-sans">v{{app-version versionOnly=true}}</span>
            </div>
          </div>
          <div class="mt-5 flex-1 h-0 overflow-y-auto">
            <nav class="px-2 space-y-8">
              <div class="space-y-1">
                <LinkTo @route="main.index"
                  @activeClass="active-main-nav"
                  class="text-red-100 group flex items-center px-2 py-2 text-base font-medium rounded-md hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-home" class="mr-4 h-6 w-6 text-red-300"}}
                  Home
                </LinkTo>

                <LinkTo @route="main.customers.index"
                  @query={{hash page=0 number=undefined name=undefined postalCode=undefined city=undefined street=undefined telephone=undefined}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-users" class="mr-4 h-6 w-6 text-red-300"}}
                  Klanten
                </LinkTo>

                <LinkTo @route="main.requests.index"
                  @query={{hash page=0 number=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutOffer=undefined}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-annotation" class="mr-4 h-6 w-6 text-red-300"}}
                  Aanvragen
                </LinkTo>

                <LinkTo @route="main.interventions.index"
                  @query={{hash page=0 number=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined hasInvoice=0 isCancelled=0 isPlanned=-1}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-cog" class="mr-4 h-6 w-6 text-red-300"}}
                  Interventies
                </LinkTo>

                <LinkTo @route="main.offers.index"
                  @query={{hash page=0 number=undefined reference=undefined requestNumber=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutOrder=undefined}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-calculator" class="mr-4 h-6 w-6 text-red-300"}}
                  Offertes
                </LinkTo>

                <LinkTo @route="main.orders.index"
                  @query={{hash page=0 reference=undefined offerNumber=undefined requestNumber=undefined visitor=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined withoutInvoice=undefined onlyNotCanceled=undefined}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-shopping-cart" class="mr-4 h-6 w-6 text-red-300"}}
                  Bestellingen
                </LinkTo>

                <LinkTo @route="main.deposit-invoices.index"
                  @query={{hash page=0 number=undefined reference=undefined offerNumber=undefined requestNumber=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-receipt-tax" class="mr-4 h-6 w-6 text-red-300"}}
                  Voorschotfacturen
                </LinkTo>

                <LinkTo @route="main.invoices.index"
                  @query={{hash page=0 number=undefined reference=undefined offerNumber=undefined requestNumber=undefined cName=undefined cPostalCode=undefined cCity=undefined cStreet=undefined cTelephone=undefined bName=undefined bPostalCode=undefined bCity=undefined bStreet=undefined}}
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-currency-euro" class="mr-4 h-6 w-6 text-red-300"}}
                  Facturen
                </LinkTo>
              </div>
              <div class="space-y-1">
                <LinkTo @route="main.reports.outstanding-jobs.index"
                  @activeClass="active-main-nav"
                  class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-calendar" class="mr-4 h-6 w-6 text-red-300"}}
                  Uit te voeren werken
                </LinkTo>
                <div class="text-red-100 hover:bg-red-600 group flex items-center px-2 py-2 text-base font-medium rounded-md focus:outline-none focus:text-white focus:bg-red-600">
                  {{svg-jar "heroicons-md-chart-bar" class="mr-4 h-6 w-6 text-red-300"}}
                  Rapporten
                </div>
                <div class="space-y-1">
                  <LinkTo @route="main.accountancy.exports"
                    @query={{hash page=0}}
                    @activeClass="active-main-nav"
                    class="text-red-100 w-full flex items-center pl-12 pr-2 py-2 text-sm font-medium text-red-100 rounded-md hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-600">
                    Export boekhouding
                  </LinkTo>
                  {{#if this.userInfo.hasBoardRole}}
                    <LinkTo @route="main.reports.revenue"
                      @activeClass="active-main-nav"
                      class="text-red-100 w-full flex items-center pl-12 pr-2 py-2 text-sm font-medium text-red-100 rounded-md hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-600">
                      Omzet
                    </LinkTo>
                  {{/if}}
                </div>
              </div>
            </nav>
          </div>
          <div class="flex flex-none border-t border-red-800 px-4 pt-4">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <span class="inline-block h-10 w-10 rounded-full overflow-hidden bg-red-100">
                  {{svg-jar "placeholder-avatar" class="h-full w-full text-red-400"}}
                </span>
              </div>
              <div class="ml-3">
                <div class="text-base font-medium leading-none text-red-100">{{this.userInfo.name}}</div>
              </div>
            </div>
            <div class="px-2" role="menu" aria-orientation="vertical" aria-labelledby="user-menu">
              <button type="button"
                onClick={{this.logout}}
              class="block w-full px-3 py-2 rounded-md text-red-100 text-left text-base font-medium hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-600"
                role="menuitem">
                Log uit
              </button>
            </div>
          </div>
        </div>
        <div class="flex-shrink-0 w-14" aria-hidden="true">
          {{!-- Dummy element to force sidebar to shrink to fit close icon --}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <div class="relative z-10 flex flex-none h-16 bg-red-700 shadow">
      <button type="button"
        onClick={{this.openMenu}}
        class="px-4 border-r border-red-800 text-red-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <span class="sr-only">Open sidebar</span>
        {{svg-jar "heroicons-md-menu-alt-2" class="h-6 w-6"}}
      </button>
      <div class="px-4 my-auto flex flex-1 justify-between">
        <div class="w-auto text-3xl text-white font-display font-bold">Klantenbeheer</div>
        <div class="hidden md:block">
          <div class="flex items-center justify-end ml-6">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <span class="inline-block h-6 w-6 rounded-full bg-red-100 overflow-hidden">
                  {{svg-jar "placeholder-avatar" class="h-full w-full text-red-400"}}
                </span>
              </div>
              <div class="ml-2">
                {{#if this.userInfo.isLoaded}}
                  <div class="text-sm font-medium leading-none text-white">{{this.userInfo.name}}</div>
                {{/if}}
              </div>
            </div>
            <button type="button"
              onClick={{this.logout}}
    class="ml-4 p-1 border-2 border-transparent text-white rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-red-600" aria-label="Log out">
              {{svg-jar "heroicons-md-logout" class="h-6 w-6"}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <main class="flex-1 relative overflow-y-auto focus:outline-none main-outlet" tabindex="0">
      <div class="mx-auto px-4 py-6 sm:px-6 lg:px-8">
        {{#if this.configuration.preloadStaticLists.isRunning}}
          <div class="fixed inset-0 w-full h-screen">
            <LoadingSpinner @label="Applicatie initialiseren..." />
          </div>
        {{else if this.configuration.preloadStaticLists.isError}}
          <div class="fixed inset-0 flex w-full h-screen justify-center items-center">
            <div class="rounded-md bg-red-50 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  {{svg-jar "heroicons-sm-x-circle" class="h-5 w-5 text-red-400"}}
                </div>
                <div class="ml-3">
                  <p class="text-sm text-red-700">
                    Er is iets misgelopen. Probeer de applicatie te herladen.
                  </p>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          {{outlet}}
        {{/if}}
      </div>
    </main>
  </div>
</div>
