{{#if @model.isMasteredByAccess}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning">
      <h3>{{paper-icon "event"}} Planning</h3>
      <div class="case--order--planning--description">
        {{#if @model.date}}<FmtDate @value={{@model.date}} />{{else}}Niet ingepland{{/if}}
      </div>
      <div class="layout-row layout-align-end note note--info">Beheerd door Access</div>
    </div>
  </div>
{{else}}
  <div class="case--right-panel flex-noshrink layout-column">
    <div class="case--order--planning {{if @model.isNotAvailableInCalendar "not-found"}}">
      <div class="layout-row layout-align-space-between-center">
        <h3>{{paper-icon "event"}} Planning</h3>
        {{#if this.editMode}}
          <div>
          <PaperButton @onClick={{fn this.remove}} @iconButton={{true}}>
            {{paper-icon "delete"}}
            <PaperTooltip>Verwijderen</PaperTooltip>
          </PaperButton>
          <PaperButton @onClick={{fn this.undo}} @iconButton={{true}}>
            {{paper-icon "undo"}}
            <PaperTooltip>Ongedaan maken</PaperTooltip>
          </PaperButton>
          <PaperButton @onClick={{perform this.planEvent}} @iconButton={{true}}>
            {{paper-icon "exit to app"}}
            <PaperTooltip>Opslaan en sluiten</PaperTooltip>
          </PaperButton>
          </div>
        {{else}}
          <div>
            {{#if @model.date}}
              <PaperButton @iconButton={{true}} @onClick={{perform this.forceUpdate}}>
                {{paper-icon "sync"}}
                <PaperTooltip>Stuur wijzigingen naar agenda</PaperTooltip>
              </PaperButton>
            {{/if}}
            {{#unless @model.isNotAvailableInCalendar}}
              <PaperButton @onClick={{fn (mut this.editMode) true}} @iconButton={{true}} @disabled={{this.isDisabledEdit}}>
                {{paper-icon "edit mode"}}
                <PaperTooltip>Aanpassen</PaperTooltip>
              </PaperButton>
            {{/unless}}
          </div>
        {{/if}}
      </div>
      <div class="case--order--planning--description">
        {{#if this.editMode}}
          {{#if (or this.planEvent.isRunning this.forceUpdate.isRunning)}}
            <PaperProgressCircular @diameter={{25}} />
          {{else}}
            <PaperInput @label="Datum" @value={{@model.dateStr}} @type="date" @onChange={{fn this.changeDate}} @class="default" />
            {{#if @model.date}}
              <InputField::CalendarPeriodSelect @value={{@model.period}} @errors={{v-get @model "period" "messages"}} @onSelectionChange={{fn this.changePeriod}} class="md-input-wrapper large" />
              {{#if this.requiresSingleTime}}
                <PaperInput @label="Tijdstip" @value={{@model.fromHour}} @errors={{v-get @model "fromHour" "messages"}} @onChange={{fn (mut @model.fromHour)}} @required="style" @class="small" /> uur
              {{/if}}
              {{#if this.requiresTimeRange}}
                <PaperInput @label="Van" @value={{@model.fromHour}} @errors={{v-get @model "fromHour" "messages"}} @onChange={{fn (mut @model.fromHour)}} @required="style" @class="small" /> -
                <PaperInput @label="Tot" @value={{@model.untilHour}} @errors={{v-get @model "untilHour" "messages"}} @onChange={{fn (mut @model.untilHour)}} @required="style" @class="small" /> uur
              {{/if}}
            {{/if}}
          {{/if}}
        {{else}}
          {{#if @model.date}}
            <FmtDate @value={{@model.date}} />
            <div class="col--subject">
              {{@model.subject}}
            </div>
          {{else}}
            Niet ingepland
          {{/if}}
        {{/if}}
      </div>
      {{#if this.editMode}}
        <div class="layout-row layout-align-end note note--info">
          {{paper-icon "error" size=16}} De planning wordt pas opgeslagen in de agenda wanneer u {{paper-icon "exit to app" size=16}} klikt
        </div>
      {{/if}}
    </div>
  </div>
{{/if}}

{{yield}}