<div>
  <Certificate::Buttons
    @model={{@model}}
    @iconButton={{true}}
    @onRecycle={{this.openRecycleModal}} />
</div>

{{#if this.isOpenRecycleModal}}
  <Certificate::SearchModal
    @model={{@model}}
    @onRecycle={{perform this.recycleCertificate}}
    @onClose={{this.closeRecycleModal}} />
{{/if}}
