<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    {{#if this.showModalContent}}
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
        {{css-transition
            enterClass="opacity-0"
            enterActiveClass="ease-out duration-300"
            enterToClass="opacity-100"
            leaveClass="opacity-100"
            leaveActiveClass="ease-in duration-200"
            leaveToClass="opacity-0"}}
        aria-hidden="true"></div>
    {{/if}}

    {{!-- This element is to trick the browser into centering the modal contents. --}}
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    {{#if this.showModalContent}}
      <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6"
        {{css-transition
            enterClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            enterActiveClass="ease-out duration-300"
            enterToClass="opacity-100 translate-y-0 sm:scale-100"
            leaveClass="opacity-100 translate-y-0 sm:scale-100"
            leaveActiveClass="ease-in duration-200"
            leaveToClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"}}>
        <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
          <button type="button"
            onClick={{this.closeModal}}
          class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            <span class="sr-only">Close</span>
            {{svg-jar "heroicons-md-x" class="h-6 w-6"}}
          </button>
        </div>
        <div class="sm:flex sm:items-start">
          {{#if this.certificateAddedSuccessfully}}
            <div class="mx-auto shrink-0 flex flex-none items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
              {{svg-jar "heroicons-md-check" class="h-6 w-6 text-green-600"}}
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                BTW-attest toegevoegd
              </h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">
                  Het BTW-attest is succesvol toegevoegd.
                </p>
              </div>
            </div>
          {{else}}
            {{#if this.certificateAdditionFailed}}
              <div class="mx-auto shrink-0 flex flex-none items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                {{svg-jar "heroicons-md-exclamation" class="h-6 w-6 text-red-600"}}
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                  BTW-attest toevoegen mislukt
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Er is iets misgelopen bij het toevoegen van het BTW-attest. Probeer later opnieuw.
                  </p>
                </div>
              </div>
            {{else}}
              <div class="mx-auto shrink-0 flex flex-none items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                {{svg-jar "heroicons-md-exclamation" class="h-6 w-6 text-red-600"}}
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                  BTW-attest ontbreekt
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Deze factuur vereist een BTW-attest, maar er is nog geen attest opgeladen. Wilt u eerst een attest toevoegen alvorens de factuur op te stellen?
                  </p>
                </div>
              </div>
            {{/if}}
          {{/if}}
        </div>
        {{#if this.isAddingCertificate}}
          <div class="mt-12 sm:mt-8">
            <Util::LoadingSpinner @label="Bezig..." class="text-gray-500 text-sm" />
          </div>
        {{else}}
          {{#if this.certificateAttemptExecuted}}
            <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
              <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:ml-3 sm:w-auto sm:text-sm"
                onClick={{@onGenerateInvoiceDocument}}>
                Maak factuur
              </button>
              <button type="button"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
                onClick={{this.closeModal}}>
                Annuleren
              </button>
            </div>
          {{else}}
            <div class="mt-12 sm:mt-8 flex flex-col gap-3">
              <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
                onClick={{perform this.generateTemplate}}>
                {{#if this.generateTemplate.isRunning}}
                  {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-5 w-14"}}
                {{else}}
                  Maak een nieuw (blanco) attest
                  {{#if this.generateTemplate.lastSuccessful}}
                    {{svg-jar "heroicons-sm-check" class="ml-2 -mr-1 h-5 w-5 text-green-500"}}
                  {{/if}}
                {{/if}}
              </button>
              <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
                onClick={{this.openRecycleModal}}>
                {{#if this.recycleCertificate.isRunning}}
                  {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-5 w-14"}}
                {{else}}
                  Herbruik bestaand attest
                {{/if}}
              </button>
              <FileUpload
                @name={{this.uploadFieldName}}
                @accept="application/pdf"
                class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
                @onFileAdd={{perform this.uploadCertificate}}
                as |queue|>
                {{#if (or queue.files.length this.uploadCertificate.isRunning)}}
                  {{svg-jar "loading-circle" class="animate-spin mx-1.5 h-5 w-14"}}
                {{else}}
                  Laad attest op
                {{/if}}
              </FileUpload>
              <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
                onClick={{@onGenerateInvoiceDocument}}>
                Maak factuur (voeg attest later toe)
              </button>
              <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200 sm:mt-0 sm:w-auto sm:text-sm"
                onClick={{this.closeModal}}>
                Annuleer
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>

{{#if this.isOpenRecycleModal}}
  <Certificate::SearchModal
    @model={{@model}}
    @onRecycle={{perform this.recycleCertificate}}
    @onClose={{this.closeRecycleModal}} />
{{/if}}
